Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

fix ui tests [ci]
  apps/sv/frontend/src/__tests__/governance/action-required-section.test.tsx
  apps/sv/frontend/src/__tests__/governance/proposal-listing.test.tsx
Due: copyright, typescriptfmt

update test instructions
  TESTING.md
Due: none

Fix cluster test instructions in TESTING.md (#3663)
  TESTING.md
Due: none

extra volume snapshot to common file
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
  cluster/pulumi/common/src/config/hyperdiskSupportConfig.ts
  cluster/pulumi/common/src/index.ts
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/common/src/storage/volumeSnapshot.ts
  cluster/pulumi/multi-validator/src/postgres.ts
Due: typescriptfmt, pulumi_config

add migration support to the party allocator
  cluster/expected/validator-runbook/expected.json
  cluster/helm/splice-party-allocator/templates/party-allocator.yaml
  cluster/helm/splice-party-allocator/values-template.yaml
  cluster/pulumi/common-validator/src/config.ts
  cluster/pulumi/common/src/storage/storageClass.ts
  cluster/pulumi/infra/src/observability.ts
  cluster/pulumi/validator-runbook/src/partyAllocator.ts
Due: typescriptfmt, pulumi_config

add migration support to the party allocator
  cluster/expected/validator-runbook/expected.json
  cluster/pulumi/common-validator/src/config.ts
Due: typescriptfmt, pulumi_config

Bump Canton
  nix/canton-sources.json
Due: none

add hyperdisk support to party allocator and the observability stack (#3664)
  cluster/expected/validator-runbook/expected.json
  cluster/helm/splice-party-allocator/templates/party-allocator.yaml
  cluster/helm/splice-party-allocator/values-template.yaml
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
  cluster/pulumi/common-validator/src/config.ts
  cluster/pulumi/common/src/config/hyperdiskSupportConfig.ts
  cluster/pulumi/common/src/index.ts
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/common/src/storage/storageClass.ts
  cluster/pulumi/common/src/storage/volumeSnapshot.ts
  cluster/pulumi/infra/src/observability.ts
  cluster/pulumi/multi-validator/src/postgres.ts
  cluster/pulumi/validator-runbook/src/partyAllocator.ts
Due: typescriptfmt, pulumi_config

fix infra hyperdisk migration
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

fix infra hyperdisk migration (#3666)
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

use proper pvc name for party allocator deployment
  cluster/expected/validator-runbook/expected.json
  cluster/helm/splice-party-allocator/templates/party-allocator.yaml
  cluster/pulumi/common-validator/src/config.ts
  cluster/pulumi/validator-runbook/src/partyAllocator.ts
Due: typescriptfmt, pulumi_config

actually enable async logging by default
  cluster/helm/splice-util-lib/templates/_helpers.tpl
Due: none

Remove problematic backup volumesnapshots
  cluster/scripts/node-backup.sh
Due: copyright

.
  docs/src/release_notes.rst
Due: copyright

actually enable async logging by default (#3668)
  cluster/helm/splice-util-lib/templates/_helpers.tpl
  docs/src/release_notes.rst
Due: copyright

Remove problematic backup volumesnapshots (#3670)
  cluster/scripts/node-backup.sh
Due: copyright

Fix cncluster backup_nodes ignoring supplied nodes
  build-tools/cncluster
Due: none

GKE gateway depends on istio-gateway [skip ci]
  cluster/pulumi/infra/src/gcpLoadBalancer.ts
  cluster/pulumi/infra/src/index.ts
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

cip-82: add external listUnclaimedDevelopmentFundCoupons to ScanAPI
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/ScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanStore.scala
  apps/wallet/src/main/openapi/wallet-internal.yaml
Due: copyright

cip-82: fixes + tests for new Wallet API extensions
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/WalletAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/api/client/commands/HttpWalletAppClient.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
Due: copyright

use proper pvc name for party allocator deployment (#3669)
  cluster/expected/validator-runbook/expected.json
  cluster/helm/splice-party-allocator/templates/party-allocator.yaml
  cluster/pulumi/common-validator/src/config.ts
  cluster/pulumi/validator-runbook/src/partyAllocator.ts
Due: typescriptfmt, pulumi_config

make gateway the parent of its routes & policies [skip ci]
  cluster/pulumi/infra/src/gcpLoadBalancer.ts
Due: typescriptfmt, pulumi_config

support replacing apps pool with the hyperdisk pool in place
  cluster/pulumi/cluster/src/config.ts
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_config

note on gateway destroy if dependency changes don't help [skip ci]
  cluster/pulumi/infra/src/gcpLoadBalancer.ts
Due: typescriptfmt, pulumi_config

Fix cncluster backup_nodes ignoring supplied nodes (#3671)
  build-tools/cncluster
Due: none

[static] Revert "Increase backup wait time and delete timeouts in node-backup (#3662)"
  cluster/scripts/node-backup.sh
Due: copyright

Fix cncluster backup_nodes ignoring supplied nodes (#3672)
  build-tools/cncluster
Due: none

[static] Revert "Increase backup wait time and delete timeouts in node-backup (#3662)" (#3674)
  cluster/scripts/node-backup.sh
Due: copyright

[ci] revert also bouncycastle
  project/CantonDependencies.scala
Due: copyright

[ci] wait longer for SV rewards in preflight
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvPreflightIntegrationTestBase.scala
Due: copyright

[ci] wait longer for SV rewards in preflight (#3675)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvPreflightIntegrationTestBase.scala
Due: copyright

[ci] fix flake around vetting state
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigIntegrationTest.scala
Due: copyright

[ci] shutdown
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
Due: copyright

make cncluster cluster_enable_gke_l7_alb command [skip ci]
  build-tools/cncluster
  cluster/pulumi/infra/src/gcpLoadBalancer.ts
Due: typescriptfmt, pulumi_config

[ci] fix flake around vetting state (#3676)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigIntegrationTest.scala
Due: copyright

stream ACS snapshot dumps to S3 (#3570)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/SingleAcsSnapshotBulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/HasS3Mock.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
  test-full-class-names-local-net-based.log
Due: copyright
