Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

add integration tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundFrontendTimeBasedIntegrationTest.scala
Due: copyright

[ci] Add cache restore/save for sbt
  .github/actions/cache/sbt/restore/action.yml
  .github/actions/cache/sbt/save/action.yml
Due: gha_lint

Add subscription cache miss to the subscriptions dashboard
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer.json
Due: none

[release-line-0.5.9] Allow volume expansion for hyperdisk
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/storageClasses.ts
Due: typescriptfmt, pulumi_tests

[ci] Make nix actions reusable
  .github/actions/nix/run_bash_command_in_nix/action.yml
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

Add subscription cache miss to the subscriptions dashboard (#3853)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer.json
Due: none

[ci] Fix the command
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

[release-line-0.5.9] Allow volume expansion for hyperdisk (#3852)
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/storageClasses.ts
Due: typescriptfmt, pulumi_tests

Revert "Revert GHA CloudSQL code (#3642)"
  cluster/pulumi/common/src/index.ts
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/gha/src/performanceTests.ts
  cluster/pulumi/gha/src/runners.test.ts
  cluster/pulumi/gha/src/runners.ts
Due: typescriptfmt, pulumi_tests

Prevent it from blowing up [static]
  cluster/pulumi/common/src/index.ts
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/gha/src/performanceTests.ts
  cluster/pulumi/gha/src/runners.test.ts
  cluster/pulumi/gha/src/runners.ts
Due: typescriptfmt, pulumi_tests

Backport Add daml2js to static_test nix def (#3829)
  nix/shell.nix
Due: none

.
  apps/app/src/test/resources/include/mediators.conf
  apps/app/src/test/resources/include/participants.conf
  apps/app/src/test/resources/include/sequencers.conf
Due: none

extend test with additional checks
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundFrontendTimeBasedIntegrationTest.scala
Due: copyright

add cmd
  build-tools/lib/pulumi-commands
Due: none

Backport Add daml2js to static_test nix def (#3855)
  nix/shell.nix
Due: none

Enable new topology cache in integration tests (#3850)
  apps/app/src/test/resources/include/mediators.conf
  apps/app/src/test/resources/include/participants.conf
  apps/app/src/test/resources/include/sequencers.conf
Due: none

[ci] Remove unneeded env declaration
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

update title
  apps/wallet/frontend/src/components/DevelopmentFundTotal.tsx
Due: copyright, typescriptfmt

Make nix actions reusable between repos in backwards compatible way. (#3854)
  .github/actions/nix/run_bash_command_in_nix/action.yml
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

Disable traffic topups in multi host validator operator test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/MultiHostValidatorOperatorIntegrationTest.scala
Due: copyright

[static] Add the preview operation to GHA
  build-tools/lib/pulumi-commands
  cluster/pulumi/gha/README.md
  cluster/pulumi/gha/package.json
  cluster/pulumi/gha/pulumiPreview.ts
  cluster/pulumi/gha/src/performanceTests.ts
  cluster/pulumi/pulumi.ts
  cluster/pulumi/pulumiOperations.ts
Due: typescriptfmt, pulumi_tests

[static] call it preview as it should
  build-tools/lib/pulumi-commands
  cluster/pulumi/gha/package.json
Due: none

[static] sigh
  cluster/pulumi/gha/src/performanceTests.ts
Due: typescriptfmt, pulumi_tests

update display of total amount logic
  apps/wallet/frontend/src/components/DevelopmentFundTotal.tsx
  apps/wallet/frontend/src/contexts/DevelopmentFundCouponsContext.tsx
  apps/wallet/frontend/src/hooks/useActiveDevelopmentFundCoupons.ts
Due: copyright, typescriptfmt

return error if partyid is in more than one participant like in scan [ci]
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvOperatorHandler.scala
Due: copyright

use sv3 instead of sv1 in integration test [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
Due: copyright

Disable traffic topups in multi host validator operator test (#3857)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/MultiHostValidatorOperatorIntegrationTest.scala
Due: copyright

rename to fix dup prefix
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V055__update_history_for_hash.sql
Due: none

Deploy CloudSQL instance for performance tests (#3814)
  build-tools/lib/pulumi-commands
  cluster/pulumi/gha/README.md
  cluster/pulumi/gha/package.json
  cluster/pulumi/gha/pulumiPreview.ts
  cluster/pulumi/gha/src/performanceTests.ts
  cluster/pulumi/gha/src/runners.test.ts
  cluster/pulumi/gha/src/runners.ts
  cluster/pulumi/pulumi.ts
  cluster/pulumi/pulumiOperations.ts
Due: typescriptfmt, pulumi_tests

Start SV namespace trigger earlier
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvNamespaceMembershipTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/NodeInitializerUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
Due: copyright

Start SV namespace trigger earlier (#3859)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvNamespaceMembershipTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/NodeInitializerUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
Due: copyright

Sync entrypoint with Canton
  cluster/images/common/bootstrap-entrypoint.sc
  cluster/images/common/entrypoint.sh
Due: copyright

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

Sync entrypoint with Canton (#3861)
  cluster/images/common/bootstrap-entrypoint.sc
  cluster/images/common/entrypoint.sh
Due: copyright

Remove provider field from scan and wallet UI (#3787)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletPaymentFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTransactionHistoryFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTransactionHistoryFrontendTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletFrontendTestUtil.scala
  apps/scan/frontend/src/__tests__/mocks/handlers/scan-api.ts
  apps/scan/frontend/src/components/ActivityTable.tsx
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/protobuf/scan_tx_log.proto
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanTxLogParser.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/TxLogEntry.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanStoreTest.scala
  apps/wallet/frontend/src/__tests__/mocks/handlers/wallet-api.ts
  apps/wallet/frontend/src/components/TransactionHistory.tsx
  apps/wallet/frontend/src/contexts/WalletServiceContext.tsx
  apps/wallet/frontend/src/models/models.ts
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/protobuf/user_wallet_tx_log.proto
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/TxLogEntry.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletTxLogParser.scala
  docs/src/release_notes_upcoming.rst
Due: copyright, typescriptfmt

Stream contracts instead of ingesting them as a single Seq
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/UpdateIngestionService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
Due: copyright
