Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

adjust bump_gha_runner_version runtime
  .github/workflows/bump_gha_runner_version.yml
Due: gha_lint

support non-newline-terminated ignore-list files (#3404)
  .github/actions/scripts/io-utils.sh
  project/ignore-patterns/canton-standalone-disaster-recovery-lost-all-sequencers-most-participants.ignore.txt
  project/ignore-patterns/canton-standalone-disaster-recovery-lost-domain.ignore.txt
  project/ignore-patterns/canton-standalone-participants-before-disaster-lost-all-sequencers-most-participants.ignore.txt
  project/ignore-patterns/canton-standalone-participants-before-disaster-lost-domain.ignore.txt
  project/ignore-patterns/canton_log.ignore.txt
  project/ignore-patterns/canton_log_shutdown_extra.ignore.txt
  project/ignore-patterns/canton_log_simtime_extra.ignore.txt
  project/ignore-patterns/canton_network_test_log.ignore.txt
  project/ignore-patterns/sbt-output.ignore.txt
Due: copyright, gha_lint

Set featuredAppRight to None, and remove defaultAmuletMergeLimit
  daml/splice-wallet-test/daml/Splice/Scripts/Wallet/TestMintingDelegation.daml
  daml/splice-wallet/daml/Splice/Wallet/MintingDelegation.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update dars+lock
  daml/dars.lock
  daml/dars/splice-wallet-0.1.15.dar
Due: none

Move grantValidatorLicense to HttpSvOperatorHandler
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvAdminAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvOperatorAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvOperatorHandler.scala
Due: copyright

SV-app automation for VoteExecutionInstruction execution
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvTimeBasedOnboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvValidatorLicenseIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorLicenseMetadataTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletRewardsTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvTestUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/DsoDelegateBasedAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/ExecuteVoteInstructionTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/ExpireVoteExecutionInstructionTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ReceiveFaucetCouponTrigger.scala
  scripts/scan-txlog/scan_txlog.py
Due: copyright

Support for granting ValidatorLicense via SV UI
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvMergeDuplicatedValidatorLicenseIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvValidatorLicenseIntegrationTest.scala
  apps/common/frontend-test-handlers/src/mocks/handlers/validator-licenses-handler.ts
  apps/common/frontend/src/components/ValidatorLicenses.tsx
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V053__validator_liveness_weight.sql
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTest.scala
  apps/scan/frontend/src/__tests__/scan.test.tsx
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/sv/frontend/src/__tests__/sv.test.tsx
  apps/sv/frontend/src/components/ValidatorOnboardingSecrets.tsx
  apps/sv/frontend/src/contexts/SvAdminServiceContext.tsx
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvAdminAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/confirmation/SummarizingMiningRoundTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DsoTables.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
  docs/src/release_notes.rst
  scripts/scan-txlog/scan_txlog.py
  test-full-class-names.log
Due: copyright, typescriptfmt

Daml: Add DsoRules for ValidatorLicense weight change and withdrawal
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvTimeBasedOnboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvTestUtil.scala
  apps/common/frontend-test-handlers/src/mocks/helpers/dso-config-helper.ts
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceUtil.scala
  apps/package-lock.json
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanStoreTest.scala
  apps/sv/frontend/src/__tests__/utils/buildDsoRulesConfigFromChanges.test.ts
  apps/sv/frontend/src/utils/buildDsoConfigChanges.ts
  apps/sv/frontend/src/utils/buildDsoRulesConfigFromChanges.ts
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
  daml/dars.lock
  daml/dars/splice-amulet-0.1.15.dar
  daml/dars/splice-amulet-name-service-0.1.16.dar
  daml/dars/splice-dso-governance-0.1.21.dar
  daml/dars/splice-wallet-0.1.15.dar
  daml/dars/splice-wallet-payments-0.1.15.dar
  daml/dars/splitwell-0.1.15.dar
  daml/splice-amulet-test/daml/Splice/Scripts/TestValidatorFaucet.daml
  daml/splice-amulet/daml/Splice/ValidatorLicense.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestUtils.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestValidatorLicense.daml
  daml/splice-dso-governance/daml.yaml
  daml/splice-dso-governance/daml/Splice/DSO/VoteExecution.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references, typescriptfmt

Daml: Fix DsoRules_ClaimExpiredRewards for ValidatorLicense weight
  daml/dars.lock
  daml/dars/splice-amulet-0.1.15.dar
  daml/dars/splice-amulet-name-service-0.1.16.dar
  daml/dars/splice-dso-governance-0.1.21.dar
  daml/dars/splice-wallet-0.1.15.dar
  daml/dars/splice-wallet-payments-0.1.15.dar
  daml/dars/splitwell-0.1.15.dar
  daml/splice-amulet-test/daml/Splice/Scripts/TestUnclaimedRewards.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestClaimExpiredRewards.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Daml: Add MintingDelegation
  daml/dars.lock
  daml/dars/splice-wallet-0.1.15.dar
  daml/splice-wallet-test/daml/Splice/Scripts/Wallet/TestMintingDelegation.daml
  daml/splice-wallet/daml.yaml
  daml/splice-wallet/daml/Splice/Wallet/MintingDelegation.daml
Due: copyright, dars_lock, no_illegal_daml_references

.
  project/ignore-patterns/canton_log.ignore.txt
  project/ignore-patterns/canton_log_simtime_extra.ignore.txt
Due: none

issue-3264: leftover
  scripts/scan-txlog/unclaimed_sv_rewards.py
Due: copyright

add nix setup to bump_gha_runner_version workflow
  .github/workflows/bump_gha_runner_version.yml
Due: gha_lint

.
  project/ignore-patterns/canton_log_simtime_extra.ignore.txt
Due: none

correct the script name
  .github/workflows/bump_gha_runner_version.yml
Due: gha_lint

Final Nits
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorHandler.scala
  docs/src/release_notes.rst
Due: copyright

before renaming
  daml/splice-amulet-name-service/daml/Splice/AnsV2/AnsCredential.daml
  daml/splice-amulet-name-service/daml/Splice/AnsV2/CredentialRegistry.daml
Due: copyright, dars_lock, no_illegal_daml_references

add sketch of OpenAPI spec
  daml/splice-api-credential-registry-v1/daml/Splice/Api/Credential/RegistryV1.daml
  daml/splice-api-credential-registry-v1/openapi/README.md
  daml/splice-api-credential-registry-v1/openapi/credential-registry-v1.yaml
  daml/splice-api-credential-registry-v1/openapi/docker-compose.yml
Due: copyright, dars_lock, no_illegal_daml_references

strawan registry implementation
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet-name-service/daml/Splice/Ans.daml
  daml/splice-amulet-name-service/daml/Splice/AnsV2/AnsCredential.daml
  daml/splice-amulet-name-service/daml/Splice/Api/Credential/RegistryV1.daml
Due: copyright, dars_lock, no_illegal_daml_references

registry interface specced
  daml/splice-amulet-name-service/daml/Splice/AnsV2/CredentialRegistry.daml
  daml/splice-amulet-name-service/daml/Splice/Api/Credential/RegistryV1.daml
Due: copyright, dars_lock, no_illegal_daml_references

store partial draft
  daml/splice-amulet-name-service/daml/Splice/Ans.daml
Due: copyright, dars_lock, no_illegal_daml_references

create separate library for interfaces
  build.sbt
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet-name-service/daml/Splice/AnsV2/AnsCredential.daml
  daml/splice-api-credential-registry-v1/daml.yaml
  daml/splice-api-credential-registry-v1/daml/Splice/Api/Credential/RegistryV1.daml
Due: copyright, dars_lock, no_illegal_daml_references

self-review
  daml/splice-amulet-name-service/daml/Splice/Ans.daml
  daml/splice-amulet-name-service/daml/Splice/AnsV2/AnsCredential.daml
  daml/splice-api-credential-registry-v1/daml/Splice/Api/Credential/RegistryV1.daml
Due: copyright, dars_lock, no_illegal_daml_references

add more info messages
  scripts/bump-gha-runner-version.sh
Due: copyright

enable schedule
  .github/workflows/bump_gha_runner_version.yml
Due: gha_lint

Better support for custom party hints for non-operator users (#3367)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ValidatorAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
  apps/validator/src/main/openapi/validator-internal.yaml
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/api/client/commands/HttpValidatorAdminAppClient.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorAdminHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/util/ValidatorUtil.scala
  docs/src/release_notes.rst
  docs/src/validator_operator/validator_users.rst
Due: copyright

fix GHA runner version updater workflow and enable it (#3417)
  .github/workflows/bump_gha_runner_version.yml
  scripts/bump-gha-runner-version.sh
Due: copyright, gha_lint

Added all files
  cluster/deployment/scratchneta/.envrc.vars
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchneta/config.yaml
  cluster/expected/deployment/expected.json
  cluster/expected/operator/expected.json
  cluster/images/splice-debug/Dockerfile
  cluster/pulumi/common/src/dump-config-common.ts
  cluster/pulumi/common/src/operator/stack.ts
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/index.ts
  cluster/pulumi/infra/src/maintenance.ts
  nix/shell.nix
Due: typescriptfmt, pulumi_config

Fixed docker version
  cluster/images/splice-debug/Dockerfile
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

All files checked
  cluster/images/splice-debug/Dockerfile
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

Moved version to common
  cluster/pulumi/common/src/version.ts
  cluster/pulumi/multi-validator/src/multiNodeDeployment.ts
Due: typescriptfmt, pulumi_config

Removed unused values
  cluster/deployment/scratchneta/.envrc.vars
Due: none

added more debugging in script
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

Set interval
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

Removed comments
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

[static] add support console for multi participant
  build-tools/cncluster
Due: none

Minor changes to docker
  cluster/images/splice-debug/Dockerfile
Due: none

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
