Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

Refactoring
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
Due: copyright

Code refactored
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
Due: copyright

Code refactoring
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
Due: copyright

[static] wait for a specific migration explicitly
  cluster/pulumi/canton-network/bigquery-cloudsql.sh
  cluster/pulumi/canton-network/src/bigQuery.ts
Due: copyright, typescriptfmt, pulumi_config

Add mediator scan to BigQuery (#2851)
  cluster/pulumi/canton-network/bigquery-cloudsql.sh
  cluster/pulumi/canton-network/src/bigQuery.ts
Due: copyright, typescriptfmt, pulumi_config

[static] Add mediator scan to BigQuery (#2851)
  cluster/pulumi/canton-network/bigquery-cloudsql.sh
  cluster/pulumi/canton-network/src/bigQuery.ts
Due: copyright, typescriptfmt, pulumi_config

[static] more cleanup
  cluster/pulumi/common/src/auth0/secrets.ts
Due: typescriptfmt, pulumi_config

Add mediator scan to BigQuery (#2851) (#2878)
  cluster/pulumi/canton-network/bigquery-cloudsql.sh
  cluster/pulumi/canton-network/src/bigQuery.ts
Due: copyright, typescriptfmt, pulumi_config

[static] another
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[static] get rid of the confusing duplicate
  cluster/pulumi/common/src/auth0/auth0types.ts
  cluster/pulumi/common/src/auth0/secrets.ts
  cluster/pulumi/common/src/dump-config-common.ts
  cluster/pulumi/infra/src/auth0.ts
  cluster/pulumi/validator-runbook/dump-config.ts
Due: typescriptfmt, pulumi_config

[main] Make migration export scale to large sizes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DisasterRecoveryIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SeqAccumulatingObserver.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/AcsExporter.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainDataRestorer.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainMigrationEncoding.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainMigrationTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/ParticipantPartyMigrator.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/DecentralizedSynchronizerMigrationTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/DomainDataSnapshot.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/DomainMigrationDump.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeDsoPartyHosting.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sponsor/DsoPartyMigration.scala
  apps/validator/src/main/openapi/validator-internal.yaml
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorAdminHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/migration/DecentralizedSynchronizerMigrationTrigger.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/migration/DomainMigrationDump.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/ParticipantAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/SequencerAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/ParticipantRepairAdministration.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/SequencerAdministration.scala
  canton/community/common/src/main/scala/com/digitalasset/canton/util/GrpcStreamingUtils.scala
Due: copyright

Try to fix unrelated frontend test failure
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
Due: copyright

more logs
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
Due: copyright

Fix test maybe
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
Due: copyright

Added new test file to test-full-class-names.log
  test-full-class-names.log
Due: none

[main] Make migration export scale to large sizes (#2875)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DisasterRecoveryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SeqAccumulatingObserver.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/AcsExporter.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainDataRestorer.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainMigrationEncoding.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainMigrationTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/ParticipantPartyMigrator.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/DecentralizedSynchronizerMigrationTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/DomainDataSnapshot.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/DomainMigrationDump.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeDsoPartyHosting.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sponsor/DsoPartyMigration.scala
  apps/validator/src/main/openapi/validator-internal.yaml
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorAdminHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/migration/DecentralizedSynchronizerMigrationTrigger.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/migration/DomainMigrationDump.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/ParticipantAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/SequencerAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/ParticipantRepairAdministration.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/SequencerAdministration.scala
  canton/community/common/src/main/scala/com/digitalasset/canton/util/GrpcStreamingUtils.scala
Due: copyright

[static] bump 0.4 version (#2876)
  VERSION
Due: none

[release-line-0.4] Bump version and latest release (#2798)
  LATEST_RELEASE
Due: none

[ci] Bump canton to 3.3.0-snapshot.20251020.16134.0.v297c6a43 (#2772)
  nix/canton-sources.json
Due: none

Fix release notes after 0.4.22-related merging race (#2871)
  docs/src/release_notes.rst
Due: copyright

[static] Support new dump format for multi validators
  cluster/expected/multi-validator/expected.json
  cluster/pulumi/multi-validator/src/multiValidator.ts
Due: typescriptfmt, pulumi_config

[static] Support new dump format for multi validators (#2884)
  cluster/expected/multi-validator/expected.json
  cluster/pulumi/multi-validator/src/multiValidator.ts
Due: typescriptfmt, pulumi_config

[static] Support new dump format for multi validators (#2883)
  cluster/expected/multi-validator/expected.json
  cluster/pulumi/multi-validator/src/multiValidator.ts
Due: typescriptfmt, pulumi_config

[ci] init
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ReconcileSequencerConnectionsTrigger.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
Due: copyright

Fix geckodriver on macos
  nix/flake.lock
  nix/geckodriver.nix
  nix/overlays.nix
Due: none

[ci] Upgrade canton 3.3 to 3.3.0-snapshot.20251027.16136.0.v61716443
  nix/canton-sources.json
Due: none

Set memory limits
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/ProcessTestUtil.scala
Due: copyright

[ci] Upgrade canton 3.3 to 3.3.0-snapshot.20251027.16136.0.v61716443 (#2887)
  nix/canton-sources.json
Due: none

Add dashboard for onboarded parties in selected time range
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/onboarded_parties.json
Due: none

Fix flake with too many party-id classnames
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
Due: copyright

Add dashboard for onboarded parties in selected time range (#2888)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/onboarded_parties.json
Due: none

Fix nix/geckodriver on macos (#2881)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/ProcessTestUtil.scala
  nix/flake.lock
  nix/geckodriver.nix
  nix/overlays.nix
Due: copyright

bump some netty dependencies in test code (#2826)
  build.sbt
Due: none

[ci] fix
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ReconcileSequencerConnectionsTrigger.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
Due: copyright

Ensure parent directory exists when writing payload files
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainMigrationEncoding.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/BackupDump.scala
Due: copyright

[release-line-0.4] Ensure parent directory exists when writing payload files
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainMigrationEncoding.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/BackupDump.scala
Due: copyright

Fix flake with too many party-id classnames (#2890)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
Due: copyright

[release-line-0.4] Ensure parent directory exists when writing payload files (#2892)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainMigrationEncoding.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/BackupDump.scala
Due: copyright

Ensure parent directory exists when writing payload files (#2891)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainMigrationEncoding.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/BackupDump.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
