Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

pulumi - first use db zone if available
  cluster/pulumi/common/src/postgres.ts
Due: typescriptfmt, pulumi_tests

pulumi - first use db zone if available (#3902)
  cluster/pulumi/common/src/postgres.ts
Due: typescriptfmt, pulumi_tests

CIP-82: add listUnclaimedDevelopmentFundCoupons to scan proxy
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
  apps/validator/src/main/openapi/scan-proxy.yaml
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpScanProxyHandler.scala
Due: copyright

pulumi - first use db zone if available (#3902) (#3905)
  cluster/pulumi/common/src/postgres.ts
Due: typescriptfmt, pulumi_tests

pulumi - first use db zone if available (#3902) (#3903)
  cluster/pulumi/common/src/postgres.ts
Due: typescriptfmt, pulumi_tests

pulumi - first use db zone if available (#3904)
  cluster/pulumi/common/src/postgres.ts
Due: typescriptfmt, pulumi_tests

[ci] change splice_repo_path to splice_root
  .github/actions/cache/daml_artifacts/restore/action.yml
  .github/actions/cache/daml_artifacts/save/action.yml
  .github/actions/cache/frontend_node_modules/restore/action.yml
  .github/actions/cache/frontend_node_modules/save/action.yml
  .github/actions/cache/precompiled_classes/restore/action.yml
  .github/actions/cache/precompiled_classes/save/action.yml
  .github/actions/cache/sbt/restore/action.yml
  .github/actions/cache/sbt/save/action.yml
Due: gha_lint

Fix
  .github/actions/cache/precompiled_classes/restore/action.yml
  .github/actions/cache/precompiled_classes/save/action.yml
Due: gha_lint

[ci] Test cache functions
  .github/actions/cache/daml_artifacts/restore/action.yml
  .github/actions/cache/daml_artifacts/save/action.yml
  .github/actions/cache/frontend_node_modules/restore/action.yml
  .github/actions/cache/frontend_node_modules/save/action.yml
  .github/actions/cache/precompiled_classes/restore/action.yml
  .github/actions/cache/precompiled_classes/save/action.yml
  .github/actions/scripts/archive_precompiled_classes.sh
  .github/actions/scripts/extract_precompiled_classes.sh
Due: copyright, gha_lint

[ci] Add cache restore/save for sbt
  .github/actions/cache/sbt/restore/action.yml
  .github/actions/cache/sbt/save/action.yml
Due: gha_lint

Make cache actions reusable between repos in backwards compatible way (#3851)
  .github/actions/cache/daml_artifacts/restore/action.yml
  .github/actions/cache/daml_artifacts/save/action.yml
  .github/actions/cache/frontend_node_modules/restore/action.yml
  .github/actions/cache/frontend_node_modules/save/action.yml
  .github/actions/cache/precompiled_classes/restore/action.yml
  .github/actions/cache/precompiled_classes/save/action.yml
  .github/actions/cache/sbt/restore/action.yml
  .github/actions/cache/sbt/save/action.yml
  .github/actions/scripts/archive_precompiled_classes.sh
  .github/actions/scripts/extract_precompiled_classes.sh
Due: copyright, gha_lint

fix compile error
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ValidatorAppReference.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/api/client/commands/HttpScanProxyAppClient.scala
Due: copyright

Try to unflake BatchedFeaturedAppActivityMarkerIntegrationTest
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BatchedFeaturedAppActivityMarkerIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/ScanTestUtil.scala
Due: copyright

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

Revert "Don't deduct holding fees when deciding what to merge (#3720)"
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/TransferInputStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/TransferInputStoreTest.scala
Due: copyright

failing test => repro (I think)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TimeBasedTreasuryIntegrationTest.scala
Due: copyright

Reapply "Don't deduct holding fees when deciding what to merge (#3720)"
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/TransferInputStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/TransferInputStoreTest.scala
Due: copyright

fix test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TimeBasedTreasuryIntegrationTest.scala
Due: copyright

drive-by prune
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TimeBasedTreasuryIntegrationTestWithoutMerging.scala
Due: copyright

formatFix
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TimeBasedTreasuryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TimeBasedTreasuryIntegrationTestWithoutMerging.scala
Due: copyright

Try to unflake BatchedFeaturedAppActivityMarkerIntegrationTest (#3906)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BatchedFeaturedAppActivityMarkerIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/ScanTestUtil.scala
Due: copyright

Update WalletFrontendIntegrationTest with the name change
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletFrontendIntegrationTest.scala
Due: copyright

Rename the 'withdraw' button to 'cancel'
  apps/wallet/frontend/src/__tests__/wallet.test.tsx
  apps/wallet/frontend/src/routes/delegations.tsx
Due: copyright, typescriptfmt

Minting Delegations UI: Rename the withdraw button to cancel (#3848)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletFrontendIntegrationTest.scala
  apps/wallet/frontend/src/__tests__/wallet.test.tsx
  apps/wallet/frontend/src/routes/delegations.tsx
Due: copyright, typescriptfmt

Add missing version annotation to batched marker test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BatchedFeaturedAppActivityMarkerIntegrationTest.scala
  apps/common/src/test/java/org/lfdecentralizedtrust/splice/util/scalatesttags/SpliceAmulet_0_1_16.java
Due: copyright

Add missing version annotation to batched marker test (#3908)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BatchedFeaturedAppActivityMarkerIntegrationTest.scala
  apps/common/src/test/java/org/lfdecentralizedtrust/splice/util/scalatesttags/SpliceAmulet_0_1_16.java
Due: copyright

[release-line-0.5.8] Allow volume expansion for hyperdisk
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/storageClasses.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.8] Allow volume expansion for hyperdisk (#3910)
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/storageClasses.ts
Due: typescriptfmt, pulumi_tests

Fix synchronization in bigquery tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

[release-line-0.5.8] disable exporting settings table in pge
  cluster/helm/splice-util-lib/templates/_helpers.tpl
Due: none

[release-line-0.5.9] disable exporting settings table in pge
  cluster/helm/splice-util-lib/templates/_helpers.tpl
Due: none

[ci] Make sbt actions reusable
  .github/actions/sbt/execute_sbt_command/action.yml
  .github/actions/sbt/post_sbt/action.yml
  .github/actions/sbt/setup_sbt/action.yml
  .github/actions/sbt/upload_logs/action.yml
Due: gha_lint

Upgrade postgres exporter to 0.19.0
  cluster/helm/splice-util-lib/templates/_helpers.tpl
Due: none

[release-line-0.5.8] disable exporting settings table in pge (#3912)
  cluster/helm/splice-util-lib/templates/_helpers.tpl
Due: none

[release-line-0.5.9] disable exporting settings table in pge (#3913)
  cluster/helm/splice-util-lib/templates/_helpers.tpl
Due: none
