Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

Don't bump splice ports in migration test (#2007)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
Due: copyright

[static] bump cert-manager
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/network.ts
Due: typescriptfmt, pulumi_config

examples sv-helm: Change cometbft state sync default to disabled
  apps/app/src/pack/examples/sv-helm/cometbft-values.yaml
Due: none

helm splice-cometbft: Change cometbft state sync default to disabled
  cluster/helm/splice-cometbft/values-template.yaml
Due: none

docs release_notes: updated changes to cometbft deployment
  docs/src/release_notes.rst
Due: copyright

.
  .github/workflows/build.scala_test.yml
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/AutomationService.scala
Due: copyright, gha_lint

more random changes
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
Due: copyright

.
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
Due: copyright

Migrate from reference driver to BFT driver
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/StandaloneCanton.scala
Due: copyright

.
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconciler.scala
Due: copyright

try to swap stuff around
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
Due: copyright

start more stuff
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
Due: copyright

try to make tests fail faster
  test-full-class-names-resource-intensive.log
Due: none

more messing around
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
Due: copyright

.
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
Due: copyright

.
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/scan/AggregatingScanConnection.scala
Due: copyright

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/CommonAppInstanceReferences.scala
Due: copyright

.
  .github/workflows/build.scala_test.yml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
Due: copyright, gha_lint

mess around with port configs
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
Due: copyright

Remove config transform to bump canton domain ports
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigDarUploadIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DisasterRecoveryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ParticipantKmsIdentitiesEnterpriseIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOffboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingViaNonFoundingSvIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvReonboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/offlinekey/SvOfflineRootNamespaceKeyIntegrationTest.scala
Due: copyright

[static] Update pg exporter and overview dashboard
  cluster/expected/infra/expected.json
  cluster/helm/splice-util-lib/templates/_helpers.tpl
  cluster/pulumi/infra/grafana-dashboards/database/postgres_overview.json
Due: none

Remove config transform to bump canton domain ports (#2014)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigDarUploadIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DisasterRecoveryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ParticipantKmsIdentitiesEnterpriseIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOffboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingViaNonFoundingSvIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvReonboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/offlinekey/SvOfflineRootNamespaceKeyIntegrationTest.scala
Due: copyright

Test multiple scans in migration test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/CommonAppInstanceReferences.scala
Due: copyright

[static] bump cert-manager (#2013)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/network.ts
Due: typescriptfmt, pulumi_config

Don't go through amulet rules for DsoRules_ClaimExpiredRewards
  daml/dars.lock
  daml/dars/splice-dso-governance-0.1.18.dar
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance/daml.yaml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
  docs/src/release_notes.rst
Due: copyright, dars_lock, no_illegal_daml_references

[static] Update sequencer dashboards
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/global-sync-utilization.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer_messages.json
Due: none

[static] Update sequencer dashboards (#2022)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/global-sync-utilization.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer_messages.json
Due: none

[static] Update pg exporter and overview dashboard (#2015)
  cluster/expected/infra/expected.json
  cluster/helm/splice-util-lib/templates/_helpers.tpl
  cluster/pulumi/infra/grafana-dashboards/database/postgres_overview.json
Due: none

fix scan txlog
  scripts/scan-txlog/scan_txlog.py
Due: copyright

Use canton port bump helper in migration test
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
Due: copyright

fix resources
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/package-lock.json
  apps/package.json
Due: copyright

[ci] revert bump of txlog descriptor
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/DbUserWalletStore.scala
Due: copyright

[static] add last 30 days rate comparison to sequencer dashboard
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer_messages.json
Due: none

Use canton port bump helper in migration test (#2018)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
Due: copyright

[static] add last 30 days rate comparison to sequencer dashboard (#2024)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer_messages.json
Due: none

more release notes
  docs/src/release_notes.rst
Due: copyright

wip
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V043__package_name_acs_stores.sql
Due: none

Fix wrong customTimeout definition place
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceParametersConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  cluster/images/scan-app/app.conf
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
