Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

[ci] format fix
  cluster/pulumi/canton-network/src/dso.ts
  cluster/pulumi/canton-network/src/index.ts
  cluster/pulumi/common/src/config/envConfig.ts
  cluster/pulumi/common/src/dump-config-common.ts
  cluster/pulumi/common/src/utils.ts
  cluster/pulumi/splitwell/src/index.ts
  cluster/pulumi/validator1/src/index.ts
Due: typescriptfmt, pulumi_tests

bump eslint to 9.x
  load-tester/package-lock.json
  load-tester/package.json
Due: none

bump eslint to 9.x
  load-tester/eslint.config.mjs
Due: typescriptfmt

Fix final result job to include LSU (#4593)
  .github/workflows/build.yml
Due: gha_lint

[ci] bump eslint to 9.x
  cluster/pulumi/package-lock.json
  cluster/pulumi/package.json
Due: none

run formatters
  load-tester/package-lock.json
  load-tester/src/client/validator/validator.ts
  load-tester/src/utils.ts
Due: typescriptfmt

Fix scan sequencer connections - do not return if available after is not set (#4590)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SynchronizerNodeReconciler.scala
Due: copyright

Use DABFT for the LSU target synchronizer
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconciler.scala
Due: copyright

more log ignores
  project/ignore-patterns/canton_log_bft.ignore.txt
Due: none

[canton-3.5] Run DABFT tests by default
  .github/workflows/build.yml
Due: gha_lint

temp debug logs
  start-canton.sh
Due: copyright

update fast-xml-parser
  cluster/pulumi/package-lock.json
Due: none

Update the list of sim-time tests
  test-full-class-names-sim-time.log
Due: none

preserve ci resources for load-tester
  .github/dependabot.yml
Due: gha_lint

Use DABFT for the LSU target synchronizer (#4522)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconciler.scala
Due: copyright

update fast-xml-parser (#4600)
  cluster/pulumi/package-lock.json
Due: none

dependabot: preserve ci resources for load-tester (#4602)
  .github/dependabot.yml
Due: gha_lint

init [static]
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

.
  nix/shell.nix
  notes.sql
Due: none

apply date threshold for getUpdateById endpoint
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

Fix InfoInhibitor ignore (#4607)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

[ci] Return None historyId until updateHistory isReady
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanAppRewardsStore.scala
Due: copyright

Add rate-limit config for the new api endpoint
  cluster/configs/shared/rate-limits/unlimited.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
Due: pulumi_tests

Restart sv and scan as part of the LSU test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

rm whitespace
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
Due: copyright

Address Copilot review: remove unused imports and improve wart message
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AnsIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DistributedDomainIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvInitializationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOffboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvTimeBasedOnboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletBuyTrafficRequestIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/DomainMigrationUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvTestUtil.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStoreTest.scala
  build-tools/wart-remover-extension/src/main/scala/org/lfdecentralizedtrust/splice/wart/ParTraverse.scala
Due: copyright

Restart sv and scan as part of the LSU test (#4610)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

Add dead tuples to grafana dashboard
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/database/postgres_exporter.json
Due: none

Add dead tuples to grafana dashboard (#4603)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/database/postgres_exporter.json
Due: none

[static] Fix InfoInhibitor ignore (#4607)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

Fix InfoInhibitor ignore (#4607) (#4614)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

Fix InfoInhibitor ignore (#4607) (#4615)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

Upgrade Canton to 3.5.0-snapshot.20260323.18416.0.va0d42fd5
  nix/canton-sources.json
Due: none

[static] alert on tx id utilization
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/gcpAlerts.ts
  cluster/pulumi/infra/src/index.ts
Due: typescriptfmt, pulumi_tests

[static] skip canton consistency check for pr_static_checks
  .github/workflows/build.static_tests.yml
  .github/workflows/build.yml
  .github/workflows/pr_static_checks.yml
Due: gha_lint

[static] skip canton_concistency_check for unapproved checks (#4611)
  .github/workflows/build.static_tests.yml
  .github/workflows/build.yml
  .github/workflows/pr_static_checks.yml
Due: gha_lint

Fix sv runbook config for LSU
  apps/app/src/pack/examples/sv-helm/sv-values.yaml
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvSequencerInfoPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/pulumi/common-sv/src/svApp.ts
  cluster/pulumi/common-sv/src/synchronizer/synchronizerNodes.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: copyright, typescriptfmt, pulumi_tests
