Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

Disable reconnectOnSynchronizerConfigurationChange in DR IT test (#4374)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DisasterRecoveryIntegrationTest.scala
Due: copyright

add ability to cancel a LSU (#4361)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorReonboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/PostgresAroundAll.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/LsuTopologyAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/TopologyAdminConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvAdminAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LogicalSynchronizerUpgradeAnnouncementTrigger.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/migration/ParticipantPartyMigrator.scala
Due: copyright

CIP-82: minor fixes
  apps/wallet/frontend/src/components/DevelopmentFundCouponList.tsx
  apps/wallet/frontend/src/components/DevelopmentFundTotal.tsx
Due: copyright, typescriptfmt

Bump canton to 3.4.12-snapshot.20260310.17618.0.v7b321d0f (#4373)
  nix/canton-sources.json
Due: none

Draft impl. of V1-based V2-alloc-cancel impl
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
  token-standard/splice-api-token-allocation-v2/daml/Splice/Api/Token/AllocationV2.daml
  token-standard/splice-api-token-utils-v2/daml/Splice/Api/Token/UtilsV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP_V2Only.daml
Due: copyright, dars_lock, no_illegal_daml_references

[ci] fmt
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnectionForTests.scala
Due: copyright

cip-82: make development fund coupon history visible to the beneficary
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/WalletAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletTxLogParser.scala
Due: copyright

Add checksums to bulk storage uploads (#4363)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnection.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/HasS3Mock.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnectionForTests.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/GroupedWeightS3ObjectFlow.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/S3BucketConnectionForUnitTests.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/S3UploadTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
  cluster/pulumi/package-lock.json
  nix/shell.nix
Due: copyright

[ci] wip
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
Due: copyright

[ci] wip
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnection.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/HasS3Mock.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnectionForTests.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanStorageConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/S3UploadTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
Due: copyright

wip
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanStorageConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/SingleAcsSnapshotBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistorySegmentBulkStorage.scala
Due: copyright

[ci] .
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnection.scala
Due: copyright

Daml: fix division-by-zero bug if `optValidatorFaucetCap=0`
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet-test/daml/Splice/Scripts/UnitTests/Issuance.daml
  daml/splice-amulet/daml.yaml
  daml/splice-amulet/daml/Splice/Issuance.daml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance/daml.yaml
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-util-token-standard-wallet-test/daml.yaml
  daml/splice-wallet-payments/daml.yaml
  daml/splice-wallet-test/daml.yaml
  daml/splice-wallet/daml.yaml
  daml/splitwell-test/daml.yaml
  daml/splitwell/daml.yaml
  test-full-class-names-sim-time.log
  token-standard/splice-token-standard-test/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

Revert "Optional: change the default to 0"
  daml/splice-amulet-test/daml/Splice/Scripts/UnitTests/Issuance.daml
  daml/splice-amulet/daml/Splice/Issuance.daml
Due: copyright, dars_lock, no_illegal_daml_references

comment tweak
  daml/splice-amulet/daml/Splice/Issuance.daml
Due: copyright, dars_lock, no_illegal_daml_references

Optional: change the default to 0
  daml/splice-amulet-test/daml/Splice/Scripts/UnitTests/Issuance.daml
  daml/splice-amulet/daml/Splice/Issuance.daml
Due: copyright, dars_lock, no_illegal_daml_references

fix
  test-full-class-names-sim-time.log
Due: none

update canton version
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

update resolve config
  cluster/deployment/scratchnete/config.resolved.yaml
Due: pulumi_tests

fix DAR things
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/dar-resources-generator/src/main/scala/org/lfdecentralizedtrust/splice/darutils/DarResources.scala
  apps/package-lock.json
  apps/package.json
  cluster/pulumi/package-lock.json
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  party-allocator/package-lock.json
Due: copyright

n=5
  cluster/deployment/scratchnete/.envrc.vars
Due: none

n=7 SVs
  cluster/deployment/scratchnete/.envrc.vars
Due: none

final fix maybe
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BatchedFeaturedAppActivityMarkerIntegrationTest.scala
Due: copyright

turn on loadtester
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

[ci] .
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnection.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/HasS3Mock.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnectionForTests.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/S3BucketConnectionForUnitTests.scala
Due: copyright

[ci] don't panic on continuation tokens in logs
  .github/actions/scripts/check-logs.sh
Due: copyright, gha_lint

Change the logging level to debug
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanAppRewardsStore.scala
Due: copyright

Prefer protobuf ByteString to a direct byte array
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanAppRewardsStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbScanAppRewardsStoreTest.scala
Due: copyright

Refactor usage of futureUnlessShutdownToFuture
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanAppRewardsStore.scala
Due: copyright

[ci] Use non-zero final digit to fully test precision
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbScanAppRewardsStoreTest.scala
Due: copyright

update config for non-default epoch length
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

fix config
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

[ci] Add boundary/random decimals to the store test
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbScanAppRewardsStoreTest.scala
Due: copyright

Revert 'Revert [Persist ext txn hashes]'
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternalPartySetupProposalIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternallySignedPartyTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardAllocationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTxLogIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
Due: copyright

add sql migration
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V060__update_history_for_hash.sql
Due: none

Improve log output around k8s config
  cluster/pulumi/common/src/auth0/auth0.ts
Due: typescriptfmt, pulumi_tests

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
