Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

[ci] remove it everywhere
  cluster/images/canton-mediator/Dockerfile
  cluster/images/canton-participant/Dockerfile
  cluster/images/canton-sequencer/Dockerfile
Due: none

Bump version and latest release (#5323)
  LATEST_RELEASE
  VERSION
  docs/src/release_notes_upcoming.rst
Due: copyright

[ci] Refactor more behaviour into ActivityIngestionMetaCheck
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V066__app_activity_record_meta.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictIngestionService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ActivityIngestionMetaCheck.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

self-review
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/TransferInputStoreTest.scala
  apps/package-lock.json
  build.sbt
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardComputation.daml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/AmuletEventLog.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  docs/src/release_notes_upcoming.rst
  token-standard/V2_VALIDATION.md
  token-standard/examples/splice-test-token-v2/daml/Splice/Testing/Tokens/TestTokenV2.daml
  token-standard/splice-api-token-transfer-events-v2/daml/Splice/Api/Token/TransferEventsV2.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Allocations.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Conversions.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Events.daml
Due: copyright, dars_lock, no_illegal_daml_references

[ci] add grpc_health_probe
  cluster/compose/localnet/compose.yaml
  cluster/compose/localnet/docker/canton/health-check.sh
  cluster/images/canton-mediator/Dockerfile
  cluster/images/canton-participant/Dockerfile
  cluster/images/canton-sequencer/Dockerfile
  cluster/images/canton/Dockerfile
Due: copyright, pulumi_tests

[ci] add grpc_health_probe
  cluster/compose/localnet/docker/canton/Dockerfile
Due: none

[ci] add grpc_health_probe
  cluster/images/canton-domain/Dockerfile
Due: none

update validation doc
  token-standard/V2_VALIDATION.md
Due: none

withdraw amulet allocation
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/WalletAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/api/client/commands/HttpWalletAppClient.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
Due: copyright

test amulet reward tx history
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardComputation.daml
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
  daml/splice-amulet/daml/Splice/Amulet/TokenApiUtils.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Address review feedback on v1 holdings summary
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

add msw to devDependencies [ci]
  apps/common/frontend-test-handlers/package.json
  apps/package-lock.json
  apps/scan/frontend/package.json
  apps/splitwell/frontend/package.json
  apps/sv/frontend/package.json
  apps/wallet/frontend/package.json
Due: none

update canton to 04-29
  nix/canton-sources.json
Due: none

remove svs.default (#5316)
  cluster/configs/shared/base.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/pulumi/common-sv/src/singleSvConfig.ts
Due: typescriptfmt, pulumi_tests

more tx history v2 tests for amulet
  daml/splice-amulet-test/daml/Splice/Scripts/TestAmuletRulesTransfer.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestExternalParty.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestLockAndAmuletExpiry.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestLockedAmulet.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardComputation.daml
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

make event logging mandatory for transfers
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

simplify read alert rules
  cluster/pulumi/observability/grafana-alerting/store_read_performance_alerts.yaml
Due: pulumi_tests

format
  cluster/pulumi/observability/grafana-alerting/store_ingestion_performance_alerts.yaml
  cluster/pulumi/observability/grafana-alerting/store_read_performance_alerts.yaml
Due: pulumi_tests

add read performance alerts
  cluster/pulumi/observability/grafana-alerting/store_read_performance_alerts.yaml
Due: pulumi_tests

simplify alert rules
  cluster/pulumi/observability/grafana-alerting/store_ingestion_performance_alerts.yaml
Due: pulumi_tests

fix message
  cluster/pulumi/observability/grafana-alerting/store_ingestion_performance_alerts.yaml
Due: pulumi_tests

load alerts
  cluster/pulumi/observability/src/observability.ts
Due: typescriptfmt, pulumi_tests

add gh issue creation
  .github/perf-thresholds.yaml
  .github/workflows/performance_tests.yml
  scripts/performance/check_perf_thresholds.py
Due: copyright, gha_lint

add grafana alerts for store ingestion
  cluster/pulumi/observability/grafana-alerting/store_ingestion_alerts.yaml
Due: pulumi_tests

lower the threshold to create a test gh issue
  .github/perf-thresholds.yaml
Due: gha_lint

fix lnav download on mac (#5269)
  nix/lnav.nix
Due: none

reject allocation request
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/WalletAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/api/client/commands/HttpWalletAppClient.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
Due: copyright

temp update for testing
  .github/perf-thresholds.yaml
  .github/workflows/performance_tests.yml
Due: gha_lint

temp disable event name
  .github/workflows/performance_tests.yml
Due: gha_lint

update splice/canton
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

install pyyaml
  .github/workflows/performance_tests.yml
Due: gha_lint

remove epoch length from config
  cluster/configs/shared/scratchnet.yaml
Due: pulumi_tests

reject
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ValidatorAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpTokenStandardScanProxyHandler.scala
Due: copyright

better TODO
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpTokenStandardScanProxyHandler.scala
Due: copyright

the right todo issue and [ci]
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpTokenStandardScanProxyHandler.scala
Due: copyright

use json
  .github/perf-thresholds.json
  .github/workflows/performance_tests.yml
  scripts/performance/check_perf_thresholds.py
Due: copyright, gha_lint

[ci] remove migration ID from bulk storage s3 folders
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanStorageConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/SingleAcsSnapshotBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistorySegmentBulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
