Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

.
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SynchronizerNodeReconciler.scala
Due: copyright

[static] cleanup
  cluster/pulumi/common-sv/src/bulkStorage.ts
Due: typescriptfmt, pulumi_tests

split rate limits to included files [skip ci]
  cluster/deployment/config.yaml
  cluster/deployment/rate-limits/public-banned.yaml
  cluster/deployment/rate-limits/unlimited.yaml
  cluster/deployment/rate-limits/v0-acs.yaml
Due: pulumi_tests

comment on parseScanYamlEndpoints [ci]
  cluster/pulumi/common/src/config/scanEndpoints.ts
Due: typescriptfmt, pulumi_tests

check throttling endpoint coverage against scan.yaml (#4001)
  cluster/deployment/config.yaml
  cluster/deployment/rate-limits/public-banned.yaml
  cluster/deployment/rate-limits/unlimited.yaml
  cluster/deployment/rate-limits/v0-acs.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/common/src/config/scanEndpoints.ts
  cluster/pulumi/common/src/ratelimit/envoyRateLimiter.ts
  cluster/pulumi/common/src/ratelimit/rateLimitSchema.ts
  cluster/pulumi/infra/package.json
  cluster/pulumi/infra/src/cloudArmor.ts
  cluster/pulumi/infra/src/index.ts
  cluster/pulumi/package-lock.json
Due: typescriptfmt, pulumi_tests

Add sequencer_traffic_store.sql and its DB...Store class
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Add a copy of the sequencer_inspection_service proto
  apps/scan/src/main/protobuf/sequencer_inspection_service.proto
Due: none

Add a client for SequencerInspectionService
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/sequencer/SequencerTrafficClient.scala
Due: copyright

Add ingestion of traffic summaries to the scan event ingestion
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
Due: copyright

Save the verdicts and traffic summaries in a DB transaction
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
Due: copyright

Store the correlated view-ids rather than the view-hashes
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Use HexString instead of toStringUtf8 for viewHashes
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

Track the most recent version of sequencer_inspection_service
  apps/scan/src/main/protobuf/sequencer_inspection_service.proto
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/sequencer/SequencerTrafficClient.scala
Due: copyright

Add a TODO about ensuring the SQL tx boundaries are set ok
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

Remove listTrafficSummaries and make maxSequencingTime test-only
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Add TODO(#4060) fetched traffic summaries should not be empty
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

Extract fromProto into DbSequencerTrafficStore
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
Due: copyright

Use shorter key names when saving JSONB
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
Due: copyright

Patch the most recent (unpublished) version of mediator_inspection_service
  canton/community/synchronizer/src/main/protobuf/com/digitalasset/canton/mediator/admin/v30/mediator_inspection_service.proto
Due: none

Add the TODO(#2856) link that was inadvertently removed
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

Convert the unique index into the primary key, dropping record_id
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Extract buildViewHashCorrelation into DbScanVerdictStore
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Extract fromProto into the DbScanVerdictStore companion
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Extract fromProtoCorrelation into the DbSequencerTrafficSummaryStore companion
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
Due: copyright

Add a no-op app activity computation to ScanVerdictStoreIngestion
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/AppActivityComputation.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

Remove the JSONB column default value
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
Due: none

Add app_activity_record_store.sql and its DB...Store class
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Don't use a distinct history ID for summary transfer ingestion
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Remove redundant advanceLastIngestedSequencingTime et al
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
Due: copyright

Remove the now unused synchronizerId value from some constructors
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Throw an exception if timestamp parsing fails
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Move AppActivityComputation to a distinct package
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/AppActivityComputation.scala
Due: copyright

Improve the TODO comment
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

Store the parties and weights as arrays rather than JSONB
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Remove duplicate detection from DbSequencerTrafficStore
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Use the DbXXXStore for TrafficSummaries/AppActivityRecords in ScanEvent
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Remove the WIP sequencer_inspection_service.proto
  apps/scan/src/main/protobuf/sequencer_inspection_service.proto
Due: none

Update the migration that adds traffic summary and app activity records
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
Due: none

Remove unnecessary fields from the AppActivityRecord table
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Represent TrafficSummary data as columns in scan_verdict_store
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/AppActivityComputation.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
