Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

Fix delete
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/AcsSnapshotStoreTest.scala
Due: copyright

Fix test names
  test-full-class-names-non-integration.log
Due: none

Add config for new runner
  cluster/pulumi/gha/src/config.ts
  cluster/pulumi/gha/src/index.ts
  cluster/pulumi/gha/src/runners.test.ts
  cluster/pulumi/gha/src/runners.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.12] Read sequencer rate limits from private configs repo
  cluster/configs/configs-private/configs/TestNet/sequencer-rate-limits.json
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_tests

add simple logback overwrite for grpc logs [static]
  canton/community/app/src/main/resources/logback.xml
  scripts/canton-logback.xml
Due: none

[release-line-0.5.12] Read sequencer rate limits from private configs… (#4125)
  cluster/configs/configs-private/configs/TestNet/sequencer-rate-limits.json
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_tests

Verify correct loading of traffic_summaries are loaded from scan_verdict_store
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

set scratchb to INFO logs [static]
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetb/config.yaml
Due: pulumi_tests

Update Canton to 3.4.12-snapshot.20260225.17600.0.vcb53ca58
  nix/canton-sources.json
Due: none

create a new Pulumi project to enable separation of the participant for LSU
  cluster/expected/sv/expected.json
  cluster/pulumi/common/src/operator/config.ts
  cluster/pulumi/local.mk
  cluster/pulumi/package-lock.json
  cluster/pulumi/package.json
  cluster/pulumi/sv/.gitignore
  cluster/pulumi/sv/Pulumi.yaml
  cluster/pulumi/sv/README.md
  cluster/pulumi/sv/dump-config.ts
  cluster/pulumi/sv/local.mk
  cluster/pulumi/sv/package.json
  cluster/pulumi/sv/pulumi.ts
  cluster/pulumi/sv/pulumiDown.ts
  cluster/pulumi/sv/pulumiPreview.ts
  cluster/pulumi/sv/pulumiUp.ts
  cluster/pulumi/sv/runPulumiDown.ts
  cluster/pulumi/sv/src/index.ts
  cluster/pulumi/sv/src/installNode.ts
  cluster/pulumi/sv/tsconfig.json
Due: typescriptfmt, pulumi_tests

rename `down` to `not used` in health of a subscription dashboard [static]
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer-connection-pool.json
Due: none

Add getRecordByRecordTime and use it to validate AppActivityRecord insertion
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Update Canton to 3.4.12-snapshot.20260225.17600.0.vcb53ca58 (#4128)
  nix/canton-sources.json
Due: none

Remove useless code
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotBackfillingTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTriggerBase.scala
Due: copyright

Fix query
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
Due: copyright

refactoring
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
Due: copyright

Rename items in the sql and related Db classes
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

[release-line-0.5.11] Read sequencer rate limits from private configs repo
  cluster/configs/configs-private/configs/TestNet/sequencer-rate-limits.json
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.10] Read sequencer rate limits from private configs repo
  cluster/configs/configs-private/configs/TestNet/sequencer-rate-limits.json
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.11] Read sequencer rate limits from private configs… (#4131)
  cluster/configs/configs-private/configs/TestNet/sequencer-rate-limits.json
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_tests

refactoring
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
Due: copyright

Retry various API calls in preflights
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvPreflightIntegrationTestBase.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvSequencerInfoPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
Due: copyright

Make gha pvc size configurable and bump default to 20Gi
  cluster/pulumi/gha/src/config.ts
  cluster/pulumi/gha/src/runners.ts
Due: typescriptfmt, pulumi_tests

`cncluster wait` a bit longer
  build-tools/cncluster
Due: none

create a new Pulumi project to enable separation of the participant for LSU (#4129)
  cluster/expected/sv/expected.json
  cluster/pulumi/common/src/operator/config.ts
  cluster/pulumi/local.mk
  cluster/pulumi/package-lock.json
  cluster/pulumi/package.json
  cluster/pulumi/sv/.gitignore
  cluster/pulumi/sv/Pulumi.yaml
  cluster/pulumi/sv/README.md
  cluster/pulumi/sv/dump-config.ts
  cluster/pulumi/sv/local.mk
  cluster/pulumi/sv/package.json
  cluster/pulumi/sv/pulumi.ts
  cluster/pulumi/sv/pulumiDown.ts
  cluster/pulumi/sv/pulumiPreview.ts
  cluster/pulumi/sv/pulumiUp.ts
  cluster/pulumi/sv/runPulumiDown.ts
  cluster/pulumi/sv/src/index.ts
  cluster/pulumi/sv/src/installNode.ts
  cluster/pulumi/sv/tsconfig.json
Due: typescriptfmt, pulumi_tests

[release-line-0.5.10] Read sequencer rate limits from private configs… (#4130)
  cluster/configs/configs-private/configs/TestNet/sequencer-rate-limits.json
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_tests

Make gha pvc size configurable (#4133)
  cluster/pulumi/gha/src/config.ts
  cluster/pulumi/gha/src/runners.ts
Due: typescriptfmt, pulumi_tests

Retry various API calls in preflights (#4134)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvPreflightIntegrationTestBase.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvSequencerInfoPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
Due: copyright

overwrite logback files and fix log in scratch [static]
  canton/community/app/src/main/resources/logback.xml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetb/config.yaml
  cluster/images/canton-mediator/Dockerfile
  cluster/images/canton-mediator/local.mk
  cluster/images/canton-participant/Dockerfile
  cluster/images/canton-participant/local.mk
  cluster/images/canton-sequencer/Dockerfile
  cluster/images/canton-sequencer/local.mk
Due: pulumi_tests

[ci] set submission permission at the beginning
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/Thresholds.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sponsor/SponsorDsoPartyHosting.scala
Due: copyright

add physical synchronizers to the SV Daml state
  daml/splice-dso-governance/daml/Splice/DSO/DecentralizedSynchronizer.daml
Due: copyright, dars_lock, no_illegal_daml_references

async mediator processing
  docs/src/release_notes_upcoming.rst
Due: copyright

`cncluster wait` a bit longer (#4135)
  build-tools/cncluster
Due: none

fix [static]
  cluster/images/canton-participant/local.mk
  cluster/images/canton-sequencer/local.mk
  token-standard/package-lock.json
Due: none

complete daml changes
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestUtils.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestOnboarding.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestSynchronizerMigration.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestSynchronizerSequencerTracking.daml
  daml/splice-dso-governance/daml/Splice/DSO/DecentralizedSynchronizer.daml
Due: copyright, dars_lock, no_illegal_daml_references

[ci] crash safety
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvPublicHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sponsor/DsoPartyMigration.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
Due: copyright

use case class
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternalPartySetupProposalIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternallySignedPartyTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTxLogIntegrationTest.scala
Due: copyright

adapt code for daml changes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorSequencerConnectionIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/PublishScanConfigTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SynchronizerNodeConfigClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SynchronizerNodeReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/sv/cometbft/CometBftNodeTest.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconcilerSpec.scala
Due: copyright

Added updated option to AmuletTransferInstruction.daml
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet/daml/Splice/AmuletTransferInstruction.daml
  daml/splice-amulet/daml/Splice/ExternalPartyConfigState.daml
Due: copyright, dars_lock, no_illegal_daml_references

add missing license
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet/daml/Splice/ExternalPartyConfigState.daml
Due: copyright, dars_lock, no_illegal_daml_references

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
