Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

Add log ignore for "approximate topology snapshot"
  project/ignore-patterns/canton-standalone-global-synchronizer-upgrade.ignore.txt
Due: none

Add DB versions of Splice.Amulet.CryptoHash (#4662)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/CryptoHashEquivalenceIntegrationTest.scala
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V065__app_reward_hash_functions.sql
  daml/dars.lock
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet-test/daml/Splice/Testing/CryptoHashProxy.daml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-wallet-test/daml.yaml
  daml/splitwell-test/daml.yaml
  test-full-class-names.log
Due: copyright, dars_lock, no_illegal_daml_references

[static] release notes for 0.6.0
  build-tools/prep-release-notes.py
  docs/src/release_notes.rst
  docs/src/release_notes_upcoming.rst
Due: copyright

don't require local branch of release-line-X [skip ci]
  build-tools/prep-release-notes.py
Due: copyright

comment out Upcoming header when splitting release notes [static]
  build-tools/prep-release-notes.py
Due: copyright

Adding daml
  daml/dars/splice-dso-governance-0.1.25.dar
Due: none

package.json
  apps/package.json
Due: none

[static] support ephemeral storage requests&limits in gha runners
  cluster/pulumi/gha/src/runners.ts
Due: typescriptfmt, pulumi_tests

comment Upcoming header in script; don't require local release-line branch (#4850)
  build-tools/prep-release-notes.py
Due: copyright

[static] more
  cluster/pulumi/common/src/config/configSchema.ts
Due: typescriptfmt, pulumi_tests

support ephemeral storage requests&limits in gha runners (#4852)
  cluster/pulumi/common/src/config/configSchema.ts
  cluster/pulumi/gha/src/runners.ts
Due: typescriptfmt, pulumi_tests

[ci] deflake: filter metric by sync_id
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletMetricsTest.scala
Due: copyright

[ci] try deflaking SvMergeSvRewardStateIntegrationTest
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvMergeSvRewardStateIntegrationTest.scala
Due: copyright

[ci] first test
  .gitignore
  apps/app/src/test/resources/nuck-example-main-0.0.1.dar
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LocalNetFrontendIntegrationTest.scala
  build-tools/splice-localnet-compose.sh
  cluster/compose/localnet/compose.env
  cluster/compose/localnet/conf/canton/app.conf
  cluster/compose/localnet/conf/splice/sv/app.conf
  cluster/compose/localnet/env/splice.env
Due: copyright

[ci] Expand GetRewardAccountingActivityTotalsResponse
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanAppRewardsComputationTimeBasedIntegrationTest.scala
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V064__app_reward_accounting_tables.sql
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanAppRewardsStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbScanAppRewardsStoreTest.scala
Due: copyright

feat: CIP-0105 Phase 2 — locking declarations and delegated locking (capabilities #1 + #4)
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestLocking.daml
  daml/splice-dso-governance/daml/Splice/DSO/Locking.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

fix(dso-governance): remove unused getSvInfo binding in DsoRules_UpdateLockingDeclaration
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Disable LSU test
  .github/workflows/build.yml
Due: gha_lint

Disable LSU test (#4861)
  .github/workflows/build.yml
Due: gha_lint

Cleanup participant pruning config
  cluster/configs/shared/base.yaml
  cluster/configs/shared/participant_pruning.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/splitwell/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/package-lock.json
  docs/src/sv_operator/sv_pruning.rst
Due: copyright, pulumi_tests

Use append in mock config
  cluster/deployment/mock/config.yaml
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv/expected.json
Due: pulumi_tests

Cleanup participant pruning config (#4863)
  cluster/configs/shared/base.yaml
  cluster/configs/shared/participant_pruning.yaml
  cluster/deployment/mock/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/package-lock.json
  docs/src/sv_operator/sv_pruning.rst
Due: copyright, pulumi_tests

Switch ts v2 devent comms from Slack to CN forum [static] (#4820)
  token-standard/TOKEN_STANDARD_V2_DEVNET.md
Due: none

[static] hide internal secret preview
  cluster/expected/canton-network/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/common/src/backup.ts
  cluster/pulumi/common/src/buckets.ts
  cluster/pulumi/package-lock.json
Due: typescriptfmt, pulumi_tests

init [static]
  cluster/expected/canton-network/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/common/src/backup.ts
  cluster/pulumi/common/src/buckets.ts
Due: typescriptfmt, pulumi_tests

merge conflict reso
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

conflict reso
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

conflict reso
  docs/src/release_notes_upcoming.rst
Due: copyright

add release note
  docs/src/release_notes_upcoming.rst
Due: copyright

Upgrade Canton to 3.5.0-snapshot.20260407.18556.0.va2bdc7be
  .github/workflows/build.yml
  nix/canton-sources.json
Due: gha_lint

Enable lsu tests only for governance >0.1.24
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuIntegrationTest.scala
  apps/common/src/test/java/org/lfdecentralizedtrust/splice/util/scalatesttags/SpliceDsoGovernance_0_1_24.java
Due: copyright

fix gha config
  .github/workflows/build.yml
Due: gha_lint

merge conflict reso
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
