Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

[ci] fix config
  apps/app/src/test/resources/performance/tests.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/UpdateHistoryIngestionPerformanceTest.scala
Due: copyright

Revert "remove noisy logs"
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

Fix tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliTestDataTimeBasedIntegrationTest.scala
  token-standard/cli/__tests__/mocks/data/eventsByContractIdResponses.json
  token-standard/cli/__tests__/mocks/data/holdings.json
  token-standard/cli/__tests__/mocks/data/transfer-instructions.json
  token-standard/cli/__tests__/mocks/data/txs.json
Due: copyright

hack
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

cip-82: improve test by checking that the smallest coupons are merge
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
Due: copyright

[dnm] txlog vs acs timings
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

more test fixes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvExpiredRewardsCollectionTimeBasedIntegrationTest.scala
Due: copyright

Added more conditions for GC-Reaper-Job pod selection (#3523)
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

[ci] these logs shouldn't need to be ignored anymore i guess
  project/ignore-patterns/canton_log.ignore.txt
Due: none

[static] Add sanity check on perftest startup
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/StoreIngestionPerformanceTest.scala
Due: copyright

Add UpdateHistory performance test (#3541)
  apps/app/src/test/resources/performance/tests.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/TestRunner.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/ScanStoreIngestionPerformanceTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/StoreIngestionPerformanceTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/SvDsoStoreIngestionPerformanceTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/UpdateHistoryIngestionPerformanceTest.scala
Due: copyright

Minor comment fixes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorSequencerConnectionIntegrationTest.scala
Due: copyright

COmment edits
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
Due: copyright

Reverted to correct amplification factor
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
Due: copyright

Added comment
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
Due: copyright

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

fix another test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTxLogTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTxLogWithRewardsCollectionTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletTestUtil.scala
Due: copyright

.
  apps/app/src/test/resources/include/mediators.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

CIP-82 (Scala): Add MergeUnclaimedDevelopmentFundCouponsTrigger (#3522)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DisabledWalletTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanWithGradualStartsTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvTimeBasedRewardCouponIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceUtil.scala
  apps/common/src/test/java/org/lfdecentralizedtrust/splice/util/scalatesttags/SpliceDsoGovernance_0_1_21.java
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/DsoDelegateBasedAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/MergeUnclaimedDevelopmentFundCouponsTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  scripts/scan-txlog/scan_txlog.py
  test-full-class-names.log
Due: copyright

[ci] unit test
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/AcsSnapshotStoreTest.scala
Due: copyright

Bump canton to 3.4.11-snapshot.20260114.17499.0.v227d6c45
  nix/canton-sources.json
Due: none

add destination rules for sequencer high performance gRPC
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

[ci] comment
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/UnclaimedActivityRecordIntegrationTest.scala
Due: copyright

revert url prefill [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/sv/frontend/src/__tests__/governance/forms/create-unallocated-unclaimed-activity-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/grant-revoke-featured-app-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/offboard-sv-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-dso-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/components/forms/CreateUnallocatedUnclaimedActivityRecordForm.tsx
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/forms/OffboardSvForm.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
Due: copyright, typescriptfmt

Bump canton to 3.4.11-snapshot.20260114.17499.0.v227d6c45 (#3547)
  nix/canton-sources.json
Due: none

Apply suggestions from code review
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  daml/splice-amulet/daml/Splice/ExternalPartyConfigState.daml
  docs/src/release_notes.rst
Due: copyright, dars_lock, no_illegal_daml_references

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/StandaloneCanton.scala
Due: copyright

Update daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

add destination rules for sequencer high performance gRPC (#3548)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

Revert url prefill (#3550)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/sv/frontend/src/__tests__/governance/forms/create-unallocated-unclaimed-activity-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/grant-revoke-featured-app-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/offboard-sv-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-dso-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/components/forms/CreateUnallocatedUnclaimedActivityRecordForm.tsx
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/forms/OffboardSvForm.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
Due: copyright, typescriptfmt

disable log last erros in the entrypoint (#3540)
  cluster/images/common/entrypoint.sh
Due: copyright

[ci] adapt bulk storage to fixed ACS semantics
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistorySegmentBulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/UpdateHistoryBulkStorageTest.scala
Due: copyright

Support configurable threshold for trusted sequencers (#3512)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorSequencerConnectionIntegrationTest.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
Due: copyright

[ci] passes
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/UpdateHistoryBulkStorageTest.scala
Due: copyright
