Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

[static] title rename
  cluster/pulumi/infra/grafana-dashboards/splice-stores/store-ingestion.json
Due: none

[static] update expected
  cluster/expected/infra/expected.json
Due: none

Add dashboards and alert for new ingestion metrics (#3174)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/automation_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/splice-stores/acs-size.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/history-backfilling.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/store-ingestion.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/update-history-ingestion.json
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

fixes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorProxyIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSurviveCantonRestartIntegrationTest.scala
Due: copyright

self-review
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorProxyIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSurviveCantonRestartIntegrationTest.scala
Due: copyright

Move new keys to the end of the list of keys
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/TopologyAdminConnection.scala
Due: copyright

scalafmt (!)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorProxyIntegrationTest.scala
Due: copyright

Backport: Add dashboards and alert for new ingestion metrics (#3184)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/automation_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/splice-stores/acs-size.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/history-backfilling.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/store-ingestion.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/update-history-ingestion.json
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

Fix `get-snapshot-version` on `release-line-x.y` branches (#3167)
  build-tools/get-release-if-on-release-branch.sh
Due: copyright

Avoid using the same database in tests that start a local validator participant (#3177)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/resources/include/self-hosted-sv-participant-postgres-storage.conf
  apps/app/src/test/resources/include/self-hosted-validator-disable-json-api.conf
  apps/app/src/test/resources/include/self-hosted-validator-participant-postgres-storage.conf
  apps/app/src/test/resources/include/validator-participant.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorProxyIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSurviveCantonRestartIntegrationTest.scala
  start-canton.sh
Due: copyright

Add dashboard for new sequencer connection pool
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer-connection-pool.json
Due: none

Addressed comments
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorConfigProvider.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStore.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/db/DbValidatorInternalStore.scala
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/store/ValidatorInternalStoreTest.scala
Due: copyright

Move new keys to the end of the list of keys (#3183)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/TopologyAdminConnection.scala
Due: copyright

[static] init
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/PeriodicTopologySnapshotConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/TopologySnapshotConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/GcpBucket.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/TopologySnapshot.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/PeriodicTopologySnapshotTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvSvAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/NodeInitializerUtil.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
Due: copyright

Fix check for migratingFromActiveId
  cluster/pulumi/multi-validator/src/multiValidator.ts
Due: typescriptfmt, pulumi_config

Fix check for migratingFromActiveId (#3187)
  cluster/pulumi/multi-validator/src/multiValidator.ts
Due: typescriptfmt, pulumi_config

Add dashboard for new sequencer connection pool (#3186)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer-connection-pool.json
Due: none

wip
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/UpdatesColdStorageTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/s3/UpdatesColdStorageStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/automation/UpdatesColdStorageTest.scala
  build.sbt
  nix/shell.nix
  project/Dependencies.scala
Due: copyright

fix table row routing [ci]
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
Due: copyright, typescriptfmt

Fix default mediator amplification to avoid reconnect
  scripts/bootstrap/bootstrap-canton-with-unsigned-keys.sc
Due: none

Fix default mediator amplification to avoid reconnect (#3189)
  scripts/bootstrap/bootstrap-canton-with-unsigned-keys.sc
Due: none

Update daml/splice-amulet/daml/Splice/Issuance.daml
  daml/splice-amulet/daml/Splice/Issuance.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update daml/splice-dso-governance/daml/Splice/DsoRules.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Addressed comments
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorConfigProvider.scala
Due: copyright

cip-82: fix daml build
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestDecentralizedAutomation.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

cip-82: remove unneeded comment
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry/Parameters.daml
Due: copyright, dars_lock, no_illegal_daml_references

Ignore enqueue after time shutdown warning
  project/ignore-patterns/canton_log.ignore.txt
Due: none

[ci] Test Canton topology snapshot caching improvements v3 in Splice CI
  nix/canton-sources.json
Due: none

[ci] fix enterprise canton nix hash
  nix/canton-sources.json
Due: none

Validator support local database operations
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V050__create_scan_config.sql
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorConfigProvider.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStore.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/db/DbValidatorInternalStore.scala
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/store/ValidatorInternalStoreTest.scala
  test-full-class-names-non-integration.log
Due: copyright

Try bumping eventually very long
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RecordTimeToleranceTimeBasedIntegrationTest.scala
  project/ignore-patterns/canton_log_simtime_extra.ignore.txt
Due: copyright

Enable sequencer connection pools in integration tests by default
  apps/app/src/test/resources/include/mediators.conf
  apps/app/src/test/resources/include/participants.conf
  apps/app/src/test/resources/include/sequencers.conf
  apps/app/src/test/resources/include/svs/_sv.conf
  apps/app/src/test/resources/include/validators/_validator.conf
  apps/app/src/test/resources/local-sv-node/canton-participant/canton.conf
  apps/app/src/test/resources/local-validator-node/canton-participant/canton.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSurviveCantonRestartIntegrationTest.scala
  cluster/images/canton-participant/app.conf
Due: copyright

Add simtime log ignore
  project/ignore-patterns/canton_log_simtime_extra.ignore.txt
Due: none

Ignore enqueue after time shutdown warning (#3196)
  project/ignore-patterns/canton_log.ignore.txt
Due: none

Added apply() to ValidatorInternalStore
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStore.scala
Due: copyright

Refined ValidatorInternal Store API
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStore.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/db/DbValidatorInternalStore.scala
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/store/ValidatorInternalStoreTest.scala
Due: copyright

Minor changes in DbInternalStore class
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStore.scala
Due: copyright
