Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

[ci] Fix simtime test flake
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

ignore reassignment test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SplitwellUpgradeFrontendIntegrationTest.scala
Due: copyright

Fix NoDataState for contention alerts (#2387)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/automation_alerts.yaml
Due: none

remove getTime
  daml/splice-amulet-name-service-test/daml/Splice/Scripts/TestAmuletConversionRateFeed.daml
  daml/splice-amulet-name-service/daml/Splice/Ans/AmuletConversionRateFeed.daml
Due: copyright, dars_lock, no_illegal_daml_references

Bump versions in ui config
  apps/package-lock.json
  apps/package.json
  daml/splice-amulet-name-service-test/daml/Splice/Scripts/TestAmuletConversionRateFeed.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update daml/splice-amulet-name-service/daml/Splice/Ans/AmuletConversionRateFeed.daml
  daml/splice-amulet-name-service/daml/Splice/Ans/AmuletConversionRateFeed.daml
Due: copyright, dars_lock, no_illegal_daml_references

fix choice result types
  daml/dars.lock
  daml/splice-amulet-name-service-test/daml/Splice/Scripts/TestAmuletConversionRateFeed.daml
  daml/splice-amulet-name-service/daml/Splice/Ans/AmuletConversionRateFeed.daml
Due: copyright, dars_lock, no_illegal_daml_references

review comments
  daml/splice-amulet-name-service-test/daml/Splice/Scripts/TestAmuletConversionRateFeed.daml
  daml/splice-amulet-name-service/daml/Splice/Ans/AmuletConversionRateFeed.daml
Due: copyright, dars_lock, no_illegal_daml_references

Apply suggestions from code review
  daml/splice-amulet-name-service-test/daml/Splice/Scripts/TestAmuletConversionRateFeed.daml
  daml/splice-amulet-name-service/daml/Splice/Ans/AmuletConversionRateFeed.daml
Due: copyright, dars_lock, no_illegal_daml_references

Bump dar versions
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  daml/dars.lock
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

comment
  daml/splice-amulet-name-service/daml/Splice/Ans/AmuletConversionRateFeed.daml
Due: copyright, dars_lock, no_illegal_daml_references

Remove dead code
  daml/splice-amulet-name-service/daml/Splice/Ans/AmuletConversionRateFeed.daml
Due: copyright, dars_lock, no_illegal_daml_references

fix pkg lock
  apps/package-lock.json
Due: none

Add Daml model sketch for amulet conversion rate feeds
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-name-service-test/daml/Splice/Scripts/TestAmuletConversionRateFeed.daml
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet-name-service/daml/Splice/Ans/AmuletConversionRateFeed.daml
Due: copyright, dars_lock, no_illegal_daml_references

check in dars
  daml/dars/splice-amulet-name-service-0.1.15.dar
  daml/dars/splice-dso-governance-0.1.20.dar
Due: none

Add release notes
  docs/src/release_notes.rst
Due: copyright

Add Daml models for amulet conversion rate feeds (#1980)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/package-lock.json
  apps/package.json
  daml/dars.lock
  daml/dars/splice-amulet-name-service-0.1.15.dar
  daml/dars/splice-dso-governance-0.1.20.dar
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-name-service-test/daml/Splice/Scripts/TestAmuletConversionRateFeed.daml
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet-name-service/daml/Splice/Ans/AmuletConversionRateFeed.daml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance/daml.yaml
  docs/src/release_notes.rst
Due: copyright, dars_lock, no_illegal_daml_references

Update Scan Holding text to depend on feature-support (#2383)
  apps/common/src/main/openapi/common-internal.yaml
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/http/HttpFeatureSupportHandler.scala
  apps/scan/frontend/src/__tests__/mocks/handlers/scan-api.ts
  apps/scan/frontend/src/components/NetworkInfo.tsx
  apps/scan/frontend/src/hooks/useFeatureSupport.ts
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/sv/frontend/src/__tests__/mocks/handlers/sv-api.ts
  apps/sv/frontend/src/contexts/SvContext.tsx
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
Due: copyright, typescriptfmt

Fix release notes description
  docs/src/release_notes.rst
Due: copyright

Fix release notes description (#2392)
  docs/src/release_notes.rst
Due: copyright

[ci] Ensure token-standard-cli is npm-installed before running tests
  build.sbt
Due: none

bump client-node version in pulumi (#2384)
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/common/package.json
  cluster/pulumi/gcp/package.json
  cluster/pulumi/package-lock.json
Due: none

[ci] Fix NoDataState for contention alerts (#2387)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/automation_alerts.yaml
Due: none

[ci] init
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/automation_alerts.yaml
Due: none

[ci] docs
  cluster/images/docs/Dockerfile
Due: none

[ci] Added index for round_party_totals concurrently in SqlIndexInitializationTrigger
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTrigger.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
Due: copyright

[static] Add release note.
  docs/src/release_notes.rst
Due: copyright

BQ: add up_to_date column to all_data view (#2351)
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

bump scalatest version (#2386)
  project/CantonDependencies.scala
  project/Dependencies.scala
Due: copyright

[ci] Fix NoDataState for contention alerts (#2387) (#2397)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/automation_alerts.yaml
Due: none

[ci] Fix NoDataState for contention alerts (#2387) (#2395)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/automation_alerts.yaml
Due: none

[ci] Added index for round_party_totals concurrently in SqlIndexIniti… (#2393)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTrigger.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
  docs/src/release_notes.rst
Due: copyright

Ensure token-standard-cli is npm-installed before running tests (#2394)
  build.sbt
Due: none

Change SV UI to set empty list of transfer fee steps
  apps/sv/frontend/src/components/votes/actions/SetAmuletRulesConfig.tsx
Due: copyright, typescriptfmt
