Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

why?
  cluster/pulumi/package-lock.json
  cluster/pulumi/policies/package.json
Due: none

bump pulumi gcp resources
  cluster/pulumi/common/package.json
  cluster/pulumi/infra/package.json
  cluster/pulumi/package-lock.json
  nix/extra-pulumi-packages.nix
  nix/generate_pulumi_packages.sh
Due: copyright

Reapply "Add support to upgrade node pools in place (#3610)" (#3614)
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_config

remove broken name prefix
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_config

[ci] Option[X] doesn't imply that something is actually optional...........
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ledger/api/LedgerClient.scala
Due: copyright

apparently this is not allowed
  cluster/pulumi/gha/src/performanceTests.ts
Due: typescriptfmt, pulumi_config

.
  cluster/pulumi/canton-network/src/bigQuery.ts
Due: typescriptfmt, pulumi_config

[ci] cleanup, works
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  canton/community/base/src/main/scala/com/digitalasset/canton/util/PekkoUtil.scala
Due: copyright

Update comment on GH PAT for runners (#2926)
  cluster/pulumi/gha/src/runners.ts
Due: typescriptfmt, pulumi_config

[ci] cleanups and docs
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/SingleAcsSnapshotBulkStorage.scala
Due: copyright

[ci] test config
  test-full-class-names-local-net-based.log
Due: none

Revert "Upgrade Canton to 3.4.11-snapshot.20260120.17520.0.v3989f474 (#3612)"
  nix/canton-sources.json
Due: none

Revert "Upgrade Canton to 3.4.11-snapshot.20260120.17520.0.v3989f474 (#3612)" (#3618)
  nix/canton-sources.json
Due: none

go back to regional, qualify the address name [skip ci]
  cluster/pulumi/infra/src/gcpLoadBalancer.ts
Due: typescriptfmt, pulumi_config

Use GetContract as fallback for token standard context endpoints on Scan (#3595)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardFetchFallbackIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardTransferIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/TriggerTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/AutomationService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/UpdateIngestionService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceParametersConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ledger/api/LedgerClient.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/ChoiceContextContractFetcher.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardAllocationHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardTransferInstructionHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/util/ChoiceContextBuilder.scala
  canton/community/ledger-api/src/main/protobuf/com/daml/ledger/api/v2/contract_service.proto
  test-full-class-names.log
Due: copyright

use plain securityPolicy name with assertion; works [skip ci]
  cluster/pulumi/infra/src/gcpLoadBalancer.ts
Due: typescriptfmt, pulumi_config

Bump canton to 3.4.11-snapshot.20260120.17521.0.vf11c8b1e
  nix/canton-sources.json
Due: none

Renamed to svNames
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ConfigurationProvidedBftScanConnectionIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  cluster/deployment/mock/config.yaml
  cluster/expected/validator-runbook/expected.json
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/helm/splice-validator/tests/validator_test.yaml
  cluster/helm/splice-validator/values.schema.json
  cluster/pulumi/common-validator/src/config.ts
  cluster/stacks/scratchnets/validator-runbook/Pulumi.sv-runbook-upgrade.scratcha.yaml
Due: copyright, typescriptfmt, pulumi_config

Removed cluster/stacks/scratchnets/validator-runbook/Pulumi.sv-runbook-upgrade.scratcha.yaml
  cluster/stacks/scratchnets/validator-runbook/Pulumi.sv-runbook-upgrade.scratcha.yaml
Due: none

Bump canton to 3.4.11-snapshot.20260120.17521.0.vf11c8b1e (#3619)
  nix/canton-sources.json
Due: none

[ci] refactor: extract KeyValueStore to common
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/KeyValueStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbValidatorInternalStore.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorConfigProvider.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStore.scala
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStoreTest.scala
Due: copyright

[ci] fmt
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbValidatorInternalStore.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorConfigProvider.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStore.scala
Due: copyright

[ci] refactor the test
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/KeyValueStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbKeyValueStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/KeyValueStoreTest.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStore.scala
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorConfigProviderTest.scala
Due: copyright

go back to unqualified IP address name [skip ci]
  cluster/pulumi/infra/src/gcpLoadBalancer.ts
Due: typescriptfmt, pulumi_config

[ci] rename the table
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V053__rename_key_value_table.sql
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/KeyValueStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbKeyValueStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/KeyValueStoreTest.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStore.scala
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorConfigProviderTest.scala
Due: copyright

[ci] copyright
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/KeyValueStoreTest.scala
Due: copyright

[ci] cleanup
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbKeyValueStore.scala
Due: copyright

new security policy problem [skip ci]
  cluster/pulumi/infra/src/gcpLoadBalancer.ts
Due: typescriptfmt, pulumi_config

[ci] testConfig
  test-full-class-names-non-integration.log
Due: none

[ci] fix cleanup
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
Due: copyright

Tweak ACS commitment dashboard
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/acs-commitment-performance.json
Due: none

remove static name for nodepools and upgrade pulumi gcp plugin (#3616)
  cluster/expected/cluster/expected.json
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/cluster/src/nodePools.ts
  cluster/pulumi/common/package.json
  cluster/pulumi/infra/package.json
  cluster/pulumi/package-lock.json
  cluster/pulumi/policies/package.json
  nix/extra-pulumi-packages.nix
  nix/generate_pulumi_packages.sh
Due: copyright, typescriptfmt, pulumi_config

Tweak ACS commitment dashboard (#3624)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/acs-commitment-performance.json
Due: none

Bump nixpkg and pulumi
  cluster/expected/deployment/expected.json
  cluster/expected/infra/expected.json
  cluster/expected/operator/expected.json
  cluster/expected/splitwell/expected.json
  cluster/pulumi/common/package.json
  cluster/pulumi/common/src/operator/stack.ts
  cluster/pulumi/infra/package.json
  cluster/pulumi/package-lock.json
  cluster/pulumi/policies/package.json
  nix/flake.lock
  nix/generate_pulumi_packages.sh
  nix/shell.nix
Due: copyright, typescriptfmt, pulumi_config

Renamed Validator ScanClient trustedSvs to svNames (#3620)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ConfigurationProvidedBftScanConnectionIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  cluster/deployment/mock/config.yaml
  cluster/expected/validator-runbook/expected.json
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/helm/splice-validator/tests/validator_test.yaml
  cluster/helm/splice-validator/values.schema.json
  cluster/pulumi/common-validator/src/config.ts
Due: copyright, typescriptfmt, pulumi_config

Revert changes to pulumi nix plugins
  nix/extra-pulumi-packages.nix
  nix/generate_pulumi_packages.sh
Due: copyright

Revert changes to pulumi nix plugins (#3628)
  nix/extra-pulumi-packages.nix
  nix/generate_pulumi_packages.sh
Due: copyright

Add a participant pruning dashboard
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/participant-pruning.json
Due: none

Remove remaining references to internal_stack
  build-tools/cncluster
  cluster/scripts/find-recent-backup.sh
  cluster/scripts/node-backup.sh
Due: copyright
