Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

[static] init
  cluster/pulumi/common/src/auth0/secrets.ts
Due: typescriptfmt, pulumi_config

Fix auth0 secret ui aliases (#2917)
  cluster/pulumi/common/src/auth0/secrets.ts
Due: typescriptfmt, pulumi_config

Make ScanVerdictStoreIngestion wait for UpdateHistory to be ready
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

[static] bump resources for sequencer/mediator/participant/scan/sv app
  cluster/helm/splice-cometbft/values-template.yaml
  cluster/helm/splice-global-domain/values-template.yaml
  cluster/helm/splice-participant/values-template.yaml
  cluster/helm/splice-scan/values-template.yaml
  cluster/helm/splice-sv-node/values-template.yaml
Due: none

[ci] bump canton to 3.4.0-snapshot.20251028.17279.0.vc3d3b309
  nix/canton-sources.json
Due: none

[static] bump resources for sequencer/mediator/participant/scan/sv app (#2919)
  cluster/helm/splice-cometbft/values-template.yaml
  cluster/helm/splice-global-domain/values-template.yaml
  cluster/helm/splice-participant/values-template.yaml
  cluster/helm/splice-scan/values-template.yaml
  cluster/helm/splice-sv-node/values-template.yaml
Due: none

[ci] remove server prefix
  apps/app/src/test/resources/include/validator-participant.conf
  apps/app/src/test/resources/simple-topology-canton-simtime.conf
  apps/app/src/test/resources/simple-topology-canton.conf
  apps/app/src/test/resources/unavailable-validator-topology-canton.conf
  cluster/compose/localnet/conf/canton/app-provider/app.conf
  cluster/compose/localnet/conf/canton/app-user/app.conf
  cluster/compose/localnet/conf/canton/app.conf
  cluster/compose/localnet/conf/canton/sv/app.conf
  cluster/images/canton-participant/app.conf
  docs/src/faq.rst
Due: copyright

[ci] okay fine you win
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
Due: copyright

[ci] upgrade cometbft
  nix/cometbft-driver-sources.json
Due: none

[static] local cluster test worked now
  cluster/pulumi/canton-network/src/scheduleLoadGenerator.ts
  cluster/pulumi/common/src/auth0/audiences.ts
  cluster/pulumi/common/src/auth0/auth0.ts
  cluster/pulumi/common/src/auth0/auth0types.ts
  cluster/pulumi/common/src/auth0/secrets.ts
  cluster/pulumi/common/src/dump-config-common.ts
  cluster/pulumi/infra/src/auth0.ts
  cluster/pulumi/validator-runbook/dump-config.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[ci] stop having good lints
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
Due: copyright

[ci] .
  project/ignore-patterns/canton_log_simtime_extra.ignore.txt
Due: none

Backport: make SV status reports less noisy part I (#2907)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/notification_policies/README.md
  cluster/pulumi/infra/grafana-alerting/notification_policies/default_slack.yaml
  cluster/pulumi/infra/grafana-alerting/notification_policies/support_team_email.yaml
  cluster/pulumi/infra/grafana-alerting/sv-status-report_alerts.yaml
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

Made the connection initilization logic uniform
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ConfigurationProvidedBftScanConnectionIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
Due: copyright

Make ScanVerdictStoreIngestion wait for UpdateHistory to be ready (#2918)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Added clues
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ConfigurationProvidedBftScanConnectionIntegrationTest.scala
Due: copyright

Bump sequencer monitoring allowed cardinality (#2909)
  cluster/images/common/monitoring.conf
Due: none

Fix mediator disabled test in ScanEventHistoryIntegrationTest (#2840)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/UseToxiproxy.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
Due: copyright

[ci] fix another flake while I'm at it
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/EventHistorySanityCheckPlugin.scala
Due: copyright

0.4 backport: Bump sequencer monitoring allowed cardinality (#2909)
  cluster/images/common/monitoring.conf
Due: none

0.4 backport: Bump sequencer monitoring allowed cardinality (#2909) (#2923)
  cluster/images/common/monitoring.conf
Due: none

[static] auth0 refactoring (0.4 backport) (#2901)
  cluster/expected/canton-network/expected.json
  cluster/pulumi/canton-network/dump-config.ts
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/participant.ts
  cluster/pulumi/common-validator/src/participant.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/auth0/audiences.ts
  cluster/pulumi/common/src/auth0/auth0.ts
  cluster/pulumi/common/src/auth0/auth0types.ts
  cluster/pulumi/common/src/auth0/secrets.ts
  cluster/pulumi/common/src/dump-config-common.ts
  cluster/pulumi/common/src/index.ts
  cluster/pulumi/common/src/secrets.ts
  cluster/pulumi/splitwell/dump-config.ts
  cluster/pulumi/splitwell/src/splitwell.ts
  cluster/pulumi/sv-canton/dump-config.ts
  cluster/pulumi/sv-runbook/dump-config.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/sv-runbook/src/utils.ts
  cluster/pulumi/validator-runbook/dump-config.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
  cluster/pulumi/validator1/dump-config.ts
  cluster/pulumi/validator1/src/validator1.ts
Due: typescriptfmt, pulumi_config

Nits
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ConfigurationProvidedBftScanConnectionIntegrationTest.scala
Due: copyright

Update comment on GH PAT for runners
  cluster/pulumi/gha/src/runners.ts
Due: typescriptfmt, pulumi_config

[ci] new canton
  nix/canton-sources.json
Due: none

[static] secret aliases
  cluster/pulumi/common/src/auth0/secrets.ts
Due: typescriptfmt, pulumi_config

[ci] bump canton to 3.4.0-snapshot.20251028.17279.0.vc3d3b309 (#2920)
  apps/app/src/test/resources/include/validator-participant.conf
  apps/app/src/test/resources/simple-topology-canton-simtime.conf
  apps/app/src/test/resources/simple-topology-canton.conf
  apps/app/src/test/resources/unavailable-validator-topology-canton.conf
  cluster/compose/localnet/conf/canton/app-provider/app.conf
  cluster/compose/localnet/conf/canton/app-user/app.conf
  cluster/compose/localnet/conf/canton/app.conf
  cluster/compose/localnet/conf/canton/sv/app.conf
  cluster/images/canton-participant/app.conf
  docs/src/faq.rst
  nix/canton-sources.json
  nix/cometbft-driver-sources.json
  project/ignore-patterns/canton_log_simtime_extra.ignore.txt
Due: copyright

Added test to check the threshold not met condition
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ConfigurationProvidedBftScanConnectionIntegrationTest.scala
Due: copyright

[static] bwd compat
  cluster/pulumi/common/src/auth0/auth0.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[static] fix fixed-tokens cache
  cluster/pulumi/common/src/auth0/auth0.ts
  cluster/stacks/scratchnets/sv-canton/Pulumi.sv-canton.sv-da-1-migration-0.scratcha.yaml
Due: typescriptfmt, pulumi_config

Backport 0.4: Scan event history test flake fixes (#2922)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/EventHistorySanityCheckPlugin.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/UseToxiproxy.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
Due: copyright

[static] cleanup
  cluster/pulumi/common/src/auth0/auth0.ts
Due: typescriptfmt, pulumi_config

Added ignore for consensus not reached
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

[static] get-auth0-token.py
  build-tools/get-auth0-token.py
Due: copyright

[ci] init
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletFrontendTestUtil.scala
Due: copyright

[release-line-0.4] Set confirmationResponseTimeout = 0 for migrations
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DistributedDomainIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/DomainMigrationUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/TimeTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainParametersStateTopologyConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/DomainParamsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SynchronizerMigrationUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  canton/community/base/src/main/scala/com/digitalasset/canton/protocol/SynchronizerParameters.scala
  network-health/NETWORK_HEALTH.md
Due: copyright

[ci] init
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SplitwellFrontendIntegrationTest.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
