Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

ScanApp: AppActivityRecord ingestion and serve on /v0/events (#4443)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryExtraDataIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrafficBasedRewardsTimeBasedIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbTcsStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbTcsStoreTest.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/AppActivityComputation.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanRewardsReferenceStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanRewardsReferenceStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/rewards/AppActivityComputationTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbScanRewardsReferenceStoreTest.scala
  docs/src/release_notes_upcoming.rst
  test-full-class-names-non-integration.log
  test-full-class-names-sim-time.log
  test-full-class-names.log
Due: copyright

[ci] Fix lastRoundWithCompleteActivity
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanAppRewardsComputationTimeBasedIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Add cache store for ScanRewardsReferenceStore
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/CachingScanRewardsReferenceStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanRewardsReferenceStore.scala
Due: copyright

restore files from main
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
Due: copyright

Fix useless SynchronizerConfig reset from SV Validator App due to different sequencerRequestAmplificationPatience (#4629)
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
Due: copyright

Set canton log level to Debug (#4630)
  start-canton.sh
Due: copyright

Adjust to changes
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/LsuTopologyAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LogicalSynchronizerUpgradeTrigger.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/TopologyAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/TopologyAdministrationGroup.scala
  canton/community/base/src/main/protobuf/com/digitalasset/canton/protocol/v30/topology.proto
  canton/community/base/src/main/protobuf/com/digitalasset/canton/topology/admin/v30/topology_manager_read_service.proto
  canton/community/base/src/main/scala/com/digitalasset/canton/topology/client/StoreBasedTopologySnapshot.scala
  canton/community/base/src/main/scala/com/digitalasset/canton/topology/client/WriteThroughCacheTopologySnapshot.scala
  canton/community/base/src/main/scala/com/digitalasset/canton/topology/transaction/TopologyMapping.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/topology/SequencerConnectionSuccessorListener.scala
Due: copyright

maybe?
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/LsuTopologyAdminConnection.scala
Due: copyright

Upgrade Canton again
  nix/canton-sources.json
Due: none

fix merge conflict resolution
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

top level skip
  cluster/helm/splice-sv-node/values.schema.json
Due: none

Upgrade Canton to 3.5.0-snapshot.20260323.18416.0.va0d42fd5 (#4618)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/LsuTopologyAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LogicalSynchronizerUpgradeTrigger.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/TopologyAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/TopologyAdministrationGroup.scala
  canton/community/base/src/main/protobuf/com/digitalasset/canton/protocol/v30/topology.proto
  canton/community/base/src/main/protobuf/com/digitalasset/canton/topology/admin/v30/topology_manager_read_service.proto
  canton/community/base/src/main/scala/com/digitalasset/canton/topology/client/StoreBasedTopologySnapshot.scala
  canton/community/base/src/main/scala/com/digitalasset/canton/topology/client/WriteThroughCacheTopologySnapshot.scala
  canton/community/base/src/main/scala/com/digitalasset/canton/topology/transaction/TopologyMapping.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/topology/SequencerConnectionSuccessorListener.scala
  nix/canton-sources.json
  project/ignore-patterns/canton_log.ignore.txt
Due: copyright

force running SV stacks on pulumi down to properly maintain state in sv stacks on resets
  cluster/pulumi/sv/pulumi.ts
  cluster/pulumi/sv/pulumiDown.ts
Due: typescriptfmt, pulumi_tests

rm whitespaces and fix doc
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

[static] State assumption about ledger order in the scaladoc
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
Due: copyright

fix promise rejection for pulumi
  cluster/pulumi/common/src/retries.ts
Due: typescriptfmt, pulumi_tests

remove the migration selector from cncluster wait as it no longer makes sens for LSU
  build-tools/cncluster
Due: none

Add protobuf for LSU roll forward
  canton/community/admin-api/src/main/protobuf/com/digitalasset/canton/admin/participant/v30/participant_repair_service.proto
  canton/community/admin-api/src/main/protobuf/com/digitalasset/canton/admin/participant/v30/synchronizer_connectivity_service.proto
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/ParticipantAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/ParticipantAdministration.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/ParticipantRepairAdministration.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/data/ManualLsuRequest.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/grpc/GrpcParticipantRepairService.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/grpc/GrpcSynchronizerConnectivityService.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/sync/LogicalSynchronizerUpgrade.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/sync/SynchronizerConnectionsManager.scala
Due: copyright

remove the migration selector from cncluster wait as it no longer makes sens for LSU (#4644)
  build-tools/cncluster
Due: none

introduces svConfigsBasic, defining constants used by the infra stack [ci]
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/index.ts
  cluster/pulumi/common-sv/src/svConfigs.ts
  cluster/pulumi/common-sv/src/svConfigsBasic.ts
  cluster/pulumi/infra/src/auth0.ts
  cluster/pulumi/infra/src/index.ts
  cluster/pulumi/infra/src/istio.ts
  cluster/pulumi/infra/src/network.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

remove pulumi backward compat for helm chart values
  apps/app/src/pack/examples/sv-helm/sv-values.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/svApp.ts
  cluster/pulumi/package-lock.json
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_tests

Add protobuf for LSU roll forward (#4643)
  canton/community/admin-api/src/main/protobuf/com/digitalasset/canton/admin/participant/v30/participant_repair_service.proto
  canton/community/admin-api/src/main/protobuf/com/digitalasset/canton/admin/participant/v30/synchronizer_connectivity_service.proto
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/ParticipantAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/ParticipantAdministration.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/ParticipantRepairAdministration.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/data/ManualLsuRequest.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/grpc/GrpcParticipantRepairService.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/grpc/GrpcSynchronizerConnectivityService.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/sync/LogicalSynchronizerUpgrade.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/sync/SynchronizerConnectionsManager.scala
Due: copyright

CR remarks [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

Add ext txn hash to update api (#4199)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
Due: copyright

fix: fix problems found in dependecies for token-standard
  token-standard/cli/package.json
  token-standard/package-lock.json
Due: none

[ci] fix: fix findings for apps/ dir
  apps/ans/frontend/package.json
  apps/common/frontend-test-handlers/package.json
  apps/common/frontend-test-utils/package.json
  apps/common/frontend-test-vite-utils/package.json
  apps/common/frontend/package.json
  apps/common/frontend/utils/package.json
  apps/package-lock.json
  apps/package.json
  apps/scan/frontend/package.json
  apps/splitwell/frontend/package.json
  apps/sv/frontend/package.json
  apps/wallet/frontend/package.json
Due: none

[ci] fix party allocator
  party-allocator/package-lock.json
Due: none

Split svConfigs.ts to isolate infra dependencies to common-sv (#4529)
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/index.ts
  cluster/pulumi/common-sv/src/svConfigs.ts
  cluster/pulumi/common-sv/src/svConfigsBasic.ts
  cluster/pulumi/infra/src/auth0.ts
  cluster/pulumi/infra/src/index.ts
  cluster/pulumi/infra/src/istio.ts
  cluster/pulumi/infra/src/network.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

[static] Fix the TODO reference to the tracking ticket
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanAppRewardsComputationTimeBasedIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/RewardComputationTrigger.scala
Due: copyright

[ci] args
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
Due: copyright

set zstd compression level for bulk storage (#4633)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanStorageConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/S3ZstdObjects.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTriggerTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/config/ScanStorageConfigTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
Due: copyright

Add bumping for submodules via dependabot
  .github/dependabot.yml
Due: gha_lint

typo [static]
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

fix synpack problems
  apps/ans/frontend/package.json
  apps/common/frontend-test-handlers/package.json
  apps/common/frontend-test-utils/package.json
  apps/common/frontend-test-vite-utils/package.json
  apps/common/frontend/package.json
  apps/common/frontend/utils/package.json
  apps/package-lock.json
  apps/package.json
  apps/scan/frontend/package.json
  apps/splitwell/frontend/package.json
  apps/sv/frontend/package.json
  apps/wallet/frontend/package.json
Due: none

fix party allocator issues found in npm dependency tree (#4648)
  party-allocator/package-lock.json
Due: none

Fix multi-hosted partyid validation in Feature App Proposal (#4546)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletBuyTrafficRequestIntegrationTest.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/ScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/sv/frontend/src/__tests__/mocks/handlers/sv-api.ts
  apps/sv/frontend/src/contexts/SvAdminServiceContext.tsx
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvOperatorAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvOperatorHandler.scala
  cluster/configs/shared/rate-limits/unlimited.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  docs/src/release_notes_upcoming.rst
Due: copyright, typescriptfmt, pulumi_tests

restore files back to canton-3.5
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanIntegrationTest.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/BftSequencerConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvBftSequencerPeerOffboardingTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvBftSequencerPeerOnboardingTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerAddReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerRemoveReconciler.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconcilerSpec.scala
  build.sbt
  canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/upgrade/lsu/LsuTrafficAccountingTest.scala
  cluster/deployment/scratchnetd/.envrc.vars
  project/ignore-patterns/canton_log_bft.ignore.txt
Due: copyright

init [static]
  cluster/configs/shared/scratchnet.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_tests

Add token standard v2 devnet connection docs [static]
  token-standard/TOKEN_STANDARD_V2_README.md
Due: none

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
