Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

Traffic-Based App Rewards: Adds computeRewardTotals to DbScanAppRewardsStore (#4639)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/util/BigDecimalMatchers.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/RewardComputationInputs.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanAppRewardsStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanAppRewardsStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/rewards/RewardComputationInputsTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbScanAppRewardsStoreTest.scala
  test-full-class-names-non-integration.log
Due: copyright

CIP 104: Traffic Based App Rewards: Add app activity computation store and schema (#4372)
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V062__app_reward_accounting_tables.sql
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanAppRewardsStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbScanAppRewardsStoreTest.scala
  test-full-class-names-non-integration.log
Due: copyright

Traffic Based App Rewards: Expand GetRewardAccountingActivityTotalsResponse (#4859)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanAppRewardsComputationTimeBasedIntegrationTest.scala
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V064__app_reward_accounting_tables.sql
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanAppRewardsStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbScanAppRewardsStoreTest.scala
Due: copyright

[ci] Remove comment before merge
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V064__app_reward_accounting_tables.sql
Due: none

Traffic Based App Rewards: Compute Hashes (#4847)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanAppRewardsComputationTimeBasedIntegrationTest.scala
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V064__app_reward_accounting_tables.sql
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/RewardComputationTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/AppActivityComputation.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/RewardComputationInputs.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanAppRewardsStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanAppRewardsStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/automation/RewardComputationTriggerTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbScanAppRewardsStoreTest.scala
Due: copyright

[ci] Traffic-Based App Rewards: consolidate integration tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanAppRewardsComputationTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrafficBasedRewardsTimeBasedIntegrationTest.scala
  test-full-class-names-sim-time.log
Due: copyright

Traffic-based App Rewards: Compute aggregateActivityTotals, add ComputeAppRewardTrigger, expose new endpoints (#4420)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanAppRewardsComputationTimeBasedIntegrationTest.scala
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V064__app_reward_accounting_tables.sql
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/RewardComputationTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/AppActivityComputation.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AppActivityStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanAppRewardsStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanAppRewardsStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/automation/RewardComputationTriggerTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbScanAppRewardsStoreTest.scala
  cluster/configs/shared/rate-limits/unlimited.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  test-full-class-names-non-integration.log
  test-full-class-names-sim-time.log
Due: copyright, pulumi_tests

Apply suggestions from code review
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuDRIntegrationTest.scala
Due: copyright

this is why you should always ignore reviewers suggestions
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuDRIntegrationTest.scala
Due: copyright

remove duplicate
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/lsu/TimestampConfig
Due: none

make the tests run on their own instance
  .github/workflows/build.yml
Due: gha_lint

Add roll forward DR test
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/resources/standalone-sequencer-sv4-extra-enable-bft.conf
  apps/app/src/test/resources/standalone-sequencers-sv123-extra-enable-bft.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuDRIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/ProcessTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/StandaloneCanton.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/lsu/LsuRollForwardTimestampConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/lsu/TimestampConfig
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/lsu/RollForwardLsuInitializer.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/ParticipantAdministration.scala
  test-full-class-names-roll-forward-lsu.log
Due: copyright

remove redundant comment
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuDRIntegrationTest.scala
Due: copyright

extend log ignore
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

Add back dummy transactions to ensure clean offset in party migration
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sponsor/DsoPartyMigration.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/party/PartyManagementServiceError.scala
Due: copyright

Extend sequencer pruning workaround to work with LSU
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SequencerPruningTrigger.scala
Due: copyright

format
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SequencerPruningTrigger.scala
Due: copyright

Add roll forward DR test (#5051)
  .github/workflows/build.yml
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/resources/standalone-sequencer-sv4-extra-enable-bft.conf
  apps/app/src/test/resources/standalone-sequencers-sv123-extra-enable-bft.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuDRIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/ProcessTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/StandaloneCanton.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/lsu/LsuRollForwardTimestampConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/lsu/RollForwardLsuInitializer.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/ParticipantAdministration.scala
  project/ignore-patterns/canton_network_test_log.ignore.txt
  test-full-class-names-roll-forward-lsu.log
Due: copyright, gha_lint

Add back dummy transactions to ensure clean offset in party migration (#5067)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sponsor/DsoPartyMigration.scala
  canton/community/participant/src/main/scala/com/digitalasset/canton/participant/admin/party/PartyManagementServiceError.scala
Due: copyright

Extend sequencer pruning workaround to work with LSU (#5062)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SequencerPruningTrigger.scala
Due: copyright

Don't vet dso-governance on alice participant
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/UnsupportedPackageVettingIntegrationTest.scala
Due: copyright

Switch to 13 SVs
  cluster/deployment/scratchnete/.envrc.vars
Due: none

Simplifies things as it always actually returns completed if timestamp is > than last timestamp available
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictIngestionService.scala
Due: copyright

Remove hdm and dr tests
  .github/workflows/build.yml
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DisasterRecoveryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvMigrationApiIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/DomainMigrationUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SynchronizerUpgradeUtil.scala
  build.sbt
  test-full-class-names-disaster-recovery.log
  test-full-class-names-resource-intensive.log
Due: copyright, gha_lint

Bump to 16 svs
  cluster/deployment/scratchnete/.envrc.vars
Due: none

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuDRIntegrationTest.scala
Due: copyright

Remove mediator verdict ingestion check for lsu announcement (#5063)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictIngestionService.scala
Due: copyright

Don't set cometbft ports in sv loopback when not required
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/loopback.ts
  cluster/pulumi/common/src/domainMigration.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_tests

Remove hdm and dr tests (#5065)
  .github/workflows/build.yml
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DisasterRecoveryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuDRIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvMigrationApiIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/DomainMigrationUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SynchronizerUpgradeUtil.scala
  build.sbt
  test-full-class-names-disaster-recovery.log
  test-full-class-names-resource-intensive.log
Due: copyright, gha_lint

Don't set cometbft ports in sv loopback when not required (#5090)
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/loopback.ts
  cluster/pulumi/common/src/domainMigration.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_tests

Update apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/StoreMetrics.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/StoreMetrics.scala
Due: copyright

[ci] fix
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sponsor/DsoPartyMigration.scala
Due: copyright

[static] update expected
  cluster/expected/observability/expected.json
Due: none

prohibit empty dso and amulet rules proposals [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-dso-rules-form.test.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
Due: copyright, typescriptfmt

Add ingestion timing metric (#5050)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/StoreMetrics.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  cluster/expected/observability/expected.json
  cluster/pulumi/observability/grafana-dashboards/splice-stores/store-ingestion.json
Due: copyright

Wrap annotation field in a check for empty annotations (#5082)
  cluster/helm/cn-docs/templates/docs.yaml
  cluster/helm/splice-domain/templates/domain.yaml
  cluster/helm/splice-global-domain/templates/mediator.yaml
  cluster/helm/splice-info/templates/deployment.yaml
  cluster/helm/splice-load-tester/templates/load-tester.yaml
  cluster/helm/splice-participant/templates/participant.yaml
  cluster/helm/splice-party-allocator/templates/party-allocator.yaml
  cluster/helm/splice-scan/templates/scan.yaml
  cluster/helm/splice-splitwell-app/templates/splitwell.yaml
  cluster/helm/splice-sv-node/templates/sv-web-ui.yaml
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-validator/templates/ans-web-ui.yaml
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/helm/splice-validator/templates/wallet-web-ui.yaml
Due: pulumi_tests

Prohibit empty "set DSO and Amulet rules" proposals (#5069)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-dso-rules-form.test.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
Due: copyright, typescriptfmt

implement participant migration procedure to enable LSU
  cluster/expected/canton-network/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/sv/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/decentralizedSynchronizerNode.ts
  cluster/pulumi/common-sv/src/synchronizer/participant.ts
  cluster/pulumi/common-validator/src/participant.ts
  cluster/pulumi/common/src/config/migrationSchema.ts
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/common/src/secrets.ts
  cluster/pulumi/common/src/stackReferences.ts
  cluster/pulumi/deployment/src/stacks/splice.ts
  cluster/pulumi/splitwell/src/splitwell.ts
  cluster/pulumi/sv-canton/pulumi.ts
  cluster/pulumi/sv-canton/src/canton.ts
  cluster/pulumi/sv-canton/src/index.ts
  cluster/pulumi/sv-canton/src/installNode.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/sv-runbook/src/postgres.ts
  cluster/pulumi/sv/dump-config.ts
  cluster/pulumi/sv/pulumi.ts
  cluster/pulumi/sv/src/index.ts
  cluster/pulumi/sv/src/installNode.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
  cluster/pulumi/validator1/src/validator1.ts
Due: typescriptfmt, pulumi_tests

deploy legacy
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetc/config.yaml
Due: pulumi_tests

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
