Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

CIP-82: add DevelopmentFundFrontendTimeBasedIntegrationTest to integration test suite [ci]
  test-full-class-names-frontend-sim-time.log
Due: none

CIP-82: resolve comments on PR
  apps/wallet/frontend/src/__tests__/developmentFund.test.tsx
  apps/wallet/frontend/src/components/DevelopmentFundCouponList.tsx
  apps/wallet/frontend/src/components/Hero.tsx
  apps/wallet/frontend/src/contexts/WalletServiceContext.tsx
  apps/wallet/frontend/src/hooks/scan-proxy/useGetAmuletRules.ts
  apps/wallet/frontend/src/hooks/useDevelopmentFund.ts
  apps/wallet/frontend/src/hooks/useDevelopmentFundCouponHistory.ts
  apps/wallet/frontend/src/routes/developmentFund.tsx
  apps/wallet/frontend/src/utils/developmentFundFormatting.ts
Due: copyright, typescriptfmt

feat: resolve comments
  apps/wallet/frontend/src/__tests__/developmentFund.test.tsx
  apps/wallet/frontend/src/components/DevelopmentFundCouponList.tsx
  apps/wallet/frontend/src/components/DevelopmentFundTotal.tsx
  apps/wallet/frontend/src/hooks/useActiveDevelopmentFundCoupons.ts
  apps/wallet/frontend/src/hooks/useDevelopmentFund.ts
  apps/wallet/frontend/src/hooks/useDevelopmentFundCouponHistory.ts
  apps/wallet/frontend/src/hooks/useUnclaimedDevelopmentFundTotal.ts
Due: copyright, typescriptfmt

CIP-82: restore totalAmount assets
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundFrontendTimeBasedIntegrationTest.scala
Due: copyright

feat: add url to release notes
  docs/src/release_notes_upcoming.rst
Due: copyright

switch allocationfactory to actors
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  token-standard/splice-api-token-allocation-instruction-v2/daml/Splice/Api/Token/AllocationInstructionV2.daml
  token-standard/splice-api-token-allocation-v2/daml/Splice/Api/Token/AllocationV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Apps/TradingAppV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP.daml
Due: copyright, dars_lock, no_illegal_daml_references

Fix prometheus native histograms
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
  cluster/pulumi/package-lock.json
Due: typescriptfmt, pulumi_tests

[release-line-0.5.14] Fix prometheus native histograms
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
  cluster/pulumi/package-lock.json
Due: typescriptfmt, pulumi_tests

modify PackageVettingTrigger to unvet unsupported dars, adding test, refactor helper methods [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigDarUploadIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/UnsupportedPackageVettingIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/PackageVettingTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminDarsConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/DarResourcesUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/PackageVetting.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/QualifiedName.scala
  apps/dar-resources-generator/src/main/scala/org/lfdecentralizedtrust/splice/darutils/DarResourcesGenerator.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardAllocationHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardAllocationInstructionHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardTransferInstructionHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  test-full-class-names.log
Due: copyright

Fix prometheus native histograms (#4345)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
  cluster/pulumi/package-lock.json
Due: typescriptfmt, pulumi_tests

[release-line-0.5.14] Fix prometheus native histograms (#4346)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
  cluster/pulumi/package-lock.json
Due: typescriptfmt, pulumi_tests

disable checking for strings that should not be used in splice
  .github/workflows/build.static_tests.yml
Due: gha_lint

fix DarResources linting + removeDarsFromVettingState [ci]
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminDarsConnection.scala
  apps/dar-resources-generator/src/main/scala/org/lfdecentralizedtrust/splice/darutils/DarResourcesGenerator.scala
Due: copyright

track sync identities outside the physical synchronizers
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorSequencerConnectionIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/PublishScanConfigTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SynchronizerNodeConfigClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SynchronizerNodeReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/sv/cometbft/CometBftNodeTest.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconcilerSpec.scala
  daml/dars.lock
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestUtils.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestOnboarding.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestSynchronizerMigration.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestSynchronizerSequencerTracking.daml
  daml/splice-dso-governance/daml/Splice/DSO/DecentralizedSynchronizer.daml
Due: copyright, dars_lock, no_illegal_daml_references

partial work towards V1/V2 alloc compatibility
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
  daml/splice-amulet/daml/Splice/AmuletAllocationV2.daml
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  token-standard/splice-api-token-allocation-v2/daml/Splice/Api/Token/AllocationV2.daml
  token-standard/splice-api-token-utils-v2/daml/Splice/Api/Token/UtilsV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

[static] Reapply "Root Alertmanager's InfoInhibitor to null (#4323)" (#4344)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

add splitwell old dars in test [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/UnsupportedPackageVettingIntegrationTest.scala
  apps/dar-resources-generator/src/main/scala/org/lfdecentralizedtrust/splice/darutils/DarResourcesGenerator.scala
Due: copyright

Remove npm strict version checking
  cluster/pulumi/.npmrc
  cluster/pulumi/package.json
Due: none

Remove npm strict version checking (#4351)
  cluster/pulumi/.npmrc
  cluster/pulumi/package.json
Due: none

partial implemenation of V2 on AmuletAllocation
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
  token-standard/splice-api-token-utils-v2/daml/Splice/Api/Token/UtilsV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

wip
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/GroupedWeightS3ObjectFlow.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/S3UploadTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
  cluster/pulumi/package-lock.json
Due: copyright

Move settlement implementation into generic utils
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  token-standard/splice-api-token-utils-v2/daml/Splice/Api/Token/UtilsV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

Retry
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/TopologyAdminConnection.scala
Due: copyright

add usage of new field in all the occurances of the old field
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/DsoRulesStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/LocalSequencerConnectionsTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SequencerPruningTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/offboarding/SvOffboardingSequencerTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/onboarding/SvOnboardingMediatorProposalTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/onboarding/SvOnboardingSequencerTriggers.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SynchronizerNodeReconciler.scala
Due: copyright

bump canton to 3.5.0-snapshot.20260310.18260.0.vcd8feade
  nix/canton-sources.json
Due: none

Backport pulumi plugins in main to 0.5.14
  nix/generate_pulumi_packages.sh
Due: copyright

update extra-pulumi-packages
  nix/extra-pulumi-packages.nix
Due: none

Fix validator restart error resulting from failed scan service (#4255)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BftScanConnectionIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/TopologyAdminConnection.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

Backport pulumi plugins in main to 0.5.14 (#4354)
  nix/extra-pulumi-packages.nix
  nix/generate_pulumi_packages.sh
Due: copyright

[static] Add dashboards and alerts around sequencer caps (backport of #4315)
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/sequencer_rate_limit_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer-rate-limits.json
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

Bumped Daml versions
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet/daml.yaml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance/daml.yaml
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-util-token-standard-wallet-test/daml.yaml
  daml/splice-wallet-payments/daml.yaml
  daml/splice-wallet-test/daml.yaml
  daml/splice-wallet/daml.yaml
  daml/splitwell-test/daml.yaml
  daml/splitwell/daml.yaml
Due: dars_lock, no_illegal_daml_references

Version bump
  token-standard/splice-token-standard-test/daml.yaml
Due: dars_lock, no_illegal_daml_references

enable unvetting only for SVs and SV's validators for now, add test case for that [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/UnsupportedPackageVettingIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/PackageVettingTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminDarsConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvPackageVettingTrigger.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorPackageVettingTrigger.scala
Due: copyright

Upgrade versions
  apps/dar-resources-generator/src/main/scala/org/lfdecentralizedtrust/splice/darutils/DarResources.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
