Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

fix type errors [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvOperatorHandler.scala
Due: copyright

Added memory limits for load tester
  cluster/helm/splice-load-tester/templates/load-tester.yaml
  cluster/helm/splice-load-tester/tests/memory_test.yaml
  cluster/helm/splice-load-tester/values-template.yaml
Due: pulumi_tests

Added Licenes
  cluster/helm/splice-load-tester/tests/memory_test.yaml
Due: pulumi_tests

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

[static] 0.5.10 release notes
  docs/src/release_notes.rst
  docs/src/release_notes_upcoming.rst
Due: copyright

Upgrade pulumi operator to 2.4.1 (#3876)
  cluster/expected/operator/expected.json
  cluster/pulumi/operator/src/operator.ts
Due: typescriptfmt, pulumi_tests

require full id matching [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvOperatorHandler.scala
Due: copyright

Upgrade pulumi operator to 2.4.1
  cluster/expected/deployment/expected.json
  cluster/expected/operator/expected.json
  cluster/pulumi/common/src/operator/stack.ts
  cluster/pulumi/operator/pulumi-operator-crd-update.sh
  cluster/pulumi/operator/src/operator.ts
Due: copyright, typescriptfmt, pulumi_tests

[static] link
  docs/api-templates/splice-util-batched-markers-index-template.rst
  docs/src/release_notes.rst
Due: copyright

[ci] fix test, important todo
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

0.5.10 release notes (#3881)
  docs/api-templates/splice-util-batched-markers-index-template.rst
  docs/src/release_notes.rst
  docs/src/release_notes_upcoming.rst
Due: copyright

wip
  build-tools/prep-release-notes.py
  nix/shell.nix
Due: copyright

[ci] more fixes
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/UpdateIngestionService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
Due: copyright

integrate fork
  MAINTENANCE.md
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/SpliceMetrics.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanStoreMetrics.scala
  build.sbt
  nix/canton-sources.json
  project/BuildCommon.scala
  project/CantonDependencies.scala
  scripts/copy-canton.sh
Due: copyright

[ci] update versions post-cutting 0.5.10
  LATEST_RELEASE
  VERSION
Due: none

.
  build.sbt
Due: none

Pulumi Schema
  cluster/pulumi/canton-network/src/scheduleLoadGenerator.ts
  cluster/pulumi/common/src/config/loadTesterConfig.ts
Due: typescriptfmt, pulumi_tests

update versions post-cutting 0.5.10 (#3887)
  LATEST_RELEASE
  VERSION
Due: none

Upgrade pulumi operator CRDs (#3883)
  cluster/expected/deployment/expected.json
  cluster/expected/operator/expected.json
  cluster/pulumi/common/src/operator/stack.ts
  cluster/pulumi/operator/pulumi-operator-crd-update.sh
  cluster/pulumi/operator/src/operator.ts
Due: copyright, typescriptfmt, pulumi_tests

Copy RIght
  cluster/helm/splice-load-tester/tests/memory_test.yaml
Due: pulumi_tests

do not update runnners package-lock
  cluster/images/splice-test-runner-hook/local.mk
Due: none

burn everything down
  cluster/images/splice-test-runner-hook/local.mk
Due: none

remove unsupported stuff
  .github/actions/nix/setup_nix/action.yml
  .github/actions/tests/common_test_setup/action.yml
  .github/actions/tests/pre_scala_test/action.yml
  .github/actions/tests/skip_on_static/action.yml
Due: gha_lint

Bump nixpkg and pulumi
  cluster/expected/deployment/expected.json
  cluster/expected/infra/expected.json
  cluster/expected/operator/expected.json
  cluster/expected/splitwell/expected.json
  cluster/pulumi/common/package.json
  cluster/pulumi/common/src/operator/stack.ts
  cluster/pulumi/infra/package.json
  cluster/pulumi/package-lock.json
  cluster/pulumi/policies/package.json
  nix/extra-pulumi-packages.nix
  nix/flake.lock
  nix/generate_pulumi_packages.sh
  nix/shell.nix
Due: copyright, typescriptfmt, pulumi_tests

consume docker compose update
  nix/flake.lock
Due: none

[static] with edit
  build-tools/prep-release-notes.py
Due: copyright

events
  build-tools/splice-localnet-compose.sh
Due: copyright

Used existing schema
  cluster/pulumi/common/src/config/loadTesterConfig.ts
Due: typescriptfmt, pulumi_tests

[static] cleanup
  build-tools/prep-release-notes.py
Due: copyright

Reduce views created by featured app marker conversion
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BatchedFeaturedAppActivityMarkerIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/PackageIdResolver.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/PackageVersionSupport.scala
  apps/package-lock.json
  apps/package.json
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/FeaturedAppActivityMarkerTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  daml/dars.lock
  daml/dars/splice-amulet-0.1.16.dar
  daml/dars/splice-amulet-name-service-0.1.17.dar
  daml/dars/splice-api-featured-app-v2-1.0.0.dar
  daml/dars/splice-dso-governance-0.1.22.dar
  daml/dars/splice-wallet-0.1.17.dar
  daml/dars/splice-wallet-payments-0.1.16.dar
  daml/dars/splitwell-0.1.17.dar
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet/daml.yaml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestFeaturedAppActivityMarkers.daml
  daml/splice-dso-governance/daml.yaml
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-util-token-standard-wallet-test/daml.yaml
  daml/splice-wallet-payments/daml.yaml
  daml/splice-wallet-test/daml.yaml
  daml/splice-wallet/daml.yaml
  daml/splitwell-test/daml.yaml
  daml/splitwell/daml.yaml
  docs/src/release_notes_upcoming.rst
  token-standard/splice-token-standard-test/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

move mutable summary out
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/IngestionSummary.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

bumpcomet
  nix/cometbft-driver-sources.json
Due: none

[static] release notes for $0.5.10
  build-tools/prep-release-notes.py
  docs/src/release_notes.rst
  docs/src/release_notes_upcoming.rst
  nix/shell.nix
Due: copyright
