Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

Update load-tester dependencies (#3983)
  load-tester/package-lock.json
Due: none

Moved synchronizer config to standalone-validator-values.yaml
  apps/app/src/pack/examples/sv-helm/standalone-validator-values.yaml
  apps/app/src/pack/examples/sv-helm/validator-values.yaml
  docs/src/sv_operator/sv_helm.rst
  docs/src/validator_operator/validator_helm.rst
Due: copyright

Final Commit
  docs/src/release_notes_upcoming.rst
Due: copyright

Add completion panel to the automation dashboard (#3984)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/automations.json
Due: none

Update apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliTestDataTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliTestDataTimeBasedIntegrationTest.scala
Due: copyright

Update daml/splice-amulet/daml/Splice/AmuletConfig.daml
  daml/splice-amulet/daml/Splice/AmuletConfig.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update daml/splice-amulet/daml/Splice/Amulet/TwoStepTransfer.daml
  daml/splice-amulet/daml/Splice/Amulet/TwoStepTransfer.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add missing SV party validation in DsoRules_ClaimExpiredRewards
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
  docs/src/release_notes_upcoming.rst
Due: copyright, dars_lock, no_illegal_daml_references

adjust confusing name in build.sbt
  build.sbt
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

daml review
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet-test/daml/Splice/Scripts/TestComputeFees.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestLockAndAmuletExpiry.daml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/Amulet/TwoStepTransfer.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

restore scan txlog from main
  scripts/scan-txlog/scan_txlog.py
Due: copyright

fix release note indentation
  docs/src/release_notes_upcoming.rst
Due: copyright

release notes script (#3889)
  build-tools/prep-release-notes.py
  nix/shell.nix
Due: copyright

mention tx history changes in release notes
  docs/src/release_notes_upcoming.rst
Due: copyright

remove copyonlyburnmetadata
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet/daml/Splice/Amulet/TokenApiUtils.daml
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Try local invocation with variables
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

[ci] Test using shared-gha submodule
  .github/workflows/build.yml
Due: gha_lint

Try local invocation with splice
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

[ci] Test using shared-gha submodule
  .github/workflows/build.yml
  .gitmodules
Due: gha_lint

Try local invocation with ifs
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

[ci] Test using GHA from shared repo
  .github/workflows/build.yml
Due: gha_lint

[ci] Add target validation and support external splice_root
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

[ci] Add @HEAD
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

remove optiont usages from staleness check
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/UpdateExternalPartyConfigStateTrigger.scala
Due: copyright

update expected files
  token-standard/cli/__tests__/mocks/data/eventsByContractIdResponses.json
  token-standard/cli/__tests__/mocks/data/holdings.json
  token-standard/cli/__tests__/mocks/data/transfer-instructions.json
  token-standard/cli/__tests__/mocks/data/txs.json
Due: none

cleanup /governance-beta endpoint [ci]
  apps/sv/frontend/src/App.tsx
Due: copyright, typescriptfmt

Validator Scan and Sequencer connections docs update (#3719)
  apps/app/src/pack/examples/sv-helm/standalone-validator-values.yaml
  apps/app/src/pack/examples/sv-helm/sv-validator-values.yaml
  apps/app/src/pack/examples/sv-helm/validator-values.yaml
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/helm/splice-validator/values.schema.json
  cluster/pulumi/common-sv/src/validatorApp.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
  docs/src/release_notes_upcoming.rst
  docs/src/sv_operator/sv_helm.rst
  docs/src/validator_operator/validator_helm.rst
Due: copyright, typescriptfmt, pulumi_tests

[ci] Test changing pathing
  .github/actions/nix/setup_nix/action.yml
  .github/actions/sbt/execute_sbt_command/action.yml
  .github/actions/sbt/post_sbt/action.yml
  .github/actions/sbt/setup_sbt/action.yml
  .github/actions/sbt/upload_logs/action.yml
  .github/actions/tests/common_test_setup/action.yml
  .github/actions/tests/pre_scala_test/action.yml
  .github/actions/tests/scala_test/action.yml
  .github/workflows/build.daml_test.yml
  .github/workflows/build.deployment_test.yml
  .github/workflows/build.docs.yml
  .github/workflows/build.scala_test.yml
  .github/workflows/build.scala_test_for_compose.yml
  .github/workflows/build.scala_test_with_cometbft.yml
  .github/workflows/build.static_tests.yml
  .github/workflows/build.ts_cli_tests.yml
  .github/workflows/build.ui_tests.yml
  .github/workflows/build.yml
  .github/workflows/bump_gha_runner_version.yml
Due: copyright, dars_lock, no_illegal_daml_references, gha_lint

Use index column
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
Due: copyright

added sbt build script changes
  build.sbt
Due: none

Update apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

fix npe
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
Due: copyright

Addressing Comments
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Fix onboardAndSetupExternalParty flaking on retry (409)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternallySignedPartyTestUtil.scala
Due: copyright

Final commit
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

[ci] sigh
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternallySignedPartyTestUtil.scala
Due: copyright
