Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

Add `reloader` recommendation to Helm deployment docs (#4783)
  docs/src/common/reloader_recommendation.rst
  docs/src/release_notes_upcoming.rst
  docs/src/sv_operator/sv_helm.rst
  docs/src/validator_operator/validator_helm.rst
Due: copyright

Support exporting state for roll-forward LSU at custom timestamps
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LogicalSyncUpgradeTransferTrafficTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LogicalSynchronizerUpgradeTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LsuState.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LsuStateExporter.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/lsu/RollForwardLsuInitializer.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/SequencerAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/TopologyAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/TopologyAdministrationGroup.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/TrafficControlSequencerAdministrationGroup.scala
  canton/community/base/src/main/protobuf/com/digitalasset/canton/topology/admin/v30/topology_manager_read_service.proto
  canton/community/synchronizer/src/main/protobuf/com/digitalasset/canton/sequencer/admin/v30/sequencer_administration_service.proto
Due: copyright

[ci] bump GHA runner version to the latest (auto-generated)
  cluster/images/splice-test-docker-runner/Dockerfile
  cluster/images/splice-test-runner-hook/Dockerfile
Due: none

Avoid useless proto conversion
  canton/community/bindings-java/src/main/java/com/daml/ledger/javaapi/data/Transaction.java
Due: none

0.5.17 backport: Bump pulumi and nix (#4713)
  build.sbt
  cluster/expected/splitwell/expected.json
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/common/package.json
  cluster/pulumi/gcp/package.json
  cluster/pulumi/package-lock.json
  cluster/pulumi/sv-canton/package.json
  nix/README.md
  nix/extra-pulumi-packages.nix
  nix/flake.lock
  nix/flake.nix
  nix/generate_pulumi_packages.sh
  nix/npmpkgs/default.nix
  nix/npmpkgs/node-env.nix
  nix/npmpkgs/node-packages.json
  nix/npmpkgs/node-packages.nix
  nix/shell.nix
  project/ignore-patterns/sbt-output.ignore.txt
Due: copyright

add comments to my tests and rename the tests [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AdditionalPackagesToUnvetIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/DarResourcesUtil.scala
Due: copyright

Bump GHA runner version to the latest (auto-generated) (#4772)
  cluster/images/splice-test-docker-runner/Dockerfile
  cluster/images/splice-test-runner-hook/Dockerfile
Due: none

Avoid invalid offboarding actions in CopyVotesIntegrationTest
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/CopyVotesIntegrationTest.scala
Due: copyright

Avoid useless proto conversion (#4786)
  canton/community/bindings-java/src/main/java/com/daml/ledger/javaapi/data/Transaction.java
Due: none

Add call to action and extra detail to app activity release notes [ci]
  docs/src/release_notes_upcoming.rst
Due: copyright

Remove failing test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
Due: copyright

Enable app activity records by default
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrafficBasedRewardsTimeBasedIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

Upgrade Canton to 3.4.12-snapshot.20260331.17644.0.v82050917 [ci]
  nix/canton-sources.json
Due: none

Upgrade Canton to 3.5.0-snapshot.20260401.18526.0.v684b83e8
  nix/canton-sources.json
Due: none

0.5.17 backport: Bump pulumi and nix (#4713) (#4787)
  build.sbt
  cluster/expected/splitwell/expected.json
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/common/package.json
  cluster/pulumi/gcp/package.json
  cluster/pulumi/package-lock.json
  cluster/pulumi/sv-canton/package.json
  nix/README.md
  nix/extra-pulumi-packages.nix
  nix/flake.lock
  nix/flake.nix
  nix/generate_pulumi_packages.sh
  nix/npmpkgs/default.nix
  nix/npmpkgs/node-env.nix
  nix/npmpkgs/node-packages.json
  nix/npmpkgs/node-packages.nix
  nix/shell.nix
  project/ignore-patterns/sbt-output.ignore.txt
Due: copyright

Support exporting state for roll-forward LSU at custom timestamps (#4785)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LogicalSyncUpgradeTransferTrafficTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LogicalSynchronizerUpgradeTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LsuState.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LsuStateExporter.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/lsu/RollForwardLsuInitializer.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/SequencerAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/TopologyAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/TopologyAdministrationGroup.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/TrafficControlSequencerAdministrationGroup.scala
  canton/community/base/src/main/protobuf/com/digitalasset/canton/topology/admin/v30/topology_manager_read_service.proto
  canton/community/synchronizer/src/main/protobuf/com/digitalasset/canton/sequencer/admin/v30/sequencer_administration_service.proto
Due: copyright

a lot of progress that i lost track of
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/WalletAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardAllocationHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardAllocationInstructionHandler.scala
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/api/client/commands/HttpWalletAppClient.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/treasury/TreasuryService.scala
  build.sbt
Due: copyright

Add openapi generation to Scan
  build.sbt
Due: none

Remove unused command that confuses me
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardAllocationIntegrationTest.scala
Due: copyright

add docs [ci]
  docs/src/release_notes_upcoming.rst
  docs/src/sv_operator/sv_operations.rst
Due: copyright

Enable traffic ingestion by default (#4779)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrafficBasedRewardsTimeBasedIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

Upgrade Canton to 3.5.0-snapshot.20260401.18526.0.v684b83e8 (#4791)
  nix/canton-sources.json
Due: none

Added ignore
  project/ignore-patterns/canton-standalone-sv123-reonboarding.ignore.txt
Due: none

globally ignore
  project/ignore-patterns/canton-standalone-sv123-reonboarding.ignore.txt
  project/ignore-patterns/canton_log.ignore.txt
Due: none

[static]
  project/ignore-patterns/canton-standalone-sv123-reonboarding.ignore.txt
Due: none

wip
  apps/scan/src/main/openapi/scan.yaml
Due: none

Add ignore "The synchronizer Synchronizer 'global' failed the following topology transactions"
  project/ignore-patterns/canton_log.ignore.txt
Due: none

Upgrade Canton to 3.4.12-snapshot.20260331.17644.0.v82050917 (#4789)
  nix/canton-sources.json
Due: none

done server side
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

Use a valid AddSv identifier in CopyVotesIntegrationTest
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/CopyVotesIntegrationTest.scala
Due: copyright

[ci] with basic test
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/UpdateHistorySanityCheckPlugin.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
Due: copyright

add rate metrics for bulk storage (#4771)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/HistoryMetrics.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/SingleAcsSnapshotBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistorySegmentBulkStorage.scala
Due: copyright

[ci] with update IDs
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

improve docs and add unvetting todo [ci]
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminDarsConnection.scala
  docs/src/sv_operator/sv_operations.rst
Due: copyright

Enable roll-forward LSU test
  .github/workflows/build.yml
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuIntegrationTest.scala
Due: copyright, gha_lint

[ci] Validate plpgsql against daml, dropping the Scala oracle
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/CryptoHashEquivalenceIntegrationTest.scala
Due: copyright

log ignore
  project/ignore-patterns/canton_log.ignore.txt
Due: none

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
