Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

Override base versions for ciperiodic tests
  build-tools/find_latest_base_version.sh
  build-tools/find_latest_hard_migration_base_version.sh
Due: copyright

Override base versions for ciperiodic tests (#2326)
  build-tools/find_latest_base_version.sh
  build-tools/find_latest_hard_migration_base_version.sh
Due: copyright

daml: add WalletUserProxy to splice-util-featured-app-proxies
  daml/dars.lock
  daml/dars/splice-util-featured-app-proxies-1.1.0.dar
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml/Splice/Util/FeaturedApp/IntegrationTests/TestFeaturedDepositsAndWithdrawals.daml
  daml/splice-util-featured-app-proxies-test/daml/Splice/Util/FeaturedApp/IntegrationTests/TestWalletUserProxy.daml
  daml/splice-util-featured-app-proxies-test/daml/Splice/Util/FeaturedApp/UnitTests/WalletUserProxy.daml
  daml/splice-util-featured-app-proxies/README.md
  daml/splice-util-featured-app-proxies/daml.yaml
  daml/splice-util-featured-app-proxies/daml/Splice/Util/FeaturedApp/DelegateProxy.daml
  daml/splice-util-featured-app-proxies/daml/Splice/Util/FeaturedApp/WalletUserProxy.daml
  docs/src/release_notes.rst
Due: copyright, dars_lock, no_illegal_daml_references

demonstrate creating an amulet specific wallet user proxy
  build.sbt
  daml/FOO-wallet-amulet-proxy-test/daml.yaml
  daml/FOO-wallet-amulet-proxy-test/daml/FOO/Util/FeaturedApp/IntegrationTests/TestFeaturedDepositsAndWithdrawals.daml
  daml/FOO-wallet-amulet-proxy-test/daml/FOO/Util/FeaturedApp/IntegrationTests/TestWalletUserProxy.daml
  daml/FOO-wallet-amulet-proxy-test/daml/FOO/Util/FeaturedApp/UnitTests/WalletUserProxy.daml
  daml/FOO-wallet-amulet-proxy/README.md
  daml/FOO-wallet-amulet-proxy/daml.yaml
  daml/FOO-wallet-amulet-proxy/daml/FOO/Util/FeaturedApp/DelegateProxy.daml
  daml/FOO-wallet-amulet-proxy/daml/FOO/Util/FeaturedApp/WalletUserProxy.daml
  daml/dars.lock
  daml/dars/FOO-wallet-amulet-proxy-1.0.0.dar
  daml/dars/FOO-wallet-amulet-proxy-1.1.0.dar
  daml/splice-util-featured-app-proxies/README.md
  docs/api-templates/FOO-wallet-amulet-proxy-index-template.rst
  docs/src/app_dev/daml_api/index.rst
  docs/src/release_notes.rst
  scripts/check-daml-return-types.sh
  scripts/check-daml-warts.sh
Due: copyright, dars_lock, no_illegal_daml_references

[static] init
  project/ignore-patterns/canton_log.ignore.txt
Due: none

[ci] fix order to have dsoParty defined
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
Due: copyright

Fix override order of approved SV identities
  cluster/configs/configs/configs/TestNet/approved-sv-id-values.yaml
  cluster/expected/canton-network/expected.json
  cluster/pulumi/canton-network/src/dso.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

Make clock skew log ignore more generic (#2330)
  project/ignore-patterns/canton_log.ignore.txt
Due: none

annoying
  cluster/expected/sv-runbook/expected.json
Due: none

Fix override order of approved SV identities (#2332)
  cluster/configs/configs/configs/TestNet/approved-sv-id-values.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/dso.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

backport to a weird branch: Fix override order of approved SV identities (#2332)
  cluster/configs/configs/configs/TestNet/approved-sv-id-values.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/dso.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

backport to a weird branch: Fix override order of approved SV identities (#2332) (#2333)
  cluster/configs/configs/configs/TestNet/approved-sv-id-values.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/dso.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

Retry clicking the transfer accept button
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
  apps/wallet/frontend/src/components/TransferOffers.tsx
Due: copyright, typescriptfmt

[ci] test, fixes, comment
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V044__acs_snapshot_balance.sql
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/AcsSnapshotStoreTest.scala
Due: copyright

[ci] fix bad query
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotStore.scala
Due: copyright

check_preview script
  build-tools/check_preview.py
  nix/shell.nix
Due: copyright

[ci] more tests
  apps/scan/frontend/src/__tests__/mocks/data.ts
  apps/scan/frontend/src/__tests__/scan.test.tsx
Due: copyright, typescriptfmt

Determine Amulet total supply by ACS snapshot when possible
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardMetadataHandler.scala
Due: copyright

Hide fees with value 0 in scan UI (#2294)
  apps/scan/frontend/src/__tests__/mocks/data.ts
  apps/scan/frontend/src/__tests__/mocks/handlers/scan-api.ts
  apps/scan/frontend/src/__tests__/scan.test.tsx
  apps/scan/frontend/src/components/NetworkInfo.tsx
Due: copyright, typescriptfmt

[ci] make scan_txlog compare balances
  scripts/scan-txlog/scan_txlog.py
Due: copyright

wip
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/UncachedUserRightsProvider.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/UserAuthExtractor.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/UserRightsProvider.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/UserWalletAuthExtractor.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpExternalAnsHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpScanProxyHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpTokenStandardScanProxyHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorAdminHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandlerUtil.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/UserWalletAuthExtractor.scala
Due: copyright

wip
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/AuthExtractor.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/UncachedUserRightsProvider.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/UserRightsProvider.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/UserWalletAuthExtractor.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
  canton/community/bindings-java/src/main/java/com/daml/ledger/javaapi/data/User.java
Due: copyright

[static] BQ: add all_finance_stats
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

[static] Switched to different approach.
  build-tools/check_preview.py
Due: copyright

[static] Added a script to get all the container package version from… (#2204)
  build-tools/artifactory_to_gcs.py
  build-tools/delete_ghcr_package_version.py
  build-tools/delete_ghcr_version.sh
  build-tools/get_ghcr_container_package_versions.py
  nix/shell.nix
Due: copyright

[static] Fix.
  build-tools/check_preview.py
Due: copyright

[static] BQ: add all_finance_stats
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

[static] more
  cluster/pulumi/canton-network/local.mk
  cluster/pulumi/cluster/local.mk
  cluster/pulumi/deployment/local.mk
  cluster/pulumi/gcp/local.mk
  cluster/pulumi/infra/local.mk
  cluster/pulumi/multi-validator/local.mk
  cluster/pulumi/operator/local.mk
  cluster/pulumi/package-lock.json
  cluster/pulumi/pulumi-test-clusters.mk
  cluster/pulumi/splitwell/local.mk
  cluster/pulumi/sv-canton/local.mk
  cluster/pulumi/sv-runbook/local.mk
  cluster/pulumi/validator-runbook/local.mk
  cluster/pulumi/validator1/local.mk
Due: none

[static] makefile
  Makefile
Due: none

[ci] move gcp-project to cn-internal
  build-tools/lib/pulumi-commands
  cluster/expected/gcp-project/expected.json
  cluster/pulumi/gcp-project/.gitignore
  cluster/pulumi/gcp-project/Pulumi.yaml
  cluster/pulumi/gcp-project/README.md
  cluster/pulumi/gcp-project/dump-config.ts
  cluster/pulumi/gcp-project/local.mk
  cluster/pulumi/gcp-project/package.json
  cluster/pulumi/gcp-project/src/authorizeServiceAccount.ts
  cluster/pulumi/gcp-project/src/config.ts
  cluster/pulumi/gcp-project/src/gcp-project.ts
  cluster/pulumi/gcp-project/src/index.ts
  cluster/pulumi/gcp-project/tsconfig.json
  cluster/pulumi/local.mk
  cluster/pulumi/package.json
  cluster/stacks/scratchnets/gcp-project/Pulumi.da-cn-scratchnet.yaml
  cluster/stacks/scratchnets/gcp-project/Pulumi.yaml
Due: typescriptfmt, pulumi_config

[static] add pulumi-format
  Makefile
Due: none

move gcp-project project to cn-internal (the splice side) (#2308)
  Makefile
  build-tools/lib/pulumi-commands
  cluster/expected/gcp-project/expected.json
  cluster/pulumi/canton-network/local.mk
  cluster/pulumi/cluster/local.mk
  cluster/pulumi/deployment/local.mk
  cluster/pulumi/gcp-project/.gitignore
  cluster/pulumi/gcp-project/Pulumi.yaml
  cluster/pulumi/gcp-project/README.md
  cluster/pulumi/gcp-project/dump-config.ts
  cluster/pulumi/gcp-project/local.mk
  cluster/pulumi/gcp-project/package.json
  cluster/pulumi/gcp-project/src/authorizeServiceAccount.ts
  cluster/pulumi/gcp-project/src/config.ts
  cluster/pulumi/gcp-project/src/gcp-project.ts
  cluster/pulumi/gcp-project/src/index.ts
  cluster/pulumi/gcp-project/tsconfig.json
  cluster/pulumi/gcp/local.mk
  cluster/pulumi/infra/local.mk
  cluster/pulumi/local.mk
  cluster/pulumi/multi-validator/local.mk
  cluster/pulumi/operator/local.mk
  cluster/pulumi/package-lock.json
  cluster/pulumi/package.json
  cluster/pulumi/pulumi-test-clusters.mk
  cluster/pulumi/splitwell/local.mk
  cluster/pulumi/sv-canton/local.mk
  cluster/pulumi/sv-runbook/local.mk
  cluster/pulumi/validator-runbook/local.mk
  cluster/pulumi/validator1/local.mk
  cluster/stacks/scratchnets/gcp-project/Pulumi.da-cn-scratchnet.yaml
  cluster/stacks/scratchnets/gcp-project/Pulumi.yaml
Due: typescriptfmt, pulumi_config

[ci] test for bad dso
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/AcsSnapshotStoreTest.scala
Due: copyright

review comments
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardMetadataHandler.scala
  scripts/scan-txlog/scan_txlog.py
Due: copyright

Add EventHistorySanityCheckPlugin
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/EventHistorySanityCheckPlugin.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
Due: copyright

Disable EventHistorySanityCheckPlugin on tests doing restart of scan-apps
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AppUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BftScanConnectionIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DisasterRecoveryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ParticipantKmsIdentitiesEnterpriseIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanHistoryBackfillingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanWithGradualStartsTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SequencerPruningIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvInitializationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOffboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingConfigIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingViaNonFoundingSvIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvTimeBasedOnboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/connectivity/SvNoSynchronizerConnectivityIntegrationTest.scala
Due: copyright

deal with stupid tap
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletIntegrationTest.scala
  scripts/scan-txlog/scan_txlog.py
Due: copyright

[static] init
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/UpdateHistorySanityCheckPlugin.scala
Due: copyright

[static]silence ScanVerdictStoreIngestion trigger
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/automation_alerts.yaml
Due: none

[static]silence ScanVerdictStoreIngestion trigger (#2338)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/automation_alerts.yaml
Due: none

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
