Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

Removed unnessasry checks
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_tests

Removed synchronizer config from validator-values.yaml
  apps/app/src/pack/examples/sv-helm/validator-values.yaml
Due: none

Minor fixes
  cluster/pulumi/common-sv/src/validatorApp.ts
Due: typescriptfmt, pulumi_tests

Modifie SV synchronizer config
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/common-sv/src/validatorApp.ts
Due: typescriptfmt, pulumi_tests

Removed unwanted checks
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_tests

Added release notes
  docs/src/release_notes_upcoming.rst
Due: copyright

Added Integration Test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Added SV1 topology
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

IntegrationTest skeleton
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
  test-full-class-names.log
Due: copyright

Added clues
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Removed unused imports
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Modifications
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Some additions
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Test Working
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Clues and checks
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Next step
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Code refactored, commented and fully checked
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Minor improvements
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Switch settlement model to treat Allocations as ordered lists of transfers
  daml/splice-amulet/daml/Splice/Amulet/TwoStepTransfer.daml
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
  daml/splice-amulet/daml/Splice/AmuletTransferInstruction.daml
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  daml/splice-amulet/daml/Splice/Types.daml
  daml/splice-wallet-test/daml/Splice/Scripts/TestWallet.daml
  daml/splice-wallet/daml/Splice/Wallet/Install.daml
  token-standard/splice-api-token-allocation-request-v2/daml/Splice/Api/Token/AllocationRequestV2.daml
  token-standard/splice-api-token-allocation-v2/daml/Splice/Api/Token/AllocationV2.daml
  token-standard/splice-api-token-utils-v2/daml/Splice/Api/Token/UtilsV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Apps/TradingAppV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClientV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP.daml
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry.daml
  token-standard/splice-token-standard-test/daml/Splice/Testing/TokenStandard/WalletClient.daml
  token-standard/splice-token-standard-test/daml/Splice/Tests/TestAmuletTokenDvP.daml
Due: copyright, dars_lock, no_illegal_daml_references

vagrant: Fetch package index files first
  Vagrantfile
Due: none

Add average message size to sequencer message dashboard
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer_messages.json
Due: none

Add average message size to sequencer message dashboard (#3962)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer_messages.json
Due: none

add AppRewardCouponV2 and infra
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/Amulet/AppRewards.daml
  daml/splice-amulet/daml/Splice/Amulet/CryptoHash.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/Round.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

update configs
  apps/app/src/test/resources/include/svs/sv1.conf
  apps/app/src/test/resources/include/svs/sv2.conf
  apps/app/src/test/resources/include/svs/sv3.conf
  apps/app/src/test/resources/include/svs/sv4.conf
  apps/app/src/test/resources/local-sv-node/sv-app/app.conf
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/common-sv/src/svApp.ts
Due: typescriptfmt, pulumi_tests

Allow batching of authorizations
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
  token-standard/splice-api-token-allocation-v2/daml/Splice/Api/Token/AllocationV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP.daml
Due: copyright, dars_lock, no_illegal_daml_references

.
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
Due: copyright

vagrant: Add more space for cache
  Vagrantfile
Due: none

Use current amulet price in scan UI
  apps/scan/frontend/src/__tests__/mocks/handlers/scan-api.ts
  apps/scan/frontend/src/__tests__/scan.test.tsx
  apps/scan/frontend/src/components/ActivityTable.tsx
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/protobuf/scan_tx_log.proto
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanTxLogParser.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/TxLogEntry.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanStoreTest.scala
Due: copyright, typescriptfmt

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

sketch roll-out infrastructure
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/Amulet/AppRewards.daml
  daml/splice-amulet/daml/Splice/AmuletConfig.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/ExternalPartyConfigState.daml
  daml/splice-amulet/daml/Splice/Round.daml
Due: copyright, dars_lock, no_illegal_daml_references

Incorporate feedback
  token-standard/splice-api-token-allocation-instruction-v2/daml/Splice/Api/Token/AllocationInstructionV2.daml
  token-standard/splice-api-token-allocation-v2/daml/Splice/Api/Token/AllocationV2.daml
  token-standard/splice-api-token-utils-v2/daml/Splice/Api/Token/UtilsV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

Addressed comments
  apps/app/src/pack/examples/sv-helm/standalone-validator-values.yaml
  apps/app/src/pack/examples/sv-helm/validator-values.yaml
  docs/src/sv_operator/sv_helm.rst
  docs/src/validator_operator/validator_helm.rst
Due: copyright

Doc changes
  docs/src/validator_operator/validator_helm.rst
Due: copyright

.
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
Due: copyright

Last doc changes
  docs/src/validator_operator/validator_helm.rst
Due: copyright

Use current amulet price in scan UI (#3965)
  apps/scan/frontend/src/__tests__/mocks/handlers/scan-api.ts
  apps/scan/frontend/src/__tests__/scan.test.tsx
  apps/scan/frontend/src/components/ActivityTable.tsx
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/protobuf/scan_tx_log.proto
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanTxLogParser.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/TxLogEntry.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanStoreTest.scala
Due: copyright, typescriptfmt

Last commit docs
  docs/src/validator_operator/validator_helm.rst
Due: copyright
