Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

[static] Add the ability to override the cloudsql configs per sv and component for the sv-canton project (#2597)
  cluster/deployment/mock/config.yaml
  cluster/expected/sv-canton/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-validator/src/participant.ts
  cluster/pulumi/common/src/config/cloudSql.ts
  cluster/pulumi/common/src/config/configSchema.ts
  cluster/pulumi/common/src/config/index.ts
  cluster/pulumi/common/src/dump-config-common.ts
  cluster/pulumi/common/src/index.ts
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/splitwell/src/splitwell.ts
  cluster/pulumi/sv-canton/src/canton.ts
  cluster/pulumi/sv-runbook/src/postgres.ts
  cluster/pulumi/validator1/src/validator1.ts
Due: typescriptfmt, pulumi_config

Switch to v2 topology export/import for sequencers
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
Due: copyright

[static] Improve sequencer messages dashboard
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer_messages.json
Due: none

[static] Improve sequencer messages dashboard (#2606)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer_messages.json
Due: none

the round topology transaction goes in the square bytestring hole
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
Due: copyright

[static] init
  .github/workflows/assign_issues_external.yml
Due: gha_lint

Switch to v2 topology export/import for sequencers (#2605)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
Due: copyright

Fix mediator additional env vars
  cluster/helm/splice-global-domain/templates/mediator.yaml
  cluster/helm/splice-global-domain/tests/mediator_test.yaml
Due: none

Make CILR timeouts the default (#2604)
  cluster/helm/splice-sv-node/values-template.yaml
  cluster/helm/splice-validator/values-template.yaml
  cluster/images/scan-app/app.conf
  cluster/images/sv-app/app.conf
  cluster/images/validator-app/app.conf
Due: none

Adjust issuance cap and featured app activity marker default to match mainnet
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceUtil.scala
Due: copyright

[static] Revert “[static] Add the ability to override the cloudsql configs per sv and component for the sv-canton project (#2597)"
  cluster/deployment/mock/config.yaml
  cluster/expected/sv-canton/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-validator/src/participant.ts
  cluster/pulumi/common/src/config/cloudSql.ts
  cluster/pulumi/common/src/config/configSchema.ts
  cluster/pulumi/common/src/config/index.ts
  cluster/pulumi/common/src/dump-config-common.ts
  cluster/pulumi/common/src/index.ts
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/splitwell/src/splitwell.ts
  cluster/pulumi/sv-canton/src/canton.ts
  cluster/pulumi/sv-runbook/src/postgres.ts
  cluster/pulumi/validator1/src/validator1.ts
Due: typescriptfmt, pulumi_config

[static] Fix postgres pulumi protection flag
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/infra/src/observability.ts
  cluster/pulumi/sv-runbook/src/postgres.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

Fix mediator additional env vars (#2609)
  cluster/helm/splice-global-domain/templates/mediator.yaml
  cluster/helm/splice-global-domain/tests/mediator_test.yaml
Due: none

[static] Fix postgres pulumi protection flag (#2612)
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/infra/src/observability.ts
  cluster/pulumi/sv-runbook/src/postgres.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[static] .
  cluster/pulumi/sv-runbook/src/postgres.ts
Due: typescriptfmt, pulumi_config

Revert "[static] Fix postgres pulumi protection flag (#2612)"
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/infra/src/observability.ts
  cluster/pulumi/sv-runbook/src/postgres.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[static] Re-use same logic for protection
  cluster/pulumi/common/src/postgres.ts
Due: typescriptfmt, pulumi_config

rollback postgres protection to the previous behavior (#2613)
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/infra/src/observability.ts
  cluster/pulumi/sv-runbook/src/postgres.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

Add median price to scan UI [ci]
  apps/common/frontend/src/components/MedianAmuletPrice.tsx
  apps/common/frontend/src/components/index.ts
  apps/common/frontend/src/utils/index.ts
  apps/scan/frontend/src/routes/amuletPriceVotes.tsx
  apps/sv/frontend/src/routes/amuletPrice.tsx
Due: copyright, typescriptfmt

Separate components as requested [ci]
  apps/common/frontend/src/components/index.ts
  apps/common/frontend/src/utils/index.ts
  apps/scan/frontend/src/components/MedianAmuletPrice.tsx
  apps/scan/frontend/src/routes/amuletPriceVotes.tsx
  apps/sv/frontend/src/components/amuletprice/MedianAmuletPrice.tsx
  apps/sv/frontend/src/routes/amuletPrice.tsx
Due: copyright, typescriptfmt

Prepare release notes for 0.4.20
  docs/src/release_notes.rst
Due: copyright

[static] fix not running splitwell
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
Due: copyright

Prepare release notes for 0.4.20 (#2615)
  docs/src/release_notes.rst
Due: copyright

[ci] test for failure
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

[ci] move unapproved static checks to a separate workflow
  .github/workflows/build.static_tests.yml
  .github/workflows/pr_static_checks.yml
Due: gha_lint

[ci] attempt with caches excluding personal profile stuff
  .github/actions/nix/setup_nix/action.yml
  .github/actions/tests/common_test_setup/action.yml
  .github/actions/tests/scala_test/action.yml
  .github/workflows/build.docs.yml
  .github/workflows/build.ui_tests.yml
Due: gha_lint

Bump heap size [ci]
  .envrc.vars
Due: none

[static] cleanup
  .github/workflows/pr_static_checks.yml
Due: gha_lint

Bump versions after 0.4.20 release
  LATEST_RELEASE
  VERSION
Due: none

Automatically assign issues from external contributors to triage team (#2607)
  .github/workflows/assign_issues_external.yml
Due: gha_lint

tests
  cluster/helm/splice-validator/tests/uis_test.yaml
  cluster/helm/splice-validator/tests/validator_test.yaml
Due: none

[static] actually move it
  .github/workflows/pr_non_contributors.yml
Due: gha_lint

[static] add unit tests
  cluster/helm/splice-participant/tests/participant_test.yaml
  cluster/helm/splice-validator/tests/validator_test.yaml
Due: none

[ci] maybe exclude the DB too? (will this cache anything then?)
  .github/actions/nix/setup_nix/action.yml
  .github/actions/tests/common_test_setup/action.yml
  .github/actions/tests/scala_test/action.yml
  .github/workflows/build.docs.yml
  .github/workflows/build.ui_tests.yml
Due: gha_lint

[static] init
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

[static] docs, and don't create the auth secrets when no-auth
  cluster/helm/splice-participant/values-template.yaml
  cluster/helm/splice-validator/values-template.yaml
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/validator1/src/validator1.ts
  docs/src/release_notes.rst
  docs/src/validator_operator/validator_helm.rst
Due: copyright, typescriptfmt, pulumi_config

Bump heap size (#2620)
  .envrc.vars
Due: none

Add median price to scan UI (#2614)
  apps/common/frontend/src/components/index.ts
  apps/common/frontend/src/utils/index.ts
  apps/scan/frontend/src/components/MedianAmuletPrice.tsx
  apps/scan/frontend/src/routes/amuletPriceVotes.tsx
  apps/sv/frontend/src/routes/amuletPrice.tsx
Due: copyright, typescriptfmt
