Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

[ci] more
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
Due: copyright

fail instead of warning [skip ci]
  cluster/pulumi/infra/src/index.ts
Due: typescriptfmt, pulumi_tests

update resolved [ci]
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
Due: pulumi_tests

[ci] refactor the mock store
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
Due: copyright

npm fix [ci]
  cluster/pulumi/infra/src/index.ts
Due: typescriptfmt, pulumi_tests

wip
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistorySegmentBulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
Due: copyright

Support separate affinity settings for sequencer and mediator helm deployments
  cluster/helm/splice-global-domain/templates/mediator.yaml
  cluster/helm/splice-global-domain/templates/sequencer.yaml
  cluster/helm/splice-global-domain/values-template.yaml
Due: pulumi_tests

[ci] bump canton
  nix/canton-sources.json
Due: none

new GKE L7 ALB gateway for HTTP ingress with attachable Cloud Armor policy (#2802)
  build-tools/cncluster
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/pulumi/infra/src/cloudArmor.ts
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/gcpLoadBalancer.ts
  cluster/pulumi/infra/src/index.ts
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_tests

Update tests for global-domain helm chart
  cluster/helm/splice-global-domain/tests/mediator_test.yaml
  cluster/helm/splice-global-domain/tests/sequencer_test.yaml
Due: pulumi_tests

bump canton (#3864)
  nix/canton-sources.json
Due: none

[ci] ready
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistorySegmentBulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
Due: copyright

Re-enable consistency checks in CI
  apps/app/src/test/resources/include/mediators.conf
  apps/app/src/test/resources/include/participants.conf
  apps/app/src/test/resources/include/sequencers.conf
  cluster/pulumi/policies/package.json
Due: none

ahhhhh
  cluster/pulumi/policies/package.json
Due: none

[ci] fix
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

Re-enable consistency checks in CI (#3867)
  apps/app/src/test/resources/include/mediators.conf
  apps/app/src/test/resources/include/participants.conf
  apps/app/src/test/resources/include/sequencers.conf
Due: none

.
  nix/canton-sources.json
Due: none

Add command to open the actual alert log filter
  build-tools/cncluster
Due: none

Add support for hyperdisk to backups
  cluster/scripts/node-backup.sh
  cluster/scripts/node-restore.sh
  cluster/scripts/utils.source
  cluster/scripts/vote-for-migration.sh
Due: copyright

Add cncluster command to open the actual alert log filter (#3868)
  build-tools/cncluster
Due: none

Bump canton to 3.4.11-snapshot.20260206.17558.0.v8c896100
  nix/canton-sources.json
Due: none

Include namespace in cometbft block label
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/catchup.json
Due: none

Include namespace in cometbft block label (#3871)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/catchup.json
Due: none

Bumped AnsFrontEndTest Timeout to 200
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/AnsFrontendTestUtil.scala
Due: copyright

Fix collision between bft and cometbft dashboard uids
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/cometbft_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/canton-network/cometbft.json
Due: pulumi_tests

Bumped timeoput
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/AnsFrontendTestUtil.scala
Due: copyright

Fix collision between bft and cometbft dashboard uids (#3874)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/cometbft_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/canton-network/cometbft.json
Due: pulumi_tests

Upgrade pulumi operator to 2.4.1
  cluster/expected/operator/expected.json
  cluster/pulumi/operator/src/operator.ts
Due: typescriptfmt, pulumi_tests

Bump canton to 3.4.11-snapshot.20260206.17558.0.v8c896100 (#3870)
  nix/canton-sources.json
Due: none

RunbookValidatorPreflightIntegrationTest Bumped Ans timeout to 200s (#3875)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/AnsFrontendTestUtil.scala
Due: copyright

Add support for hyperdisk to backups (#3869)
  cluster/scripts/node-backup.sh
  cluster/scripts/node-restore.sh
  cluster/scripts/utils.source
  cluster/scripts/vote-for-migration.sh
Due: copyright

fix vitests [ci]
  apps/sv/frontend/src/__tests__/governance/forms/grant-revoke-featured-app-form.test.tsx
  apps/sv/frontend/src/__tests__/mocks/handlers/sv-api.ts
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/forms/formValidators.ts
Due: copyright, typescriptfmt

Add support for hyperdisk to backups (#3869) (#3878)
  cluster/scripts/node-backup.sh
  cluster/scripts/node-restore.sh
  cluster/scripts/utils.source
  cluster/scripts/vote-for-migration.sh
Due: copyright

Add support for hyperdisk to backups (#3869) (#3879)
  cluster/scripts/node-backup.sh
  cluster/scripts/node-restore.sh
  cluster/scripts/utils.source
  cluster/scripts/vote-for-migration.sh
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
