Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

[ci] fix it and list it
  build.sbt
  test-full-class-names-bulk-storage-poc.log
Due: none

[ci] fix env var
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanBulkStoragePoc.scala
Due: copyright

[ci] read much more at a time, and more frequently
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanBulkStoragePoc.scala
Due: copyright

[ci] speedup
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanBulkStoragePoc.scala
Due: copyright

[ci] 64MB files
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanBulkStoragePoc.scala
Due: copyright

Remove Future, Use simple loop
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvValidatorLicenseIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorLicenseMetadataTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletRewardsTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvTestUtil.scala
Due: copyright

Added back the schema test
  cluster/helm/splice-validator/values.schema.json
Due: none

deleted top level scanAddress
  cluster/expected/validator-runbook/expected.json
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[static] remove temp config
  cluster/deployment/scratchnetc/config.yaml
Due: none

[static] add bucketName and projectId in log
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/BackupDump.scala
Due: copyright

Add log for topology snapshot (#3341)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/BackupDump.scala
Due: copyright

implement resolved config versioning (#3333)
  .pre-commit-config.yaml
  TESTING.md
  cluster/deployment/local.mk
  cluster/deployment/mock/config.resolved.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/local.mk
  cluster/pulumi/common/src/config/configLoader.ts
  cluster/pulumi/local.mk
  cluster/pulumi/package-lock.json
  cluster/pulumi/package.json
  cluster/pulumi/resolvedConfigEmitter.ts
Due: typescriptfmt, pulumi_config

conditional deletion added
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

deduplicate scratchnet configs
  cluster/configs/scratchnet.yaml
  cluster/deployment/scratchneta/config.yaml
  cluster/deployment/scratchnetb/config.yaml
  cluster/deployment/scratchnetc/config.yaml
  cluster/deployment/scratchnetd/config.yaml
  cluster/deployment/scratchnete/config.yaml
Due: none

[ci] Remove cpu limits, requests are set. (#3328)
  cluster/helm/cn-docs/templates/docs.yaml
  cluster/helm/cn-docs/templates/gcs-proxy.yaml
  cluster/helm/splice-domain/values-template.yaml
  cluster/helm/splice-info/values-template.yaml
  cluster/helm/splice-info/values.schema.json
  cluster/helm/splice-postgres/values-template.yaml
  cluster/helm/splice-scan/templates/scan.yaml
  cluster/helm/splice-splitwell-app/values-template.yaml
  cluster/helm/splice-splitwell-web-ui/values-template.yaml
  cluster/helm/splice-sv-node/templates/sv-web-ui.yaml
  cluster/helm/splice-validator/templates/ans-web-ui.yaml
  cluster/helm/splice-validator/templates/wallet-web-ui.yaml
  cluster/helm/splice-validator/values-template.yaml
Due: none

Modified TS types
  cluster/pulumi/common-validator/src/config.ts
Due: typescriptfmt, pulumi_config

Edited message
  cluster/helm/splice-validator/values.schema.json
Due: none

edited validator.yaml
  cluster/helm/splice-validator/templates/validator.yaml
Due: none

Upgrade pulumi to 3.202
  cluster/pulumi/common/package.json
  cluster/pulumi/package-lock.json
Due: none

Added helm test
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/helm/splice-validator/tests/validator_test.yaml
Due: none

expected
  cluster/expected/canton-network/expected.json
  cluster/expected/gcp/expected.json
  cluster/expected/sv-runbook/expected.json
Due: none

Fix rateLimitIsEnforced
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RateLimitPreflightIntegrationTest.scala
Due: copyright

Upgrade pulumi to 3.202 (#3346)
  cluster/expected/canton-network/expected.json
  cluster/expected/gcp/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/common/package.json
  cluster/pulumi/package-lock.json
Due: none

Revert "implement resolved config versioning (#3333)"
  .pre-commit-config.yaml
  TESTING.md
  cluster/deployment/local.mk
  cluster/deployment/mock/config.resolved.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/local.mk
  cluster/pulumi/common/src/config/configLoader.ts
  cluster/pulumi/local.mk
  cluster/pulumi/package-lock.json
  cluster/pulumi/package.json
  cluster/pulumi/resolvedConfigEmitter.ts
Due: typescriptfmt, pulumi_config

fix includes referencing cluster/deployment/local.mk
  cluster/deployment/local.mk
  cluster/local.mk
  cluster/pulumi/local.mk
Due: none

Revert "implement resolved config versioning" (#3348)
  .pre-commit-config.yaml
  TESTING.md
  cluster/deployment/local.mk
  cluster/deployment/mock/config.resolved.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/local.mk
  cluster/pulumi/common/src/config/configLoader.ts
  cluster/pulumi/local.mk
  cluster/pulumi/package-lock.json
  cluster/pulumi/package.json
  cluster/pulumi/resolvedConfigEmitter.ts
Due: typescriptfmt, pulumi_config

wip
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanBulkStoragePoc.scala
Due: copyright

[release-line-0.4.25] Fix mainnet check for auth0 output (#3149)
  cluster/pulumi/common/src/auth0/auth0.ts
Due: typescriptfmt, pulumi_config

Fix mainnet check for auth0 output (#3149) (#3350)
  cluster/pulumi/common/src/auth0/auth0.ts
Due: typescriptfmt, pulumi_config

[ci] fake test
  README.md
Due: none

Fix rateLimitIsEnforced (#3347)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RateLimitPreflightIntegrationTest.scala
Due: copyright

[ci] fix docker-mirror helm repo
  cluster/pulumi/gha/src/dockerMirror.ts
Due: typescriptfmt, pulumi_config

[static] revert storage bump in gha runners
  cluster/pulumi/gha/src/runners.ts
Due: typescriptfmt, pulumi_config

[ci] test with an ACS snapshot
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanBulkStoragePoc.scala
Due: copyright

update tokenomics
  docs/src/app_dev/overview/index.rst
  docs/src/background/tokenomics/overview_tokenomics.rst
  test-cometbft-full-class-names.log
  test-daml-ciupgrade-vote.log
  test-full-class-names-app-upgrade.log
  test-full-class-names-auth0-credentials-preflight.log
  test-full-class-names-bigquery.log
  test-full-class-names-canton-enterprise.log
  test-full-class-names-core-preflight-non-devnet.log
  test-full-class-names-core-preflight.log
  test-full-class-names-disaster-recovery.log
  test-full-class-names-docker-based.log
  test-full-class-names-docker-compose-validator-preflight.log
  test-full-class-names-frontend-sim-time.log
  test-full-class-names-frontend.log
  test-full-class-names-local-net-based.log
  test-full-class-names-non-integration.log
  test-full-class-names-offboard-sv-runbook-preflight.log
  test-full-class-names-prepare-reonbaord-sv-preflight.log
  test-full-class-names-re-onboard-sv-runbook-preflight.log
  test-full-class-names-record-time-tolerance.log
  test-full-class-names-resource-intensive.log
  test-full-class-names-signatures.log
  test-full-class-names-sim-time.log
  test-full-class-names-sv-preflight-non-devnet.log
  test-full-class-names-sv-preflight.log
  test-full-class-names-validator-preflight-non-devnet.log
  test-full-class-names-validator-preflight.log
  test-full-class-names-validator1-preflight.log
  test-full-class-names.log
Due: copyright

updates
  docs/src/app_dev/overview/index.rst
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
