Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

Add helm/pulumi support for the new dabft config setup (#4530)
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/helm/splice-scan/templates/scan.yaml
  cluster/helm/splice-scan/tests/scan_test.yaml
  cluster/helm/splice-scan/values.schema.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/svApp.ts
  cluster/pulumi/common/src/config/migrationSchema.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_tests

add handling for the /lsu_test comment on PRs (#4527)
  .github/pull_request_template.md
  .github/workflows/pr_cluster_test.yml
  TESTING.md
Due: gha_lint

Upgrade operator to 2.6.0 (#4536)
  cluster/expected/operator/expected.json
  cluster/pulumi/operator/src/operator.ts
Due: typescriptfmt, pulumi_tests

Pulumi changes to move topology snapshots to da-cn-shared (#4447)
  build-tools/cncluster
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/pulumi/canton-network/src/dso.ts
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-validator/src/backup.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/backup.ts
  cluster/pulumi/common/src/buckets.ts
  cluster/pulumi/common/src/dump-config-common.ts
  cluster/pulumi/common/src/index.ts
  cluster/pulumi/common/src/runbook-backup.ts
  cluster/pulumi/common/src/topology-snapshot.ts
  cluster/pulumi/splitwell/src/splitwell.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
  cluster/pulumi/validator1/src/validator1.ts
Due: typescriptfmt, pulumi_tests

override participantAddress in sv-runbook for a logical synchronizer deployment
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_tests

reuse participant address
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_tests

override participantAddress in sv-runbook for a logical synchronizer deployment (#4543)
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_tests

Drop redundant ACS snapshot indexes
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V062__drop_redundant_acs_snapshot_indexes.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotStore.scala
Due: copyright

Also drop constraint
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V062__drop_redundant_acs_snapshot_indexes.sql
Due: none

add ; to flyway for consistency
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V062__update_history_for_hash.sql
Due: none

Persist ext txn hashes and expose with threshold date (#4388)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternalPartySetupProposalIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternallySignedPartyTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardAllocationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTxLogIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V062__update_history_for_hash.sql
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
Due: copyright

add better error logging to dump-config.ts files so that the original error is not obfuscated
  cluster/pulumi/canton-network/dump-config.ts
  cluster/pulumi/cluster/dump-config.ts
  cluster/pulumi/cluster/tsconfig.json
  cluster/pulumi/deployment/dump-config.ts
  cluster/pulumi/gcp/dump-config.ts
  cluster/pulumi/infra/dump-config.ts
  cluster/pulumi/multi-validator/dump-config.ts
  cluster/pulumi/operator/dump-config.ts
  cluster/pulumi/splitwell/dump-config.ts
  cluster/pulumi/sv-canton/dump-config.ts
  cluster/pulumi/sv-runbook/dump-config.ts
  cluster/pulumi/sv/dump-config.ts
  cluster/pulumi/validator-runbook/dump-config.ts
  cluster/pulumi/validator1/dump-config.ts
Due: typescriptfmt, pulumi_tests

Drop redundant ACS snapshot indexes (#4510)
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V062__drop_redundant_acs_snapshot_indexes.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotStore.scala
Due: copyright

add better error logging to dump-config.ts files so that the original error is not obfuscated (#4551)
  cluster/pulumi/canton-network/dump-config.ts
  cluster/pulumi/cluster/dump-config.ts
  cluster/pulumi/cluster/tsconfig.json
  cluster/pulumi/deployment/dump-config.ts
  cluster/pulumi/gcp/dump-config.ts
  cluster/pulumi/infra/dump-config.ts
  cluster/pulumi/multi-validator/dump-config.ts
  cluster/pulumi/operator/dump-config.ts
  cluster/pulumi/splitwell/dump-config.ts
  cluster/pulumi/sv-canton/dump-config.ts
  cluster/pulumi/sv-runbook/dump-config.ts
  cluster/pulumi/sv/dump-config.ts
  cluster/pulumi/validator-runbook/dump-config.ts
  cluster/pulumi/validator1/dump-config.ts
Due: typescriptfmt, pulumi_tests

clean up
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
Due: copyright

adding additionalPackagesToUnvet map to specify extra package to unvet [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/UnsupportedPackageVettingIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/PackageVettingTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/DarResourcesUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvPackageVettingTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorPackageVettingTrigger.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
Due: copyright

Rename conflicting migration
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V063__drop_redundant_acs_snapshot_indexes.sql
Due: none

Rename conflicting migration (#4554)
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V063__drop_redundant_acs_snapshot_indexes.sql
Due: none

Fix duplicates in upcoming release notes
  docs/src/release_notes_upcoming.rst
Due: copyright

vet packages that were removed from additional ignore map, do not vet on init ones that are on the map [static]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigDarUploadIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/PackageVettingTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/DarResourcesUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/PackageVetting.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

Workaround for missing traffic summaries
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

[ci] Simplify BulkStorage construction
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/BulkStorage.scala
Due: copyright

Add peer config
  cluster/pulumi/package-lock.json
Due: none

Add LSU sequencing test automation
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LogicalSynchronizerUpgradeSequencingTestTrigger.scala
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/lsu-sequencing-test.json
  docs/src/sv_operator/sv_logical_synchronizer_upgrade.rst
Due: copyright

add pulumi extra map flag [ci]
  cluster/configs/shared/scratchnet.yaml
  cluster/deployment/mock/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/svApp.ts
  cluster/pulumi/common-sv/src/validatorApp.ts
Due: typescriptfmt, pulumi_tests

[ci] Add config for the update
  cluster/pulumi/common-validator/src/config.ts
  cluster/pulumi/common/src/config/cloudSql.ts
  cluster/pulumi/common/src/config/configSchema.ts
  cluster/pulumi/common/src/config/hyperdiskSupportConfig.ts
  cluster/pulumi/common/src/config/loadTesterConfig.ts
  cluster/pulumi/common/src/config/migrationSchema.ts
  cluster/pulumi/common/src/operator/config.ts
  cluster/pulumi/gha/src/runners.test.ts
  cluster/pulumi/package-lock.json
Due: typescriptfmt, pulumi_tests

Script creating token standard v2 base branch
  scripts/rename.sh
Due: copyright

add v2 build.sbt
  build.sbt
Due: none

Remove legacy .dependsOn(canton-bindings-java)
  build.sbt
Due: none

rename: token-standard-test(?!-v)///token-standard-test-v1
  apps/common/src/test/java/org/lfdecentralizedtrust/splice/util/scalatesttags/SpliceTokenTestTradingApp_1_0_0.java
  build.sbt
  daml/splice-amulet-test/daml.yaml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-util-token-standard-wallet-test/daml.yaml
  daml/splice-wallet-test/daml.yaml
  docs/api-templates/splice-token-standard-test-v1-index-template.rst
  docs/api-templates/splice-token-test-trading-app-index-template.rst
  docs/gen-daml-docs.sh
  docs/src/app_dev/daml_models/index.rst
  docs/src/faq.rst
  project/BuildCommon.scala
  token-standard/splice-token-standard-test-v1/daml.yaml
  token-standard/splice-token-standard-test-v1/daml/Splice/Testing/Registries/AmuletRegistry.daml
  token-standard/splice-token-standard-test-v1/daml/Splice/Testing/Registries/AmuletRegistry/Parameters.daml
  token-standard/splice-token-standard-test-v1/daml/Splice/Testing/TokenStandard/RegistryApi.daml
  token-standard/splice-token-standard-test-v1/daml/Splice/Testing/TokenStandard/WalletClient.daml
  token-standard/splice-token-standard-test-v1/daml/Splice/Testing/Utils.daml
  token-standard/splice-token-standard-test-v1/daml/Splice/Tests/TestAmuletTokenDvP.daml
  token-standard/splice-token-standard-test-v1/daml/Splice/Tests/TestAmuletTokenTransfer.daml
Due: copyright, dars_lock, no_illegal_daml_references

copy template: token-standard/splice-api-token-transfer-instruction-v1/ -> token-standard/splice-api-token-transfer-instruction-v2/
  token-standard/splice-api-token-transfer-instruction-v2/daml.yaml
  token-standard/splice-api-token-transfer-instruction-v2/daml/Splice/Api/Token/TransferInstructionV1.daml
  token-standard/splice-api-token-transfer-instruction-v2/openapi/docker-compose.yml
  token-standard/splice-api-token-transfer-instruction-v2/openapi/transfer-instruction-v1.yaml
Due: copyright, dars_lock, no_illegal_daml_references

copy template: token-standard/splice-token-standard-test-v1/ -> token-standard/splice-token-standard-test-v2/
  token-standard/splice-token-standard-test-v2/daml.yaml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistry.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistry/Parameters.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/RegistryApi.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClient.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Utils.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenTransfer.daml
Due: copyright, dars_lock, no_illegal_daml_references

copy template: token-standard/splice-api-token-allocation-request-v1/ -> token-standard/splice-api-token-allocation-request-v2/
  token-standard/splice-api-token-allocation-request-v2/README.md
  token-standard/splice-api-token-allocation-request-v2/daml.yaml
  token-standard/splice-api-token-allocation-request-v2/daml/Splice/Api/Token/AllocationRequestV1.daml
Due: copyright, dars_lock, no_illegal_daml_references

copy template: token-standard/splice-api-token-allocation-instruction-v1/ -> token-standard/splice-api-token-allocation-instruction-v2/
  token-standard/splice-api-token-allocation-instruction-v2/daml.yaml
  token-standard/splice-api-token-allocation-instruction-v2/daml/Splice/Api/Token/AllocationInstructionV1.daml
  token-standard/splice-api-token-allocation-instruction-v2/openapi/allocation-instruction-v1.yaml
  token-standard/splice-api-token-allocation-instruction-v2/openapi/docker-compose.yml
Due: copyright, dars_lock, no_illegal_daml_references

copy template: token-standard/examples/splice-token-test-trading-app/daml/Splice/Testing/Apps/TradingApp.daml -> token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Apps/TradingAppV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Apps/TradingAppV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

rename: (?<![Mm]etadata-)(?<![Mm]etadata/)(?<![Mm]etadata)(?<! )v1///v2
  token-standard/splice-api-token-allocation-instruction-v2/daml.yaml
  token-standard/splice-api-token-allocation-instruction-v2/openapi/allocation-instruction-v2.yaml
  token-standard/splice-api-token-allocation-request-v2/daml.yaml
  token-standard/splice-api-token-allocation-v2/daml.yaml
  token-standard/splice-api-token-allocation-v2/openapi/allocation-v2.yaml
  token-standard/splice-api-token-holding-v2/daml.yaml
  token-standard/splice-api-token-transfer-instruction-v2/daml.yaml
  token-standard/splice-api-token-transfer-instruction-v2/openapi/transfer-instruction-v2.yaml
  token-standard/splice-token-standard-test-v2/daml.yaml
Due: dars_lock, no_illegal_daml_references

copy template: token-standard/splice-api-token-holding-v1/ -> token-standard/splice-api-token-holding-v2/
  token-standard/splice-api-token-holding-v2/daml.yaml
  token-standard/splice-api-token-holding-v2/daml/Splice/Api/Token/HoldingV1.daml
Due: copyright, dars_lock, no_illegal_daml_references

copy template: token-standard/splice-api-token-allocation-v1/ -> token-standard/splice-api-token-allocation-v2/
  token-standard/splice-api-token-allocation-v2/daml.yaml
  token-standard/splice-api-token-allocation-v2/daml/Splice/Api/Token/AllocationV1.daml
  token-standard/splice-api-token-allocation-v2/openapi/allocation-v1.yaml
  token-standard/splice-api-token-allocation-v2/openapi/docker-compose.yml
Due: copyright, dars_lock, no_illegal_daml_references

rename: (?<=[./])RegistryApi(?!V2)///RegistryApiV2
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/RegistryApiV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenTransfer.daml
Due: copyright, dars_lock, no_illegal_daml_references

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
