Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

consistency
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

make auth0 stuff also work on mainnet
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

slight polishing
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/deployment/expected.json
  cluster/expected/infra/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

Sketch Daml fix
  daml/dars.lock
  daml/dars/splice-dso-governance-0.1.19.dar
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance/daml.yaml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

mostly npmfix
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/svConfigs.ts
  cluster/pulumi/infra/src/auth0.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

npmFix and other fixes
  cluster/expected/deployment/expected.json
  cluster/expected/infra/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/common/src/dump-config-common.ts
Due: typescriptfmt, pulumi_config

[ci] Try color always in pulumi.
  cluster/pulumi/pulumi.ts
  cluster/pulumi/sv-canton/pulumiPreview.ts
Due: typescriptfmt, pulumi_config

[static] Run adaptive load tester just for 2h
  cluster/pulumi/common/src/config/loadTesterConfig.ts
  load-tester/src/settings.ts
Due: typescriptfmt, pulumi_config

[static] Run adaptive load tester just for 2h (#2176)
  cluster/pulumi/common/src/config/loadTesterConfig.ts
  load-tester/src/settings.ts
Due: typescriptfmt, pulumi_config

[ci] add color: 'always' option in pulumi. (#2174)
  cluster/pulumi/pulumi.ts
  cluster/pulumi/sv-canton/pulumiPreview.ts
Due: typescriptfmt, pulumi_config

Update faq.rst
  docs/src/faq.rst
Due: copyright

Pulumi: various changes to support configuring extra SVs (#2175)
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/deployment/expected.json
  cluster/expected/infra/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/svConfigs.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
  cluster/pulumi/common/src/dump-config-common.ts
  cluster/pulumi/infra/src/auth0.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

Revert "fix sql syntax (#2169)"
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

Revert "[static] always use computed migration IDs (#2168)"
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: copyright, typescriptfmt, pulumi_config

revert bigQuery migration IDs change (#2179)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: copyright, typescriptfmt, pulumi_config

Copilot writing its own instructions (#2115)
  .github/copilot-instructions.md
Due: gha_lint

[static] BigQuery: include inputUnclaimedActivityRecordAmount in total minted
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

Fix `ignored-expired-rewards-party-ids` to ignore beneficiaries
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
Due: copyright

scalafmt argh
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
Due: copyright

[ci] use sort of custom implementation
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceCircuitBreaker.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/environment/CommandCircuitBreakerTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/util/SpliceCircuitBreakerTest.scala
Due: copyright

BigQuery: include inputUnclaimedActivityRecordAmount in total minted (#2184)
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

.
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

split minting by reward type
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: typescriptfmt, pulumi_config

[static] BQ: split minting by reward type
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: copyright, typescriptfmt, pulumi_config

[static] correct amounts
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

[static] nicer
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: copyright, typescriptfmt, pulumi_config

.
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

[ci] fix leftover jfrog usage
  .github/workflows/build.ts_cli_tests.yml
Due: gha_lint

BQ: split mint by reward type (#2187)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: copyright, typescriptfmt, pulumi_config

[static] test passes
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

[static] .
  cluster/deployment/scratchneta/config.yaml
  cluster/pulumi/canton-network/src/bigQuery.ts
Due: typescriptfmt, pulumi_config

[static] lower&upper bounds
  cluster/deployment/scratchneta/config.yaml
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

[static] daily mint
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: copyright, typescriptfmt, pulumi_config

[static] .
  cluster/pulumi/canton-network/src/bigQuery.ts
Due: typescriptfmt, pulumi_config

[static] daily burn&mint
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: copyright, typescriptfmt, pulumi_config

BQ: compute daily mint&burn (#2189)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: copyright, typescriptfmt, pulumi_config
