Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

be more explicit about Type and Mode [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

[ci] turns out adding a test was not impossible
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanIntegrationTest.scala
Due: copyright

[static] prelim test
  .github/workflows/build.static_tests.yml
  .github/workflows/pr_wip.yml
Due: gha_lint

add ManualStartIntegrationTest to resource-intensive set (#1665)
  build.sbt
  test-full-class-names-resource-intensive.log
  test-full-class-names.log
Due: none

[static] prelim test
  .github/workflows/pr_wip.yml
Due: gha_lint

[static] default container
  .github/workflows/build.static_tests.yml
Due: gha_lint

[static] .
  .github/actions/nix/setup_self_hosted_nix/action.yml
Due: gha_lint

[static] .
  .github/workflows/build.static_tests.yml
Due: gha_lint

fix silly schema conversion [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

report serialization errors better [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

Any is a great type; fixes JSON as JSON [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

fix arrays too [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

factor migration ID/record time check; fix () nesting [skip ci]
  apps/app/src/test/resources/total-supply-bigquery.sql
Due: none

factor migration ID/record time check; fix () nesting [static]
  apps/app/src/test/resources/total-supply-bigquery.sql
Due: none

factor migration ID/record time check; fix () nesting (#1669)
  apps/app/src/test/resources/total-supply-bigquery.sql
Due: none

[static] .
  .github/actions/nix/setup_self_hosted_nix/action.yml
  .github/workflows/pr_wip.yml
Due: gha_lint

account for zero mints [skip ci]
  apps/app/src/test/resources/total-supply-bigquery.sql
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

add docs blurb
  docs/src/validator_operator/validator_helm.rst
Due: copyright

show sample submitted row [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

label comparisons [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

split clue [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

fix CI
  docs/src/validator_operator/validator_helm.rst
Due: copyright

avoid silly NPE [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

lock some amulet [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

cluster, images, fix: Make empty value for SPLICE_MALLOC_ARENA_MAX work
  cluster/images/common/entrypoint.sh
Due: copyright

[ci] fix ts fmt + fix package-lock file + added releases notes
  apps/package-lock.json
  cluster/pulumi/canton-network/src/dso.ts
  docs/src/release_notes.rst
Due: copyright, typescriptfmt, pulumi_config

Fix typo in docs
  docs/src/faq.rst
Due: copyright

cluster, images, fix: Make empty value for SPLICE_MALLOC_ARENA_MAX work (#1670)
  cluster/images/common/entrypoint.sh
Due: copyright

[ci] add default initialRound in deployment/config.yaml
  cluster/deployment/config.yaml
  cluster/deployment/mock/config.yaml
Due: none

Fix typo in docs (#1671)
  docs/src/faq.rst
Due: copyright

gcp-project: role fixes for new CCI SA to be able to run cluster tests (#1667)
  cluster/expected/gcp-project/expected.json
  cluster/pulumi/gcp-project/src/authorizeServiceAccount.ts
  cluster/pulumi/gcp-project/src/gcp-project.ts
Due: typescriptfmt, pulumi_config

[ci] remove staled code
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvInitializationIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/RestartDsoDelegateBasedAutomationTrigger.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
