Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

[ci] .
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanFrontendTimeBasedIntegrationTest.scala
Due: copyright

[ci] drop null values in bulk storage updates
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistorySegmentBulkStorage.scala
Due: copyright

[ci] another test fix
  apps/scan/frontend/src/routes/root.tsx
Due: copyright, typescriptfmt

[ci] encode as updates V2 in bulk storage
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistorySegmentBulkStorage.scala
Due: copyright

[ci] fix TODO
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
Due: copyright

[ci] fmt
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanFrontendTimeBasedIntegrationTest.scala
Due: copyright

[ci] release notes
  docs/src/release_notes_upcoming.rst
Due: copyright

[ci] .
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

Improve test comments and descriptions
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/rewards/RewardComputationInputsTest.scala
Due: copyright

s/reward_amount/total_app_reward_amount/
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanAppRewardsStore.scala
Due: copyright

[ci] s/aliceBoundary/alice250K/
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbScanAppRewardsStoreTest.scala
Due: copyright

Extract BigDecimalMatchers into a trait in apps/common
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/util/BigDecimalMatchers.scala
Due: copyright

Use beEqualUpTo and remove assertClose
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/rewards/RewardComputationInputsTest.scala
Due: copyright

[ci] Assume a 5% development fund
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/rewards/RewardComputationInputsTest.scala
Due: copyright

Add a TODO(#4747) comment
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanAppRewardsStore.scala
Due: copyright

Use live DSO config for current issuance config
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/rewards/RewardComputationInputsTest.scala
Due: copyright

[ci] Add a test case confirming that doubling traffic halves issuance
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/rewards/RewardComputationInputsTest.scala
Due: copyright

Traffic-Based App Rewards: Adds computeRewardTotals to DbScanAppRewardsStore (#4639)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/util/BigDecimalMatchers.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/RewardComputationInputs.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanAppRewardsStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanAppRewardsStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/rewards/RewardComputationInputsTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbScanAppRewardsStoreTest.scala
  test-full-class-names-non-integration.log
Due: copyright

Add Splice.Testing.CryptoHashProxy to splice-amulet-testing
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet-test/daml/Splice/Testing/CryptoHashProxy.daml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-wallet-test/daml.yaml
  daml/splitwell-test/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

Update build files to allow use of TestEngine in splice tests
  build.sbt
  project/BuildCommon.scala
Due: copyright

[ci] Add DB versions of Splice.Amulet.CryptoHash
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V065__app_reward_hash_functions.sql
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbCryptoHashFunctionsTest.scala
  test-full-class-names-non-integration.log
Due: copyright

[ci] Replace DbCryptoHashFunctionsTest with CryptoHashEquivalenceTest
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/CryptoHashEquivalenceTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbCryptoHashFunctionsTest.scala
  test-full-class-names-non-integration.log
Due: copyright

[ci] Improve ppsql functions
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V065__app_reward_hash_functions.sql
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbCryptoHashFunctionsTest.scala
Due: copyright

[static] Update dars.lock
  daml/dars.lock
Due: none

Switched the TODO reference to distinct issue
  daml/splice-amulet-test/daml/Splice/Testing/CryptoHashProxy.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add version from Mateusz Piatkowski
  build.sbt
  token-standard/examples/splice-test-token-v1/daml.yaml
  token-standard/examples/splice-test-token-v1/daml/Coin/Allocation/Allocation.daml
  token-standard/examples/splice-test-token-v1/daml/Coin/Allocation/Instruction.daml
  token-standard/examples/splice-test-token-v1/daml/Coin/Allocation/Request.daml
  token-standard/examples/splice-test-token-v1/daml/Coin/Holding.daml
  token-standard/examples/splice-test-token-v1/daml/Coin/Instrument.daml
  token-standard/examples/splice-test-token-v1/daml/Coin/Metadata.daml
  token-standard/examples/splice-test-token-v1/daml/Coin/Transfer.daml
  token-standard/examples/splice-test-token-v1/daml/Coin/Util.daml
Due: copyright, dars_lock, no_illegal_daml_references

Rename to TestTokenV1
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Allocation/Allocation.daml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Allocation/Instruction.daml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Allocation/Request.daml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Holding.daml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Instrument.daml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Metadata.daml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Transfer.daml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Util.daml
Due: copyright, dars_lock, no_illegal_daml_references

More rename, partial review
  token-standard/examples/splice-test-token-v1/daml.yaml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Allocation/Allocation.daml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Allocation/Request.daml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Holding.daml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Metadata.daml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Transfer.daml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Util.daml
Due: copyright, dars_lock, no_illegal_daml_references

Ignore token standard in flux checkouts (#4743)
  cluster/expected/deployment/expected.json
  cluster/expected/operator/expected.json
  cluster/pulumi/common/src/operator/flux-source.ts
Due: typescriptfmt, pulumi_tests

Remove the non-integration test
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/CryptoHashEquivalenceTest.scala
  test-full-class-names-non-integration.log
Due: copyright

Implement CryptoHashEquivalenceIntegrationTest
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/CryptoHashEquivalenceIntegrationTest.scala
  test-full-class-names.log
Due: copyright

[ci] Reverts 4b90a0ae5, those BUILD dependency changes are no longer needed
  build.sbt
  project/BuildCommon.scala
Due: copyright

move Mateusz token impl to token-v0
  token-standard/examples/splice-test-token-v0/daml.yaml
  token-standard/examples/splice-test-token-v0/daml/Splice/Testing/Tokens/TestTokenV1/Allocation/Allocation.daml
  token-standard/examples/splice-test-token-v0/daml/Splice/Testing/Tokens/TestTokenV1/Allocation/Instruction.daml
  token-standard/examples/splice-test-token-v0/daml/Splice/Testing/Tokens/TestTokenV1/Holding.daml
  token-standard/examples/splice-test-token-v0/daml/Splice/Testing/Tokens/TestTokenV1/Instrument.daml
  token-standard/examples/splice-test-token-v0/daml/Splice/Testing/Tokens/TestTokenV1/Transfer.daml
  token-standard/examples/splice-test-token-v0/daml/Splice/Testing/Tokens/TestTokenV1/Util.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add token-v1 impl
  build.sbt
  token-standard/examples/splice-test-token-v1/daml.yaml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Token.daml
Due: copyright, dars_lock, no_illegal_daml_references

delete token-v0 implementation
  token-standard/examples/splice-test-token-v0/daml.yaml
  token-standard/examples/splice-test-token-v0/daml/Splice/Testing/Tokens/TestTokenV1/Allocation/Allocation.daml
  token-standard/examples/splice-test-token-v0/daml/Splice/Testing/Tokens/TestTokenV1/Allocation/Instruction.daml
  token-standard/examples/splice-test-token-v0/daml/Splice/Testing/Tokens/TestTokenV1/Holding.daml
  token-standard/examples/splice-test-token-v0/daml/Splice/Testing/Tokens/TestTokenV1/Instrument.daml
  token-standard/examples/splice-test-token-v0/daml/Splice/Testing/Tokens/TestTokenV1/Transfer.daml
  token-standard/examples/splice-test-token-v0/daml/Splice/Testing/Tokens/TestTokenV1/Util.daml
Due: copyright, dars_lock, no_illegal_daml_references

Make test-token-v1 build
  build.sbt
  token-standard/examples/splice-test-token-v1/daml.yaml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1/Token.daml
Due: copyright, dars_lock, no_illegal_daml_references

docs: add better reloader docs
  docs/src/release_notes_upcoming.rst
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
