Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

.
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LogicalSynchronizerUpgradeTrigger.scala
Due: copyright

Add release bundle to TOKEN_STANDARD_V2_DEVNET.md (#4893)
  token-standard/TOKEN_STANDARD_V2_DEVNET.md
Due: none

[static] missed one
  cluster/pulumi/common/src/config/configSchema.ts
  cluster/pulumi/gha/src/runners.ts
Due: typescriptfmt, pulumi_tests

[ci] fix ui typo
  apps/sv/frontend/src/utils/buildAmuletConfigChanges.ts
Due: typescriptfmt

fix ephemeral-storage requests (#4885)
  cluster/pulumi/common/src/config/configSchema.ts
  cluster/pulumi/gha/src/runners.ts
Due: typescriptfmt, pulumi_tests

script to search for a canton snapshot by SHA (#4890)
  scripts/search-canton-snapshot.py
Due: copyright

try deflaking SvMergeSvRewardStateIntegrationTest (#4856)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvMergeSvRewardStateIntegrationTest.scala
Due: copyright

deflake: filter metric by sync_id (#4855)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletMetricsTest.scala
Due: copyright

test that gets up to settling the trade
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
Due: copyright

format
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
Due: copyright

Eliminate nested eventually's in CopyVotesIntegrationTest
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/CopyVotesIntegrationTest.scala
Due: copyright

[ci] more log ignores in lsu test
  project/ignore-patterns/canton-standalone-global-synchronizer-upgrade.ignore.txt
  project/ignore-patterns/canton_log.ignore.txt
Due: none

Added GrantValidatorPermission api and SV handler
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvOperatorHandler.scala
  load-tester/package-lock.json
  party-allocator/package-lock.json
Due: copyright

Do the same as the daml test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
Due: copyright

Added App Reference
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvOperatorAppClient.scala
Due: copyright

more log ignores in lsu test (#4895)
  project/ignore-patterns/canton-standalone-global-synchronizer-upgrade.ignore.txt
  project/ignore-patterns/canton_log.ignore.txt
Due: none

Allow bidirectional vote copying between SVs (#4840)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/CopyVotesIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/CopyVotesTrigger.scala
Due: copyright

[ci] fix env var
  build-tools/splice-localnet-compose.sh
Due: copyright

[ci] port
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LocalNetFrontendIntegrationTest.scala
Due: copyright

Make protocol version configurable (#4887)
  .github/workflows/build.scala_test.yml
  .github/workflows/build.scala_test_bigquery.yml
  .github/workflows/build.scala_test_for_compose.yml
  .github/workflows/build.scala_test_with_cometbft.yml
  .github/workflows/build.wallclock_pg14.yml
  .github/workflows/build.yml
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
Due: copyright, gha_lint

feat(dso-governance): CIP-0105 Phase 2 — lock-derived SV weight evaluation (#4841)
  daml/dars.lock
  daml/dars/splice-dso-governance-0.1.24.dar
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestSVLocking.daml
  daml/splice-dso-governance/daml/Splice/DSO/SVLocking.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

add display name and quota name to exceeded message [skip ci]
  cluster/pulumi/infra/src/gcpAlerts.ts
Due: typescriptfmt, pulumi_tests

use regex for limit filter [skip ci]
  cluster/configs/shared/base.yaml
  cluster/pulumi/infra/src/gcpAlerts.ts
Due: typescriptfmt, pulumi_tests

support gcpQuotas.excludedMetrics [skip ci]
  cluster/configs/shared/base.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/gcpAlerts.ts
  cluster/pulumi/infra/src/index.ts
Due: typescriptfmt, pulumi_tests

try to label with >90% metric [skip ci]
  cluster/pulumi/infra/src/gcpAlerts.ts
Due: typescriptfmt, pulumi_tests

remove unneeded defaults [skip ci]
  cluster/pulumi/infra/src/config.ts
Due: typescriptfmt, pulumi_tests

add excludedApproachingMetrics [skip ci]
  cluster/configs/shared/base.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/gcpAlerts.ts
Due: typescriptfmt, pulumi_tests

exclude old kms quotas, no regex for exceeded [skip ci]
  cluster/configs/shared/base.yaml
  cluster/pulumi/infra/src/gcpAlerts.ts
Due: typescriptfmt, pulumi_tests

more exact metric name test [skip ci]
  cluster/configs/shared/base.yaml
  cluster/pulumi/infra/src/config.ts
Due: typescriptfmt, pulumi_tests

markdown not actually used [skip ci]
  cluster/pulumi/infra/src/gcpAlerts.ts
Due: typescriptfmt, pulumi_tests

where to find metric name [skip ci]
  cluster/pulumi/infra/src/gcpAlerts.ts
Due: typescriptfmt, pulumi_tests

update expected [ci]
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
Due: pulumi_tests

[ci] .
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LocalNetFrontendIntegrationTest.scala
Due: copyright

[ci] works
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LocalNetFrontendIntegrationTest.scala
Due: copyright

stop banning Canton from our Daml code [ci]
  scripts/rename.sh
Due: copyright

Add support for SV LSU without bft sequencer connections (#4834)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/DomainMigrationUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LogicalSynchronizerUpgradeTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LsuNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/lsu/RollForwardLsuInitializer.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

init [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/UnsupportedPackageVettingIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/PackageVettingTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/PackageIdResolver.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/DarResourcesUtil.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

bump vite with plugins [ci]
  apps/ans/frontend/package.json
  apps/package-lock.json
  apps/scan/frontend/package.json
  apps/splitwell/frontend/package.json
  apps/sv/frontend/package.json
  apps/wallet/frontend/package.json
Due: none

[ci] add nix packages
  nix/extra-pulumi-packages.nix
  nix/generate_pulumi_packages.sh
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
