Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

todo comment
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Fix wrong customTimeout definition place (#2026)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceParametersConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  cluster/images/scan-app/app.conf
Due: copyright

Add additional env vars to scan
  cluster/expected/canton-network/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
Due: typescriptfmt, pulumi_config

fix wrong test suite names in gha
  .github/workflows/build.docs.yml
  .github/workflows/build.ts_cli_tests.yml
Due: gha_lint

[ci] move more small jobs to gh-hosted
  .github/workflows/build.yml
Due: gha_lint

[ci] more
  .github/workflows/build.scala_test.yml
  .github/workflows/build.scala_test_for_compose.yml
  .github/workflows/build.scala_test_with_cometbft.yml
  .github/workflows/daml_compat_test.yml
  .github/workflows/pr_non_contributors.yml
Due: copyright, gha_lint

fix wrong test suite names in gha (#2028)
  .github/workflows/build.docs.yml
  .github/workflows/build.ts_cli_tests.yml
Due: gha_lint

start-canton options to disable immediate flush [skip ci]
  start-canton.sh
Due: copyright

add disable_immediate_flush to GHA, support in logback-test [skip ci]
  .github/actions/tests/scala_test/action.yml
  .github/workflows/build.scala_test.yml
Due: copyright, gha_lint

set immediate flush off for wallclock [skip ci]
  .github/workflows/build.yml
Due: gha_lint

logback-test support [ci]
  canton/community/testing/src/test/resources/logback-test.xml
Due: none

quoting? [ci]
  .github/workflows/build.scala_test.yml
Due: copyright, gha_lint

move pre-and-post test jobs to gh-hosted (#2029)
  .github/workflows/build.scala_test.yml
  .github/workflows/build.scala_test_for_compose.yml
  .github/workflows/build.scala_test_with_cometbft.yml
  .github/workflows/build.yml
  .github/workflows/daml_compat_test.yml
  .github/workflows/pr_non_contributors.yml
Due: copyright, gha_lint

[static] bump npm auth0 packages
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/common/package.json
  cluster/pulumi/gcp/package.json
  cluster/pulumi/infra/package.json
  cluster/pulumi/package-lock.json
Due: none

force false just in case option not passing through [ci]
  canton/community/testing/src/test/resources/logback-test.xml
Due: none

disable test parallel execution [ci]
  build.sbt
Due: none

[static] fix it
  cluster/pulumi/common/src/auth0.ts
  cluster/pulumi/infra/package.json
  cluster/pulumi/package-lock.json
Due: typescriptfmt, pulumi_config

[static] fix missing ts lib
  cluster/pulumi/tsconfig.json
Due: none

update lock file
  daml/dars.lock
  daml/dars/splice-dso-governance-0.1.18.dar
Due: none

make the name checker happy
  daml/dars.lock
  daml/dars/splice-dso-governance-0.1.18.dar
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

add more synchronization, how did anything ever work
  apps/package-lock.json
  apps/sv/frontend/src/__tests__/governance/forms/grant-revoke-featured-app-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/offboard-sv-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-dso-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
Due: copyright, typescriptfmt

Upgrade Canton to 3.3.0-snapshot.20250827.16063.0.vdc9a8874
  nix/canton-sources.json
Due: none

Don't go through amulet rules for DsoRules_ClaimExpiredRewards (#2020)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/package-lock.json
  apps/package.json
  apps/sv/frontend/src/__tests__/governance/forms/grant-revoke-featured-app-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/offboard-sv-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-dso-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  daml/dars.lock
  daml/dars/splice-dso-governance-0.1.18.dar
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance/daml.yaml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
  docs/src/release_notes.rst
  scripts/scan-txlog/scan_txlog.py
Due: copyright, dars_lock, no_illegal_daml_references, typescriptfmt

add V043__scan_verdict_store.sql
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V043__scan_verdict_store.sql
Due: none

Add APIs for scan-app /v0/events endpoint
  apps/scan/src/main/openapi/scan.yaml
Due: none

Init DbScanVerdictStore, with basic APIs
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Init ScanVerdictAutomationService, with gRPC client
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

Add mediatorAdminClient to ScanAppBackendConfig
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
Due: copyright

Add mediator-admin-client port data to test configs
  apps/app/src/test/resources/include/scans/sv1-scan.conf
  apps/app/src/test/resources/include/scans/sv2-scan.conf
  apps/app/src/test/resources/include/scans/sv3-scan.conf
  apps/app/src/test/resources/include/scans/sv4-scan.conf
  apps/app/src/test/resources/local-sv-node/scan-app/app.conf
Due: none

Invoke DbScanVerdictStore and ScanVerdictAutomationService
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
Due: copyright

Add basic stub APIs for handling /v0/events
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

wip: do toUpdateV2 in encodings
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

[ci] Increase sequencer event buffers for subscriptions
  apps/app/src/test/resources/include/sequencers.conf
  cluster/images/canton-cometbft-sequencer/app.conf
  cluster/images/canton-sequencer/app.conf
Due: none

[ci] add env vars to the sequencer so we can configure the cilr sequencers first
  apps/app/src/test/resources/include/sequencers.conf
  cluster/deployment/mock/config.yaml
  cluster/expected/sv-canton/expected.json
  cluster/helm/splice-global-domain/templates/sequencer.yaml
  cluster/images/canton-cometbft-sequencer/app.conf
  cluster/images/canton-sequencer/app.conf
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/sv-canton/src/canton.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_config

Migrate from reference driver to BFT driver
  .github/workflows/build.scala_test.yml
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/UpdateHistorySanityCheckPlugin.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/CommonAppInstanceReferences.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/StandaloneCanton.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/AutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/scan/AggregatingScanConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  test-full-class-names-resource-intensive.log
Due: copyright, gha_lint

[ci] Increase sequencer event buffers for subscriptions in tests (#2034)
  apps/app/src/test/resources/include/sequencers.conf
  cluster/deployment/mock/config.yaml
  cluster/expected/sv-canton/expected.json
  cluster/helm/splice-global-domain/templates/sequencer.yaml
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/sv-canton/src/canton.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_config

Unify expiry date calculation logic
  apps/common/frontend/src/components/votes/ActionView.tsx
  apps/sv/frontend/src/components/votes/VoteRequest.tsx
Due: copyright, typescriptfmt

[ci] Add the config to scanApp next to svApp and not the other scan somewhere else
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
Due: typescriptfmt, pulumi_config

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
