Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

[ci] Use withManualStart to start only backends whose reference the test uses
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/CryptoHashEquivalenceIntegrationTest.scala
Due: copyright

Enable multi-sync feature flag where required
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  canton/community/base/src/main/protobuf/com/digitalasset/canton/protocol/v30/topology.proto
  canton/community/base/src/main/scala/com/digitalasset/canton/topology/transaction/TopologyMapping.scala
Due: copyright

docs: add better reloader docs (#4751)
  docs/src/release_notes_upcoming.rst
Due: copyright

Bump nix
  cluster/pulumi/common/package.json
  cluster/pulumi/package-lock.json
  cluster/pulumi/sv-canton/package.json
  nix/README.md
  nix/extra-pulumi-packages.nix
  nix/flake.lock
  nix/generate_pulumi_packages.sh
Due: copyright

[ci] bump expected
  cluster/expected/splitwell/expected.json
Due: none

[ci] Change syncpack to npx
  build.sbt
Due: none

[ci] fmt
  build.sbt
Due: none

[ci] Change syncpack to npx
  build.sbt
  nix/flake.nix
  nix/npmpkgs/default.nix
  nix/npmpkgs/node-env.nix
  nix/npmpkgs/node-packages.json
  nix/npmpkgs/node-packages.nix
  nix/shell.nix
Due: none

Reenable LSU sequencing tests (#4740)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuIntegrationTest.scala
  canton/community/base/src/main/protobuf/com/digitalasset/canton/protocol/v30/topology.proto
  canton/community/base/src/main/scala/com/digitalasset/canton/topology/transaction/TopologyMapping.scala
  cluster/configs/shared/base.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  nix/canton-sources.json
Due: copyright, pulumi_tests

partial integration of test token in registry
  build.sbt
  token-standard/examples/splice-test-token-v1/daml.yaml
  token-standard/examples/splice-test-token-v1/daml/Splice/Testing/Tokens/TestTokenV1.daml
  token-standard/splice-token-standard-test-v2/daml.yaml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/TestTokenV1_RegistryV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

Remove reward sharing v2 code [ci]
  build.sbt
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet/daml.yaml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-api-reward-assignment-v1/daml.yaml
  daml/splice-api-reward-assignment-v1/daml/Splice/Api/RewardAssignmentV1.daml
  docs/api-templates/splice-api-reward-assignment-v1-index-template.rst
  docs/src/app_dev/daml_api/index.rst
  docs/src/release_notes_upcoming.rst
  token-standard/package-lock.json
Due: copyright, dars_lock, no_illegal_daml_references

[ci] add an ignore pattern
  project/ignore-patterns/sbt-output.ignore.txt
Due: none

Replace actAndCheck with clue for synchronous checks
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/CryptoHashEquivalenceIntegrationTest.scala
Due: copyright

[ci] Use update_dar_unless_exises, add NoDamlCompatibilityCheck tag
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/CryptoHashEquivalenceIntegrationTest.scala
Due: copyright

Polish release notes [static]
  docs/src/release_notes_upcoming.rst
Due: copyright

Revert "Remove reward sharing v2 code [ci]"
  build.sbt
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet/daml.yaml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-api-reward-assignment-v1/daml.yaml
  daml/splice-api-reward-assignment-v1/daml/Splice/Api/RewardAssignmentV1.daml
  docs/api-templates/splice-api-reward-assignment-v1-index-template.rst
  docs/src/app_dev/daml_api/index.rst
  docs/src/release_notes_upcoming.rst
  token-standard/package-lock.json
Due: copyright, dars_lock, no_illegal_daml_references

bump vetDars timeout and pause/resume vetting trigger [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/UnsupportedPackageVettingIntegrationTest.scala
Due: copyright

Add deterministic ordering to listContractsOnDomain
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
Due: copyright

Address comment typos and left-over FIXMEs [no ci]
  daml/splice-amulet/daml/Splice/Amulet/CryptoHash.daml
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

Use withAdditionalSetup to upload the dar
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/CryptoHashEquivalenceIntegrationTest.scala
Due: copyright

lsu test - Add validator that is offline during the LSU
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

[ci] Update the comment
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/CryptoHashEquivalenceIntegrationTest.scala
Due: copyright

Upgrade Canton to 3.5.0-snapshot.20260331.18507.0.v8907db71
  nix/canton-sources.json
Due: none

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/ProcessTestUtil.scala
Due: copyright

log ignore for lsu
  project/ignore-patterns/canton_log.ignore.txt
Due: none

Update splice version in TOKEN_STANDARD_V2_DEVNET.md
  token-standard/TOKEN_STANDARD_V2_DEVNET.md
Due: none

Upgrade Canton to 3.5.0-snapshot.20260331.18507.0.v8907db71 (#4758)
  nix/canton-sources.json
  project/ignore-patterns/canton_log.ignore.txt
Due: none
