Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

Randomize submission of vetting transactions to avoid load spikes (#1880)
  apps/app/src/test/resources/include/svs/_sv.conf
  apps/app/src/test/resources/include/validators/_validator.conf
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/PackageVettingTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminDarsConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/TopologyAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/PackageVetting.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvPackageVettingTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorPackageVettingTrigger.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/expected/validator1/expected.json
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/config/networkWideConfig.ts
  cluster/pulumi/common/src/index.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
  docs/src/release_notes.rst
Due: copyright, typescriptfmt, pulumi_config

[ci] init
  .github/workflows/build.yml
Due: gha_lint

[ci] set frontend test parallelism to 3
  .github/workflows/build.yml
Due: gha_lint

[ci] inscrease parallelism to 3
  .github/workflows/build.yml
Due: gha_lint

repro dr issue
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorReonboardingIntegrationTest.scala
Due: copyright

useMutation
  apps/wallet/frontend/src/components/TransferOffers.tsx
Due: copyright, typescriptfmt

Reduce frontend test parallelism (#1894)
  .github/workflows/build.yml
Due: gha_lint

Add retry
  apps/wallet/frontend/src/components/TransferOffers.tsx
Due: copyright, typescriptfmt

Bump canton for sequencer fix
  nix/canton-sources.json
Due: none

Retry accept/reject transfer offer in wallet UI (#1895)
  apps/wallet/frontend/src/components/TransferOffers.tsx
Due: copyright, typescriptfmt

Bump canton for sequencer fix (#1896)
  nix/canton-sources.json
Due: none

[ci] test
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/PackageVetting.scala
Due: copyright

[ci] fix
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/PackageVetting.scala
Due: copyright

Deprecate splice-wallet-payments and transfer offers in docs
  docs/api-templates/splice-wallet-index-template.rst
  docs/api-templates/splice-wallet-payments-index-template.rst
  docs/src/app_dev/validator_api/index.rst
  docs/src/release_notes.rst
Due: copyright

Deprecate splice-wallet-payments and transfer offers in docs (#1898)
  docs/api-templates/splice-wallet-index-template.rst
  docs/api-templates/splice-wallet-payments-index-template.rst
  docs/src/app_dev/validator_api/index.rst
  docs/src/release_notes.rst
Due: copyright

Upgrade to pulumi operator 2.2
  cluster/expected/operator/expected.json
  cluster/pulumi/common/src/operator/stack.ts
  cluster/pulumi/operator/src/operator.ts
Due: typescriptfmt, pulumi_config

Add more disclaimers to DR docs for external parties
  docs/src/validator_operator/validator_disaster_recovery.rst
Due: copyright

Add more disclaimers to DR docs for external parties (#1900)
  docs/src/validator_operator/validator_disaster_recovery.rst
Due: copyright

Upgrade to pulumi operator 2.2 (#1899)
  cluster/expected/operator/expected.json
  cluster/pulumi/common/src/operator/stack.ts
  cluster/pulumi/operator/src/operator.ts
Due: typescriptfmt, pulumi_config

[ci] test
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
Due: copyright

[ci] test
  .github/workflows/build.yml
  build.sbt
Due: gha_lint

clarify useTransferPreapproval flag in sweep config
  apps/app/src/pack/examples/sv-helm/validator-values.yaml
Due: none

Make alert threshold for mediator acknowledgement lag configurable
  cluster/deployment/config.yaml
  cluster/pulumi/infra/grafana-alerting/acknowledgement_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

clarify useTransferPreapproval flag in sweep config (#1902)
  apps/app/src/pack/examples/sv-helm/validator-values.yaml
Due: none

Make alert threshold for mediator acknowledgement lag configurable (#1903)
  cluster/deployment/config.yaml
  cluster/pulumi/infra/grafana-alerting/acknowledgement_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[release-line-0.4.9] Make alert threshold for mediator acknowledgement lag configurable
  cluster/deployment/config.yaml
  cluster/pulumi/infra/grafana-alerting/acknowledgement_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[release-line-0.4.8] Make alert threshold for mediator acknowledgement lag configurable
  cluster/deployment/config.yaml
  cluster/pulumi/infra/grafana-alerting/acknowledgement_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[release-line-0.4.10] Make alert threshold for mediator acknowledgement lag configurable
  cluster/deployment/config.yaml
  cluster/pulumi/infra/grafana-alerting/acknowledgement_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

cluster: Build cross-platform Docker images natively
  cluster/images/canton/Dockerfile
  cluster/images/splice-app/Dockerfile
  cluster/images/splice-web-ui/Dockerfile
Due: none

scripts/check-base-images.sh: Parse Dockerfiles to get base image
  scripts/check-base-images.sh
Due: copyright

cluster, images, canton: Update comment and lablel
  cluster/images/canton/Dockerfile
Due: none

scripts/check-base-images.sh: Make shellcheck happy
  scripts/check-base-images.sh
Due: copyright

[release-line-0.4.10] Make alert threshold for mediator acknowledgement lag configurable (#1904)
  cluster/deployment/config.yaml
  cluster/pulumi/infra/grafana-alerting/acknowledgement_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[release-line-0.4.8] Make alert threshold for mediator acknowledgement lag configurable (#1906)
  cluster/deployment/config.yaml
  cluster/pulumi/infra/grafana-alerting/acknowledgement_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[release-line-0.4.9] Make alert threshold for mediator acknowledgement lag configurable (#1905)
  cluster/deployment/config.yaml
  cluster/pulumi/infra/grafana-alerting/acknowledgement_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

Fix txlog backfilling alert false positive
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/automation_alerts.yaml
Due: none

Fix txlog backfilling alert false positive (#1908)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/automation_alerts.yaml
Due: none

Clean up public ingress things and allow making SV info endpoint public
  cluster/deployment/config.yaml
  cluster/deployment/mock/config.yaml
  cluster/deployment/scratchnetb/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/common/src/config/configSchema.ts
  cluster/pulumi/common/src/config/index.ts
  cluster/pulumi/infra/src/index.ts
  cluster/pulumi/infra/src/istio.ts
  cluster/pulumi/infra/src/network.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

fix back alert silencing (maybe)
  build-tools/cncluster
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
