Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

Fix whitespace error from removal of temporary version
  canton/community/synchronizer/src/main/protobuf/com/digitalasset/canton/mediator/admin/v30/mediator_inspection_service.proto
Due: none

Remove sequencer_traffic_summary_store
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Add getRecordByRecordTime and use it to validate AppActivityRecord insertion
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Update documentation of insertVerdictsWithAppActivityRecords
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Explicitly name the primary key
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
Due: none

Move optionJsonGetResult into AcsJdbcTypes
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Rename items in the sql and related Db classes
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Verify correct loading of traffic_summaries are loaded from scan_verdict_store
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Fix comment
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
Due: none

Fix the explanation comment on insertVerdictAndTransactionViews
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Renumber the migration file after a merge
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V058__traffic_summary_and_app_activity_record_store.sql
Due: none

Key app_activity records off scan_verdict_store.row_id
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V058__traffic_summary_and_app_activity_record_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/AppActivityComputation.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

fix wallet test; and allocation with self-transfer
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  daml/splice-wallet-test/daml/Splice/Scripts/TestWallet.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistryV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

Use tryFromProtoTimestamp when converting proto timestamps
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

fix v1 compatibility
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
  token-standard/splice-api-token-allocation-request-v2/daml/Splice/Api/Token/AllocationRequestV2.daml
  token-standard/splice-token-standard-test/daml/Splice/Tests/TestAmuletTokenDvP.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update test-full-class-names-non-integration.log
  test-full-class-names-non-integration.log
Due: none

Simplify AppActivityComputation
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/AppActivityComputation.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

init [static]
  .gitmodules
Due: none

Fixes splice-shared-gha submodule url (#4226)
  .gitmodules
Due: none

Fetch the app activity records in a batch
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Add traffic summary as part of EventHistoryItem in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

Update EventHistoryItem in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

Update description of the app activity record mining round in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

Update traffic summary description in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

Serve app activity records in /v0/events
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Add experimental note for the new properties
  apps/scan/src/main/openapi/scan.yaml
Due: none

Add app activity record as part of EventHistoryItem in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

Serve traffic summaries in /v0/events
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

Gate serving on config flags
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
Due: copyright

s/EventHistoryAppActivityRecord/EventHistoryAppActivityRecords/
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

Update description of view IDs in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

Update mining round description in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

s/featured app provider/app provider/
  apps/scan/src/main/openapi/scan.yaml
Due: none

Pair the party and weight in the app activity record
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

Update traffic cost description in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

Use ANY(array) via the inClause function
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
Due: copyright

Update EventHistoryItem description
  apps/scan/src/main/openapi/scan.yaml
Due: none

s/app_activity_record/app_activity_records/
  apps/scan/src/main/openapi/scan.yaml
Due: none

s/entries/records/ and similar changes
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

Update description of EventHistoryAppActivityRecords to include CIP-104
  apps/scan/src/main/openapi/scan.yaml
Due: none

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
