Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

bump canton to 3.5
  docs/src/release_notes.rst
Due: copyright

no daml under daml
  docs/src/release_notes.rst
Due: copyright

sv ui improvements
  docs/src/release_notes.rst
Due: copyright

Update release notes for 0.6.0
  docs/src/release_notes.rst
  docs/src/release_notes_upcoming.rst
Due: copyright

fix config
  docs/src/release_notes.rst
Due: copyright

Update docs/src/release_notes.rst
  docs/src/release_notes.rst
Due: copyright

Revert "sv ui improvements"
  docs/src/release_notes.rst
Due: copyright

Update release notes for 0.6.0 (#5195)
  docs/src/release_notes.rst
  docs/src/release_notes_upcoming.rst
Due: copyright

Bump versions and add back upcoming header
  LATEST_RELEASE
  VERSION
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AppUpgradeIntegrationTest.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

Bump versions and add back upcoming header (#5210)
  LATEST_RELEASE
  VERSION
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AppUpgradeIntegrationTest.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

Add Moritz to auto-assigned reviewers for shared-gha bumps
  scripts/bump-splice-shared-gha.sh
Due: copyright

Add Moritz to auto-assigned reviewers for shared-gha bumps (#5211)
  scripts/bump-splice-shared-gha.sh
Due: copyright

Reviewer comments
  AI_POLICY.md
Due: none

[ci] build nodesWithChildren via a mutable HashMap and a single-pass child-id translation
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

[ci] iterative, pre-sized Trees.getLocalEventIndices
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/Trees.scala
Due: copyright

[ci] makeConsistentAcrossSvs, eliminate some allocations
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

[ci] Added tests for makeConsistentAccressSvs
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
Due: copyright

[ci] cache tree.getEventsById once in makeConsistentAcrossSvs
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

[ci] formatting
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
Due: copyright

[ci] removed some leftovers.
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/Trees.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
Due: copyright

Improve performance of makeConsistentAcrossSv further (#5206)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/Trees.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
Due: copyright

Add detectBumps/rewriteDamlYamlVersion/rewritePackageJson helpers (#3667)
  build-tools/dar-lock-checker/src/main/scala/org/lfdecentralizedtrust/splice/build_tools/DarLockChecker.scala
  build-tools/dar-lock-checker/src/test/scala/org/lfdecentralizedtrust/splice/build_tools/DarLockCheckerTest.scala
  build.sbt
Due: copyright

Add 'bump' subcommand to DarLockChecker (#3667)
  build-tools/dar-lock-checker/src/main/scala/org/lfdecentralizedtrust/splice/build_tools/DarLockChecker.scala
Due: copyright

Add sbt damlBumpPackageVersions task (#3667)
  build.sbt
  project/BuildCommon.scala
Due: copyright

Run DarLockChecker unit tests in static_tests (#3667)
  .github/workflows/build.static_tests.yml
Due: gha_lint

Document sbt damlBumpPackageVersions in DEVELOPMENT.md (#3667)
  DEVELOPMENT.md
Due: none

fixes [static]
  cluster/expected/observability/expected.json
  cluster/pulumi/observability/grafana-dashboards/canton-network/sequencer-submissions-amplifications.json
Due: none

Add dashboard around sequencer submission amplification metrics (#5202)
  cluster/expected/observability/expected.json
  cluster/pulumi/observability/grafana-dashboards/canton-network/sequencer-submissions-amplifications.json
Due: none

DEVELOPMENT.md fixes
  DEVELOPMENT.md
Due: none

bump timeUntilSuccess[ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigIntegrationTest.scala
Due: copyright

docs(amulet-drip): fix auth flow and VALIDATOR_API_URL in testing guide
  amulet-drip/README.md
  amulet-drip/TESTING.md
Due: none

formatFix
  build-tools/dar-lock-checker/src/main/scala/org/lfdecentralizedtrust/splice/build_tools/DarLockChecker.scala
  build-tools/dar-lock-checker/src/test/scala/org/lfdecentralizedtrust/splice/build_tools/DarLockCheckerTest.scala
Due: copyright

move test
  .github/workflows/build.static_tests.yml
  test-full-class-names-non-integration.log
Due: gha_lint

docs(amulet-drip): fix auth flow, VALIDATOR_API_URL, and remove Quickstart script dependencies
  amulet-drip/TESTING.md
Due: none

Testing for #5215: first Daml change on branch
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/package.json
  daml/dars.lock
  daml/dars/splice-amulet-0.1.19.dar
  daml/dars/splice-amulet-name-service-0.1.20.dar
  daml/dars/splice-dso-governance-0.1.25.dar
  daml/dars/splice-wallet-0.1.20.dar
  daml/dars/splice-wallet-payments-0.1.19.dar
  daml/dars/splitwell-0.1.20.dar
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet/daml.yaml
  daml/splice-amulet/daml/Splice/Fees.daml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance/daml.yaml
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-util-token-standard-wallet-test/daml.yaml
  daml/splice-wallet-payments/daml.yaml
  daml/splice-wallet-test/daml.yaml
  daml/splice-wallet/daml.yaml
  daml/splitwell-test/daml.yaml
  daml/splitwell/daml.yaml
  token-standard/splice-token-standard-test/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

FIXME not liked by static checks
  daml/dars/splice-amulet-0.1.19.dar
  daml/splice-amulet/daml/Splice/Fees.daml
Due: copyright, dars_lock, no_illegal_daml_references

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
