Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

[ci] fix HC problems on localnet
  cluster/compose/localnet/compose.yaml
  cluster/compose/localnet/docker/canton/Dockerfile
  cluster/compose/localnet/docker/canton/health-check.sh
Due: copyright, pulumi_tests

Faster query for complete activity record rounds (#5315)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
Due: copyright

check minting transactions
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/TestRegistries.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/TestTokenV2_RegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/MultiRegistry.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClientV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestBatchedTokenTransfer.daml
Due: copyright, dars_lock, no_illegal_daml_references

build infra to test expected reason metadata
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClientV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestBatchedTokenTransfer.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update docs/src/release_notes.rst
  docs/src/release_notes.rst
Due: copyright

Add the app_activity_record_meta table
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V066__app_activity_record_meta.sql
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Add activity ingestion version check and config
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictIngestionService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ActivityIngestionMetaCheck.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/db/CheckMetaVersionsTest.scala
Due: copyright

Extract findMissingSummaryTimes into ActivityIngestionMetaCheck
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictIngestionService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ActivityIngestionMetaCheck.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

[ci] Clarify an if clause
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ActivityIngestionMetaCheck.scala
Due: copyright

[ci] Document activity-ingestion-user-version config in release notes
  docs/src/release_notes_upcoming.rst
Due: copyright

[static] Update the upcoming release notes
  docs/src/release_notes_upcoming.rst
Due: copyright

[ci] s/getActivityRecordMeta/lookupActivityRecordMeta/
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ActivityIngestionMetaCheck.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Rewrite earliestRoundWithCompleteAppActivity to use stored round
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

[ci] Update some comments
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V066__app_activity_record_meta.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictIngestionService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
Due: copyright

[ci] Add CheckMetaVersionsTest to CI test list
  test-full-class-names-non-integration.log
Due: none

[static] Fix the issue reference
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictIngestionService.scala
Due: copyright

Fail ingestion batch on missing traffic summaries after start
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictIngestionService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ActivityIngestionMetaCheck.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

[static] Document activityIngestionUserVersion in the sv_operations guide
  docs/src/sv_operator/sv_operations.rst
Due: copyright

[static] Add explantory scaladoc to ActivityIngestionMetaCheck
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictIngestionService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ActivityIngestionMetaCheck.scala
Due: copyright

Add new meta rows rather than updating in place
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V066__app_activity_record_meta.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ActivityIngestionMetaCheck.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/db/CheckMetaVersionsTest.scala
Due: copyright

also check history of DvP test cases
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Apps/TradingAppV2_Backend.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClientV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

[ci] Simplify use of ensure, make comments around it more concise
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictIngestionService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ActivityIngestionMetaCheck.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

[ci] use grpcurl for localnet
  cluster/compose/localnet/docker/canton/Dockerfile
  cluster/compose/localnet/docker/canton/health-check.sh
Due: copyright

Release notes for 0.6.2 (#5313)
  docs/src/release_notes.rst
  docs/src/release_notes_upcoming.rst
Due: copyright

[ci] fix path
  cluster/compose/localnet/compose.yaml
Due: pulumi_tests

fixes 5001 -- by converting to FIXMEs
  daml/splice-amulet-test/daml/Splice/Scripts/TestTransferPreapproval.daml
  daml/splice-amulet/daml/Splice/AmuletEventLog.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  daml/splice-amulet/daml/Splice/ExternalPartyConfigState.daml
  daml/splice-wallet-payments/daml/Splice/Wallet/Subscriptions.daml
  daml/splice-wallet/daml/Splice/Wallet/TransferOffer.daml
  token-standard/examples/splice-test-token-v2/daml/Splice/Testing/Tokens/TestTokenV2.daml
  token-standard/splice-token-standard-test-v1/daml/Splice/Tests/TestAmuletTokenTransfer.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClientV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestTxHistoryV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

test that full metadata is passed along in preapprovals
  build.sbt
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet-test/daml/Splice/Scripts/TestTransferPreapproval.daml
Due: copyright, dars_lock, no_illegal_daml_references

fixmes
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  token-standard/splice-token-standard-test-v1/daml/Splice/Tests/TestAmuletTokenTransfer.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClientV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

testing fixmes
  daml/splice-amulet-test/daml/Splice/Scripts/TestTransferPreapproval.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Apps/TradingAppV2_Backend.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/TestTokenV2_RegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClientV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

[ci] run npm audit w/o force
  apps/package-lock.json
Due: none

[ci] just use grpc-client-cli
  cluster/compose/localnet/docker/canton/Dockerfile
  cluster/compose/localnet/docker/canton/health-check.sh
Due: copyright

Bump version and latest release
  LATEST_RELEASE
  VERSION
  docs/src/release_notes_upcoming.rst
Due: copyright

[ci] Guard nextRound against earliestComplete exceeding latestComplete
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/RewardComputationTrigger.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/automation/RewardComputationTriggerTest.scala
Due: copyright

[ci] Perform activity totals and root-hash calculations for rounds with zero activity
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

do not share TransferLeg definition
  build.sbt
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-wallet-test/daml/Splice/Scripts/Wallet/TestTokenStandardV2.daml
  token-standard/splice-api-token-transfer-events-v2/daml.yaml
  token-standard/splice-api-token-transfer-events-v2/daml/Splice/Api/Token/TransferEventsV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClientV2.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Events.daml
Due: copyright, dars_lock, no_illegal_daml_references

drop superfluous .dar
  daml/dars/splice-api-token-transfer-events-v2-2.0.0.dar
Due: none
