Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

Use HexString instead of toStringUtf8 for viewHashes
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

Extract fromProto into the DbScanVerdictStore companion
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Remove the JSONB column default value
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
Due: none

Improve the TODO comment
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

Don't use a distinct history ID for summary transfer ingestion
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Remove listTrafficSummaries and make maxSequencingTime test-only
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Update the migration that adds traffic summary and app activity records
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
Due: none

Remove redundant advanceLastIngestedSequencingTime et al
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
Due: copyright

Use shorter key names when saving JSONB
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
Due: copyright

Use the DbXXXStore for TrafficSummaries/AppActivityRecords in ScanEvent
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Add a no-op app activity computation to ScanVerdictStoreIngestion
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/AppActivityComputation.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

Store the correlated view-ids rather than the view-hashes
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Extract fromProto into DbSequencerTrafficStore
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
Due: copyright

Remove the WIP sequencer_inspection_service.proto
  apps/scan/src/main/protobuf/sequencer_inspection_service.proto
Due: none

Remove the now unused synchronizerId value from some constructors
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Add a TODO about ensuring the SQL tx boundaries are set ok
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

Add TODO(#4060) fetched traffic summaries should not be empty
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

Patch the most recent (unpublished) version of mediator_inspection_service
  canton/community/synchronizer/src/main/protobuf/com/digitalasset/canton/mediator/admin/v30/mediator_inspection_service.proto
Due: none

Throw an exception if timestamp parsing fails
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Convert the unique index into the primary key, dropping record_id
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Store the parties and weights as arrays rather than JSONB
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Remove unnecessary fields from the AppActivityRecord table
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Track the most recent version of sequencer_inspection_service
  apps/scan/src/main/protobuf/sequencer_inspection_service.proto
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/sequencer/SequencerTrafficClient.scala
Due: copyright

Add the TODO(#2856) link that was inadvertently removed
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
Due: copyright

Move AppActivityComputation to a distinct package
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/AppActivityComputation.scala
Due: copyright

Extract fromProtoCorrelation into the DbSequencerTrafficSummaryStore companion
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
Due: copyright

Add app_activity_record_store.sql and its DB...Store class
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Remove duplicate detection from DbSequencerTrafficStore
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Extract buildViewHashCorrelation into DbScanVerdictStore
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

add the export
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sponsor/DsoPartyMigration.scala
Due: copyright

[ci] and the import
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeDsoPartyHosting.scala
Due: copyright

add a switch for the logical synchronizer deployment mode
  cluster/expected/canton-network/expected.json
  cluster/pulumi/common/src/config/migrationSchema.ts
Due: typescriptfmt, pulumi_tests

Reconcile beta and normal theme (#4079)
  apps/common/frontend-typeface-lato/fonts/Lato-Regular.ttf
  apps/common/frontend-typeface-lato/index.css
  apps/common/frontend-typeface-lato/index.d.ts
  apps/common/frontend-typeface-lato/package.json
  apps/common/frontend/package.json
  apps/common/frontend/src/components/Dso.tsx
  apps/common/frontend/src/components/ValidatorLicenses.tsx
  apps/common/frontend/src/components/votes/ListVoteRequests.tsx
  apps/common/frontend/src/theme/index.ts
  apps/package-lock.json
  apps/package.json
  apps/sv/frontend/src/App.tsx
  apps/sv/frontend/src/beta-theme/index.ts
  apps/sv/frontend/src/beta-theme/utils.ts
  apps/sv/frontend/src/components/ValidatorLicenses.tsx
  apps/sv/frontend/src/components/ValidatorOnboardingSecrets.tsx
  apps/sv/frontend/src/components/amuletprice/MedianAmuletPrice.tsx
  apps/sv/frontend/src/components/beta/PageSectionHeader.tsx
  apps/sv/frontend/src/components/forms/FormLayout.tsx
  apps/sv/frontend/src/components/forms/SelectAction.tsx
  apps/sv/frontend/src/components/governance/ActionRequiredSection.tsx
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
  apps/sv/frontend/src/components/votes/VoteRequest.tsx
  apps/sv/frontend/src/routes/amuletPrice.tsx
  apps/sv/frontend/src/routes/createProposal.tsx
  apps/sv/frontend/src/routes/dso.tsx
  apps/sv/frontend/src/routes/validatorOnboarding.tsx
  apps/sv/frontend/src/routes/voteRequestDetails.tsx
  apps/sv/frontend/src/routes/voting.tsx
Due: copyright, typescriptfmt

rename sql file
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__update_history_for_hash.sql
Due: none

persist hashes and tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternalPartySetupProposalIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternallySignedPartyTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardAllocationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__update_history_for_hash.sql
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
Due: copyright

[ci] another
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTransactionHistoryFrontendIntegrationTest.scala
Due: copyright

fixes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
Due: copyright

Build PoC of DB schema for app reward computation
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V058__app_reward_accounting_tables.sql
Due: none

[ci] selectively enable force snapshot
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DisasterRecoveryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PeriodicTopologySnapshotIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardMetadataTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletMetricsTest.scala
Due: copyright

[ci] docs, and remove special configs
  apps/app/src/test/resources/include/scans/_scan.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ParticipantPlaintextIdentitiesDumpIntegrationTest.scala
  docs/src/app_dev/scan_api/scan_bulk_data_api.rst
  scripts/scan-txlog/streaming.py
Due: copyright
