Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

fix tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

add handling for the /lsu_test comment on PRs
  .github/pull_request_template.md
  .github/workflows/pr_cluster_test.yml
  TESTING.md
Due: gha_lint

readd peer
  cluster/pulumi/package-lock.json
Due: none

Revert "lsu - dabft support for serials for p2p connections (#4390)"
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanIntegrationTest.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/BftSequencerConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvBftSequencerPeerOffboardingTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvBftSequencerPeerOnboardingTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerAddReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerRemoveReconciler.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconcilerSpec.scala
  build.sbt
  project/ignore-patterns/canton_log_bft.ignore.txt
Due: copyright

Bump versions after 0.5.16 release cut
  LATEST_RELEASE
  VERSION
  docs/src/release_notes_upcoming.rst
Due: copyright

nits remove changed package lock [ci]
  token-standard/package-lock.json
Due: none

Add protobuf for lsu sequencing tests
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/SequencerAdminCommands.scala
  canton/community/synchronizer/src/main/protobuf/com/digitalasset/canton/sequencer/admin/v30/sequencer_administration_service.proto
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/service/GrpcSequencerAdministrationService.scala
Due: copyright

Bump versions after 0.5.16 release cut (#4528)
  LATEST_RELEASE
  VERSION
  docs/src/release_notes_upcoming.rst
Due: copyright

Remove oauth test server (#4476)
  TESTING.md
  scripts/test-oauth-server.sh
  scripts/test-oauth-server/package-lock.json
  scripts/test-oauth-server/package.json
  scripts/test-oauth-server/src/index.mjs
Due: copyright, typescriptfmt

Test in single- and multiple-synchronizer modes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LocalNetFrontendIntegrationTest.scala
  build-tools/splice-localnet-compose.sh
  cluster/compose/localnet/compose.yaml
  cluster/compose/localnet/conf/console/app-synchronizer.sc
Due: copyright, pulumi_tests

add a missing finalizers filter to _remove_pulumi_finalizers
  build-tools/lib/pulumi-helpers
Due: none

Fix historical backup docs to reflect SV participant pruning
  docs/src/sv_operator/sv_backup.rst
Due: copyright

[wip]
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnection.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanStorageConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
Due: copyright

Fix historical backup docs to reflect SV participant pruning (#4533)
  docs/src/sv_operator/sv_backup.rst
Due: copyright

Stop vetting packages older than minimumInitialization (#4281)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigDarUploadIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/UnsupportedPackageVettingIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/PackageVettingTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminDarsConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/DarResourcesUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/PackageVetting.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/QualifiedName.scala
  apps/dar-resources-generator/src/main/scala/org/lfdecentralizedtrust/splice/darutils/DarResourcesGenerator.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardAllocationHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardAllocationInstructionHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardTransferInstructionHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvPackageVettingTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorPackageVettingTrigger.scala
  docs/src/release_notes_upcoming.rst
  test-full-class-names.log
Due: copyright

[ci] test me
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/HasS3Mock.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/BulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
Due: copyright

multivalidator, new canton ver
  cluster/configs/shared/scratch-default-synchronizer-migration.yaml
  cluster/deployment/scratchnete/.envrc.vars
Due: pulumi_tests

Edit the documentation
  docs/src/app_dev/testing/localnet.rst
  docs/src/release_notes_upcoming.rst
Due: copyright

[ci] .
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
Due: copyright

[ci] .
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
Due: copyright

[ci] .
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
Due: copyright

[ci] .
  apps/scan/src/main/openapi/scan.yaml
  cluster/configs/shared/rate-limits/unlimited.yaml
Due: pulumi_tests

[ci] .
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/BulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  cluster/configs/shared/rate-limits/unlimited.yaml
Due: copyright, pulumi_tests

drop constraint for consistency; app handles the corner cases
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V062__update_history_for_hash.sql
Due: none

Upgrade operator to 2.6.0
  cluster/expected/operator/expected.json
  cluster/pulumi/operator/src/operator.ts
Due: typescriptfmt, pulumi_tests

add test
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
Due: copyright

Add protobuf for lsu sequencing tests (#4531)
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/SequencerAdminCommands.scala
  canton/community/synchronizer/src/main/protobuf/com/digitalasset/canton/sequencer/admin/v30/sequencer_administration_service.proto
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/service/GrpcSequencerAdministrationService.scala
Due: copyright

Add helm/pulumi support for the new dabft config setup
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/helm/splice-scan/templates/scan.yaml
  cluster/helm/splice-scan/tests/scan_test.yaml
  cluster/helm/splice-scan/values.schema.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/svApp.ts
  cluster/pulumi/common/src/config/migrationSchema.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.16] Fix acs commitment alerts
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/acs_commitment_alerts.yaml
Due: pulumi_tests

[release-line-0.5.16] Fix acs commitment alerts (#4537)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/acs_commitment_alerts.yaml
Due: pulumi_tests

Improve block processing rate in the catchup dashboard by filtering out 0 values
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/catchup.json
Due: none

Improve block processing rate in the catchup dashboard (#4538)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/catchup.json
Due: none

[main] Fix acs commitment alerts
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/acs_commitment_alerts.yaml
Due: pulumi_tests

[main] Fix acs commitment alerts (#4539)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/acs_commitment_alerts.yaml
Due: pulumi_tests

add a missing finalizers filter to _remove_pulumi_finalizers (#4532)
  build-tools/lib/pulumi-helpers
Due: none
