Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

[ci] bump to 2.32.0 (released yesterday) and add it to the cache key
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

Prevent flakes caused by TransferPreapproval not yet ingested by Scans (#2598)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RecoverExternalPartyIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliTestDataTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSweepIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTransactionHistoryFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTxLogIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletTestUtil.scala
Due: copyright

[static] .
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/common/src/config/index.ts
  cluster/pulumi/common/src/index.ts
  cluster/pulumi/common/src/postgres.ts
Due: typescriptfmt, pulumi_config

Swap reason and url fields in proposal voting form (#2599)
  apps/sv/frontend/src/components/governance/ProposalVoteForm.tsx
Due: copyright, typescriptfmt

.
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

[static] .
  cluster/pulumi/common/src/config/cloudSql.ts
Due: typescriptfmt, pulumi_config

append mblaze-da to cluster-lock-users
  build-tools/cluster-lock-users.json
Due: none

Fixed Validator docker-compose to use localhost by default, with option to expose externally.
  cluster/compose/validator/compose.yaml
  cluster/compose/validator/start.sh
Due: copyright

Added option for cluster/compose/sv docker setup to get external arg to chose between localhost and 0.0.0.0
  cluster/compose/sv/compose.yaml
  cluster/compose/sv/start.sh
Due: copyright

fix comment
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

remove env print
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

remove redundant mkdir
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

Set localhost as the default option in cluster/compose/localnet docker deployment.
  cluster/compose/localnet/compose.yaml
Due: none

gc before saving
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

Disable upgrade time and migrationId fields in dso form [ci]
  apps/sv/frontend/src/components/form-components/ConfigField.tsx
Due: copyright, typescriptfmt

[static] cleanup, and create only what you need
  cluster/expected/infra/expected.json
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/svConfigs.ts
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

[ci] bump cache key to see what happens
  .github/actions/tests/common_test_setup/action.yml
  .github/actions/tests/scala_test/action.yml
  .github/workflows/build.docs.yml
  .github/workflows/build.ui_tests.yml
Due: gha_lint

[ci] seems more useful to run nix stuff after having nix loaded
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

append mblaze-da to cluster-lock-users (#2600)
  build-tools/cluster-lock-users.json
Due: none

2 svs in mock
  cluster/configs/configs-private/configs/DevNet/allowed-ip-ranges.json
  cluster/configs/configs/configs/DevNet/approved-sv-id-values.yaml
  cluster/deployment/mock/.envrc.vars
  cluster/expected/canton-network/expected.json
  cluster/expected/deployment/expected.json
  cluster/expected/infra/expected.json
  cluster/expected/multi-validator/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/expected/validator1/expected.json
Due: none

[static] cleanups
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

support no-auth mode in k8s
  cluster/helm/splice-participant/templates/participant.yaml
  cluster/helm/splice-validator/templates/ans-web-ui.yaml
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/helm/splice-validator/templates/wallet-web-ui.yaml
Due: none

Disable upgrade time and migrationId fields in dso form (#2602)
  apps/sv/frontend/src/components/form-components/ConfigField.tsx
Due: copyright, typescriptfmt

fix(docker): Default HOST_BIND_IP to 127.0.0.1 in Nginx port mapping
  cluster/compose/sv/compose.yaml
  cluster/compose/validator/compose.yaml
Due: none

add cloudArmor config to config.yaml alongside infra [skip ci]
  cluster/deployment/config.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/index.ts
Due: typescriptfmt, pulumi_config

use configuration input for security policy [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

closer to rate-limit options we actually want [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

per-IP setting [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

why not rules list [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

mention per-IP in description [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

extra todo [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

set preview everywhere; remove custom priority [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

fold [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

add per-ip to rule name [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

npm fix [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

with test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/FrontendLoginUtil.scala
  cluster/deployment/scratchneta/config.yaml
  cluster/helm/splice-participant/values-template.yaml
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/helm/splice-validator/values-template.yaml
  cluster/pulumi/common-validator/src/config.ts
  cluster/pulumi/common-validator/src/participant.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/splitwell/src/splitwell.ts
  cluster/pulumi/validator1/src/installNode.ts
  cluster/pulumi/validator1/src/validator1.ts
Due: copyright, typescriptfmt, pulumi_config

[static] fixes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
  cluster/expected/canton-network/expected.json
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: copyright, typescriptfmt, pulumi_config

Make CILR timeouts the default
  cluster/helm/splice-sv-node/values-template.yaml
  cluster/helm/splice-validator/values-template.yaml
  cluster/images/scan-app/app.conf
  cluster/images/sv-app/app.conf
  cluster/images/validator-app/app.conf
Due: none
