Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

.
  cluster/pulumi/common/src/auth0/secrets.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/sv-runbook/src/utils.ts
Due: typescriptfmt, pulumi_config

Backport Add config for enabling access logging across the entire cluster (#2747) (#2749)
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

fmt
  cluster/pulumi/common/src/auth0/secrets.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/sv-runbook/src/utils.ts
Due: typescriptfmt, pulumi_config

whoops
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

.
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

.
  cluster/pulumi/common/src/auth0/secrets.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

.
  cluster/pulumi/common/src/auth0/secrets.ts
Due: typescriptfmt, pulumi_config

.
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/splitwell/src/splitwell.ts
  cluster/pulumi/validator1/src/validator1.ts
Due: typescriptfmt, pulumi_config

.
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-validator/src/validator.ts
Due: typescriptfmt, pulumi_config

.
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/participant.ts
  cluster/pulumi/common-validator/src/participant.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/auth0/auth0.ts
  cluster/pulumi/common/src/index.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

.
  cluster/pulumi/canton-network/dump-config.ts
  cluster/pulumi/common/src/auth0/audiences.ts
  cluster/pulumi/common/src/auth0/auth0.ts
  cluster/pulumi/common/src/auth0/auth0types.ts
  cluster/pulumi/splitwell/dump-config.ts
  cluster/pulumi/sv-canton/dump-config.ts
  cluster/pulumi/sv-runbook/dump-config.ts
  cluster/pulumi/validator-runbook/dump-config.ts
  cluster/pulumi/validator1/dump-config.ts
Due: typescriptfmt, pulumi_config

.
  cluster/pulumi/common-sv/src/participant.ts
  cluster/pulumi/common-validator/src/participant.ts
  cluster/pulumi/common/src/auth0/audiences.ts
Due: typescriptfmt, pulumi_config

.
  cluster/expected/canton-network/expected.json
  cluster/pulumi/common/src/auth0/auth0.ts
  cluster/pulumi/common/src/auth0/secrets.ts
  cluster/pulumi/validator1/src/validator1.ts
Due: typescriptfmt, pulumi_config

.
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common/src/auth0/secrets.ts
Due: typescriptfmt, pulumi_config

[static] .
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/auth0/audiences.ts
  cluster/pulumi/common/src/auth0/auth0.ts
  cluster/pulumi/common/src/auth0/secrets.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

Use a non-zero limit to ensure we test encoding and don't cause exception
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
Due: copyright

API to grant ValidatorLicense
  apps/sv/src/main/openapi/sv-internal.yaml
Due: none

APIs for wallet to list MintingDelegationProposal, MintingDelegation and accept/reject actions
  apps/wallet/src/main/openapi/wallet-internal.yaml
Due: none

Backport Add config for enabling access logging across the entire cluster (#2747) (#2750)
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

Added assertions for checking warn when off board is called multiple times
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletTestUtil.scala
  apps/apps.iml
Due: copyright

Removed accidental files
  apps/apps.iml
Due: none

Link to pending configuration in DSO & Amulet forms [ci]
  apps/sv/frontend/src/components/form-components/ConfigField.tsx
Due: copyright, typescriptfmt

Removed untriggered warning checks in ValidatorIntegrationTests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
Due: copyright

Changed logger from warn to debug
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/util/ValidatorUtil.scala
Due: copyright

upgrade MUI [ci]
  apps/ans/frontend/package.json
  apps/common/frontend/package.json
  apps/common/frontend/utils/package.json
  apps/package-lock.json
  apps/scan/frontend/package.json
  apps/splitwell/frontend/package.json
  apps/sv/frontend/package.json
  apps/wallet/frontend/package.json
Due: none

upgrade MUI X packages [ci]
  apps/package-lock.json
  apps/sv/frontend/package.json
Due: none

fix migration
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V048__truncate_sv_splitwell_history.sql
Due: none

[ci] chekc update history of externals
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTxLogIntegrationTest.scala
Due: copyright

Threshold logic corrections
  apps/app/src/pack/examples/recovery/manual-identities-dump.sc
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
Due: copyright

Make scanConfig mandatory in SV app (#2686)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SequencerPruningTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SynchronizerNodeReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
  cluster/helm/splice-sv-node/values.schema.json
  docs/src/release_notes.rst
Due: copyright

fix dependency resolution in tests [ci]
  apps/common/frontend-test-vite-utils/src/index.ts
  apps/common/frontend/src/components/votes/ListVoteRequests.tsx
  apps/eslint.config.mjs
  apps/sv/frontend/vite.config.mjs
Due: copyright, typescriptfmt

[ci] init
  apps/wallet/frontend/src/__tests__/wallet.test.tsx
Due: copyright, typescriptfmt

Validator app: fix delete user in offboard. (#2647)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ledger/api/LedgerClient.scala
  apps/validator/src/main/openapi/validator-internal.yaml
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/util/ValidatorUtil.scala
  docs/src/release_notes.rst
Due: copyright

Link to pending configuration in DSO & Amulet forms (#2752)
  apps/sv/frontend/src/components/form-components/ConfigField.tsx
Due: copyright, typescriptfmt

Fix send timeouts in wallet frontend test (#2760)
  apps/wallet/frontend/src/__tests__/wallet.test.tsx
Due: copyright, typescriptfmt

Update inflight and history tables in sv ui [ci]
  apps/sv/frontend/src/__tests__/governance/proposal-listing.test.tsx
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
  apps/sv/frontend/src/routes/governance.tsx
Due: copyright, typescriptfmt

Minor cleanup after 3.4 merge
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
