Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

chore: prep for transfer out (#5273)
  README.md
Due: none

new canton+splice w/ sequencer autovacuum
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

Fix path to repeatable migrations
  cluster/images/canton-participant/Dockerfile
Due: none

Stop ignoring damlc warnings (#5266)
  project/ignore-patterns/sbt-output.ignore.txt
Due: none

fix: update dependabot config (#5248)
  .github/dependabot.yml
Due: gha_lint

fix permissions
  cluster/images/canton-participant/Dockerfile
Due: none

Fix path to repeatable migrations (#5280)
  cluster/images/canton-participant/Dockerfile
Due: none

[ci] who knows how this was working locally
  apps/package-lock.json
  apps/wallet/frontend/package.json
Due: none

DAML test removed unused import
  daml/dars.lock
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestOnboarding.daml
Due: copyright, dars_lock, no_illegal_daml_references

fixes
  apps/wallet/frontend/src/__tests__/wallet.test.tsx
Due: copyright, typescriptfmt

[ci] fix wrong dso party in tests
  apps/wallet/frontend/src/__tests__/wallet.test.tsx
Due: copyright, typescriptfmt

Fixed DAML
  daml/dars.lock
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestOnboarding.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add ignore for scan warn in rollforward tests
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

[ci] make compiler happy
  apps/wallet/frontend/src/components/ListAllocationRequests.tsx
Due: copyright, typescriptfmt

Add ignore for scan warn in rollforward tests (#5289)
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

[ci] now make the tests happy
  apps/wallet/frontend/src/components/ListAllocationRequests.tsx
Due: copyright, typescriptfmt

Update documentation to introduce the concept of serial ids for LSUs
  apps/app/src/pack/examples/sv-helm/cometbft-values.yaml
  apps/app/src/pack/examples/sv-helm/global-domain-values.yaml
  apps/app/src/pack/examples/sv-helm/scan-values.yaml
  apps/app/src/pack/examples/sv-helm/sv-validator-values.yaml
  apps/app/src/pack/examples/sv-helm/sv-values.yaml
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
  cluster/pulumi/common-sv/src/synchronizer/participant.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  docs/src/release_notes_upcoming.rst
  docs/src/sv_operator/sv_helm.rst
  docs/src/validator_operator/required_network_parameters.rst
Due: copyright, typescriptfmt, pulumi_tests

Update Allocation UI to support Allocations v2 (#5228)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AllocationsFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2TestUtil.scala
  apps/package-lock.json
  apps/wallet/frontend/package.json
  apps/wallet/frontend/src/__tests__/wallet.test.tsx
  apps/wallet/frontend/src/components/AllocationSettlementDisplay.tsx
  apps/wallet/frontend/src/components/CreateAllocation.tsx
  apps/wallet/frontend/src/components/ListAllocationRequests.tsx
  apps/wallet/frontend/src/components/ListAllocations.tsx
  apps/wallet/frontend/src/components/TransferLegsDisplay.tsx
  apps/wallet/frontend/src/contexts/WalletServiceContext.tsx
  apps/wallet/frontend/src/hooks/useAmuletAllocations.ts
  apps/wallet/frontend/src/hooks/useTokenStandardAllocationRequests.ts
  build.sbt
  docs/src/release_notes_upcoming.rst
Due: copyright, typescriptfmt

fix lnav download on mac (#5269)
  nix/lnav.nix
Due: none

move meta to transfer output
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletTestUtil.scala
  apps/package-lock.json
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanTxLogParser.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanStoreTest.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletTxLogParser.scala
  apps/wallet/src/test/scala/org/lfdecentralizedtrust/splice/store/db/UserWalletStoreTest.scala
  daml/splice-amulet-test/daml/Splice/Scripts/TestAmuletRulesTransfer.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestAmuletRulesTransferLimits.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestDesignExample.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestExpectedDsoParty.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestLockAndAmuletExpiry.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestLockedAmulet.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardComputation.daml
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
  daml/splice-amulet/daml/Splice/Amulet/TwoStepTransfer.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestUnallocatedUnclaimedActivityRecord.daml
  daml/splice-wallet-payments/daml/Splice/Wallet/Payment.daml
  daml/splice-wallet-payments/daml/Splice/Wallet/Subscriptions.daml
  daml/splice-wallet/daml/Splice/Wallet/Install.daml
  daml/splice-wallet/daml/Splice/Wallet/MintingDelegation.daml
  daml/splice-wallet/daml/Splice/Wallet/TransferOffer.daml
  token-standard/splice-api-token-transfer-events-v2/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

partial adjustment of amulet
  daml/splice-amulet/daml/Splice/Amulet/TokenApiUtils.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/ExternalPartyConfigState.daml
  token-standard/splice-api-token-transfer-events-v2/daml/Splice/Api/Token/TransferEventsV2.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Events.daml
Due: copyright, dars_lock, no_illegal_daml_references

Define the more precise event types
  token-standard/splice-api-token-transfer-events-v2/daml.yaml
  token-standard/splice-api-token-transfer-events-v2/daml/Splice/Api/Token/TransferEventsV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

Bump Canton to 3.5.1-snapshot.20260428.18783.0.v683c972e
  nix/canton-sources.json
Due: none

rename tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/UpdateHistoryReadPerformanceTest.scala
Due: copyright

temp switch read and ingestion flows
  .github/workflows/performance_tests.yml
Due: gha_lint

add ScanHttpEncodings encodeUpdate() to read tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/BaseStorePerformanceTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/StoreReadPerformanceTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/UpdateHistoryReadPerformanceTest.scala
Due: copyright

revert test order
  .github/workflows/performance_tests.yml
Due: gha_lint

[static]
  .github/workflows/performance_tests.yml
Due: gha_lint

Ignore Gave up waiting for .* as we are shutting down [static]
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

Add scan http encodings encode() to read perf test (#5293)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/BaseStorePerformanceTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/StoreReadPerformanceTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/UpdateHistoryReadPerformanceTest.scala
Due: copyright

configurable cometbft state sync
  build-tools/lib/disaster-recovery-commands
  build-tools/lib/pulumi-commands
  cluster/deployment/mock/.envrc.vars
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbftConfig.ts
Due: typescriptfmt, pulumi_tests

Remove flag that no longer exist in canton
  cluster/compose/localnet/env/alpha-protocol-version.env
Due: none

Added Scan API
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

Fix WalletMetricsTest failing to retry on CommandFailure
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletMetricsTest.scala
Due: copyright

Bump Canton to 3.5.1-snapshot.20260428.18783.0.v683c972e (#5292)
  cluster/compose/localnet/env/alpha-protocol-version.env
  nix/canton-sources.json
Due: none

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
