Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

step through rounds more slowly in BigQuery test (#3309)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

[ci] init
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
Due: copyright

remove resolved config versioning for the mock cluster as it fails in the internal repo
  cluster/deployment/local.mk
  cluster/deployment/mock/config.resolved.yaml
Due: none

add build to the resolved config update target to fix splice-bump and remove resolved config versioning for the mock cluster as it fails in the internal repo (#3364)
  cluster/deployment/local.mk
  cluster/deployment/mock/config.resolved.yaml
Due: none

temporarily detach resolved config targets from update-expected to prevent issues in bump splice unitl a proper fix
  cluster/pulumi/local.mk
Due: none

temporarily detach resolved config targets from update-expected to prevent issues in bump splice unitl a proper fix (#3366)
  cluster/pulumi/local.mk
Due: none

[ci] move acsCommitmentReconciliationInterval to FoundDso AppConfig
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
Due: copyright

Helm chart changes for Validator Scan Client Config (#3283)
  cluster/deployment/config.yaml
  cluster/expected/validator-runbook/expected.json
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/helm/splice-validator/tests/init-containers_test.yaml
  cluster/helm/splice-validator/tests/uis_test.yaml
  cluster/helm/splice-validator/tests/validator_test.yaml
  cluster/helm/splice-validator/values.schema.json
  cluster/pulumi/common-validator/src/config.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

Edited OnboardUserRequest
  apps/validator/src/main/openapi/validator-internal.yaml
Due: none

Pass config.acsCommitmentReconciliationInterval to DsoBootstrap (#3365)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
Due: copyright

[ci] init
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PeriodicTopologySnapshotIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/BackupDump.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/GcpBucket.scala
Due: copyright

Added schema
  apps/validator/src/main/openapi/validator-internal.yaml
Due: none

Passed variables
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorAdminHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/util/ValidatorUtil.scala
Due: copyright

Added main logic
  apps/validator/src/main/openapi/validator-internal.yaml
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/util/ValidatorUtil.scala
Due: copyright

create a GCPBackendPolicy, not a BackendConfig [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

dumbly pulumify the k8s ALB experiment [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
  cluster/pulumi/infra/src/gcloudLoadBalancer.ts
Due: typescriptfmt, pulumi_config

link CA policy properly with backend policy [skip ci]
  cluster/pulumi/infra/src/gcloudLoadBalancer.ts
Due: typescriptfmt, pulumi_config

[ci] renaming + add config in scratchnet
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PeriodicTopologySnapshotIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/DataExportTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/BackupDump.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/GcpBucket.scala
  cluster/deployment/scratchnetb/config.yaml
Due: copyright

Move grantValidatorLicense to HttpSvOperatorHandler
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvAdminAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvOperatorAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvOperatorHandler.scala
Due: copyright

Daml: Add DsoRules for ValidatorLicense weight change and withdrawal
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvTimeBasedOnboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvTestUtil.scala
  apps/common/frontend-test-handlers/src/mocks/helpers/dso-config-helper.ts
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceUtil.scala
  apps/package-lock.json
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanStoreTest.scala
  apps/sv/frontend/src/__tests__/utils/buildDsoRulesConfigFromChanges.test.ts
  apps/sv/frontend/src/utils/buildDsoConfigChanges.ts
  apps/sv/frontend/src/utils/buildDsoRulesConfigFromChanges.ts
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
  daml/dars.lock
  daml/dars/splice-amulet-0.1.15.dar
  daml/dars/splice-amulet-name-service-0.1.16.dar
  daml/dars/splice-dso-governance-0.1.21.dar
  daml/dars/splice-wallet-0.1.15.dar
  daml/dars/splice-wallet-payments-0.1.15.dar
  daml/dars/splitwell-0.1.15.dar
  daml/splice-amulet-test/daml/Splice/Scripts/TestValidatorFaucet.daml
  daml/splice-amulet/daml/Splice/ValidatorLicense.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestUtils.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestValidatorLicense.daml
  daml/splice-dso-governance/daml.yaml
  daml/splice-dso-governance/daml/Splice/DSO/VoteExecution.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references, typescriptfmt

Support for granting ValidatorLicense via SV UI
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvMergeDuplicatedValidatorLicenseIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvValidatorLicenseIntegrationTest.scala
  apps/common/frontend-test-handlers/src/mocks/handlers/validator-licenses-handler.ts
  apps/common/frontend/src/components/ValidatorLicenses.tsx
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V053__validator_liveness_weight.sql
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTest.scala
  apps/scan/frontend/src/__tests__/scan.test.tsx
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/sv/frontend/src/__tests__/sv.test.tsx
  apps/sv/frontend/src/components/ValidatorOnboardingSecrets.tsx
  apps/sv/frontend/src/contexts/SvAdminServiceContext.tsx
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvAdminAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/confirmation/SummarizingMiningRoundTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DsoTables.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
  docs/src/release_notes.rst
  scripts/scan-txlog/scan_txlog.py
  test-full-class-names.log
Due: copyright, typescriptfmt

Daml: Fix DsoRules_ClaimExpiredRewards for ValidatorLicense weight
  daml/dars.lock
  daml/dars/splice-amulet-0.1.15.dar
  daml/dars/splice-amulet-name-service-0.1.16.dar
  daml/dars/splice-dso-governance-0.1.21.dar
  daml/dars/splice-wallet-0.1.15.dar
  daml/dars/splice-wallet-payments-0.1.15.dar
  daml/dars/splitwell-0.1.15.dar
  daml/splice-amulet-test/daml/Splice/Scripts/TestUnclaimedRewards.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestClaimExpiredRewards.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

SV-app automation for VoteExecutionInstruction execution
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvTimeBasedOnboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvValidatorLicenseIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorLicenseMetadataTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletRewardsTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvTestUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/DsoDelegateBasedAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/ExecuteVoteInstructionTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/ExpireVoteExecutionInstructionTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ReceiveFaucetCouponTrigger.scala
  scripts/scan-txlog/scan_txlog.py
Due: copyright

[ci] init
  cluster/deployment/config.yaml
  cluster/deployment/mock/config.yaml
  cluster/expected/validator-runbook/expected.json
Due: none

[static] remove scratchnet config
  cluster/deployment/scratchnetb/config.yaml
Due: none

Add list per prefix to fix productions topology snapshots (#3369)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PeriodicTopologySnapshotIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/DataExportTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/BackupDump.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/GcpBucket.scala
Due: copyright

Remove default scratchnet scan client config (#3371)
  cluster/deployment/config.yaml
  cluster/deployment/mock/config.yaml
  cluster/expected/validator-runbook/expected.json
Due: none

prevent loading additional config for splice clusters in the internal repo
  cluster/pulumi/common/src/config/configLoader.ts
Due: typescriptfmt, pulumi_config

reattach resolved config targets to update-expected targets
  cluster/pulumi/local.mk
Due: none

[ci] init
  nix/canton-sources.json
Due: none

Add `nc` to `debug_shell`
  cluster/images/splice-debug/Dockerfile
Due: none

prevent loading additional config for splice clusters in the internal repo and reattach resolved config targets to update-expected targets (#3373)
  cluster/pulumi/common/src/config/configLoader.ts
  cluster/pulumi/local.mk
Due: typescriptfmt, pulumi_config

Bump canton version to latest (#3374)
  nix/canton-sources.json
Due: none

Added tests
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ValidatorAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/api/client/commands/HttpValidatorAdminAppClient.scala
Due: copyright

[static] init
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/acs-stores_alerts.yaml
Due: none

Add `nc` to `debug_shell` (#3375)
  cluster/images/splice-debug/Dockerfile
Due: none

Adjust ACS growth alert (#3376)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/acs-stores_alerts.yaml
Due: none

spec changes
  apps/validator/src/main/openapi/validator-internal.yaml
Due: none

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
