Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

bump GHA-referenced versions of backport workflows [static]
  .github/workflows/backport.yml
  .github/workflows/backport_reminder.yml
  .github/workflows/do_backports.yml
Due: gha_lint

update Github org references to canton-network (0.5.18) (#5344)
  .github/pull_request_template.md
  .github/workflows/notify_readme_changes.yml
  .gitmodules
  CODEOWNERS
  CONTRIBUTING.md
  DEVELOPMENT.md
  MAINTENANCE.md
  TROUBLESHOOTING.md
  cluster/configs/shared/base-sv.yaml
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/deployment/expected.json
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/gcp/README.md
  docs/api-templates/splice-token-standard-test-index-template.rst
  docs/src/app_dev/daml_api/index.rst
  docs/src/app_dev/overview/splice_app_apis.rst
  docs/src/app_dev/overview/version_information.rst
  docs/src/app_dev/scan_api/scan_bulk_data_api.rst
  docs/src/app_dev/token_standard/index.rst
  docs/src/app_dev/validator_api/index.rst
  docs/src/background/preapprovals.rst
  docs/src/background/tokenomics/feat_app_act_marker_tokenomics.rst
  docs/src/background/tokenomics/overview_tokenomics.rst
  docs/src/conf.py
  docs/src/deployment/configuration.rst
  docs/src/deployment/troubleshooting.rst
  docs/src/faq.rst
  docs/src/overview/overview.rst
  docs/src/release_notes.rst
  docs/src/sv_operator/sv_operations.rst
  docs/src/validator_operator/validator_delegations.rst
  scripts/migrate-github-issues.py
  token-standard/CHANGELOG.md
Due: copyright, typescriptfmt, pulumi_tests, gha_lint

Add physical synchronizer id to periodic topology snapshot metadata
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/PeriodicTopologySnapshotTrigger.scala
Due: copyright

Fix case-sensitive HTTP headers in W3C traces
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/admin/api/TraceContextDirectives.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/admin/api/client/TraceContextPropagation.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/http/HttpClient.scala
  canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/jsonapi/HttpServiceUserFixture.scala
  canton/community/ledger/ledger-json-api/src/main/scala/com/digitalasset/canton/http/json/v2/Endpoints.scala
  canton/community/ledger/ledger-json-api/src/main/scala/com/digitalasset/canton/http/json/v2/V2Routes.scala
  canton/community/util-observability/src/main/scala/com/digitalasset/canton/tracing/HeaderName.scala
  canton/community/util-observability/src/main/scala/com/digitalasset/canton/tracing/W3CTraceContext.scala
Due: copyright

update test data [ci]
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanTxLogParser.scala
  token-standard/cli/__tests__/mocks/data/eventsByContractIdResponses.json
  token-standard/cli/__tests__/mocks/data/holdings.json
  token-standard/cli/__tests__/mocks/data/transfer-instructions.json
  token-standard/cli/__tests__/mocks/data/txs.json
Due: copyright

Implement reward accounting v2 for CIP-104
  daml/splice-amulet-name-service/daml/Splice/Ans/AmuletConversionRateFeed.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestLockAndAmuletExpiry.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet-test/daml/Splice/Scripts/UnitTests/Amulet/CryptoHash.daml
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/Amulet/CryptoHash.daml
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/AmuletConfig.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  daml/splice-amulet/daml/Splice/ExternalPartyConfigState.daml
  daml/splice-amulet/daml/Splice/Round.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestRewardAccountingV2.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestUtils.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
  daml/splice-wallet-test/daml/Splice/Scripts/Wallet/TestMintingDelegation.daml
  docs/src/app_dev/daml_api/index.rst
  docs/src/release_notes_upcoming.rst
  scripts/rename.sh
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry.daml
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry/Parameters.daml
Due: copyright, dars_lock, no_illegal_daml_references

[ci] add comments
  cluster/images/canton-mediator/Dockerfile
  cluster/images/canton-participant/Dockerfile
  cluster/images/canton-sequencer/Dockerfile
  cluster/images/canton/Dockerfile
Due: none

[ci] init
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/UnsupportedPackageVettingIntegrationTest.scala
Due: copyright

Bump daml test package versions [static]
  build-tools/dar-lock-checker/src/main/scala/org/lfdecentralizedtrust/splice/build_tools/DarLockChecker.scala
  daml/dars.lock
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-test/daml.yaml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-util-token-standard-wallet-test/daml.yaml
  daml/splice-wallet-test/daml.yaml
  daml/splitwell-test/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

Add trafficPrice, rewardConfig to SummarizingMiningRound
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/Round.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add appRewardCouponThreshold to RewardConfig
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/AmuletConfig.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestRewardAccountingV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

traffixPrice fix
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Daml: headerCheck fixes, 2026 -> 2024
  daml/splice-amulet-test/daml/Splice/Scripts/UnitTests/Amulet/CryptoHash.daml
  daml/splice-amulet/daml/Splice/Amulet/CryptoHash.daml
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

Bump versions
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet/daml.yaml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance/daml.yaml
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-util-token-standard-wallet-test/daml.yaml
  daml/splice-wallet-payments/daml.yaml
  daml/splice-wallet-test/daml.yaml
  daml/splice-wallet/daml.yaml
  daml/splitwell-test/daml.yaml
  daml/splitwell/daml.yaml
  token-standard/splice-token-standard-test/daml.yaml
Due: dars_lock, no_illegal_daml_references

Add dars
  daml/dars/splice-amulet-0.1.19.dar
  daml/dars/splice-amulet-name-service-0.1.20.dar
  daml/dars/splice-dso-governance-0.1.25.dar
  daml/dars/splice-wallet-0.1.20.dar
  daml/dars/splice-wallet-payments-0.1.19.dar
  daml/dars/splitwell-0.1.20.dar
Due: none

runNextIssuanceD: compute app reward coupons from traffic totals
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestRewardAccountingV2.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestUtils.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestDecentralizedAutomation.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestFeaturedAppActivityMarkers.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestGovernance.daml
Due: copyright, dars_lock, no_illegal_daml_references

Replace deprecated submitMulti with submit
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestRewardAccountingV2.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestUtils.daml
Due: copyright, dars_lock, no_illegal_daml_references

In runNextIssuance compute app rewards from app activity
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry.daml
  token-standard/splice-token-standard-test/daml/Splice/Tests/TestAmuletTokenTransfer.daml
Due: copyright, dars_lock, no_illegal_daml_references

[ci] update comments
  cluster/images/canton-mediator/Dockerfile
  cluster/images/canton-participant/Dockerfile
  cluster/images/canton-sequencer/Dockerfile
  cluster/images/canton/Dockerfile
Due: none

Update DarResources
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
Due: copyright

Update dars.lock
  daml/dars.lock
Due: none

Bump versions in package.json
  apps/package-lock.json
  apps/package.json
Due: none

rewardConfig fixes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AppUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundFrontendTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvReconcileSynchronizerConfigIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/UnsupportedPackageVettingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/AmuletConfigUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceUtil.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
Due: copyright

SvDsoStore: Ingest RewardCouponV2, CalculateRewardsV2, ProcessRewardsV2
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
Due: copyright

Remove fixme, to make CI green
  docs/src/release_notes_upcoming.rst
Due: copyright

RewardConfig UI fixes
  apps/common/frontend-test-handlers/src/mocks/helpers/amulet-config-helper.ts
  apps/common/frontend/src/__tests__/mocks/constants.ts
  apps/scan/frontend/src/__tests__/mocks/data.ts
  apps/sv/frontend/src/__tests__/utils/buildAmuletRulesConfigFromChanges.test.ts
  apps/sv/frontend/src/utils/buildAmuletConfigChanges.ts
  apps/sv/frontend/src/utils/buildAmuletRulesConfigFromChanges.ts
Due: typescriptfmt

Add support for configMap as extraVolumes for splice-participant's helm chart
  cluster/helm/splice-participant/templates/participant.yaml
Due: pulumi_tests

Clarify expected use of AllocationRequest_Accept
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  daml/dars.lock
  daml/dars/splice-amulet-0.1.19.dar
  daml/dars/splice-amulet-name-service-0.1.20.dar
  daml/dars/splice-dso-governance-0.1.25.dar
  daml/dars/splice-test-token-v1-1.0.0.dar
  daml/dars/splice-test-token-v2-1.0.0.dar
  daml/dars/splice-token-standard-test-v1-1.0.13.dar
  daml/dars/splice-token-standard-test-v2-1.0.0.dar
  daml/dars/splice-token-standard-utils-2.0.0.dar
  daml/dars/splice-token-test-trading-app-v2-1.0.0.dar
  daml/dars/splice-util-token-standard-wallet-1.1.0.dar
  daml/dars/splice-wallet-0.1.20.dar
  daml/dars/splice-wallet-payments-0.1.19.dar
  daml/dars/splitwell-0.1.20.dar
  token-standard/V2_VALIDATION.md
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClientV2.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Allocations.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Choices.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Transfers.daml
Due: copyright, dars_lock, no_illegal_daml_references

Use ADDITIONAL_CONFIG_PERSISTENCE to override storage configuration in splice-participant's helm chart
  cluster/helm/splice-participant/templates/participant.yaml
Due: pulumi_tests

[ci] remove leftover log
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpTokenStandardScanProxyHandler.scala
Due: copyright

Make beneficiary optional in RewardCouponV2
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestRewardAccountingV2.daml
  daml/splice-wallet-test/daml/Splice/Scripts/Wallet/TestMintingDelegation.daml
Due: copyright, dars_lock, no_illegal_daml_references

SvDsoStore, rewardParty fix
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
Due: copyright

Prevent set of rewardConfig to 'None' once its 'Some'
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestRewardAccountingV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add roundClosedAt fields to CalculateRewardsV2, ProcessRewardsV2
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update dars
  daml/dars/splice-amulet-0.1.19.dar
  daml/dars/splice-amulet-name-service-0.1.20.dar
  daml/dars/splice-dso-governance-0.1.25.dar
  daml/dars/splice-wallet-0.1.20.dar
  daml/dars/splice-wallet-payments-0.1.19.dar
  daml/dars/splitwell-0.1.20.dar
Due: none
