Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

namespace npm packages [ci]
  apps/common/frontend-typeface-lato/package.json
  apps/common/frontend-typeface-termina/package.json
  apps/common/frontend/package.json
  apps/common/frontend/src/theme/index.ts
  apps/package-lock.json
  apps/splitwell/frontend/package.json
  apps/sv/frontend/src/beta-theme/index.ts
Due: typescriptfmt

add static check [static]
  .github/workflows/build.static_tests.yml
  scripts/check-npm-package-names.sh
Due: copyright, gha_lint

fix sbt build [ci]
  apps/common/frontend-typeface-lato/index.d.ts
  apps/common/frontend-typeface-termina/index.d.ts
  build.sbt
Due: typescriptfmt

relax namespace requirements [static]
  scripts/check-npm-package-names.sh
Due: copyright

try trusted proxies override; spell fix [skip ci]
  cluster/pulumi/infra/src/gcpLoadBalancer.ts
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

remove neg annotation [skip ci]
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

[ci] log ignore
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

switch to adobe's S3MockContainer (#3716)
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/HasS3Mock.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
  build.sbt
  project/Dependencies.scala
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: copyright

Move listSortedRewardCoupons to common code DbTransferInputQueries
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbTransferInputQueries.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/DbExternalPartyWalletStore.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/DbUserWalletStore.scala
Due: copyright

DevelopmentFundCoupon minting in MintingDelegation
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletMintingDelegationTimeBasedIntegrationTest.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/MintingDelegationCollectRewardsTrigger.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/ExternalPartyWalletStore.scala
  daml/dars.lock
  daml/splice-wallet-test/daml/Splice/Scripts/Wallet/TestMintingDelegation.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add MintingDelegation automation, APIs, and HTTP handler
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/WalletAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletMintingDelegationTimeBasedIntegrationTest.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/ExternalPartyWalletManager.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/ExternalPartyWalletService.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/api/client/commands/HttpWalletAppClient.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/ExpireMintingDelegationProposalTrigger.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/ExpireMintingDelegationTrigger.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/ExternalPartyWalletAutomationService.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/MintingDelegationCollectRewardsTrigger.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/UserWalletAutomationService.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/ExternalPartyWalletStore.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletStore.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/DbExternalPartyWalletStore.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/DbUserWalletStore.scala
  test-full-class-names-sim-time.log
Due: copyright

Daml: Add MintingDelegation
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/package-lock.json
  apps/package.json
  daml/dars.lock
  daml/dars/splice-wallet-0.1.16.dar
  daml/dars/splitwell-0.1.16.dar
  daml/splice-wallet-test/daml.yaml
  daml/splice-wallet-test/daml/Splice/Scripts/Wallet/TestMintingDelegation.daml
  daml/splice-wallet/daml.yaml
  daml/splice-wallet/daml/Splice/Wallet/MintingDelegation.daml
  daml/splitwell-test/daml.yaml
  daml/splitwell/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

Wallet UI support for minting delegations management
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletMintingDelegationTimeBasedIntegrationTest.scala
  apps/wallet/frontend/src/App.tsx
  apps/wallet/frontend/src/__tests__/mocks/delegation-constants.ts
  apps/wallet/frontend/src/__tests__/mocks/handlers/wallet-api.ts
  apps/wallet/frontend/src/__tests__/wallet.test.tsx
  apps/wallet/frontend/src/components/Layout.tsx
  apps/wallet/frontend/src/components/TransactionHistory.tsx
  apps/wallet/frontend/src/contexts/WalletServiceContext.tsx
  apps/wallet/frontend/src/hooks/useMintingDelegationProposals.ts
  apps/wallet/frontend/src/hooks/useMintingDelegations.ts
  apps/wallet/frontend/src/routes/delegations.tsx
  apps/wallet/frontend/src/utils/partyId.ts
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
Due: copyright, typescriptfmt

[static] Add documentation for minting validation
  .pre-commit-config.yaml
  docs/src/background/tokenomics/overview_tokenomics.rst
  docs/src/scalability/scalability.rst
  docs/src/validator_operator/index.rst
  docs/src/validator_operator/validator_delegations.rst
Due: copyright

Add release notes for minting delegation
  docs/src/release_notes_upcoming.rst
Due: copyright

Fixes suggested by Simon
  docs/src/release_notes_upcoming.rst
Due: copyright

cip-82: update wallet app automation for collecting rewards to account for development fund coupons + tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletStore.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/treasury/TreasuryService.scala
  scripts/scan-txlog/scan_txlog.py
Due: copyright

cip-82: add release notes
  docs/src/release_notes.rst
Due: copyright

cip-82: fix release notes
  docs/src/release_notes.rst
  docs/src/release_notes_upcoming.rst
Due: copyright

try overly restrictive namespace in python [ci]
  .github/workflows/build.static_tests.yml
  scripts/check-npm-package-names.py
  scripts/check-npm-package-names.sh
Due: copyright, gha_lint

CIP-82: Add support for collecting DevelopmentFundCoupon (Wallet app) (#3727)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletStore.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/treasury/TreasuryService.scala
  docs/src/release_notes_upcoming.rst
  scripts/scan-txlog/scan_txlog.py
Due: copyright

relax namespace requirements [static]
  scripts/check-npm-package-names.py
Due: copyright

Add static_test variant to nix setup (#3725)
  .github/actions/nix/run_bash_command_in_nix/action.yml
  .github/actions/nix/setup_nix/action.yml
  .github/actions/tests/common_test_setup/action.yml
  .github/actions/tests/scala_test/action.yml
  .github/workflows/build.daml_test.yml
  .github/workflows/build.deployment_test.yml
  .github/workflows/build.docs.yml
  .github/workflows/build.static_tests.yml
  .github/workflows/build.ts_cli_tests.yml
  .github/workflows/build.ui_tests.yml
  .github/workflows/bump_gha_runner_version.yml
  nix/flake.nix
  nix/shell.nix
Due: copyright, dars_lock, no_illegal_daml_references, gha_lint

[ci] Remove balance changes from ScanTxLogParser
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanTxLogParser.scala
Due: copyright

[ci] Remove aggregation of balance change related values.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternalPartySetupProposalIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardTransferIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTransactionHistoryFrontendIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ScanAggregator.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanAggregatorTest.scala
Due: copyright

Draft 8.0: extending the wallet UI to manage DevelopmentFundCoupons using mocked data
  apps/common/frontend/src/components/Header.tsx
  apps/wallet/frontend/src/App.tsx
  apps/wallet/frontend/src/components/DevelopmentFundAllocation.tsx
  apps/wallet/frontend/src/components/DevelopmentFundCouponList.tsx
  apps/wallet/frontend/src/components/DevelopmentFundTotal.tsx
  apps/wallet/frontend/src/components/Layout.tsx
  apps/wallet/frontend/src/components/RequireDevelopmentFundManager.tsx
  apps/wallet/frontend/src/contexts/WalletServiceContext.tsx
  apps/wallet/frontend/src/contexts/WalletServiceContextMocks.ts
  apps/wallet/frontend/src/hooks/index.ts
  apps/wallet/frontend/src/hooks/useDevelopmentFundCouponsHistory.ts
  apps/wallet/frontend/src/hooks/useIsDevelopmentFundManager.ts
  apps/wallet/frontend/src/models/models.ts
  apps/wallet/frontend/src/routes/developmentFund.tsx
Due: copyright, typescriptfmt

Draft 8.0: Update labels
  apps/wallet/frontend/src/components/DevelopmentFundCouponList.tsx
Due: copyright, typescriptfmt

Draft 8.0: Update UI to face requirements
  apps/wallet/frontend/src/components/DevelopmentFundAllocation.tsx
  apps/wallet/frontend/src/components/DevelopmentFundCouponList.tsx
  apps/wallet/frontend/src/components/Hero.tsx
  apps/wallet/frontend/src/contexts/WalletServiceContext.tsx
  apps/wallet/frontend/src/contexts/WalletServiceContextMocks.ts
  apps/wallet/frontend/src/hooks/useDevelopmentFundCouponsHistory.ts
  apps/wallet/frontend/src/models/models.ts
Due: copyright, typescriptfmt

[ci] bump GHA runner version to the latest (auto-generated)
  cluster/images/splice-test-docker-runner/Dockerfile
  cluster/images/splice-test-runner-hook/Dockerfile
Due: none

add a shared config directory to enable linking it in the internal repo
  cluster/configs/shared/.gitkeep
Due: none

[ci] Removed tests for scan balance change activity.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternalPartySetupProposalIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardTransferIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTransactionHistoryFrontendIntegrationTest.scala
Due: copyright

[ci] removed too much possibly
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanTxLogParser.scala
Due: copyright

fix labels in GHA runner images
  cluster/images/splice-test-docker-runner/Dockerfile
  cluster/images/splice-test-runner-hook/Dockerfile
Due: none

Namespace NPM packages (#3730)
  .github/workflows/build.static_tests.yml
  apps/common/frontend-typeface-lato/index.d.ts
  apps/common/frontend-typeface-lato/package.json
  apps/common/frontend-typeface-termina/index.d.ts
  apps/common/frontend-typeface-termina/package.json
  apps/common/frontend/package.json
  apps/common/frontend/src/theme/index.ts
  apps/package-lock.json
  apps/splitwell/frontend/package.json
  apps/sv/frontend/src/beta-theme/index.ts
  build.sbt
  scripts/check-npm-package-names.py
Due: copyright, typescriptfmt, gha_lint

fix labels in GHA runner images (#3738)
  cluster/images/splice-test-docker-runner/Dockerfile
  cluster/images/splice-test-runner-hook/Dockerfile
Due: none
