Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

return early when hash is empty
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
Due: copyright

Add reloader helm release
  cluster/pulumi/infra/src/index.ts
  cluster/pulumi/infra/src/reloader.ts
Due: typescriptfmt, pulumi_tests

[ci] ci
  cluster/pulumi/infra/src/reloader.ts
Due: typescriptfmt, pulumi_tests

Add annotation to all internal deployments
  cluster/helm/cn-docs/templates/docs.yaml
  cluster/helm/splice-cometbft/templates/deployment.yaml
  cluster/helm/splice-domain/templates/domain.yaml
  cluster/helm/splice-global-domain/templates/mediator.yaml
  cluster/helm/splice-info/templates/deployment.yaml
  cluster/helm/splice-load-tester/templates/load-tester.yaml
  cluster/helm/splice-participant/templates/participant.yaml
  cluster/helm/splice-party-allocator/templates/party-allocator.yaml
  cluster/helm/splice-scan/templates/scan.yaml
  cluster/helm/splice-splitwell-app/templates/splitwell.yaml
  cluster/helm/splice-splitwell-web-ui/templates/splitwell-web-ui.yaml
  cluster/helm/splice-sv-node/templates/sv-web-ui.yaml
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-util-lib/templates/_helpers.tpl
  cluster/helm/splice-validator/templates/ans-web-ui.yaml
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/helm/splice-validator/templates/wallet-web-ui.yaml
Due: pulumi_tests

[ci] Update expected.json
  cluster/expected/infra/expected.json
Due: none

[ci] format fix
  cluster/pulumi/infra/src/reloader.ts
Due: typescriptfmt, pulumi_tests

[static] Add GCP log alert for leaked secrets in production logs (#4234)
  .github/actions/scripts/check-logs.sh
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/gcpAlerts.ts
  cluster/pulumi/infra/src/index.ts
Due: copyright, typescriptfmt, pulumi_tests, gha_lint

Update apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
Due: copyright

[ci] fix includes
  cluster/helm/cn-docs/templates/docs.yaml
  cluster/helm/splice-cometbft/templates/deployment.yaml
  cluster/helm/splice-domain/templates/domain.yaml
  cluster/helm/splice-global-domain/templates/mediator.yaml
  cluster/helm/splice-info/templates/deployment.yaml
  cluster/helm/splice-load-tester/templates/load-tester.yaml
  cluster/helm/splice-participant/templates/participant.yaml
  cluster/helm/splice-party-allocator/templates/party-allocator.yaml
  cluster/helm/splice-scan/templates/scan.yaml
  cluster/helm/splice-splitwell-app/templates/splitwell.yaml
  cluster/helm/splice-splitwell-web-ui/templates/splitwell-web-ui.yaml
  cluster/helm/splice-sv-node/templates/sv-web-ui.yaml
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-validator/templates/ans-web-ui.yaml
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/helm/splice-validator/templates/wallet-web-ui.yaml
Due: pulumi_tests

Update apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/FeaturedAppActivityMarkerTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/FeaturedAppActivityMarkerTrigger.scala
Due: copyright

add missing dso party to vetting query
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/FeaturedAppActivityMarkerTrigger.scala
Due: copyright

rename
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/PackageVettingLookupService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/SvTaskBasedTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/RestartDsoDelegateBasedAutomationTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
Due: copyright

.
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

Test changes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliTestDataTimeBasedIntegrationTest.scala
Due: copyright

Clean-up cometbft node usage
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/cometbft/CometBftNode.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/cometbft/CometBftRequestSigner.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
Due: copyright

Minor changes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliTestDataTimeBasedIntegrationTest.scala
Due: copyright

Group featured app marker batches by vetting state (#4212)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BatchedFeaturedAppActivityMarkerIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/PackageVettingLookupService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/FeaturedAppActivityMarkerTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/SvTaskBasedTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/RestartDsoDelegateBasedAutomationTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/NodeInitializerUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

Clean-up cometbft node usage (#4248)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/cometbft/CometBftNode.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/cometbft/CometBftRequestSigner.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
Due: copyright

.
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/LedgerIngestionService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
Due: copyright

.
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

[static] .
  cluster/pulumi/canton-network/src/sv.ts
Due: typescriptfmt, pulumi_tests

[ci] drop the column
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__update_history_for_hash.sql
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V058__drop_update_history_for_hash.sql
Due: none

Revert "Persist ext txn hashes (#4109)"
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternalPartySetupProposalIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternallySignedPartyTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardAllocationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTxLogIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__update_history_for_hash.sql
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
Due: copyright

[ci] generalize LedgerIngestionService to support other infinite services
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/RetryableInfiniteService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/UpdateIngestionService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
Due: copyright

Revert "Persist ext txn hashes" (#4250)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternalPartySetupProposalIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternallySignedPartyTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardAllocationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTxLogIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V058__drop_update_history_for_hash.sql
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
Due: copyright

[ci] fmt
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
Due: copyright

Fix and refactor "leaked secrets" log query
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
Due: pulumi_tests

[static] fmt
  cluster/pulumi/canton-network/src/sv.ts
Due: typescriptfmt, pulumi_tests

Fix and refactor "leaked secrets" log query (#4253)
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
Due: pulumi_tests

support bulk-storage in helm&pulumi (#4225)
  cluster/helm/splice-scan/templates/scan.yaml
  cluster/helm/splice-scan/values-template.yaml
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/bulkStorage.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/index.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common/src/topology-snapshot.ts
Due: typescriptfmt, pulumi_tests

Bump Canton to `3.4.12-snapshot.20260304.17610.0.vc052e3d4`
  nix/canton-sources.json
Due: none

Use the active synchronizer node as the main access point to the synchronizer components
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvCometBftIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SynchronizerNodeService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/LocalSynchronizerNode.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SynchronizerNode.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvOperatorHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvPublicHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/LocalSequencerConnectionsTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/cometbft/CometBftNode.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/cometbft/CometBftRequestSigner.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/NodeInitializerUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
Due: copyright

Bump Canton to `3.4.12-snapshot.20260304.17610.0.vc052e3d4` (#4254)
  nix/canton-sources.json
Due: none

Propagate the active node everywhere
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SynchronizerNodeService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/BackupNodeIdentitiesTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/PeriodicTopologySnapshotTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/ReportSvStatusMetricsExportTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvSvAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/PublishLocalCometBftNodeConfigTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/ReconcileCometBftNetworkConfigWithDsoRulesTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SubmitSvStatusReportTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LogicalSynchronizerUpgradeTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/DecentralizedSynchronizerMigrationTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/SynchronizerNodeIdentities.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/NodeInitializerUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
Due: copyright

.
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
Due: copyright

Add a copy of the sequencer_inspection_service proto
  apps/scan/src/main/protobuf/sequencer_inspection_service.proto
Due: none

Add sequencer_traffic_store.sql and its DB...Store class
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V059__app_activity_record_store_add_traffic_summaries_to_verdicts.sql
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright
