Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

[ci] correct sanity check
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardAllocationIntegrationTest.scala
Due: copyright

[ci] deprecate PruningAmuletConfig
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/PackageVersionSupport.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/environment/TopologyAwarePackageVersionSupportTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/DsoDelegateBasedAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/MergeValidatorLicenseContractsTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/PruneAmuletConfigScheduleTrigger.scala
  daml/dars.lock
  daml/dars/splice-dso-governance-0.1.16.dar
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
  docs/src/release_notes.rst
Due: copyright, dars_lock, no_illegal_daml_references

Fix `Failed clue` log checker failure... (#1585)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DistributedDomainIntegrationTest.scala
Due: copyright

[ci] fixes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AppUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
  apps/sv/frontend/src/utils/ConfigurationNavigator.tsx
  apps/sv/frontend/src/utils/DropdownSchedules.tsx
Due: copyright, typescriptfmt

Remove GCP log alert queries from this repo (#1583)
  cluster/deployment/config.yaml
  cluster/deployment/mock/config.yaml
  cluster/expected/infra/expected.json
Due: none

[ci] add without cooldown time in svStateManagementState and fix AppUpgradeTest
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AppUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
Due: copyright

fix untrapped signals in gha run.sh
  cluster/images/splice-test-docker-runner/run.sh
Due: copyright

[static] Update .github/workflows/pr_cluster_test.yml
  .github/workflows/pr_cluster_test.yml
Due: gha_lint

[ci] Check that gh API returns JSON before passing to jq. (#1584)
  .github/workflows/pr_cluster_test.yml
Due: gha_lint

cip-0058-ui: replace label with 'mint'
  apps/common/frontend/src/components/votes/ActionView.tsx
  apps/sv/frontend/src/components/votes/actions/CreateUnallocatedUnclaimedActivityRecord.tsx
Due: copyright, typescriptfmt

fix untrapped signals in gha run.sh (#1589)
  cluster/images/splice-test-docker-runner/run.sh
Due: copyright

Backend to allow rejecting an AllocationRequest (#1586)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/WalletAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardAllocationIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsQueries.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStoreTest.scala
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/api/client/commands/HttpWalletAppClient.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
Due: copyright

gitignore `.debug` for helm unit tests
  cluster/helm/.gitignore
Due: none

implement `enablePgInitContainer` & `extraInitContainers`
  cluster/helm/splice-participant/templates/participant.yaml
  cluster/helm/splice-validator/templates/validator.yaml
Due: none

fix macos nix env
  nix/daml2js.nix
Due: none

add `enablePgInitContainer` & `extraInitContainers` values to participant & validator
  cluster/helm/splice-participant/values-template.yaml
  cluster/helm/splice-validator/values-template.yaml
Due: none

add helm unit tests for `enablePgInitContainer` & `extraInitContainers`
  cluster/helm/splice-participant/tests/init-containers_test.yaml
  cluster/helm/splice-validator/tests/init-containers_test.yaml
Due: none

update release notes
  docs/src/release_notes.rst
Due: copyright

[static] Include istio rate limit for scan acs endpoints
  apps/app/src/test/resources/preflight-topology.conf
  apps/app/src/test/resources/sv-preflight-topology.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/PreflightIntegrationTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RateLimitPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvPreflightIntegrationTestBase.scala
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/helm/splice-scan/templates/rateLimit.yaml
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  docs/src/release_notes.rst
  test-full-class-names-core-preflight.log
Due: copyright, typescriptfmt, pulumi_config

[static] Move rate limit chart to the ingress helm chart
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/helm/splice-cluster-ingress-runbook/templates/rateLimit.yaml
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  docs/src/release_notes.rst
Due: copyright, typescriptfmt, pulumi_config

[static] Make it configurable
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/helm/splice-cluster-ingress-runbook/templates/rateLimit.yaml
  cluster/helm/splice-cluster-ingress-runbook/values-template.yaml
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[static] .
  docs/src/release_notes.rst
Due: copyright

[static] Add dependency on scan to the info chart
  cluster/pulumi/canton-network/src/info.ts
  cluster/pulumi/canton-network/src/sv.ts
Due: typescriptfmt, pulumi_config

[static] bin base image sha (splice-web-ui)
  cluster/images/splice-web-ui/Dockerfile
Due: none

fix
  cluster/images/splice-test-cometbft/Dockerfile
Due: none

all
  MAINTENANCE.md
  cluster/images/canton/Dockerfile
  cluster/images/cometbft/Dockerfile
  cluster/images/cometbft/local.mk
  cluster/images/gcs-proxy/Dockerfile
  cluster/images/load-tester/Dockerfile
  cluster/images/splice-app/Dockerfile
  cluster/images/splice-debug/Dockerfile
  cluster/images/splice-test-ci/Dockerfile
  cluster/images/splice-test-cometbft/Dockerfile
  cluster/images/splice-test-cometbft/local.mk
  cluster/images/splice-test-docker-runner/Dockerfile
  cluster/images/splice-test-postgres/Dockerfile
  cluster/images/splice-test-runner-hook/Dockerfile
  cluster/images/splice-web-ui/Dockerfile
  nix/cometbft-driver-sources.json
  nix/shell.nix
Due: none

[static] add static check
  .github/workflows/build.static_tests.yml
  scripts/check-base-images.sh
Due: copyright, gha_lint

wip
  build-tools/docker-scan
  nix/shell.nix
Due: none

done, test me
  build-tools/docker-scan
Due: none

[static] Add dependency on scan to the info chart (#1591)
  cluster/pulumi/canton-network/src/info.ts
  cluster/pulumi/canton-network/src/sv.ts
Due: typescriptfmt, pulumi_config

[static] Include istio rate limit for scan acs endpoints (#1590)
  apps/app/src/test/resources/preflight-topology.conf
  apps/app/src/test/resources/sv-preflight-topology.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/PreflightIntegrationTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RateLimitPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvPreflightIntegrationTestBase.scala
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/helm/splice-cluster-ingress-runbook/templates/rateLimit.yaml
  cluster/helm/splice-cluster-ingress-runbook/values-template.yaml
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  docs/src/release_notes.rst
  test-full-class-names-core-preflight.log
Due: copyright, typescriptfmt, pulumi_config

[ci] fix pulumi
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/NodeInitializerUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  cluster/deployment/mock/.envrc.vars
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/pulumi/canton-network/src/dso.ts
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
Due: copyright, typescriptfmt, pulumi_config

Add `expected.json` for `gcp-project`
  cluster/configs/gcp-project-mock/ips.yaml
  cluster/configs/gcp-project-mock/lets-encrypt-email.txt
  cluster/configs/gcp-project-mock/user-configs/canton-network-dev.us.auth0.com.json
  cluster/configs/gcp-project-mock/user-configs/canton-network-mainnet.us.auth0.com.json
  cluster/configs/gcp-project-mock/user-configs/canton-network-sv-test.us.auth0.com.json
  cluster/expected/gcp-project/expected.json
  cluster/pulumi/gcp-project/dump-config.ts
  cluster/pulumi/gcp-project/local.mk
  cluster/pulumi/local.mk
Due: typescriptfmt, pulumi_config

Bootstrap network with non zero round (backend) (#1284)
  apps/app/src/test/resources/include/svs/sv1.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanHistoryBackfillingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
  apps/common/src/main/openapi/common-internal.yaml
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanBackfillAggregatesTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ScanAggregator.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanAggregatorTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanStoreTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/NodeInitializerUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SetupUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  cluster/compose/localnet/conf/splice/sv/app.conf
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/images/sv-app/app.conf
  cluster/pulumi/canton-network/src/dso.ts
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
Due: copyright, typescriptfmt, pulumi_config

Fix deploying clusters with no logAlerts said
  cluster/pulumi/infra/src/config.ts
Due: typescriptfmt, pulumi_config

Fix deploying clusters with no logAlerts set (#1596)
  cluster/pulumi/infra/src/config.ts
Due: typescriptfmt, pulumi_config

rename configs dir env var
  cluster/pulumi/gcp-project/dump-config.ts
  cluster/pulumi/gcp-project/src/gcp-project.ts
Due: typescriptfmt, pulumi_config

impl
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AllocationsFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  apps/wallet/frontend/src/components/AllocationSettlementDisplay.tsx
  apps/wallet/frontend/src/components/ListAllocationRequests.tsx
  apps/wallet/frontend/src/contexts/WalletServiceContext.tsx
Due: copyright, typescriptfmt
