Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

Revert "[ci] Change pulumi operator max retry backoff to 10m (#2806)" (#2823)
  cluster/expected/deployment/expected.json
  cluster/expected/operator/expected.json
  cluster/pulumi/common/src/operator/stack.ts
Due: typescriptfmt, pulumi_config

Nits in the comments
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
Due: copyright

bump selenium-java to 4.36.0, scalatest selenium to 4-12 [skip ci]
  build.sbt
Due: none

WebStorage isn't in the Selenium protocol anymore; use JS instead [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
Due: copyright

Consumer<X> not inferring [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
Due: copyright

non-total map warning [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
Due: copyright

upgrade opentelemetry (incompatible with canton) [skip ci]
  project/CantonDependencies.scala
Due: copyright

set new required captureGcCause = false [skip ci]
  canton/community/app-base/src/main/scala/com/digitalasset/canton/metrics/MetricsRegistry.scala
Due: copyright

use new CardinalityLimit API [ci]
  canton/community/util-observability/src/main/scala/com/digitalasset/canton/telemetry/OpenTelemetryFactory.scala
Due: copyright

Some tests expect login to fail
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/FrontendLoginUtil.scala
Due: copyright

Wait for onboarding status after login
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/FrontendLoginUtil.scala
Due: copyright

[ci] Fix for seq scan in maxVerdictRecordTime
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Fix ledger audience in auth0 M2M apps on MainNet
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

add the info endpoint to the sv-runbook Pulumi project
  apps/app/src/pack/examples/sv-helm/info-values.yaml
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvPreflightIntegrationTestBase.scala
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/info.ts
  cluster/pulumi/canton-network/src/scheduleLoadGenerator.ts
  cluster/pulumi/common/src/artifacts.ts
  cluster/pulumi/common/src/config/migrationSchema.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: copyright, typescriptfmt, pulumi_config

refactor
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

I'm dumb
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

extra nice now
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

Wait for onboarding status after login (#2822)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/FrontendLoginUtil.scala
Due: copyright

config
  cluster/deployment/scratchnetb/.envrc.vars
  cluster/deployment/scratchnetb/config.yaml
Due: none

move pin
  cluster/deployment/scratchnetb/config.yaml
Due: none

[ci] add retry in env setup
  canton/community/integration-testing/src/main/scala/com/digitalasset/canton/integration/EnvironmentSetup.scala
Due: copyright

Fix ledger audience in auth0 M2M apps on MainNet (#2831)
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

fixes
  cluster/deployment/scratchnetb/config.yaml
Due: none

Upgrade to Canton 3.4.0-snapshot.20251023.17241.0.v7d43327e
  nix/canton-sources.json
Due: none

some things broken
  cluster/deployment/scratchnetb/config.yaml
Due: none

[ci] Fix for seq scan in maxVerdictRecordTime (#2829)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Adapt and add retry for unknown informees requests (#2824)
  canton/community/integration-testing/src/main/scala/com/digitalasset/canton/integration/EnvironmentSetup.scala
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: copyright

Bump nix binary to 2.32.1 on GHA
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

rephrase some points in the IntelliJ setup guide
  DEVELOPMENT.md
Due: none

Upgrade Canton to 3.4.0-snapshot.20251023.17245.0.vec144fec
  nix/canton-sources.json
Due: none

update IntelliJ setup guide with the BSP import usage (#2810)
  DEVELOPMENT.md
Due: none

[static] Added a dashboard for mediator verdicts ingestion
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/mediator-verdicts-ingestion.json
Due: none

Stop spamming splitwell groups
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SplitwellFrontendTestUtil.scala
Due: copyright

Fix mediator disabled test in ScanEventHistoryIntegrationTest
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/UseToxiproxy.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
Due: copyright

[static] Added a dashboard for mediator verdicts ingestion (#2838)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/mediator-verdicts-ingestion.json
Due: none

Bump nix binary to 2.32.1 on GHA (#2834)
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

Bump CircleCI ephemeral disk to 48Gi
  cluster/pulumi/circleci/src/index.ts
Due: typescriptfmt, pulumi_config

Abstracted Bft to super class, and implemented Bft and Trust Specific under sub classes
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
Due: copyright

Bump CircleCI ephemeral disk to 48Gi (#2841)
  cluster/pulumi/circleci/src/index.ts
Due: typescriptfmt, pulumi_config

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
