Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

Added tests
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V050__create_scan_config.sql
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStore.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/db/DbValidatorInternalStore.scala
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/store/ValidatorInternalStoreTest.scala
Due: copyright

Added unit test for the store
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V050__create_scan_config.sql
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStore.scala
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/store/ValidatorInternalStoreTest.scala
  test-full-class-names-non-integration.log
Due: copyright

Add various log ignores to reduce CI flakiness
  project/ignore-patterns/canton-standalone-global-domain-migration.ignore.txt
  project/ignore-patterns/canton_log.ignore.txt
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

Fix `get-snapshot-version` on `release-line-x.y` branches
  build-tools/get-release-if-on-release-branch.sh
Due: copyright

0.4 backport: Fix `get-snapshot-version` on `release-line-x.y` branches (#3167)
  build-tools/get-release-if-on-release-branch.sh
Due: copyright

Add various log ignores to reduce CI flakiness (#3166)
  project/ignore-patterns/canton-standalone-global-domain-migration.ignore.txt
  project/ignore-patterns/canton_log.ignore.txt
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

Ensure seed licenses are rendered when checking validator licenses [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanFrontendTimeBasedIntegrationTest.scala
Due: copyright

[static] init
  project/ignore-patterns/canton-standalone-validator-proxy-test.ignore.txt
Due: none

fix ui tests [ci]
  apps/sv/frontend/src/__tests__/governance/proposal-listing.test.tsx
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
Due: copyright, typescriptfmt

Bump `party-allocator-keys` PVC size to 2x
  cluster/helm/splice-party-allocator/templates/party-allocator.yaml
Due: none

0.4 backport: Fix `get-snapshot-version` on `release-line-x.y` branches (#3167) (#3169)
  build-tools/get-release-if-on-release-branch.sh
Due: copyright

Disable new connection pool on all testing participants (#3160)
  apps/app/src/pack/examples/splitwell/splitwell-domain.conf
  apps/app/src/pack/examples/splitwell/splitwell-participant.conf
  apps/app/src/pack/examples/splitwell/splitwell-users.conf
  apps/app/src/pack/examples/splitwell/splitwell-validator-onboarding-nosecret.conf
  apps/app/src/pack/examples/splitwell/splitwell-validator.conf
  apps/app/src/pack/examples/splitwell/splitwell.conf
  apps/app/src/test/resources/include/validator-participant.conf
  apps/app/src/test/resources/local-sv-node/canton-participant/canton.conf
  apps/app/src/test/resources/local-validator-node/canton-participant/canton.conf
Due: none

Add pruning alerts (#3159)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/pruning_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

Bump `party-allocator-keys` PVC size to 2x (#3172)
  cluster/helm/splice-party-allocator/templates/party-allocator.yaml
Due: none

Set liveness margin for new sequencer connection pools
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/Thresholds.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/MediatorAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/LocalSequencerConnectionsTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/validator/src/main/openapi/validator-internal.yaml
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorAdminHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ReconcileSequencerConnectionsTrigger.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
Due: copyright

Ensure seed licenses are rendered when checking validator licenses [ci] (#3170)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanFrontendTimeBasedIntegrationTest.scala
Due: copyright

temporarily disable table row navigation [ci]
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
Due: copyright, typescriptfmt

[static] fixing todo issue number
  project/ignore-patterns/canton-standalone-validator-proxy-test.ignore.txt
Due: none

Add dashboard for onboarded parties in selected time range (#2888) (#3164)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/onboarded_parties.json
Due: none

Add dashboards and alert for new ingestion metrics
  cluster/pulumi/infra/grafana-alerting/automation_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/canton-network/store-record-time.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/update-history.json
Due: none

[static] update expected
  cluster/expected/infra/expected.json
Due: none

Add ValidatorProxyIntegrationTest related ignores (#3171)
  project/ignore-patterns/canton-standalone-validator-proxy-test.ignore.txt
Due: none

Add dashboard for onboarded parties in selected time range (#2888) (#3165)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/onboarded_parties.json
Due: none

[ci] fix metrics issue?
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
Due: copyright

cip-82: add test for InputDevelopmentFundCoupon
  daml/splice-amulet-test/daml/Splice/Scripts/TestAmuletRulesTransfer.daml
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
Due: copyright, dars_lock, no_illegal_daml_references

[ci] is this the problem? am i the problem?
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
Due: copyright

Add log checker query for JWTs
  .github/actions/scripts/check-logs.sh
Due: copyright, gha_lint

WIP: Fix database duplication in integration tests
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/resources/include/self-hosted-sv-participant-postgres-storage.conf
  apps/app/src/test/resources/include/self-hosted-validator-disable-json-api.conf
  apps/app/src/test/resources/include/self-hosted-validator-participant-postgres-storage.conf
  apps/app/src/test/resources/include/validator-participant.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorProxyIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSurviveCantonRestartIntegrationTest.scala
  start-canton.sh
Due: copyright

Set liveness margin for new sequencer connection pools (#3168)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/Thresholds.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/MediatorAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/LocalSequencerConnectionsTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/validator/src/main/openapi/validator-internal.yaml
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorAdminHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ReconcileSequencerConnectionsTrigger.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
Due: copyright

Add flag for new sequencer connection pools and enable in one test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSurviveCantonRestartIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainDataRestorer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/LocalSequencerConnectionsTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ReconcileSequencerConnectionsTrigger.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
Due: copyright

Ignore logs
  project/ignore-patterns/canton-standalone-wallet-survives-canton-restarts-1.ignore.txt
Due: none

Add log checker query for JWTs (#3176)
  .github/actions/scripts/check-logs.sh
Due: copyright, gha_lint

fix wrong default for feature flag
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
Due: copyright

[ci] fix it properly
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
Due: copyright

[ci] not unused
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
Due: copyright

Add flag for new sequencer connection pools and enable in one test (#3179)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSurviveCantonRestartIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainDataRestorer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/LocalSequencerConnectionsTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ReconcileSequencerConnectionsTrigger.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/domain/DomainConnector.scala
  project/ignore-patterns/canton-standalone-wallet-survives-canton-restarts-1.ignore.txt
Due: copyright

Upgrade Canton to 3.4.8-snapshot.20251112.17388.0.vf9e0d623
  nix/canton-sources.json
Due: none

Upgrade Canton to 3.4.8-snapshot.20251112.17388.0.vf9e0d623 (#3182)
  nix/canton-sources.json
Due: none

fix test 1
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorProxyIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSurviveCantonRestartIntegrationTest.scala
Due: copyright

[static] review fixes
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/automation_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/splice-stores/acs-size.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/history-backfilling.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/store-ingestion.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/update-history-ingestion.json
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
