Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

[main] Fix auth0 config for mainnet (#2448)
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

Document topology batching (#2452)
  docs/src/scalability/scalability.rst
Due: copyright

Ensure current weight of selected SV is displayed in proposal form (#2437)
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/components/form-components/TextField.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
Due: copyright, typescriptfmt

Rename proposal expiration to threshold deadline (#2427)
  apps/sv/frontend/src/__tests__/governance/proposal-listing.test.tsx
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/forms/OffboardSvForm.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
  apps/sv/frontend/src/components/governance/ActionRequiredSection.tsx
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
  apps/sv/frontend/src/routes/governance.tsx
  apps/sv/frontend/src/utils/types.ts
Due: copyright, typescriptfmt

Add dedicated circuit breaker for amulet expiry (#2469)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/SpliceAppAutomationService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/AppStoreWithIngestion.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/ExpiredAmuletTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/ExpiredLockedAmuletTrigger.scala
Due: copyright

[ci] Change owner for multi participant/validator files in the docker image (#2461)
  cluster/images/multi-participant/Dockerfile
  cluster/images/multi-validator/Dockerfile
Due: none

Add validation and default value for nextScheduledSynchronizerUpgradeTime (#2454)
  apps/common/frontend/utils/src/temporal-fns.ts
  apps/sv/frontend/src/__tests__/governance/forms/set-dso-rules-form.test.tsx
  apps/sv/frontend/src/components/form-components/ConfigField.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/formValidators.ts
Due: copyright, typescriptfmt

Bump vetting delay to 24h (#2435)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
Due: copyright

[ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
Due: copyright

Add ignored parties to amulet expiry triggers (#2464)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/AutomationConfig.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/DsoDelegateBasedAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/ExpireRewardCouponsTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/ExpiredAmuletTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/ExpiredLockedAmuletTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
Due: copyright

[static] Improve http dashboard (#2468)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/platform/http.json
Due: none

use nonroot user in canton&splice images (#2353)
  cluster/compose/validator/compose-restore-from-id.yaml
  cluster/compose/validator/compose.yaml
  cluster/compose/validator/stop.sh
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/helm/splice-validator/tests/init-containers_test.yaml
  cluster/images/canton/Dockerfile
  cluster/images/splice-app/Dockerfile
  docs/src/release_notes.rst
Due: copyright

Move tests to separate files [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/SvUiPreflightIntegrationTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvFrontendTestUtil.scala
Due: copyright

[ci] Update canton to 3.3.0-snapshot.20250929.16111.0.v6b93ad52 (#2445)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  nix/canton-sources.json
Due: copyright

Fix type errors [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/SvUiPreflightIntegrationTestUtil.scala
Due: copyright

Change SV UI to set empty list of transfer fee steps (#2398)
  apps/sv/frontend/src/__tests__/sv.test.tsx
  apps/sv/frontend/src/components/votes/actions/SetAmuletRulesConfig.tsx
  docs/src/release_notes.rst
Due: copyright, typescriptfmt

[static] Remove cpu limits for scan, mediator and sequencer (#2465)
  cluster/helm/splice-global-domain/values-template.yaml
  cluster/helm/splice-scan/values-template.yaml
  docs/src/release_notes.rst
Due: copyright

[ci] init
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
Due: copyright

[ci] fix comment
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
Due: copyright

[ci] fix
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsQueries.scala
Due: copyright

[static] fix exposing secret to the non-root images
  cluster/helm/splice-sv-node/templates/sv.yaml
Due: none

[ci] extracting method
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/StoreErrors.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsQueries.scala
Due: copyright

[ci] final fix
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/StoreErrors.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsQueries.scala
Due: copyright

fix
  cluster/pulumi/common-validator/src/config.ts
Due: typescriptfmt, pulumi_config

Add release notes for new crypto primitives
  docs/src/release_notes.rst
Due: copyright

Update docs/src/release_notes.rst
  docs/src/release_notes.rst
Due: copyright

Add release notes for new crypto primitives (#2477)
  docs/src/release_notes.rst
Due: copyright

Fix scan_txlog.py handling of holding fees
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/UpdateHistorySanityCheckPlugin.scala
  scripts/scan-txlog/scan_txlog.py
Due: copyright

Fix git repository definition for extra validators
  cluster/expected/deployment/expected.json
  cluster/pulumi/deployment/src/stacks/splice.ts
Due: typescriptfmt, pulumi_config

Fix stack name
  cluster/expected/deployment/expected.json
  cluster/pulumi/common-validator/src/config.ts
  cluster/pulumi/deployment/src/stacks/splice.ts
  cluster/pulumi/deployment/src/stacks/validators.ts
Due: typescriptfmt, pulumi_config

[static] also in validator
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-validator/templates/validator.yaml
Due: none

V2-ify all the token standard packages & test
  build.sbt
  daml/splice-amulet/daml.yaml
  daml/splice-wallet-test/daml.yaml
  token-standard/splice-api-token-allocation-instruction-v2/daml.yaml
  token-standard/splice-api-token-allocation-instruction-v2/daml/Splice/Api/Token/AllocationInstructionV2.daml
  token-standard/splice-api-token-allocation-instruction-v2/openapi/allocation-instruction-v1.yaml
  token-standard/splice-api-token-allocation-instruction-v2/openapi/docker-compose.yml
  token-standard/splice-api-token-allocation-request-v2/README.md
  token-standard/splice-api-token-allocation-request-v2/daml.yaml
  token-standard/splice-api-token-allocation-request-v2/daml/Splice/Api/Token/AllocationRequestV2.daml
  token-standard/splice-api-token-allocation-v2/daml/Splice/Api/Token/AllocationV2.daml
  token-standard/splice-api-token-holding-v2/daml.yaml
  token-standard/splice-api-token-transfer-instruction-v2/daml.yaml
  token-standard/splice-api-token-transfer-instruction-v2/daml/Splice/Api/Token/TransferInstructionV2.daml
  token-standard/splice-api-token-transfer-instruction-v2/openapi/docker-compose.yml
  token-standard/splice-api-token-transfer-instruction-v2/openapi/transfer-instruction-v2yaml
  token-standard/splice-token-standard-test-v2/daml.yaml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Apps/TradingApp.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistry.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/RegistryApi.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClient.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenTransfer.daml
Due: copyright, dars_lock, no_illegal_daml_references

wanna cry
  cluster/helm/splice-validator/templates/validator.yaml
Due: none

Converters for allocation instruction/factory
  build.sbt
  token-standard/splice-api-token-utils-v2/daml.yaml
  token-standard/splice-api-token-utils-v2/daml/Splice/Api/Token/UtilsV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

Implement V2 AllocationFactory on Amulet
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Compare encoded secret in DAML [ci]
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/Secrets.scala
Due: copyright

Unify disable logic in button [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/sv/frontend/src/components/ValidatorOnboardingSecrets.tsx
Due: copyright, typescriptfmt

[ci]
  apps/sv/frontend/src/__tests__/sv.test.tsx
Due: copyright, typescriptfmt

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
