Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

Change version to 0.6.0 (#4285)
  VERSION
Due: none

Bump VERSION to 0.5.15 (#4288)
  LATEST_RELEASE
  VERSION
Due: none

Use LedgerIngestionService (now named RetryingService) for Bulk Storage (#4252)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/PekkoRetryingService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/RetryingService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/UpdateIngestionService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ServiceWithGuaranteedShutdown.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/BulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: copyright

[static] feat: replace scheduled start time with daily active window
  cluster/deployment/mock/config.yaml
  cluster/images/load-tester/entrypoint.sh
  cluster/pulumi/common/src/config/loadTesterConfig.ts
  load-tester/README.md
  load-tester/src/settings.ts
Due: copyright, typescriptfmt, pulumi_tests

rm references to p2p transfers
  load-tester/README.md
Due: none

[static] feat: adaptive load tester improvements (#4292)
  cluster/deployment/mock/config.yaml
  cluster/images/load-tester/entrypoint.sh
  cluster/pulumi/common/src/config/loadTesterConfig.ts
  load-tester/README.md
  load-tester/src/settings.ts
Due: copyright, typescriptfmt, pulumi_tests

Add dashboards and alerts around sequencer caps (#4114) [static]
  cluster/pulumi/infra/grafana-alerting/sequencer_rate_limit_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer-rate-limits.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

Add support to configure cometbft per sync node to helm
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-sv-node/tests/sv_cometbft_test.yaml
  cluster/helm/splice-sv-node/values.schema.json
  cluster/images/sv-app/app.conf
Due: pulumi_tests

Gate serving traffic summaries on a config flag
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
Due: copyright

Don't show the sequencing time
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

Update traffic summary description in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

Add unit test for encode of api Traffic Summaries
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
Due: copyright

Update description of view IDs in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

Serve traffic summaries in /v0/events
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

Update EventHistoryItem description in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

Add an experimental note to traffic_summary
  apps/scan/src/main/openapi/scan.yaml
Due: none

Update traffic cost description in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

Add ScanEventHistoryExtraDataTest that confirms serving of traffic summaries
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryExtraDataIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
  test-full-class-names.log
Due: copyright

Add traffic summary as part of EventHistoryItem in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

Fix sort order
  test-full-class-names.log
Due: none

[ci] Note traffic summary inclusion in release_notes_upcoming.rst
  docs/src/release_notes_upcoming.rst
Due: copyright

[ci] Improve the integration test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryExtraDataIntegrationTest.scala
Due: copyright

Restore the earlier release note
  docs/src/release_notes_upcoming.rst
Due: copyright

[ci] Remove unnecessary use of initDsoWithSv1Only
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryExtraDataIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
Due: copyright

Use the shared environment when toxiproxy is not used
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryExtraDataIntegrationTest.scala
Due: copyright

Remove unnecessary verdict ingestion overrride
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryExtraDataIntegrationTest.scala
Due: copyright

s/for/foreach/
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryExtraDataIntegrationTest.scala
Due: copyright

s/envelope_traffic_costs/envelope_traffic_summaries/
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryExtraDataIntegrationTest.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
Due: copyright

[ci] Remove unused traits
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryExtraDataIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
Due: copyright

Remove an incorrect assertion
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryExtraDataIntegrationTest.scala
Due: copyright

Improve descriptions in scan.yaml
  apps/scan/src/main/openapi/scan.yaml
Due: none

Compare the summary by ID with the one from the page
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryExtraDataIntegrationTest.scala
Due: copyright

basic bft config
  build-tools/cluster-lock-users.json
  cluster/deployment/config.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

udpate config.resolved
  cluster/deployment/scratchnete/config.resolved.yaml
Due: pulumi_tests

refactor alertStrategy [skip ci]
  cluster/pulumi/infra/src/gcpAlerts.ts
Due: typescriptfmt, pulumi_tests

add quotas alert policy [skip ci]
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/gcpAlerts.ts
  cluster/pulumi/infra/src/index.ts
Due: typescriptfmt, pulumi_tests

off by default [skip ci]
  cluster/deployment/config.yaml
Due: pulumi_tests

[static] Remove earlier accepted diff (merge error)
  docs/src/release_notes_upcoming.rst
Due: copyright

Add Accept header to curl commands in traffic.rst
  docs/src/deployment/traffic.rst
Due: copyright

Switch secretmanager to top level import in auth0.ts (#4228)
  cluster/pulumi/common/src/auth0/auth0.ts
Due: typescriptfmt, pulumi_tests
