Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

Bump the size of the persistent heap dump pvc
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_tests

remove side effects from check [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
Due: copyright

Bump canton to 3.5.1-snapshot.20260429.18795.0.v9fec8f12
  nix/canton-sources.json
Due: none

Bump the size of the persistent heap dump pvc (#5307)
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_tests

Bump canton to 3.5.1-snapshot.20260429.18795.0.v9fec8f12 (#5308)
  nix/canton-sources.json
Due: none

Addressed Comments
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/ScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

Backport PR #5307 (Bump the size of the persistent heap dump pvc)
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_tests

log allocation cancellation
  token-standard/examples/splice-test-token-v2/daml/Splice/Testing/Tokens/TestTokenV2.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Events.daml
Due: copyright, dars_lock, no_illegal_daml_references

only move and whitespaces; no text changes
  docs/src/release_notes.rst
  docs/src/release_notes_upcoming.rst
Due: copyright

Option[Option[ is not good
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/ScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

[ci] fix HCs
  cluster/images/canton-domain/Dockerfile
Due: none

[static] release notes: notice about upcoming scan endpoint removals
  docs/src/release_notes_upcoming.rst
Due: copyright

Additions and some reshuffling
  docs/src/release_notes.rst
Due: copyright

fix indents
  docs/src/release_notes.rst
Due: copyright

[ci] fix HCs
  cluster/compose/localnet/compose.yaml
  cluster/compose/localnet/docker/canton/health-check.sh
Due: copyright, pulumi_tests

[ci] fix HCs
  cluster/images/canton/Dockerfile
Due: none

new input: https://github.com/hyperledger-labs/splice/pull/5312
  docs/src/release_notes.rst
Due: copyright

Public Sequencer: Add scan endpoint to lookup if a given participant id is permissioned (#5296)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/ScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

Backport PR #5307 (Bump the size of the persistent heap dump pvc) (#5310)
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_tests

log tokenV2 transfer changes
  token-standard/examples/splice-test-token-v2/daml/Splice/Testing/Tokens/TestTokenV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/TestTokenV2_RegistryV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

Remove side effects in "check" of actAndCheck in SvFrontendIntegrationTest (#5309)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
Due: copyright

properly tag mints of test-tokenv2
  token-standard/examples/splice-test-token-v2/daml/Splice/Testing/Tokens/TestTokenV2.daml
  token-standard/splice-token-standard-test-v1/daml/Splice/Testing/Utils.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/TestTokenV2_RegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP_V1V2Mixed.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Events.daml
Due: copyright, dars_lock, no_illegal_daml_references

fix self-transfers
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Events.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update docs/src/release_notes.rst
  docs/src/release_notes.rst
Due: copyright

attempt to make Moritz happy
  docs/src/release_notes.rst
Due: copyright

Bump the size of the persistent heap dump pvc for participants
  cluster/pulumi/common-sv/src/synchronizer/participant.ts
Due: typescriptfmt, pulumi_tests

Bump the size of the persistent heap dump pvc for participants (#5314)
  cluster/pulumi/common-sv/src/synchronizer/participant.ts
Due: typescriptfmt, pulumi_tests

Backport PR #5307 (Bump the size of the persistent heap dump pvc) (#5311)
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_tests

Faster query for complete activity record rounds
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
Due: copyright

remove svs.default
  cluster/configs/shared/base.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/pulumi/common-sv/src/singleSvConfig.ts
Due: typescriptfmt, pulumi_tests

exclude sv runbook from offboard sv runbook script [static]
  cluster/scripts/vote-for-offboard-sv-runbook.sh
Due: copyright

exclude sv runbook from offboard sv runbook script (#5317)
  cluster/scripts/vote-for-offboard-sv-runbook.sh
Due: copyright

trailing whitespace
  docs/src/release_notes.rst
Due: copyright

[static] Update docs/src/release_notes.rst
  docs/src/release_notes.rst
Due: copyright

add basic test infra for history of tx batches
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  token-standard/examples/splice-test-token-v2/daml/Splice/Testing/Tokens/TestTokenV2.daml
  token-standard/splice-token-standard-test-v1/daml/Splice/Testing/Utils.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/TestTokenV2_RegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClientV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP_V1V2Mixed.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestBatchedTokenTransfer.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Events.daml
Due: copyright, dars_lock, no_illegal_daml_references
