Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

Add new versions to DarResources
  apps/dar-resources-generator/src/main/scala/org/lfdecentralizedtrust/splice/darutils/DarResources.scala
Due: copyright

Bump versions in package.json
  apps/package.json
Due: none

RewardConfig form field fixes
  apps/common/frontend-test-handlers/src/mocks/helpers/amulet-config-helper.ts
  apps/common/frontend/src/__tests__/mocks/constants.ts
  apps/scan/frontend/src/__tests__/mocks/data.ts
  apps/sv/frontend/src/__tests__/utils/buildAmuletRulesConfigFromChanges.test.ts
  apps/sv/frontend/src/utils/buildAmuletRulesConfigFromChanges.ts
Due: typescriptfmt

Ignore FeaturedAppRightV1 for headerCheck
  build.sbt
Due: none

Fix for rewardConfig
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/UnsupportedPackageVettingIntegrationTest.scala
Due: copyright

Add trafficPrice, rewardConfig to SummarizingMiningRound
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/Round.daml
Due: copyright, dars_lock, no_illegal_daml_references

In runNextIssuance compute app rewards from app activity
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry.daml
  token-standard/splice-token-standard-test/daml/Splice/Tests/TestAmuletTokenTransfer.daml
Due: copyright, dars_lock, no_illegal_daml_references

SvDsoStore: Ingest RewardCouponV2, CalculateRewardsV2, ProcessRewardsV2
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
Due: copyright

Update dars
  daml/dars/splice-amulet-0.1.18.dar
Due: none

fix mock helper
  apps/common/frontend-test-handlers/src/mocks/helpers/amulet-config-helper.ts
Due: typescriptfmt

Update DarResources
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
Due: copyright

rewardConfig fixes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AppUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundFrontendTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvReconcileSynchronizerConfigIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/AmuletConfigUtil.scala
Due: copyright

Add Optional.empty for test defaults
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceUtil.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
Due: copyright

RewardConfig UI fixes
  apps/sv/frontend/src/utils/buildAmuletConfigChanges.ts
  apps/sv/frontend/src/utils/buildAmuletRulesConfigFromChanges.ts
Due: typescriptfmt

Update package-lock.json
  apps/package-lock.json
Due: none

Remove fixme, to make CI green
  docs/src/release_notes_upcoming.rst
Due: copyright

runNextIssuanceD: compute app reward coupons from traffic totals
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestRewardAccountingV2.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestUtils.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestDecentralizedAutomation.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestFeaturedAppActivityMarkers.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestGovernance.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update dars
  daml/dars/splice-amulet-0.1.18.dar
  daml/dars/splice-amulet-name-service-0.1.19.dar
  daml/dars/splice-dso-governance-0.1.25.dar
  daml/dars/splice-wallet-0.1.19.dar
  daml/dars/splice-wallet-payments-0.1.18.dar
  daml/dars/splitwell-0.1.19.dar
Due: none

update dars.lock
  daml/dars.lock
Due: none

Use Account.id : Text for token standard V2 (#4990)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
  daml/dars.lock
  daml/dars/splice-amulet-0.1.18.dar
  daml/dars/splice-amulet-name-service-0.1.19.dar
  daml/dars/splice-api-token-allocation-instruction-v2-2.0.0.dar
  daml/dars/splice-api-token-allocation-request-v2-2.0.0.dar
  daml/dars/splice-api-token-allocation-v2-2.0.0.dar
  daml/dars/splice-api-token-holding-v2-2.0.0.dar
  daml/dars/splice-api-token-transfer-instruction-v2-2.0.0.dar
  daml/dars/splice-dso-governance-0.1.24.dar
  daml/dars/splice-test-token-v1-1.0.0.dar
  daml/dars/splice-test-token-v2-1.0.0.dar
  daml/dars/splice-token-standard-test-v1-1.0.11.dar
  daml/dars/splice-token-standard-test-v2-2.0.0.dar
  daml/dars/splice-token-standard-utils-2.0.0.dar
  daml/dars/splice-token-test-trading-app-v2-2.0.0.dar
  daml/dars/splice-util-token-standard-wallet-1.1.0.dar
  daml/dars/splice-wallet-0.1.19.dar
  daml/dars/splice-wallet-payments-0.1.18.dar
  daml/dars/splitwell-0.1.19.dar
  token-standard/V2_VALIDATION.md
  token-standard/splice-api-token-holding-v2/daml/Splice/Api/Token/HoldingV2.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Conversions.daml
Due: copyright, dars_lock, no_illegal_daml_references

Allow snapshots in version comparison
  cluster/pulumi/deployment/src/stacks/splice.ts
Due: typescriptfmt, pulumi_tests

Allow snapshots in version comparison (#4993)
  cluster/pulumi/deployment/src/stacks/splice.ts
Due: typescriptfmt, pulumi_tests

Enable load tester
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

Bump sequencer DB
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

Bump Canton to 3.5.0-snapshot.20260413.18632.0.v22142406
  nix/canton-sources.json
Due: none

disable grafana pg protection
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

disable grafana pg protection (#4997)
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

Addressed comments
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/TopologyAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/GrantValidatorPermissionTrigger.scala
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: copyright

try to enable nuck
  cluster/compose/localnet/env/alpha-protocol-version.env
Due: none

fix config
  cluster/compose/localnet/env/alpha-protocol-version.env
Due: none

Increase wait to check that sv did the LSU
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

enable chaos mesh
  cluster/deployment/scratchnete/.envrc.vars
Due: none

Add a cluster config that controls the creation of the grafana SA
  build-tools/cncluster
  cluster/configs/shared/base.yaml
  cluster/configs/shared/enable-grafana-sa.yaml
  cluster/configs/shared/scratchnet.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/observability/expected.json
  cluster/pulumi/observability/src/config.ts
  cluster/pulumi/observability/src/observability.ts
Due: typescriptfmt, pulumi_tests

Final COmmit
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
