Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

bump minimum versions
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
Due: copyright

Update docs/src/release_notes.rst
  docs/src/release_notes.rst
Due: copyright

Release notes for 0.5.6 (#3572)
  docs/src/release_notes.rst
Due: copyright

Fix pg14 tests
  .github/workflows/build.scala_test.yml
  .github/workflows/build.wallclock_pg14.yml
Due: copyright, gha_lint

Switch expiry to be based on ExternalPartyConfigState
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/Expiry.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Bump versions after 0.5.6
  LATEST_RELEASE
  VERSION
Due: none

remove redundant version checks
  apps/common/src/main/openapi/common-internal.yaml
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/PackageVersionSupport.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/http/HttpFeatureSupportHandler.scala
  apps/scan/frontend/src/__tests__/mocks/handlers/scan-api.ts
  apps/scan/frontend/src/hooks/useFeatureSupport.ts
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardMetadataHandler.scala
  apps/sv/frontend/src/__tests__/mocks/handlers/sv-api.ts
  apps/sv/frontend/src/contexts/SvContext.tsx
  apps/wallet/frontend/src/hooks/useFeatureSupport.tsx
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpStatusWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/AmuletMetricsTrigger.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/UserWalletAutomationService.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/WalletPreapprovalSweepTrigger.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/WalletSweepTrigger.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/WalletTransferOfferSweepTrigger.scala
Due: copyright, typescriptfmt

Bump versions after 0.5.6 (#3575)
  LATEST_RELEASE
  VERSION
Due: none

Fix pg14 tests (#3574)
  .github/workflows/build.scala_test.yml
  .github/workflows/build.wallclock_pg14.yml
Due: copyright, gha_lint

clarify some assertions in unit tests
  cluster/pulumi/canton-network/src/clusterVersion.test.ts
  cluster/pulumi/common/src/config/configLoader.test.ts
  cluster/pulumi/gha/src/runners.test.ts
Due: typescriptfmt, pulumi_config

fix build
  daml/splice-amulet-test/daml/Splice/Scripts/TestComputeFees.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestLockAndAmuletExpiry.daml
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
Due: copyright, dars_lock, no_illegal_daml_references

comment
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

remove unused choice result
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

and more checks
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/PackageVersionSupport.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/NodeInitializerUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
Due: copyright

remove more redundant checks
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/PackageVersionSupport.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorAdminHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
Due: copyright

republish canton images (#3278)
  MAINTENANCE.md
  build-tools/bump-canton.sh
  cluster/images/canton-base-image-dep.mk
  cluster/images/canton-cometbft-sequencer/local.mk
  cluster/images/canton-domain/Dockerfile
  cluster/images/canton-domain/additional-config.conf
  cluster/images/canton-domain/app.conf
  cluster/images/canton-domain/local.mk
  cluster/images/canton-mediator/Dockerfile
  cluster/images/canton-mediator/app.conf
  cluster/images/canton-mediator/local.mk
  cluster/images/canton-participant/Dockerfile
  cluster/images/canton-participant/app.conf
  cluster/images/canton-participant/local.mk
  cluster/images/canton-sequencer/Dockerfile
  cluster/images/canton-sequencer/app.conf
  cluster/images/canton-sequencer/local.mk
  cluster/images/canton/Dockerfile
  cluster/images/canton/local.mk
  cluster/images/local.mk
  cluster/images/multi-participant/Dockerfile
  cluster/images/multi-participant/local.mk
  docs/src/deployment/console_access.rst
  docs/src/release_notes.rst
  nix/canton-sources.json
  nix/shell.nix
  scripts/check-base-images.sh
Due: copyright

implement two reference tests with Pulumi resource assertions (#3530)
  cluster/pulumi/canton-network/src/clusterVersion.test.ts
  cluster/pulumi/canton-network/src/clusterVersion.ts
  cluster/pulumi/common/src/config/configLoader.test.ts
  cluster/pulumi/common/src/namespace.ts
  cluster/pulumi/common/src/test/index.ts
  cluster/pulumi/common/src/test/pulumi.ts
  cluster/pulumi/common/src/utils.ts
  cluster/pulumi/gha/src/runners.test.ts
Due: typescriptfmt, pulumi_config

[static] scalafmt
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/AcsSnapshotStoreTest.scala
Due: copyright

more test fixes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RewardExpiryIntegrationTest.scala
Due: copyright

support querying next snapshot after a timestamp (#3552)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/AcsSnapshotStoreTest.scala
Due: copyright

Add x-source-ui header to metrics.
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/http/HttpServerMetrics.scala
Due: copyright

and more
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/MultiHostValidatorOperatorIntegrationTest.scala
Due: copyright

and more fixes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletManualRoundsIntegrationTest.scala
Due: copyright

and fix
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTxLogIntegrationTest.scala
Due: copyright

add flag for api request logger [static]
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetb/config.yaml
  cluster/helm/splice-global-domain/tests/sequencer_test.yaml
  cluster/helm/splice-util-lib/templates/_helpers.tpl
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
  cluster/pulumi/sv-canton/src/participant.ts
  scripts/canton-logback.xml
Due: typescriptfmt, pulumi_config

fix inflight votes sorting [ci]
  apps/sv/frontend/src/__tests__/governance/governance-sorting.test.tsx
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
Due: copyright, typescriptfmt

fixed
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RecoverExternalPartyIntegrationTest.scala
Due: copyright

[ci] refactor
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/SingleAcsSnapshotBulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
Due: copyright

[ci] handle x-source-ui header (logs metric) from scan UI
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/metrics/SpliceMetricsFactory.scala
  apps/common/frontend/src/api/scan/ScanClientContext.tsx
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/SpliceMetrics.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/http/HttpServerMetrics.scala
  apps/scan/frontend/src/api/TokenMetadataClientContext.tsx
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/metrics/ScanAppMetrics.scala
  apps/splitwell/src/main/scala/org/lfdecentralizedtrust/splice/splitwell/metrics/SplitwellAppMetrics.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/metrics/SvAppMetrics.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/metrics/ValidatorAppMetrics.scala
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/platform/http.json
Due: copyright, typescriptfmt

put it together
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
Due: copyright

[ci] revive canton base image
  cluster/images/canton-base-image-dep.mk
  cluster/images/canton-domain/Dockerfile
  cluster/images/canton-domain/local.mk
  cluster/images/canton/Dockerfile
  cluster/images/canton/additional-config.conf
  cluster/images/canton/local.mk
  cluster/images/local.mk
  cluster/images/multi-participant/Dockerfile
  cluster/images/multi-participant/local.mk
  docs/src/deployment/console_access.rst
  docs/src/release_notes.rst
Due: copyright

fix invalid NEG annotation [skip ci]
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

[static] Apply suggestion from @isegall-da
  cluster/images/local.mk
Due: none

revive canton base image (#3584)
  cluster/images/canton-base-image-dep.mk
  cluster/images/canton-domain/Dockerfile
  cluster/images/canton-domain/local.mk
  cluster/images/canton/Dockerfile
  cluster/images/canton/additional-config.conf
  cluster/images/canton/local.mk
  cluster/images/local.mk
  cluster/images/multi-participant/Dockerfile
  cluster/images/multi-participant/local.mk
  docs/src/deployment/console_access.rst
  docs/src/release_notes.rst
Due: copyright

try with global [skip ci]
  cluster/pulumi/infra/src/gcpLoadBalancer.ts
Due: typescriptfmt, pulumi_config

might need parsing for security policy link [skip ci]
  cluster/pulumi/infra/src/gcpLoadBalancer.ts
Due: typescriptfmt, pulumi_config

note about enabling gateway API [skip ci]
  cluster/pulumi/infra/src/gcpLoadBalancer.ts
Due: typescriptfmt, pulumi_config
