Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

Remove test, as we are verifying this in new test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorLicenseMetadataTimeBasedIntegrationTest.scala
Due: copyright

Add ignore pattern for SvTimeBasedOnboardingIntegrationTest
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

Apply Suggestion
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ReceiveFaucetCouponTrigger.scala
Due: copyright

Add util api to modify ValidatorLicenses, use in tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvTimeBasedOnboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvValidatorLicenseIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorLicenseMetadataTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletRewardsTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvTestUtil.scala
Due: copyright

.
  build.sbt
Due: none

remove application id
  apps/common/frontend/src/contexts/LedgerApiContext.tsx
Due: copyright, typescriptfmt

SV UI Look&Feel: Tabs (#3304)
  apps/common/frontend/src/theme/index.ts
  apps/sv/frontend/src/__tests__/governance/proposal-details-content.test.tsx
  apps/sv/frontend/src/beta-theme/index.ts
  apps/sv/frontend/src/components/beta/VoteStats.tsx
  apps/sv/frontend/src/components/beta/index.ts
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
Due: copyright, typescriptfmt

remove file self reference
  apps/scan/src/main/openapi/scan.yaml
Due: none

Bump vulnerable HappyDOM version [ci]
  apps/ans/frontend/package.json
  apps/package-lock.json
  apps/splitwell/frontend/package.json
  apps/sv/frontend/package.json
  apps/wallet/frontend/package.json
Due: none

[ci] Ignore log after shutdown for #3314
  project/ignore-patterns/canton-standalone-sv4-reonboarding-new.ignore.txt
Due: none

[ci] Added request / response logging for probes / health check endpoints. (#3285)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/admin/http/HttpAdminService.scala
Due: copyright

Added role and role binding in multi-validator namespace
  cluster/expected/multi-validator/expected.json
  cluster/pulumi/multi-validator/src/installNode.ts
Due: typescriptfmt, pulumi_config

Fix confusing log lines around OTK key rotation
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/NodeInitializer.scala
Due: copyright

added cronjob with a new namespace
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/index.ts
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

Fix confusing log lines around OTK key rotation (#3317)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/NodeInitializer.scala
Due: copyright

Called reaper job
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/index.ts
Due: typescriptfmt, pulumi_config

Edited delete script
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

added reacher image
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

Bump vulnerable HappyDOM version [ci] (#3313)
  apps/ans/frontend/package.json
  apps/package-lock.json
  apps/splitwell/frontend/package.json
  apps/sv/frontend/package.json
  apps/wallet/frontend/package.json
Due: none

[static] 0.5.4 release notes
  docs/src/release_notes.rst
Due: copyright

[static] Update docs/src/release_notes.rst
  docs/src/release_notes.rst
Due: copyright

[static] 0.5.4 release notes (#3318)
  docs/src/release_notes.rst
Due: copyright

[ci] release notes
  docs/src/release_notes.rst
Due: copyright

Added KUBECTL_VERSION to nix
  nix/shell.nix
Due: none

use adhoc snapshot with fix for parties
  nix/canton-sources.json
Due: none

[ci] bump versions after releasing 0.5.4
  LATEST_RELEASE
  VERSION
  docs/src/release_notes.rst
Due: copyright

[ci] bump versions after releasing 0.5.4 (#3323)
  LATEST_RELEASE
  VERSION
  docs/src/release_notes.rst
Due: copyright

[static] enable unit testing in Pulumi projects (#3288)
  .pre-commit-config.yaml
  TESTING.md
  cluster/pulumi/common/src/retries.test.ts
  cluster/pulumi/jest.config.ts
  cluster/pulumi/local.mk
  cluster/pulumi/package-lock.json
  cluster/pulumi/package.json
  cluster/pulumi/tsconfig.json
Due: typescriptfmt, pulumi_config

remove redundant dependencies from common
  cluster/pulumi/common/package.json
  cluster/pulumi/package-lock.json
Due: none

[static] implement js-yaml schema extension for !include and !append tags (#3305)
  cluster/pulumi/cluster/src/config.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-validator/src/config.ts
  cluster/pulumi/common/package.json
  cluster/pulumi/common/src/automation.ts
  cluster/pulumi/common/src/config/config.ts
  cluster/pulumi/common/src/config/configLoader.test.ts
  cluster/pulumi/common/src/config/configLoader.ts
  cluster/pulumi/common/src/config/loadTesterConfig.ts
  cluster/pulumi/common/src/config/networkWideConfig.ts
  cluster/pulumi/common/src/config/splitwellConfig.ts
  cluster/pulumi/common/src/operator/config.ts
  cluster/pulumi/gha/src/config.ts
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/multi-validator/src/config.ts
  cluster/pulumi/package-lock.json
  cluster/pulumi/validator1/src/config.ts
Due: typescriptfmt, pulumi_config

[ci] fixes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/MultiHostValidatorOperatorIntegrationTest.scala
Due: copyright

save work
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvFrontendTestUtil.scala
  apps/sv/frontend/src/__tests__/governance/governance-page.test.tsx
  apps/sv/frontend/src/components/beta/PageSectionHeader.tsx
  apps/sv/frontend/src/components/form-components/EffectiveDateField.tsx
  apps/sv/frontend/src/components/form-components/FormControls.tsx
  apps/sv/frontend/src/components/form-components/ProposalSummaryField.tsx
  apps/sv/frontend/src/components/form-components/TextField.tsx
  apps/sv/frontend/src/components/forms/SelectAction.tsx
  apps/sv/frontend/src/components/governance/ActionRequiredSection.tsx
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
  apps/sv/frontend/src/components/governance/ProposalVoteForm.tsx
  apps/sv/frontend/src/routes/governance.tsx
Due: copyright, typescriptfmt

test multi-hosting the validator operator party (#3269)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/MultiHostValidatorOperatorIntegrationTest.scala
  test-full-class-names.log
Due: copyright

[ci] add prefix when streaming + removing scratch config
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/BackupDump.scala
  cluster/deployment/scratchnetb/config.yaml
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
