Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

Add dashboard for incremental snapshots
  cluster/pulumi/infra/grafana-dashboards/splice-stores/acs-snapshots.json
Due: none

load: 360
  cluster/configs/shared/scratchnet.yaml
Due: pulumi_tests

Update expected
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/acs-snapshots.json
Due: none

Add units
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/acs-snapshots.json
Due: none

Bump Canton to `3.4.12-snapshot.20260318.17629.0.v212d8420` (#4502)
  nix/canton-sources.json
Due: none

dso rules
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

load: 720
  cluster/configs/shared/scratchnet.yaml
Due: pulumi_tests

Added Tests
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestDecentralizedAutomation.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Release notes
  docs/src/release_notes_upcoming.rst
Due: copyright

[ci] review comments
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/GroupedWeightS3ObjectFlow.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/ZstdGroupedWeight.scala
Due: copyright

[ci] improve logging for bulk storage
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorage.scala
Due: copyright

load: off
  cluster/configs/shared/scratchnet.yaml
Due: pulumi_tests

Nits for release notes
  docs/src/release_notes_upcoming.rst
Due: copyright

return type inclided cids
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
Due: copyright, dars_lock, no_illegal_daml_references

Last line
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestDecentralizedAutomation.daml
Due: copyright, dars_lock, no_illegal_daml_references

Last line
  daml/dars/splice-amulet-0.1.17.dar
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
Due: copyright, dars_lock, no_illegal_daml_references

Fix incorrect path to start-canton.sh in TROUBLESHOOTING.md
  TROUBLESHOOTING.md
Due: none

[static] use hyperdisks for docker-mirror
  cluster/pulumi/gha/src/dockerMirror.ts
Due: typescriptfmt, pulumi_tests

Added todo with issue
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/NodeInitializer.scala
Due: copyright

Update apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/NodeInitializer.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/NodeInitializer.scala
Due: copyright

Added 5s after first call
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/NodeInitializer.scala
Due: copyright

Add TemporalAcsQueries + TemporalAcsStore
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/TemporalAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/TemporalAcsQueries.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbTemporalAcsStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
  test-full-class-names-non-integration.log
Due: copyright

Add waitUntilRecordTimeReached and use in queries
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

Add migration for scan_tcs_store_active and archived tables
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__acs_archive_template.sql
Due: none

Add optional onDelete add to archive in DbMultiDomainAcsStore
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbAppStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

Track lastIngestedRecordTime per SynchronizerId instead of globally
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/TemporalAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbTemporalAcsStoreTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanTemporalAcsStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbScanTemporalAcsStoreTest.scala
Due: copyright

move archived_at to index include
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__scan_tcs_store.sql
Due: none

Add lastIngestedRecordTime tracking to DbMultiDomainAcsStore
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

rename migration file
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__scan_tcs_store.sql
Due: none

Also update lastIngestedRecordTimes from offset checkpoint
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

Add waitUntilRecordTimeReached tests with multi-domain verification
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbTemporalAcsStoreTest.scala
Due: copyright

Add DbScanTemporalAcsStore
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanTemporalAcsStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanTemporalAcsStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ScanTemporalAcsTables.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbScanTemporalAcsStoreTest.scala
Due: copyright

Remove index on featured_app_right_provider, as we don't require it ATM
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__scan_tcs_store.sql
Due: none

Add migration for acs_store_archived_template table
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__acs_archive_template.sql
Due: none

Add DbScanTemporalAcsStoreTest
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbScanTemporalAcsStoreTest.scala
  test-full-class-names-non-integration.log
Due: copyright

Fix comment
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__acs_archive_template.sql
Due: none

Rename to ScanRewardsReference*
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanRewardsReferenceStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanRewardsReferenceStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ScanRewardsReferenceTables.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbScanRewardsReferenceStoreTest.scala
  test-full-class-names-non-integration.log
Due: copyright

Rename to TcsQueries
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/TcsQueries.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
