Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

add dso-visible tps stats to bigquery (#2100)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: copyright, typescriptfmt, pulumi_config

add BQ monthly burn stat (#2112)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: copyright, typescriptfmt, pulumi_config

Update validator_helm.rst
  docs/src/validator_operator/validator_helm.rst
Due: copyright

[static] only last 30 days for now
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

pulumify cloudsql functions for total supply (#2078)
  .github/workflows/build.scala_test_bigquery.yml
  apps/app/src/test/resources/dumps/.gitignore
  apps/app/src/test/resources/total-supply-bigquery.sql
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/bigquery-sql-codegen.ts
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: copyright, typescriptfmt, pulumi_config, gha_lint

move amulet-holders and validators queries to pulumi (#2099)
  apps/app/src/test/resources/all-amulet-holders.sql
  apps/app/src/test/resources/all-validators.sql
  apps/app/src/test/resources/total-supply-bigquery-import.sql
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: copyright, typescriptfmt, pulumi_config

Compute daily stats in BQ (#2151)
  cluster/pulumi/canton-network/bigquery-sql-codegen.ts
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: typescriptfmt, pulumi_config

pulumify cloudsql functions for total supply (#2078)
  apps/app/src/test/resources/dumps/.gitignore
  apps/app/src/test/resources/total-supply-bigquery.sql
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/bigquery-sql-codegen.ts
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: copyright, typescriptfmt, pulumi_config

backport bq stats to 0.4.14 (to apply to devnet) (#2152)
  .github/workflows/build.scala_test_bigquery.yml
  apps/app/src/test/resources/all-amulet-holders.sql
  apps/app/src/test/resources/all-validators.sql
  apps/app/src/test/resources/dumps/.gitignore
  apps/app/src/test/resources/total-supply-bigquery-import.sql
  apps/app/src/test/resources/total-supply-bigquery.sql
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/bigquery-sql-codegen.ts
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: copyright, typescriptfmt, pulumi_config, gha_lint

backport bq stats (0.4.15) (#2156)
  cluster/pulumi/canton-network/bigquery-sql-codegen.ts
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: typescriptfmt, pulumi_config

backport bq stats (0.4.11) (#2155)
  apps/app/src/test/resources/all-amulet-holders.sql
  apps/app/src/test/resources/all-validators.sql
  apps/app/src/test/resources/dumps/.gitignore
  apps/app/src/test/resources/total-supply-bigquery-import.sql
  apps/app/src/test/resources/total-supply-bigquery.sql
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/bigquery-sql-codegen.ts
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: copyright, typescriptfmt, pulumi_config

backport bq stats (0.4.13) (#2154)
  .github/workflows/build.scala_test_bigquery.yml
  apps/app/src/test/resources/all-amulet-holders.sql
  apps/app/src/test/resources/all-validators.sql
  apps/app/src/test/resources/dumps/.gitignore
  apps/app/src/test/resources/total-supply-bigquery-import.sql
  apps/app/src/test/resources/total-supply-bigquery.sql
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/bigquery-sql-codegen.ts
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: copyright, typescriptfmt, pulumi_config, gha_lint

Backport bq stats (0.4.12) (#2153)
  apps/app/src/test/resources/all-amulet-holders.sql
  apps/app/src/test/resources/all-validators.sql
  apps/app/src/test/resources/dumps/.gitignore
  apps/app/src/test/resources/total-supply-bigquery-import.sql
  apps/app/src/test/resources/total-supply-bigquery.sql
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/bigquery-sql-codegen.ts
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: copyright, typescriptfmt, pulumi_config

explain the rules about how many IPs may/must be provided [static]
  docs/src/validator_operator/validator_onboarding.rst
Due: copyright

FAQ update based on questions - week 36
  docs/src/background/tokenomics/cc_transfer_splice_wallet_tokenomics.rst
  docs/src/faq.rst
Due: copyright

[static] fix hardcoded project in BQ
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

switch to a note [static]
  docs/src/validator_operator/validator_onboarding.rst
Due: copyright

[static] hard-coded migration IDs
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

fix hardcoded project & migration IDs in BQ (#2159)
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

Update oidc-config-okta-keycloak.rst
  docs/src/community/oidc-config-okta-keycloak.rst
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
