Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

write generic mixed version settlement algorithm
  token-standard/splice-api-token-allocation-instruction-v2/daml/Splice/Api/Token/AllocationInstructionV2.daml
  token-standard/splice-api-token-utils-v2/daml/Splice/Api/Token/UtilsV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

DAML updates
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  daml/dars.lock
Due: copyright

grafana dashboard for bulk-storage metrics (#4339)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/bulk-storage.json
Due: none

Add script to run sql file on all multi-validators
  scripts/run-on-all-databases.sh
  scripts/run-on-all-multi-validator-databases.sh
Due: copyright

[static] Add dashboards and alerts around sequencer caps (backport of #4315)
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/sequencer_rate_limit_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer-rate-limits.json
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

Updated package.json
  apps/package.json
Due: none

Bump complete
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
Due: none

Add script to run sql file on all multi-validators (#4359)
  scripts/run-on-all-databases.sh
  scripts/run-on-all-multi-validator-databases.sh
Due: copyright

[static] Add dashboards and alerts around sequencer caps (backport of #4315) (#4356)
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/sequencer_rate_limit_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer-rate-limits.json
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

[static] Add dashboards and alerts around sequencer caps (backport of #4315) (#4357)
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/sequencer_rate_limit_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer-rate-limits.json
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

[static] Add dashboards and alerts around sequencer caps (backport of #4315) (#4360)
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/sequencer_rate_limit_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer-rate-limits.json
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_tests

add ability to cancel a LSU
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/PostgresAroundAll.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/LsuTopologyAdminConnection.scala
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvAdminAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/lsu/LogicalSynchronizerUpgradeAnnouncementTrigger.scala
Due: copyright

Bumped
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/package-lock.json
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet/daml/Splice/ValidatorPermission.daml
  load-tester/package-lock.json
  party-allocator/package-lock.json
Due: copyright, dars_lock, no_illegal_daml_references

Remove "Confirmation Requests By Member" alert
  cluster/configs/shared/base.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/deleted.yaml
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
  cluster/pulumi/package-lock.json
Due: typescriptfmt, pulumi_tests

Remove "Confirmation Requests By Member" alert (#4362)
  cluster/configs/shared/base.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/deleted.yaml
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
  cluster/pulumi/package-lock.json
Due: typescriptfmt, pulumi_tests

[ci] add checksums to s3 objects
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/GroupedWeightS3ObjectFlow.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/S3BucketConnectionForUnitTests.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/S3UploadTest.scala
Due: copyright

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
Due: copyright

[ci] cleanup
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/GroupedWeightS3ObjectFlow.scala
Due: copyright

update submodule
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

[ci] cleanup
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/S3BucketConnectionForUnitTests.scala
Due: copyright

[ci] cleanup
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/S3UploadTest.scala
Due: copyright

.
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
Due: copyright

CIP-82: reduce test cases
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundFrontendTimeBasedIntegrationTest.scala
Due: copyright

.
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  daml/dars.lock
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/splice-dso-governance/daml/Splice/DSO/DecentralizedSynchronizer.daml
Due: copyright, dars_lock, no_illegal_daml_references

[ci] cleanup
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnection.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/S3BucketConnectionForUnitTests.scala
Due: copyright

Add FIXME on rewardCouponTTL
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

bump canton to 3.5.0-snapshot.20260310.18260.0.vcd8feade (#4353)
  nix/canton-sources.json
Due: none

Allow V2 settlemnt of V1 allocations
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
  token-standard/splice-api-token-utils-v2/daml/Splice/Api/Token/UtilsV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorSequencerConnectionIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/PublishScanConfigTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SynchronizerNodeConfigClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SynchronizerNodeReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
Due: copyright

Trying bump
  apps/package-lock.json
  apps/package.json
Due: none

partial testing of mixed settlement
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Apps/TradingAppV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP_V1V2Mixed.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP_V2Only.daml
Due: copyright, dars_lock, no_illegal_daml_references

update deploymentdir
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

Retry get docker image digest
  build-tools/get-docker-image-digests.sh
Due: copyright

update stackDir
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

Wrangle mixed version settlement into submissions
  build.sbt
  token-standard/splice-api-token-utils-v2/daml/Splice/Api/Token/UtilsV2.daml
  token-standard/splice-token-standard-test-v2/daml.yaml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Apps/TradingAppV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP_V1V2Mixed.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP_V2Only.daml
Due: copyright, dars_lock, no_illegal_daml_references

allow referencing environment variables in include paths (#4330)
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.yaml
  cluster/deployment/scratchnetb/config.yaml
  cluster/deployment/scratchnetc/config.yaml
  cluster/deployment/scratchnetd/config.yaml
  cluster/deployment/scratchnete/config.yaml
  cluster/pulumi/common/src/config/configLoader.test.ts
  cluster/pulumi/common/src/config/configLoader.ts
Due: typescriptfmt, pulumi_tests

CIP-82: add withdraw error handling
  apps/wallet/frontend/src/components/DevelopmentFundCouponList.tsx
Due: copyright, typescriptfmt

CIP-82: code formatting
  apps/wallet/frontend/src/__tests__/developmentFund.test.tsx
  apps/wallet/frontend/src/components/DevelopmentFundAllocation.tsx
  apps/wallet/frontend/src/components/DevelopmentFundCouponList.tsx
  apps/wallet/frontend/src/components/DevelopmentFundTotal.tsx
  apps/wallet/frontend/src/contexts/WalletServiceContext.tsx
  apps/wallet/frontend/src/hooks/index.ts
  apps/wallet/frontend/src/hooks/useActiveDevelopmentFundCoupons.ts
  apps/wallet/frontend/src/hooks/useDevelopmentFund.ts
  apps/wallet/frontend/src/hooks/useDevelopmentFundAllocationForm.ts
  apps/wallet/frontend/src/hooks/useDevelopmentFundCouponHistory.ts
  apps/wallet/frontend/src/hooks/useUnclaimedDevelopmentFundTotal.ts
Due: copyright, typescriptfmt
