Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

Complete form composition in sv app [ci]
  apps/package-lock.json
  apps/sv/frontend/package.json
  apps/sv/frontend/src/components/form-components/DateField.tsx
  apps/sv/frontend/src/components/form-components/EffectiveDateField.tsx
  apps/sv/frontend/src/components/form-components/FormErrors.tsx
  apps/sv/frontend/src/components/forms/CreateProposalform.tsx
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/forms/OffboardSvForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
  apps/sv/frontend/src/components/forms/formValidators.ts
  apps/sv/frontend/src/hooks/form.ts
  apps/sv/frontend/src/routes/createProposal.tsx
  apps/sv/frontend/src/utils/types.ts
Due: copyright, typescriptfmt

[ci] init
  cluster/expected/deployment/expected.json
  cluster/pulumi/deployment/src/stacks/splice.ts
Due: typescriptfmt, pulumi_config

Docs: Clarifications around validator DR
  docs/src/release_notes.rst
  docs/src/validator_operator/validator_backups.rst
  docs/src/validator_operator/validator_disaster_recovery.rst
Due: copyright

[ci] make multi validators depends on their paraiticpant
  cluster/pulumi/multi-validator/src/installNode.ts
Due: typescriptfmt, pulumi_config

Tweak fluent bit configuration
  cluster/pulumi/cluster/src/fluentBit.ts
Due: typescriptfmt, pulumi_config

Bump Canton for KMS resilience fix
  nix/canton-sources.json
Due: none

Tweak fluent bit configuration (#1940)
  cluster/pulumi/cluster/src/fluentBit.ts
Due: typescriptfmt, pulumi_config

Reduce multi-validator deployment parallelism to 2 (#1938)
  cluster/expected/deployment/expected.json
  cluster/pulumi/deployment/src/stacks/splice.ts
  cluster/pulumi/multi-validator/src/installNode.ts
Due: typescriptfmt, pulumi_config

Bump Canton for KMS resilience fix (#1941)
  nix/canton-sources.json
Due: none

Refactor some form components in sv ui (#1936)
  apps/package-lock.json
  apps/sv/frontend/package.json
  apps/sv/frontend/src/components/form-components/DateField.tsx
  apps/sv/frontend/src/components/form-components/EffectiveDateField.tsx
  apps/sv/frontend/src/components/form-components/FormErrors.tsx
  apps/sv/frontend/src/components/forms/CreateProposalform.tsx
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/forms/OffboardSvForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
  apps/sv/frontend/src/components/forms/formValidators.ts
  apps/sv/frontend/src/hooks/form.ts
  apps/sv/frontend/src/routes/createProposal.tsx
  apps/sv/frontend/src/utils/types.ts
Due: copyright, typescriptfmt

Add helper function for nested Canton config rendering
  cluster/helm/splice-util-lib/templates/_helpers.tpl
Due: none

Switch to nested config helper function for KMS config, allow for PVC mounts in participant
  cluster/helm/splice-participant/templates/participant.yaml
  cluster/helm/splice-participant/tests/participant_test.yaml
Due: none

Move test values required by schema to top level to reduce duplication
  cluster/helm/splice-participant/tests/participant_test.yaml
Due: none

quick comments
  docs/src/app_dev/daml_api/token_standard.rst
Due: copyright

point to the right auth docs
  docs/src/app_dev/daml_api/token_standard.rst
  docs/src/deployment/console_access.rst
Due: copyright

Docs: Clarifications around validator DR (#1937)
  docs/src/release_notes.rst
  docs/src/validator_operator/validator_backups.rst
  docs/src/validator_operator/validator_disaster_recovery.rst
Due: copyright

Fix tag prefix in stackdriver export
  cluster/pulumi/cluster/src/fluentBit.ts
Due: typescriptfmt, pulumi_config

Fix tag prefix in stackdriver export (#1944)
  cluster/pulumi/cluster/src/fluentBit.ts
Due: typescriptfmt, pulumi_config

query to aggregate traffic purchases over a time period (#1926)
  apps/app/src/test/resources/traffic-cost-burn-time-period.sql
Due: none

also don't default SLACK_ALERT_NOTIFICATION_CHANNEL [static]
  cluster/pulumi/infra/src/alertings.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

fail if SLACK_ALERT_NOTIFICATION_CHANNEL defined but not FULL_NAME [static]
  cluster/pulumi/infra/src/gcpAlerts.ts
Due: typescriptfmt, pulumi_config

Implement DeleteCorruptAcsSnapshotTrigger
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanHistoryBackfillingIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/HistoryMetrics.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/DeleteCorruptAcsSnapshotTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanHistoryBackfillingTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/AcsSnapshotStoreTest.scala
Due: copyright

Hide behind feature flag
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanHistoryBackfillingTrigger.scala
Due: copyright

Reorganize token standard docs
  docs/src/app_dev/daml_api/index.rst
  docs/src/app_dev/token_standard/index.rst
  docs/src/app_dev/token_standard/openapi/allocation.rst
  docs/src/app_dev/token_standard/openapi/allocation_instruction.rst
  docs/src/app_dev/token_standard/openapi/token_metadata.rst
  docs/src/app_dev/token_standard/openapi/transfer_instruction.rst
  docs/src/app_dev/token_standard_openapi/index.rst
  docs/src/index.rst
Due: copyright

[static] that's an alloc request
  docs/src/app_dev/token_standard/index.rst
Due: copyright

Implement DeleteCorruptAcsSnapshotTrigger (#1096)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanHistoryBackfillingIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/HistoryMetrics.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/DeleteCorruptAcsSnapshotTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanHistoryBackfillingTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/AcsSnapshotStoreTest.scala
Due: copyright

Only charge holding fees on Amulet_Expire
  daml/splice-amulet-test/daml/Splice/Scripts/TestAmuletRulesTransfer.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestComputeFees.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestDesignExample.daml
  daml/splice-amulet-test/daml/Splice/Scripts/UnitTests/Amulet/TwoStepTransfer.daml
  daml/splice-amulet/daml/Splice/Amulet/TwoStepTransfer.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestSvRewards.daml
  daml/splice-wallet-test/daml/Splice/Scripts/Wallet/TestSubscriptions.daml
Due: copyright, dars_lock, no_illegal_daml_references

[static] increase multi validators parallelism to 5
  cluster/expected/deployment/expected.json
  cluster/pulumi/deployment/src/stacks/splice.ts
Due: typescriptfmt, pulumi_config

fix TestSvRewards
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestSvRewards.daml
Due: copyright, dars_lock, no_illegal_daml_references

[static] increase multi validators parallelism to 5 (#1949)
  cluster/expected/deployment/expected.json
  cluster/pulumi/deployment/src/stacks/splice.ts
Due: typescriptfmt, pulumi_config

Reorganize token standard docs (#1946)
  docs/src/app_dev/daml_api/index.rst
  docs/src/app_dev/token_standard/index.rst
  docs/src/app_dev/token_standard/openapi/allocation.rst
  docs/src/app_dev/token_standard/openapi/allocation_instruction.rst
  docs/src/app_dev/token_standard/openapi/token_metadata.rst
  docs/src/app_dev/token_standard/openapi/transfer_instruction.rst
  docs/src/app_dev/token_standard_openapi/index.rst
  docs/src/index.rst
Due: copyright

remove validator right usage
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

[static] add to release notes, fix openapi links
  docs/src/app_dev/daml_api/index.rst
  docs/src/app_dev/token_standard/index.rst
  docs/src/release_notes.rst
Due: copyright

Fix tests
  daml/splice-amulet-test/daml/Splice/Scripts/TestExternalParty.daml
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
Due: copyright, dars_lock, no_illegal_daml_references

Write how-to docs for token standard usage (#1872)
  docs/src/app_dev/daml_api/index.rst
  docs/src/app_dev/token_standard/index.rst
  docs/src/app_dev/token_standard/openapi/allocation.rst
  docs/src/app_dev/token_standard/openapi/allocation_instruction.rst
  docs/src/app_dev/token_standard/openapi/token_metadata.rst
  docs/src/app_dev/token_standard/openapi/transfer_instruction.rst
  docs/src/app_dev/token_standard_openapi/index.rst
  docs/src/deployment/console_access.rst
  docs/src/index.rst
  docs/src/release_notes.rst
Due: copyright

Reduce gcp logging components
  build-tools/cncluster
Due: none

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
