Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

explicit filter by DSO in query [skip ci]
  apps/app/src/test/resources/total-supply-bigquery.sql
Due: none

Revert "explicit filter by DSO in query [skip ci]"
  apps/app/src/test/resources/total-supply-bigquery.sql
Due: none

[static] not from nfs
  .github/actions/nix/setup_self_hosted_nix/action.yml
Due: gha_lint

[static] remove dummy helm chart
  cluster/expected/canton-network/expected.json
  cluster/expected/infra/expected.json
  cluster/expected/multi-validator/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/expected/validator1/expected.json
  cluster/helm/local.mk
  cluster/helm/splice-dummy/Chart-template.yaml
  cluster/helm/splice-dummy/values-template.yaml
  cluster/pulumi/common/src/loopback.ts
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

[static] install rclone again
  .github/actions/nix/setup_self_hosted_nix/action.yml
Due: gha_lint

[static] cleanup
  .github/actions/nix/setup_self_hosted_nix/action.yml
  .github/actions/tests/common_test_setup/action.yml
  .github/workflows/build.docs.yml
Due: gha_lint

[static] temp
  .github/actions/nix/setup_self_hosted_nix/action.yml
Due: gha_lint

[static] fix off-by-one in sv node indices
  cluster/expected/canton-network/expected.json
  cluster/expected/infra/expected.json
  cluster/expected/multi-validator/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/common/src/loopback.ts
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

[static] sorted
  cluster/expected/canton-network/expected.json
  cluster/expected/multi-validator/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/common/src/loopback.ts
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

[ci] cleanup
  .github/workflows/build.yml
Due: gha_lint

fix off-by-one in sv node indices (#1804)
  cluster/expected/canton-network/expected.json
  cluster/expected/infra/expected.json
  cluster/expected/multi-validator/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/common/src/loopback.ts
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

[static] fix off-by-one in sv node indices (#1804)
  cluster/expected/canton-network/expected.json
  cluster/expected/infra/expected.json
  cluster/expected/multi-validator/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/common/src/loopback.ts
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

[static] fix the fix to cometbft ports
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

[static] nicer
  cluster/pulumi/common/src/loopback.ts
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

images, splice-app: Fix libjemalloc availability
  cluster/images/splice-app/Dockerfile
Due: none

images, canton: Fix libjemalloc availability
  .github/actions/tests/scala_test/action.yml
  cluster/images/canton/Dockerfile
Due: gha_lint

cluster, helm, info: Add option imagePullPolicy
  cluster/helm/splice-info/templates/deployment.yaml
  cluster/helm/splice-info/values.schema.json
Due: none

fix the fix to cometbft ports (#1808)
  cluster/expected/infra/expected.json
  cluster/pulumi/common/src/loopback.ts
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

Ignore sv participant ids in traffic waste alerts (#1794)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[static] init
  cluster/deployment/scratchnetc/config.yaml
Due: none

[ci] init
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
Due: copyright

[static] Fix cometbft ingress port
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

[force] .
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

[static] Fix cometbft ingress port (#1812)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

[ci] fix individual test implicit wait time
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AnsAuth0FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanFrontendTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SplitwellFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletAuth0FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSubscriptionsFrontendIntegrationTest.scala
Due: copyright

[static] Add basic sequencer dashboard
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer.json
Due: none

[static] move panel over
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/sequencer.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer.json
Due: none

[static] Add basic sequencer dashboard (#1813)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/sequencer.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer.json
Due: none

cluster, helm, info: Add option imagePullPolicy (#1809)
  cluster/helm/splice-info/templates/deployment.yaml
  cluster/helm/splice-info/values.schema.json
Due: none

[release-line-0.4.7] Ignore sv participant ids in traffic waste alerts
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[release-line-0.4.8] Ignore sv participant ids in traffic waste alerts
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[release-line-0.4.9] Ignore sv participant ids in traffic waste alerts
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[release-line-0.4.8] Ignore sv participant ids in traffic waste alerts (#1817)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[release-line-0.4.7] Ignore sv participant ids in traffic waste alerts (#1816)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[release-line-0.4.9] Ignore sv participant ids in traffic waste alerts (#1818)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[ci] fix
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LocalNetFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
Due: copyright

Implement forms for grantng and revoking featured app rights [ci]
  apps/sv/frontend/src/__tests__/governance/forms/grant-revoke-featured-app-form.test.tsx
  apps/sv/frontend/src/components/form-components/FormControls.tsx
  apps/sv/frontend/src/components/form-components/TextField.tsx
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/forms/formValidators.ts
  apps/sv/frontend/src/routes/createProposal.tsx
Due: copyright, typescriptfmt

Cleanup [ci]
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
Due: copyright, typescriptfmt
