Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

[static] also remove cpu limits
  cluster/helm/splice-cometbft/values-template.yaml
Due: none

[static] release notes limits
  docs/src/release_notes.rst
Due: copyright

Fix info updater missing jq
  cluster/helm/splice-info/templates/deployment.yaml
Due: none

[static] am i even thinking straight
  cluster/helm/splice-info/templates/deployment.yaml
Due: none

Increase cometbft resource requests (#2095)
  cluster/helm/splice-cometbft/values-template.yaml
  docs/src/release_notes.rst
Due: copyright

Fix info updater missing jq (#2096)
  cluster/helm/splice-info/templates/deployment.yaml
Due: none

oh come on
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

i'm gonna set it on fire
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
Due: copyright

ahhhhhhhhhh
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
Due: copyright

[ci] support ADDITIONAL_JAVA_TOOLS_OPTIONS in start-canton
  DEVELOPMENT.md
  start-canton.sh
Due: copyright

refactor and comment
  .github/workflows/build.scala_test_bigquery.yml
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: copyright, typescriptfmt, pulumi_config, gha_lint

Upgrade Canton to 3.3.0-snapshot.20250902.16077.0.v673175f7
  nix/canton-sources.json
Due: none

Upgrade Canton to 3.3.0-snapshot.20250902.16077.0.v673175f7 (#2098)
  nix/canton-sources.json
Due: none

[ci] cleanup
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

[ci] more cleanup
  .github/workflows/build.scala_test_bigquery.yml
  cluster/deployment/scratchneta/config.yaml
Due: copyright, gha_lint

[ci] even more cleanup
  apps/app/src/test/resources/bigquery-functions.sql
  apps/app/src/test/resources/dashboard.sql
  apps/app/src/test/resources/total-supply-bigquery.sql
Due: none

remove lastIngestedOffset [skip ci]
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/StoreMetrics.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

[static] Update cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

switch from Counter to Meter [skip ci]
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/StoreMetrics.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

support ADDITIONAL_JAVA_TOOLS_OPTIONS in start-canton (#2097)
  DEVELOPMENT.md
  start-canton.sh
Due: copyright

[static] more cleanup
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: typescriptfmt, pulumi_config

pulumify cloudsql functions for total supply (#2078)
  .github/workflows/build.scala_test_bigquery.yml
  apps/app/src/test/resources/dumps/.gitignore
  apps/app/src/test/resources/total-supply-bigquery.sql
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/bigquery-sql-codegen.ts
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: copyright, typescriptfmt, pulumi_config, gha_lint

[static] move amulet-holders and validators queries to pulumi
  apps/app/src/test/resources/all-amulet-holders.sql
  apps/app/src/test/resources/all-validators.sql
  apps/app/src/test/resources/total-supply-bigquery-import.sql
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

[static] fix
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

Fix canton oss hash
  nix/canton-sources.json
Due: none

Fix netty version
  project/CantonDependencies.scala
Due: copyright

[static]
  apps/sv/frontend/src/__tests__/sv.test.tsx
Due: copyright, typescriptfmt

[ci] Reduce batch size for rewards expiry to 20 contracts
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
Due: copyright

Fix canton oss hash (#2101)
  nix/canton-sources.json
Due: none

[ci] Reduce batch size for rewards expiry to 20 contracts (#2104)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
Due: copyright

Upgrade netty, grpc, and opentelemetry (#2094)
  canton/community/base/src/main/scala/com/digitalasset/canton/networking/grpc/MultiHostNameResolver.scala
  canton/community/common/src/main/scala/com/digitalasset/canton/environment/CantonNodeBootstrap.scala
  canton/community/common/src/main/scala/com/digitalasset/canton/health/GrpcHealthServer.scala
  canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/platform/apiserver/ApiServices.scala
  canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/apiserver/ratelimiting/RateLimitingInterceptorChecksSpec.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/server/DynamicGrpcServer.scala
  project/CantonDependencies.scala
  project/Dependencies.scala
Due: copyright

Clarify default expiration date in the test (#2103)
  apps/sv/frontend/src/__tests__/sv.test.tsx
Due: copyright, typescriptfmt

[ci] Apply the reward coupon batch limit to the actual contract not the rounds
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
Due: copyright

Implement proposal submission flows
  apps/package-lock.json
  apps/sv/frontend/package.json
  apps/sv/frontend/src/__tests__/governance/forms/grant-revoke-featured-app-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/offboard-sv-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/__tests__/mocks/handlers/sv-api.ts
  apps/sv/frontend/src/components/form-components/ProposalSubmissionError.tsx
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/forms/OffboardSvForm.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
  apps/sv/frontend/src/hooks/useProposalMutation.tsx
  apps/sv/frontend/src/index.tsx
  apps/sv/frontend/src/routes/createProposal.tsx
  apps/sv/frontend/src/utils/types.ts
Due: copyright, typescriptfmt

cleanup tests [ci]
  apps/sv/frontend/src/__tests__/governance/forms/grant-revoke-featured-app-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/offboard-sv-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/__tests__/mocks/handlers/sv-api.ts
Due: copyright, typescriptfmt

Implement proposal submission flows (#2102)
  apps/package-lock.json
  apps/sv/frontend/package.json
  apps/sv/frontend/src/__tests__/governance/forms/grant-revoke-featured-app-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/offboard-sv-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/__tests__/mocks/handlers/sv-api.ts
  apps/sv/frontend/src/components/form-components/ProposalSubmissionError.tsx
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/forms/OffboardSvForm.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
  apps/sv/frontend/src/hooks/useProposalMutation.tsx
  apps/sv/frontend/src/index.tsx
  apps/sv/frontend/src/routes/createProposal.tsx
  apps/sv/frontend/src/utils/types.ts
Due: copyright, typescriptfmt

Fix flakey UI test [ci]
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
Due: copyright, typescriptfmt

[ci] Apply the reward coupon batch limit to the actual contract not the rounds (#2105)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
Due: copyright

store ingestion metrics (#2077)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/StoreMetrics.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright
