Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

revert all [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  build.sbt
  canton/community/app-base/src/main/scala/com/digitalasset/canton/metrics/MetricsRegistry.scala
  canton/community/util-observability/src/main/scala/com/digitalasset/canton/telemetry/OpenTelemetryFactory.scala
  project/CantonDependencies.scala
Due: copyright

just bump netty-handler-proxy and netty-codec-socks [ci]
  build.sbt
Due: none

integration test debug [ci]
  apps/sv/frontend/src/components/votes/VoteRequest.css
  apps/sv/frontend/src/components/votes/VoteRequest.tsx
Due: copyright, typescriptfmt

[static] seems to work
  cluster/pulumi/canton-network/bigquery-cloudsql.sh
  cluster/pulumi/canton-network/src/bigQuery.ts
Due: copyright, typescriptfmt, pulumi_config

[static] cleanup
  cluster/deployment/scratchnetb/.envrc.vars
  cluster/deployment/scratchnetb/config.yaml
Due: none

[static] cleanup
  cluster/stacks/scratchnets/operator/Pulumi.operator.scratchb.yaml
  cluster/stacks/scratchnets/sv-canton/Pulumi.sv-canton.sv-1-migration-0.scratchb.yaml
  cluster/stacks/scratchnets/sv-canton/Pulumi.sv-canton.sv-2-migration-0.scratchb.yaml
  cluster/stacks/scratchnets/sv-canton/Pulumi.sv-canton.sv-3-migration-0.scratchb.yaml
  cluster/stacks/scratchnets/sv-canton/Pulumi.sv-canton.sv-da-1-migration-0.scratchb.yaml
  cluster/stacks/scratchnets/sv-canton/Pulumi.sv-canton.sv-migration-0.scratchb.yaml
Due: none

integration test debug [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  apps/sv/frontend/src/components/votes/VoteRequest.css
  apps/sv/frontend/src/components/votes/VoteRequest.tsx
Due: copyright, typescriptfmt

remove unused import [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
Due: copyright

[static] small fix
  cluster/pulumi/canton-network/bigquery-cloudsql.sh
Due: copyright

[static] fix
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/sv-status-report_alerts.yaml
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[static] fix multi validator security context
  cluster/expected/multi-validator/expected.json
  cluster/pulumi/multi-validator/src/multiNodeDeployment.ts
Due: typescriptfmt, pulumi_config

[static] fix multi validator security context (#2853)
  cluster/expected/multi-validator/expected.json
  cluster/pulumi/multi-validator/src/multiNodeDeployment.ts
Due: typescriptfmt, pulumi_config

[static] fix multi validator security context (#2852)
  cluster/expected/multi-validator/expected.json
  cluster/pulumi/multi-validator/src/multiNodeDeployment.ts
Due: typescriptfmt, pulumi_config

0.4.22 port: Pulumify resources for all apps (#2784)
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/participant.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/config/configSchema.ts
  cluster/pulumi/common/src/utils.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

Update cluster/pulumi/canton-network/bigquery-cloudsql.sh
  cluster/pulumi/canton-network/bigquery-cloudsql.sh
Due: copyright

Replace gsutil => gcloud storage (#2849)
  cluster/pulumi/canton-network/bigquery-cloudsql.sh
Due: copyright

0.4.22 port: Pulumify resources for all apps (#2784) (#2854)
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/participant.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/config/configSchema.ts
  cluster/pulumi/common/src/utils.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

main port: Fix ledger audience in auth0 M2M apps on MainNet (#2831) (#2843)
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

[static] working function on scratchnet
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/notification_policies/README.md
  cluster/pulumi/infra/grafana-alerting/notification_policies/default_slack.yaml
  cluster/pulumi/infra/grafana-alerting/notification_policies/support_team_email.yaml
  cluster/pulumi/infra/grafana-alerting/sv-status-report_alerts.yaml
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

Code refactorted BftScanConnection.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/UseToxiproxy.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrustSpecificScanConnectionIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

Removed release notes
  docs/src/release_notes.rst
Due: copyright

change datepicker clearing method [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
Due: copyright

fix checking input value in integration test [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
Due: copyright

[ci] Add scan cache for open mining roudns (#2801)
  apps/app/src/test/resources/include/scans/_scan.conf
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MiningRoundsStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/CachingScanStore.scala
Due: copyright

Add endpoint to export data to disk
  apps/sv/src/main/openapi/sv-internal.yaml
Due: none

[static] add types
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[static] nits
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/notification_policies/README.md
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

[ci] Added logging for mediator client source restart (#2847)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/metrics/ScanMediatorVerdictIngestionMetrics.scala
Due: copyright

[ci] Fix for seq scan in maxVerdictRecordTime (#2829)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

[static] Added a dashboard for mediator verdicts ingestion (#2838)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/mediator-verdicts-ingestion.json
Due: none

Simplify
  apps/sv/src/main/openapi/sv-internal.yaml
Due: none

Make migration export scale to large sizes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DisasterRecoveryIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SeqAccumulatingObserver.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/AcsExporter.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainDataRestorer.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainMigrationTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/ParticipantPartyMigrator.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/DecentralizedSynchronizerMigrationTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/DomainDataSnapshot.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/DomainMigrationDump.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeDsoPartyHosting.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sponsor/DsoPartyMigration.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/migration/DomainMigrationDumpGenerator.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/ParticipantAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/SequencerAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/ParticipantRepairAdministration.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/SequencerAdministration.scala
  canton/community/common/src/main/scala/com/digitalasset/canton/util/GrpcStreamingUtils.scala
Due: copyright

[static] fix multi validator security context (#2853) (#2859)
  cluster/expected/multi-validator/expected.json
  cluster/pulumi/multi-validator/src/multiNodeDeployment.ts
Due: typescriptfmt, pulumi_config

Bump GH CLI version in nix (#2797)
  nix/flake.lock
  nix/geckodriver.nix
  nix/git-search-replace.nix
  nix/openapi-generator-cli.nix
  nix/overlays.nix
Due: none

chunk
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SeqAccumulatingObserver.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/ParticipantPartyMigrator.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeDsoPartyHosting.scala
Due: copyright

fix optionality
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/DomainDataSnapshot.scala
Due: copyright

Backport Mediator API fixes & improvements to 0.4 (#2861)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/metrics/ScanMediatorVerdictIngestionMetrics.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton-network/mediator-verdicts-ingestion.json
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
