Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

Fix CopyVotesIntegrationTest to drive source-based trigger correctly
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/CopyVotesIntegrationTest.scala
Due: copyright

Enable app activity records by default
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrafficBasedRewardsTimeBasedIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

Add call to action and extra detail to app activity release notes
  docs/src/release_notes_upcoming.rst
Due: copyright

[ci] add rate metrics for bulk storage
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/HistoryMetrics.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/SingleAcsSnapshotBulkStorage.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistorySegmentBulkStorage.scala
Due: copyright

Enable app activity records by default (#4754)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrafficBasedRewardsTimeBasedIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

[ci] .
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/HistoryMetrics.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistorySegmentBulkStorage.scala
Due: copyright

fix scan preflights (#4769)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvPreflightIntegrationTestBase.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/SvNonDevNetPreflightintegrationTest.scala
Due: copyright

[ci] fmt
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/HistoryMetrics.scala
Due: copyright

wire up holding creation of test token v2
  token-standard/V2_VALIDATION.md
  token-standard/examples/splice-test-token-v2/daml/Splice/Testing/Tokens/TestTokenV2.daml
  token-standard/splice-api-token-holding-v2/daml/Splice/Api/Token/HoldingV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/TestTokenV2_RegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/MultiRegistry.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClientV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP_V1V2Mixed.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Conversions.daml
Due: copyright, dars_lock, no_illegal_daml_references

Make first mixed asset DvP pass
  token-standard/examples/splice-test-token-v2/daml/Splice/Testing/Tokens/TestTokenV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/TestTokenV2_RegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/MultiRegistry.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP_V1V2Mixed.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Allocations.daml
Due: copyright, dars_lock, no_illegal_daml_references

test trade with multiple instruments
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/TestTokenV2_RegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP_V1V2Mixed.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add git hygiene standards to CONTRIBUTING.md - Define guidelines for descriptive commit messages.
  CONTRIBUTING.md
Due: none

update
  CONTRIBUTING.md
Due: none

update ci tags doc
  CONTRIBUTING.md
Due: none

Add git hygiene standards to CONTRIBUTING.md (#4767)
  CONTRIBUTING.md
Due: none

.
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

Transfer traffic in LSU roll forward test
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/lsu/RollForwardLsuInitializer.scala
Due: copyright

Push coupon-existence check into SQL for ArchiveClosedMiningRoundsTrigger (#4766)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
Due: copyright

update expected json
  cluster/expected/infra/expected.json
Due: none

add grafana dashboard for store perf test result
  cluster/pulumi/infra/grafana-dashboards/splice-stores/store-ingestion-performance.json
Due: none

add chart per metric
  cluster/pulumi/infra/grafana-dashboards/splice-stores/store-ingestion-performance.json
Due: none

expected json
  cluster/expected/infra/expected.json
Due: none

update version
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/store-ingestion-performance.json
Due: none

charts repeated
  cluster/pulumi/infra/grafana-dashboards/splice-stores/store-ingestion-performance.json
Due: none

add expected json
  cluster/expected/infra/expected.json
Due: none

Revert "Enable app activity records by default (#4754)"
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrafficBasedRewardsTimeBasedIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

Revert "Enable app activity records by default (#4754)" (#4777)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrafficBasedRewardsTimeBasedIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

Use retry provider
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/test/HasRetryProvider.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvBftSequencerPeerOffboardingTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvBftSequencerPeerOnboardingTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerAddReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerRemoveReconciler.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconcilerSpec.scala
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: copyright

Add grafana dashboard for store perf test result (#4755)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/splice-stores/store-ingestion-performance.json
Due: none

Transfer traffic in LSU roll forward test (#4761)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/lsu/RollForwardLsuInitializer.scala
Due: copyright

Improve perf of makeConsistentAcrossSVs
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/EventId.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

ignore logs
  project/ignore-patterns/canton-standalone-global-synchronizer-upgrade.ignore.txt
Due: none

Batch transfer PoC
  daml/splice-amulet/daml/Splice/Amulet/TokenApiUtils.daml
  daml/splice-amulet/daml/Splice/AmuletTransferInstruction.daml
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  daml/splice-util-token-standard-wallet/daml/Splice/Util/Token/Wallet/BatchingUtilityV2.daml
  token-standard/splice-api-token-transfer-instruction-v2/daml/Splice/Api/Token/TransferInstructionV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClientV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/UtilsV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenTransfer.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Allocations.daml
  token-standard/splice-token-standard-utils/daml/Splice/TokenStandard/Utils/Internal/Transfers.daml
Due: copyright, dars_lock, no_illegal_daml_references

lsu test - Add validator that is offline during the LSU (#4716)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/ProcessTestUtil.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/test/HasRetryProvider.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvBftSequencerPeerOffboardingTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvBftSequencerPeerOnboardingTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerAddReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconciler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerRemoveReconciler.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconcilerSpec.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/WalletAppInstallTrigger.scala
  project/ignore-patterns/canton-standalone-global-synchronizer-upgrade.ignore.txt
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: copyright

refactor
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

Wait for stores in verdict ingestion
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbTcsStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/AppActivityComputation.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/CachingScanRewardsReferenceStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanRewardsReferenceStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanRewardsReferenceStore.scala
Due: copyright

Improve perf of makeConsistentAcrossSVs (#4780)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/EventId.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

Add `reloader` recommendation to Helm deployment docs
  docs/src/common/reloader_recommendation.rst
  docs/src/release_notes_upcoming.rst
  docs/src/sv_operator/sv_helm.rst
  docs/src/validator_operator/validator_helm.rst
Due: copyright

Wait for stores in verdict ingestion (#4782)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbTcsStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/AppActivityComputation.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/CachingScanRewardsReferenceStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanRewardsReferenceStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanRewardsReferenceStore.scala
Due: copyright
