Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

frontend patches - wip
  apps/sv/frontend/src/components/form-components/ConfigField.tsx
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
  apps/sv/frontend/src/routes/governance.tsx
Due: copyright, typescriptfmt

[Java bindings] Add external_transaction_hash to Transaction #30419 (#30446) (#30487)
  canton/community/bindings-java/src/main/java/com/daml/ledger/javaapi/data/Transaction.java
  canton/community/bindings-java/src/test/scala/com/daml/ledger/javaapi/data/Generators.scala
  canton/community/bindings-java/src/test/scala/com/daml/ledger/javaapi/data/TransactionSpec.scala
Due: copyright

[ci] force system package installation with pip for splice-test-docker-runner image
  cluster/images/splice-test-docker-runner/Dockerfile
Due: none

add disabled fields [ci]
  apps/sv/frontend/src/components/form-components/ConfigField.tsx
  apps/sv/frontend/src/utils/buildAmuletConfigChanges.ts
  apps/sv/frontend/src/utils/buildDsoConfigChanges.ts
  apps/sv/frontend/src/utils/types.ts
Due: copyright, typescriptfmt

re-enable transfer fee fields [ci]
  apps/sv/frontend/src/utils/buildAmuletConfigChanges.ts
Due: typescriptfmt

fixes after integrating java-bindings for external_txn_hash
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnectionTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTriggerTest.scala
Due: copyright

Bump GHA runner version to the latest (auto-generated) (#3774)
  cluster/images/splice-test-docker-runner/Dockerfile
  cluster/images/splice-test-runner-hook/Dockerfile
Due: none

Reduce views created by featured app markers
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/PackageIdResolver.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/PackageVersionSupport.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/FeaturedAppActivityMarkerTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  build.sbt
  daml/dars.lock
  daml/dars/splice-amulet-0.1.16.dar
  daml/dars/splice-amulet-name-service-0.1.17.dar
  daml/dars/splice-api-featured-app-v2-1.0.0.dar
  daml/dars/splice-dso-governance-0.1.22.dar
  daml/dars/splice-wallet-0.1.17.dar
  daml/dars/splice-wallet-payments-0.1.16.dar
  daml/dars/splitwell-0.1.17.dar
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet/daml.yaml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-api-featured-app-v2/daml.yaml
  daml/splice-api-featured-app-v2/daml/Splice/Api/FeaturedAppRightV2.daml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestFeaturedAppActivityMarkers.daml
  daml/splice-dso-governance/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-util-token-standard-wallet-test/daml.yaml
  daml/splice-wallet-payments/daml.yaml
  daml/splice-wallet-test/daml.yaml
  daml/splice-wallet/daml.yaml
  daml/splitwell-test/daml.yaml
  docs/api-templates/splice-api-featured-app-v2-index-template.rst
  token-standard/splice-token-standard-test/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

updates after adding java-bindings for external txn hash
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnectionTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTriggerTest.scala
Due: copyright

scalafmt
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

implement version override per SV (#3507)
  cluster/pulumi/canton-network/src/dso.ts
  cluster/pulumi/canton-network/src/info.ts
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/config/migrationSchema.ts
  cluster/pulumi/common/src/config/versionSchema.ts
  cluster/pulumi/splitwell/src/splitwell.ts
  cluster/pulumi/sv-canton/src/canton.ts
  cluster/pulumi/validator1/src/validator1.ts
Due: typescriptfmt, pulumi_tests

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/ContractCompanions.scala
  project/CantonDependencies.scala
Due: copyright

Add java bindings for external txn hash (#3780)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnectionTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTriggerTest.scala
  canton/community/bindings-java/src/main/java/com/daml/ledger/javaapi/data/Transaction.java
  canton/community/bindings-java/src/test/scala/com/daml/ledger/javaapi/data/Generators.scala
  canton/community/bindings-java/src/test/scala/com/daml/ledger/javaapi/data/TransactionSpec.scala
Due: copyright

update gha project readme to include info about the operator
  cluster/pulumi/gha/README.md
Due: none

.
  project/BuildCommon.scala
Due: copyright

add canton form patching process
  MAINTENANCE.md
Due: none

fix text
  MAINTENANCE.md
Due: none

add more details about the gha project deployment to its readme
  cluster/pulumi/gha/README.md
Due: none

add missing git cmds
  MAINTENANCE.md
Due: none

Add canton fork patching HOWTO (#3782)
  MAINTENANCE.md
Due: none

Make cometbft mempool settings configurable
  cluster/deployment/mock/config.yaml
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.9] Make cometbft mempool settings configurable
  cluster/deployment/mock/config.yaml
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.6] Make cometbft mempool settings configurable
  cluster/deployment/mock/config.yaml
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.8] Make cometbft mempool settings configurable
  cluster/deployment/mock/config.yaml
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.8] Make cometbft mempool settings configurable (#3784)
  cluster/deployment/mock/config.yaml
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.9] Make cometbft mempool settings configurable (#3786)
  cluster/deployment/mock/config.yaml
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
Due: typescriptfmt, pulumi_tests

Make cometbft mempool settings configurable (#3783)
  cluster/deployment/mock/config.yaml
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.6] Make cometbft mempool settings configurable (#3785)
  cluster/deployment/mock/config.yaml
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
Due: typescriptfmt, pulumi_tests

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DistributedDomainIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
  build.sbt
  project/BuildCommon.scala
  project/CantonDependencies.scala
Due: copyright

.
  build.sbt
  project/BuildCommon.scala
  project/CantonDependencies.scala
Due: copyright

Allow volume expansion for hyperdisk
  cluster/pulumi/cluster/src/storageClasses.ts
Due: typescriptfmt, pulumi_tests

[static] expected
  cluster/expected/cluster/expected.json
Due: none

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliTestDataTimeBasedIntegrationTest.scala
Due: copyright

Allow volume expansion for hyperdisk (#3789)
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/storageClasses.ts
Due: typescriptfmt, pulumi_tests

[ci] revisit human-readable AmuletRules/DSORules field names in SV UI
  apps/sv/frontend/src/utils/buildAmuletConfigChanges.ts
  apps/sv/frontend/src/utils/buildDsoConfigChanges.ts
Due: typescriptfmt

Bumped confirmation rate to 25
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
Due: pulumi_tests

[ci] fmtFix
  apps/sv/frontend/src/utils/buildAmuletConfigChanges.ts
Due: typescriptfmt

[ci] retry setting up external party
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternallySignedPartyTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletFrontendIntegrationTest.scala
Due: copyright

[ci] retry setting up external party
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternallySignedPartyTestUtil.scala
Due: copyright
