Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

Specify mediator-admin-client in cluster docker configs
  cluster/compose/localnet/conf/splice/sv/app.conf
  cluster/compose/sv/compose.yaml
  cluster/images/scan-app/app.conf
Due: none

Fix in expected.
  cluster/expected/canton-network/expected.json
Due: none

[static] Enable re-use of the validator runbook stack
  build-tools/lib/pulumi-commands
  build-tools/lib/pulumi-helpers
  cluster/deployment/config.yaml
  cluster/expected/deployment/expected.json
  cluster/pulumi/common/src/runbook-backup.ts
  cluster/pulumi/deployment/src/stacks/splice.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/dump-config.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/src/utils.ts
  cluster/pulumi/validator-runbook/src/validatorConfig.ts
Due: typescriptfmt, pulumi_config

[static] also handle automation up
  cluster/pulumi/pulumiUp.ts
Due: typescriptfmt, pulumi_config

[static] .
  cluster/pulumi/validator-runbook/src/validatorConfig.ts
Due: typescriptfmt, pulumi_config

[static] Enable re-use of the validator runbook stack (#2232)
  build-tools/lib/pulumi-commands
  build-tools/lib/pulumi-helpers
  cluster/deployment/config.yaml
  cluster/expected/deployment/expected.json
  cluster/pulumi/common/src/runbook-backup.ts
  cluster/pulumi/deployment/src/stacks/splice.ts
  cluster/pulumi/pulumiUp.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/dump-config.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/src/utils.ts
  cluster/pulumi/validator-runbook/src/validatorConfig.ts
Due: typescriptfmt, pulumi_config

include dashboard functions in BQ integration test (#2225)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/bigquery-sql-codegen.ts
  cluster/pulumi/canton-network/src/bigQuery.ts
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: copyright, typescriptfmt, pulumi_config

[static] use new users when retrying auth0
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/Auth0Util.scala
Due: copyright

[static] add automation support for multiple deployments of the validator runbook
  build-tools/lib/pulumi-helpers
  cluster/pulumi/pulumi.ts
  cluster/pulumi/pulumiDown.ts
  cluster/pulumi/pulumiUp.ts
  cluster/pulumi/validator-runbook/package.json
  cluster/pulumi/validator-runbook/pulumiDown.ts
  cluster/pulumi/validator-runbook/pulumiUp.ts
  cluster/pulumi/validator-runbook/runPulumiDown.ts
  cluster/pulumi/validator-runbook/runPulumiUp.ts
  cluster/pulumi/validator-runbook/src/validatorConfig.ts
  cluster/pulumi/validator-runbook/src/validatorsConfig.ts
Due: typescriptfmt, pulumi_config

Reapply "Support deploying party allocator in clusters (#2227)" (#2234)
  cluster/deployment/scratchneta/config.yaml
  cluster/helm/local.mk
  cluster/helm/splice-party-allocator/.helmignore
  cluster/helm/splice-party-allocator/Chart-template.yaml
  cluster/helm/splice-party-allocator/Chart.lock
  cluster/helm/splice-party-allocator/templates/party-allocator.yaml
  cluster/helm/splice-party-allocator/templates/required.yaml
  cluster/helm/splice-party-allocator/values-template.yaml
  cluster/images/local.mk
  cluster/images/party-allocator/Dockerfile
  cluster/images/party-allocator/entrypoint.sh
  cluster/images/party-allocator/local.mk
  cluster/pulumi/validator-runbook/dump-config.ts
  cluster/pulumi/validator-runbook/src/config.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/src/partyAllocator.ts
  party-allocator/README.md
  party-allocator/package-lock.json
  party-allocator/package.json
  party-allocator/src/config.ts
  party-allocator/src/index.ts
  party-allocator/src/ledger-api-client.ts
Due: copyright, typescriptfmt, pulumi_config

daml: allow setting transfer fees to zero
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/package-lock.json
  apps/package.json
  daml/dars.lock
  daml/dars/splice-amulet-0.1.14.dar
  daml/dars/splice-amulet-name-service-0.1.14.dar
  daml/dars/splice-dso-governance-0.1.19.dar
  daml/dars/splice-wallet-0.1.14.dar
  daml/dars/splice-wallet-payments-0.1.14.dar
  daml/dars/splitwell-0.1.14.dar
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet/daml.yaml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/Fees.daml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-wallet-payments/daml.yaml
  daml/splice-wallet-test/daml.yaml
  daml/splice-wallet/daml.yaml
  daml/splitwell-test/daml.yaml
  daml/splitwell/daml.yaml
  docs/src/release_notes.rst
  token-standard/splice-token-standard-test/daml.yaml
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry.daml
  token-standard/splice-token-standard-test/daml/Splice/Tests/TestAmuletTokenTransfer.daml
Due: copyright, dars_lock, no_illegal_daml_references

Fix missing make definition for party-allocator bundle
  Makefile
  build.sbt
  cluster/images/splice-app/local.mk
  cluster/pulumi/validator-runbook/src/installNode.ts
  party-allocator/package-lock.json
  party-allocator/package.json
Due: typescriptfmt, pulumi_config

[static] .
  cluster/pulumi/validator-runbook/src/validatorsConfig.ts
Due: typescriptfmt, pulumi_config

Fix missing make definition for party-allocator bundle (#2231)
  Makefile
  build.sbt
  cluster/deployment/scratchneta/config.yaml
  cluster/helm/local.mk
  cluster/helm/splice-party-allocator/.helmignore
  cluster/helm/splice-party-allocator/Chart-template.yaml
  cluster/helm/splice-party-allocator/Chart.lock
  cluster/helm/splice-party-allocator/templates/party-allocator.yaml
  cluster/helm/splice-party-allocator/templates/required.yaml
  cluster/helm/splice-party-allocator/values-template.yaml
  cluster/images/local.mk
  cluster/images/party-allocator/Dockerfile
  cluster/images/party-allocator/entrypoint.sh
  cluster/images/party-allocator/local.mk
  cluster/images/splice-app/local.mk
  cluster/pulumi/validator-runbook/dump-config.ts
  cluster/pulumi/validator-runbook/src/config.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/src/partyAllocator.ts
  party-allocator/README.md
  party-allocator/package-lock.json
  party-allocator/package.json
  party-allocator/src/config.ts
  party-allocator/src/index.ts
  party-allocator/src/ledger-api-client.ts
Due: copyright, typescriptfmt, pulumi_config

Fix party allocator cluster config
  cluster/helm/splice-party-allocator/templates/party-allocator.yaml
  cluster/pulumi/validator-runbook/src/partyAllocator.ts
Due: typescriptfmt, pulumi_config

comment
  cluster/pulumi/common-sv/src/svConfigs.ts
Due: typescriptfmt, pulumi_config

[static] cleanup
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/Auth0Util.scala
Due: copyright

remove scratchc config.yaml once again
  cluster/deployment/scratchnetc/config.yaml
Due: none

[static] cleanup
  apps/tools/src/main/scala/org/lfdecentralizedtrust/splice/Auth0TestUserCleaner.scala
Due: copyright

use new users when retrying auth0 (#2237)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/Auth0Util.scala
  apps/tools/src/main/scala/org/lfdecentralizedtrust/splice/Auth0TestUserCleaner.scala
Due: copyright

Update apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V043__scan_verdict_store.sql
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V043__scan_verdict_store.sql
Due: none

[static] .
  build-tools/lib/pulumi-commands
Due: none

Update apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

[static] Add logical views to BQ
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: typescriptfmt, pulumi_config

[static] test: reproduce ignored static tests failure
  build.sbt
Due: none

Make verdict ingestion batch window a configuration
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
Due: copyright

.
  cluster/pulumi/canton-network/src/bigQuery.ts
Due: typescriptfmt, pulumi_config

.
  cluster/images/splice-test-docker-runner/Dockerfile
  cluster/images/splice-test-docker-runner/run.sh
  cluster/images/splice-test-runner-hook/Dockerfile
  cluster/pulumi/gha/src/runners.ts
Due: copyright, typescriptfmt, pulumi_config

Use wait-for-docker from upstream (#2243)
  cluster/images/splice-test-docker-runner/Dockerfile
  cluster/images/splice-test-docker-runner/run.sh
  cluster/images/splice-test-runner-hook/Dockerfile
  cluster/pulumi/gha/src/runners.ts
Due: copyright, typescriptfmt, pulumi_config

[static] fixes
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: typescriptfmt, pulumi_config

[static] prettier & no delete protection
  cluster/pulumi/canton-network/src/bigQuery_functions_types.ts
Due: typescriptfmt, pulumi_config

[static] Added a script to copy helm charts and docker images from artifactory repositories to gcp bucket.
  build-tools/artifactory_to_gcs.py
  nix/shell.nix
Due: copyright

docs: Add comprehensive Keycloak configuration guide for Canton Validator
  docs/src/community/index.rst
  docs/src/community/keycloak-docker-canton-validator-config.rst
Due: copyright

Use ClientAdapter in MediatorVerdictsClient
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/mediator/MediatorVerdictsClient.scala
Due: copyright

Update test-full-class-*.log files
  test-full-class-names-non-integration.log
  test-full-class-names.log
Due: none

Refactor: move common logic out
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
Due: copyright
