Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

Add a log ignore for borked sequencer warnings
  project/ignore-patterns/canton_log.ignore.txt
Due: none

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

fix test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TimeBasedTreasuryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletTestUtil.scala
Due: copyright

Add a log ignore for borked sequencer warnings (#3917)
  project/ignore-patterns/canton_log.ignore.txt
Due: none

Fix synchronization in bigquery tests (#3909)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

Validate PartyID in GrantFeaturedApp vote (#3811)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
  apps/sv/frontend/src/__tests__/governance/forms/create-unallocated-unclaimed-activity-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/grant-revoke-featured-app-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/__tests__/mocks/handlers/sv-api.ts
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/forms/formValidators.ts
  apps/sv/frontend/src/contexts/SvAdminServiceContext.tsx
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvOperatorAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvOperatorHandler.scala
Due: copyright, typescriptfmt

Add test for merging amulets past their expiration date (#3907)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TimeBasedTreasuryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TimeBasedTreasuryIntegrationTestWithoutMerging.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletTestUtil.scala
Due: copyright

Make sbt actions reusable between repos in backwards compatible way (#3856)
  .github/actions/sbt/execute_sbt_command/action.yml
  .github/actions/sbt/post_sbt/action.yml
  .github/actions/sbt/setup_sbt/action.yml
  .github/actions/sbt/upload_logs/action.yml
Due: gha_lint

Upgrade postgres exporter to 0.19.0 (#3914)
  cluster/helm/splice-util-lib/templates/_helpers.tpl
Due: none

.
  project/ignore-patterns/canton_log.ignore.txt
Due: none

CIP-82: add listUnclaimedDevelopmentFundCoupons to scan proxy (#3877)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ValidatorAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
  apps/validator/src/main/openapi/scan-proxy.yaml
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/api/client/commands/HttpScanProxyAppClient.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpScanProxyHandler.scala
Due: copyright

Prevent ingestion summary from loading ACS into memory (#3899)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

fix typo
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

Stream contracts instead of ingesting them as a single Seq (#3863)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/UpdateIngestionService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/IngestionSummary.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStoreTest.scala
Due: copyright

Prevent txlog backfill from including ACS imports (#2128)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/UpdateIngestionService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/IngestionSummary.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStoreTest.scala
Due: copyright

[ci] review fixes
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/UpdateIngestionService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanStoreTest.scala
  docs/src/release_notes.rst
Due: copyright

Check if tap completed after getting a timeout
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletFrontendTestUtil.scala
Due: copyright

[ci] add test
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/UpdateIngestionService.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStoreTest.scala
Due: copyright

Bump nixpkg and pulumi (#3626)
  .github/actions/nix/setup_nix/action.yml
  .github/actions/tests/common_test_setup/action.yml
  .github/actions/tests/pre_scala_test/action.yml
  .github/actions/tests/skip_on_static/action.yml
  build-tools/splice-localnet-compose.sh
  cluster/expected/deployment/expected.json
  cluster/expected/infra/expected.json
  cluster/expected/operator/expected.json
  cluster/expected/splitwell/expected.json
  cluster/images/splice-test-runner-hook/local.mk
  cluster/pulumi/common/package.json
  cluster/pulumi/common/src/operator/stack.ts
  cluster/pulumi/infra/package.json
  cluster/pulumi/package-lock.json
  cluster/pulumi/policies/package.json
  nix/extra-pulumi-packages.nix
  nix/flake.lock
  nix/generate_pulumi_packages.sh
  nix/shell.nix
Due: copyright, typescriptfmt, pulumi_tests, gha_lint

basis point format [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
  apps/sv/frontend/src/components/forms/formValidators.ts
  apps/sv/frontend/src/utils/governance.ts
Due: copyright, typescriptfmt

slightly more realistic integration test [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
Due: copyright

restore old vitest values
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
Due: copyright, typescriptfmt

add a backend mock vitest [ci]
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
Due: copyright, typescriptfmt

add vitest for basis point formatting [ci]
  apps/sv/frontend/src/__tests__/utility.test.tsx
Due: copyright, typescriptfmt

fix flaky vitest [ci]
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
Due: copyright, typescriptfmt

Stream ACS instead of updates from ledger end / latest pruned offset (#2041)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/SpliceAppAutomationService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/UpdateIngestionService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/IngestionSummary.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStoreTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanStoreTest.scala
  apps/splitwell/src/main/scala/org/lfdecentralizedtrust/splice/splitwell/automation/SplitwellAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvSvAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/ExternalPartyWalletManager.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/ExternalPartyWalletService.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/UserWalletManager.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/UserWalletService.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/ExternalPartyWalletAutomationService.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/UserWalletAutomationService.scala
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-validator/templates/validator.yaml
Due: copyright, pulumi_tests

Add old pulumi kubernetes plugin
  nix/extra-pulumi-packages.nix
  nix/generate_pulumi_packages.sh
Due: copyright

[static] test
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetb/config.yaml
  cluster/helm/splice-global-domain/tests/sequencer_test.yaml
  cluster/helm/splice-util-lib/templates/_helpers.tpl
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
  cluster/pulumi/sv-canton/src/participant.ts
  scripts/canton-logback.xml
Due: typescriptfmt, pulumi_tests

Add old pulumi kubernetes plugin (#3924)
  nix/extra-pulumi-packages.nix
  nix/generate_pulumi_packages.sh
Due: copyright

[release-line-0.5.10] Backport pulumi plugin changes
  nix/extra-pulumi-packages.nix
  nix/generate_pulumi_packages.sh
Due: copyright

Format SV Rewards in basis points format (#3919)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/__tests__/utility.test.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
  apps/sv/frontend/src/components/forms/formValidators.ts
  apps/sv/frontend/src/utils/governance.ts
Due: copyright, typescriptfmt

[release-line-0.5.10] Backport pulumi plugin changes (#3926)
  nix/extra-pulumi-packages.nix
  nix/generate_pulumi_packages.sh
Due: copyright

Don't fail a test if taking a debug screenshot fails
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
Due: copyright

Update Selenium
  build.sbt
Due: none

[static] remove scratch config changes
  apps/package-lock.json
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetb/config.yaml
  cluster/helm/splice-global-domain/tests/sequencer_test.yaml
Due: pulumi_tests

wip [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/sv/frontend/src/App.tsx
  apps/sv/frontend/src/__tests__/governance/governance-page.test.tsx
  apps/sv/frontend/src/__tests__/sv.test.tsx
  apps/sv/frontend/src/components/Layout.tsx
  apps/sv/frontend/src/components/form-components/ConfigField.tsx
  apps/sv/frontend/src/components/form-components/FormControls.tsx
  apps/sv/frontend/src/components/forms/SelectAction.tsx
  apps/sv/frontend/src/components/governance/ActionRequiredSection.tsx
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
  apps/sv/frontend/src/hooks/useProposalMutation.tsx
  apps/sv/frontend/src/routes/governance.tsx
Due: copyright, typescriptfmt
