Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

Cherry pick pulumi fixes from long running BFT branch
  cluster/expected/infra/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/common/src/utils.ts
  cluster/pulumi/infra/src/grafana-dashboards.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

Remove resources definition
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/common/src/utils.ts
Due: typescriptfmt, pulumi_config

[static] Update release_notes.rst
  docs/src/release_notes.rst
Due: copyright

remove unused variables
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[ci] Add a simple way to ignore certain parties for expire rewards triggers (#2108)
  apps/app/src/test/resources/include/svs/_sv.conf
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/AutomationConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/DsoDelegateBasedAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/ExpireRewardCouponsTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
  docs/src/release_notes.rst
Due: copyright

Initiate BFT test
  cluster/deployment/scratchnete/config.yaml
Due: none

[ci] Increase circuit breakers max failures in tests
  apps/app/src/test/resources/include/scans/_scan.conf
  apps/app/src/test/resources/include/svs/_sv.conf
  apps/app/src/test/resources/include/validators/_validator.conf
Due: none

[ci] One query for hasArchived, renamed to containsArchived. (#2111)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStoreTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/ExpireRewardCouponsTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/MergeUnclaimedRewardsTrigger.scala
  project/CantonDependencies.scala
Due: copyright

[ci] Remove all the flags
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/SpliceAppAutomationService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/UpdateIngestionService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/splitwell/src/main/scala/org/lfdecentralizedtrust/splice/splitwell/automation/SplitwellAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvSvAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/ExternalPartyWalletManager.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/ExternalPartyWalletService.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/UserWalletManager.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/UserWalletService.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/ExternalPartyWalletAutomationService.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/automation/UserWalletAutomationService.scala
Due: copyright

[ci] update helm and readme
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-validator/templates/validator.yaml
  docs/src/release_notes.rst
Due: copyright

[ci] fix test
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

logging
  cluster/deployment/scratchnete/config.yaml
Due: none

Prevent txlog backfill from including ACS imports
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/TxLogBackfilling.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryBackfillingTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTrigger.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTriggerTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/ScanHistoryBackfillingTest.scala
Due: copyright

[ci] i like robert's idea better
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

Fix party filter in expired reward query
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
Due: copyright

Simon's commits with signoff
  token-standard/cli/src/commands/transfer.ts
Due: typescriptfmt

make it work [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  token-standard/cli/src/token-standard-cli.ts
Due: copyright, typescriptfmt

[ci] mpre fix
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

Fix flaky date ui tests [ci]
  apps/sv/frontend/src/__tests__/governance/forms/grant-revoke-featured-app-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/offboard-sv-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-dso-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
Due: copyright, typescriptfmt

Fix party filter in expired reward query (#2129)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
Due: copyright

Fix flaky date ui tests [ci] (#2132)
  apps/sv/frontend/src/__tests__/governance/forms/grant-revoke-featured-app-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/offboard-sv-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-dso-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
Due: copyright, typescriptfmt

0.4.14 backport: [ci] Add a simple way to ignore certain parties for expire rewards triggers (#2108)
  apps/app/src/test/resources/include/svs/_sv.conf
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/AutomationConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/DsoDelegateBasedAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/ExpireRewardCouponsTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
  docs/src/release_notes.rst
Due: copyright

[ci] bump canton sources to snapshot 3.3.0-snapshot.20250904.16083.0.v87695c75
  nix/canton-sources.json
Due: none

Sync main after 0.4.14 cut
  LATEST_RELEASE
  VERSION
  docs/src/release_notes.rst
Due: copyright

[ci] bump canton sources to snapshot 3.3.0-snapshot.20250904.16083.0.v87695c75 (#2134)
  nix/canton-sources.json
Due: none

Sync main after 0.4.14 cut (#2135)
  LATEST_RELEASE
  VERSION
  docs/src/release_notes.rst
Due: copyright

[static] test with canton's images
  cluster/images/canton-domain/Dockerfile
  cluster/images/canton-mediator/Dockerfile
  cluster/images/canton-participant/Dockerfile
  cluster/images/canton-sequencer/Dockerfile
Due: none

fix
  cluster/images/canton-domain/Dockerfile
  cluster/images/canton-mediator/Dockerfile
  cluster/images/canton-participant/Dockerfile
  cluster/images/canton-sequencer/Dockerfile
Due: none

[static] fix migration id in monthly burn
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: typescriptfmt, pulumi_config

add BQ monthly burn stat (#2112)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
  cluster/pulumi/canton-network/src/bigQuery_functions.ts
Due: copyright, typescriptfmt, pulumi_config

Add release notes for party allocation endpoints
  docs/src/release_notes.rst
Due: copyright

remove unused import
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

Add tests, test helpers and various fixes
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Modify event cap logic; do not return any event if either table is empty
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
Due: copyright

Fix test: Add a verdict for currentMigrationId
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright
