Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

hoist vite v8 to workspace dependencies [ci]
  apps/common/frontend/package.json
  apps/package-lock.json
Due: none

bump lock deps [ci]
  apps/package-lock.json
Due: none

remove unused func
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
Due: copyright

fix wrong sender in allocation leg
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/api/client/commands/HttpWalletAppClient.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
Due: copyright

Add release notes for the helm chart values for synchronizers
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-sv-node/tests/sv_cometbft_test.yaml
  cluster/helm/splice-sv-node/values.schema.json
  cluster/pulumi/common-sv/src/svApp.ts
  docs/src/release_notes_upcoming.rst
  docs/src/sv_operator/sv_helm.rst
Due: copyright, typescriptfmt, pulumi_tests

check for fundingamount before passing holdings
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/treasury/TreasuryService.scala
Due: copyright

pass the extra args
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
Due: copyright

fix indent
  docs/src/sv_operator/sv_helm.rst
Due: copyright

make pulumi-clean less noisy
  cluster/pulumi/local.mk
Due: none

this passes the test (which means the venue can settle the trade!)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardAllocationHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/util/ChoiceContextBuilder.scala
Due: copyright

make pulumi-clean less noisy (#4904)
  cluster/pulumi/local.mk
Due: none

Add release notes for the helm chart values for synchronizers (#4903)
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-sv-node/tests/sv_cometbft_test.yaml
  cluster/helm/splice-sv-node/values.schema.json
  cluster/pulumi/common-sv/src/svApp.ts
  docs/src/release_notes_upcoming.rst
  docs/src/sv_operator/sv_helm.rst
Due: copyright, typescriptfmt, pulumi_tests

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuDRIntegrationTest.scala
Due: copyright

lsu add ignore for shutdown issues
  project/ignore-patterns/canton-standalone-global-synchronizer-upgrade.ignore.txt
Due: none

Backport PR #4904 to release-line-0.5.16 (#4905)
  cluster/pulumi/local.mk
Due: none

Backport PR #4904 to release-line-0.5.18 (#4907)
  cluster/pulumi/local.mk
Due: none

Backport PR #4904 to release-line-0.5.17 (#4906)
  cluster/pulumi/local.mk
Due: none

lsu add ignore for shutdown issues (#4908)
  project/ignore-patterns/canton-standalone-global-synchronizer-upgrade.ignore.txt
Due: none

Upgrade Canton to 3.5.0-snapshot.20260408.18568.0.v9734d111
  nix/canton-sources.json
Due: none

Fix docker registry mirror GC and bump its version
  cluster/pulumi/gha/src/dockerMirror.ts
Due: typescriptfmt, pulumi_tests

Fix docker registry mirror GC and bump its version (#4909)
  cluster/pulumi/gha/src/dockerMirror.ts
Due: typescriptfmt, pulumi_tests

Integration test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Fix triggers being paused
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvReonboardingIntegrationTest.scala
Due: copyright

Set min daml versions for tests that use physical sync configs
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvInitializationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorSequencerConnectionIntegrationTest.scala
Due: copyright

Add APIs as supported
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardMetadataHandler.scala
Due: copyright

remove some todos
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardAllocationHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
Due: copyright

Remove topology number assertions from the lsu test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

todos with issues
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
Due: copyright

cleanup
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
Due: copyright

todo TransferPreapproval & FeaturedAppRight contexts
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardAllocationHandler.scala
Due: copyright

Remove topology number assertions from the lsu test (#4913)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

test passes but txlog fails [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardV2AllocationIntegrationTest.scala
Due: copyright

upgrade vitest in token-standard [ci]
  token-standard/cli/package.json
  token-standard/package-lock.json
Due: none
