Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

Fix openapi-generator-cli maybe
  nix/overlays.nix
Due: none

fire me please
  nix/openapi-generator-cli.nix
Due: none

[ci] Add record_time_match to scan snapshot based APIs.
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/Codec.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

[ci] Added getHoldingsSummaryAt to ScanAppReference, and some tests.
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
Due: copyright

[ci] Added tests for atOrBefore match.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
Due: copyright

[ci] Release notes for record_time_match property.
  docs/src/release_notes.rst
Due: copyright

[ci] Add scan cache for open mining roudns
  apps/app/src/test/resources/include/scans/_scan.conf
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MiningRoundsStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/CachingScanStore.scala
Due: copyright

move grafana pg instance to infra nodes (#2765)
  cluster/expected/infra/expected.json
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

Fix codegen output directory for BSP (#2799)
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet/daml.yaml
  daml/splice-api-featured-app-v1/daml.yaml
  daml/splice-api-token-burn-mint-v1/daml.yaml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-util-featured-app-proxies/daml.yaml
  daml/splice-util/daml.yaml
  daml/splice-validator-lifecycle-test/daml.yaml
  daml/splice-validator-lifecycle/daml.yaml
  daml/splice-wallet-payments/daml.yaml
  daml/splice-wallet/daml.yaml
  daml/splitwell/daml.yaml
  project/DamlPlugin.scala
  token-standard/examples/splice-token-test-dummy-holding/daml.yaml
  token-standard/examples/splice-token-test-trading-app/daml.yaml
  token-standard/splice-api-token-allocation-instruction-v1/daml.yaml
  token-standard/splice-api-token-allocation-request-v1/daml.yaml
  token-standard/splice-api-token-allocation-v1/daml.yaml
  token-standard/splice-api-token-holding-v1/daml.yaml
  token-standard/splice-api-token-metadata-v1/daml.yaml
  token-standard/splice-api-token-transfer-instruction-v1/daml.yaml
  token-standard/splice-token-standard-test/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

make a BackendConfig alongside the CA security policy [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

pass the BackendConfig to configureIstio [skip ci]
  cluster/pulumi/infra/src/index.ts
Due: typescriptfmt, pulumi_config

annotate the istio gateway service with the BackendConfig [skip ci]
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_config

Added more debugging
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrustSpecificScanConnectionIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
Due: copyright

[ci] Add scan cache for open mining roudns (#2801)
  apps/app/src/test/resources/include/scans/_scan.conf
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MiningRoundsStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/CachingScanStore.scala
Due: copyright

[ci] Just remove the metrics from tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
Due: copyright

[ci] Change pulumi operator max retry backoff to 10m
  cluster/expected/deployment/expected.json
  cluster/expected/operator/expected.json
  cluster/pulumi/common/src/operator/stack.ts
Due: typescriptfmt, pulumi_config

Fix release notes after 0.4.22 cut
  docs/src/release_notes.rst
Due: copyright

[ci] .
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
Due: copyright

[release-line-0.4.22] Disable audience workaround on mainnet
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

Fix release notes after 0.4.22 cut (#2807)
  docs/src/release_notes.rst
Due: copyright

update IntelliJ setup guide with the BSP import usage
  DEVELOPMENT.md
Due: none

[main] Disable audience workaround on mainnet
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

[ci] Review comment.
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardMetadataHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/DeleteCorruptAcsSnapshotTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTriggerTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/AcsSnapshotStoreTest.scala
  docs/src/release_notes.rst
Due: copyright

More logs
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrustSpecificScanConnectionIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
Due: copyright

[release-line-0.4.22] Disable audience workaround on mainnet (#2808)
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

[static] adding retry in test to avoid time mismatches
  apps/sv/frontend/src/__tests__/sv.test.tsx
Due: copyright, typescriptfmt

Adding retry in sv vite test to avoid time mismatches (#2811)
  apps/sv/frontend/src/__tests__/sv.test.tsx
Due: copyright, typescriptfmt

[ci] this makes no sense
  project/BuildCommon.scala
Due: copyright

Debugging
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrustSpecificScanConnectionIntegrationTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
Due: copyright

[ci] Add record_time_match to scan snapshot based APIs. (#2792)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/Codec.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardMetadataHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/DeleteCorruptAcsSnapshotTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTriggerTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/AcsSnapshotStoreTest.scala
  docs/src/release_notes.rst
Due: copyright

Approve all relevant SVs on all our SVs
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/dso.ts
  cluster/pulumi/canton-network/src/info.ts
  cluster/pulumi/canton-network/src/installCluster.ts
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/approvedIdentities.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/index.ts
  cluster/pulumi/common/src/utils.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

More debugging
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrustSpecificScanConnectionIntegrationTest.scala
Due: copyright

[ci] Improve rate limiting metrics (#2791)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceRateLimiter.scala
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/platform/rate_limiters.json
Due: copyright

Fix LATEST_RELEASE after 0.4.22 cut
  LATEST_RELEASE
Due: none

Fix LATEST_RELEASE after 0.4.22 cut (#2813)
  LATEST_RELEASE
Due: none

Use a non-zero limit to ensure we test encoding and don't cause exception (#2739)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
Due: copyright

Working integration test!
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TrustSpecificScanConnectionIntegrationTest.scala
Due: copyright

[ci] Close rate limiter metric gauges
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/http/HttpRateLimiter.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
Due: copyright

[main] Disable audience workaround on mainnet (#2809)
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

[ci] init
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FeaturedAppActivityMarkerIntegrationTest.scala
Due: copyright
