Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

Removed unused imports
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStore.scala
Due: copyright

Fix restore of users without rights
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ledger/api/LedgerClient.scala
  docs/src/release_notes.rst
Due: copyright

extra test: no rights, but a primary party
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
Due: copyright

Fix restore of users without rights (#3195)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ledger/api/LedgerClient.scala
  docs/src/release_notes.rst
Due: copyright

[ci] remove quickfix
  project/BuildCommon.scala
Due: copyright

First attempt to integrate
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/ScanAggregatesConnection.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

[ci] remove quickfix (#3200)
  project/BuildCommon.scala
Due: copyright

style navigation table rows [ci]
  apps/sv/frontend/src/beta-theme/index.ts
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
Due: copyright, typescriptfmt

rollback
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorReonboardingIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/TopologyAdminConnection.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/util/SpliceRateLimiterTest.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/migration/ParticipantPartyMigrator.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorConfigProvider.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStore.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/db/DbValidatorInternalStore.scala
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorStoreTest.scala
  test-full-class-names-non-integration.log
Due: copyright

[ci] .
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStoreTest.scala
Due: copyright

move
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorInternalStoreTest.scala
Due: copyright

[ci] bump CI timeouts
  .github/workflows/build.scala_test.yml
  .github/workflows/build.scala_test_for_compose.yml
Due: copyright, gha_lint

[ci] use existing issue
  .github/workflows/build.scala_test.yml
  .github/workflows/build.scala_test_for_compose.yml
Due: copyright, gha_lint

bump CI timeouts (#3203)
  .github/workflows/build.scala_test.yml
  .github/workflows/build.scala_test_for_compose.yml
Due: copyright, gha_lint

Sum ValidatorLicense weights in {AmuletRules,DsoRules}_ClaimExpiredRewards
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add unit tests for DsoRules_ClaimExpiredRewards
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestClaimExpiredRewards.daml
Due: copyright, dars_lock, no_illegal_daml_references

Tests for non-default weights in ClaimExpiredRewards
  daml/splice-amulet-test/daml/Splice/Scripts/TestUnclaimedRewards.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestClaimExpiredRewards.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update daml/dars
  daml/dars.lock
  daml/dars/splice-amulet-0.1.15.dar
  daml/dars/splice-amulet-name-service-0.1.16.dar
  daml/dars/splice-dso-governance-0.1.21.dar
  daml/dars/splice-wallet-0.1.15.dar
  daml/dars/splice-wallet-payments-0.1.15.dar
  daml/dars/splitwell-0.1.15.dar
Due: none

Deprecate AmuletRules_ClaimExpiredRewards
  daml/splice-amulet-test/daml/Splice/Scripts/TestUnclaimedRewards.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Use fetchUncheckedButArchiveLater
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update dars+lock
  daml/dars.lock
  daml/dars/splice-amulet-0.1.15.dar
  daml/dars/splice-amulet-name-service-0.1.16.dar
  daml/dars/splice-dso-governance-0.1.21.dar
  daml/dars/splice-wallet-0.1.15.dar
  daml/dars/splice-wallet-payments-0.1.15.dar
  daml/dars/splitwell-0.1.15.dar
Due: none

[ci] info logs
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorReonboardingIntegrationTest.scala
Due: copyright

[ci] .
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorReonboardingIntegrationTest.scala
Due: copyright

[ci] .
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/FutureUnlessShutdownUtil.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/db/DbValidatorInternalStore.scala
Due: copyright

[ci] Zero holding fee and initial amount values in responses so that they always agree.
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
Due: copyright

Remove /v0/total-amulet-balance and /v0/wallet-balance
  apps/scan/src/main/openapi/scan.yaml
Due: none

Code refoactored
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnectionTest.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

[ci] Added a test for zeroed balance values in bft scan connection.
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnectionTest.scala
  docs/src/release_notes.rst
Due: copyright

Nits
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

Nits
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnectionTest.scala
Due: copyright

[ci] add test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorReonboardingIntegrationTest.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

[ci] added integration test and summary for transactions
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PeriodicBackupIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PeriodicTopologySnapshotTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/NonDsoNonDevNetPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/SvNonDevNetPreflightintegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/DataExportTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/GcpConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/PeriodicTopologySnapshotConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/TopologySnapshotConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/BackupDump.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/GcpBucket.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/TopologySnapshot.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/PeriodicTopologySnapshotTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvSvAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
  test-full-class-names.log
Due: copyright

[ci] review, DRY.
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnectionTest.scala
Due: copyright

[ci] Update docs/src/release_notes.rst
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnectionTest.scala
  docs/src/release_notes.rst
Due: copyright
