Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

[ci]
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingIntegrationTest.scala
  apps/sv/frontend/src/__tests__/sv.test.tsx
  apps/sv/frontend/src/components/ValidatorOnboardingSecrets.tsx
  apps/sv/frontend/src/contexts/SvAdminServiceContext.tsx
  apps/sv/frontend/src/hooks/useValidatorOnboardings.tsx
  apps/sv/frontend/src/routes/validatorOnboarding.tsx
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvAdminAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvSvStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/JsonOnboardingSecret.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/Secrets.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/ValidatorOnboardingSecret.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvSvStoreTest.scala
Due: copyright, typescriptfmt

expected
  cluster/expected/splitwell/expected.json
Due: none

Support additionalEnvVars and jvm options in validator-runbook (#2429)
  cluster/deployment/mock/config.yaml
  cluster/expected/splitwell/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/pulumi/common-validator/src/config.ts
  cluster/pulumi/common-validator/src/participant.ts
  cluster/pulumi/common/src/config/configSchema.ts
Due: typescriptfmt, pulumi_config

bump resoruces
  cluster/pulumi/common/src/utils.ts
Due: typescriptfmt, pulumi_config

Fix partyId parsing [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingIntegrationTest.scala
Due: copyright

Rename proposal expiration to threshold deadline (#2427)
  apps/sv/frontend/src/__tests__/governance/proposal-listing.test.tsx
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/forms/OffboardSvForm.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
  apps/sv/frontend/src/components/governance/ActionRequiredSection.tsx
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
  apps/sv/frontend/src/routes/governance.tsx
  apps/sv/frontend/src/utils/types.ts
Due: copyright, typescriptfmt

Fix partyID [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingIntegrationTest.scala
Due: copyright

[ci] working validator otk rotation
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualSignatureIntegrationTest.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

Fix FE integration test [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvTestUtil.scala
Due: copyright

Fix typo [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvTestUtil.scala
Due: copyright

Rename variable [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvTestUtil.scala
Due: copyright

[release-line-0.4.16] Support custom jvm options in all SV app components
  .vscode/settings.json
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/participant.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/utils.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  party-allocator/package-lock.json
Due: typescriptfmt, pulumi_config

[release-line-0.4.15] Support custom jvm options in all SV app components
  .vscode/settings.json
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/participant.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/utils.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[release-line-0.4.17] Support custom jvm options in all SV app components
  .vscode/settings.json
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/participant.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/utils.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[release-line-0.4.16] Support custom jvm options in all SV app components (#2433)
  .vscode/settings.json
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/participant.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/utils.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  party-allocator/package-lock.json
Due: typescriptfmt, pulumi_config

[release-line-0.4.15] Support custom jvm options in all SV app components (#2432)
  .vscode/settings.json
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/participant.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/utils.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[release-line-0.4.17] Support custom jvm options in all SV app components (#2434)
  .vscode/settings.json
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/participant.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/utils.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[ci] fix
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/NodeInitializer.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/ParticipantInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

Bump vetting delay to 24h
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
Due: copyright

[ci] ci for test
  .github/workflows/build.yml
Due: gha_lint

Ensure current weight of selected SV is displayed in proposal form [ci]
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/components/form-components/TextField.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
Due: copyright, typescriptfmt

[ci] try again to avoid warnings
  build-tools/splice-compose.sh
  cluster/compose/validator/stop.sh
Due: copyright

Add daml models for token std based merging
  build.sbt
  daml/splice-util-delegation-test/daml.yaml
  daml/splice-util-delegation-test/daml/Splice/Util/MergeDelegation/IntegrationTests/TestMergeDelegation.daml
  daml/splice-util-delegation/README.md
  daml/splice-util-delegation/daml.yaml
  daml/splice-util-delegation/daml/Splice/Util/MergeDelegation.daml
Due: copyright, dars_lock, no_illegal_daml_references

review
  daml/splice-util-delegation-test/daml/Splice/Util/MergeDelegation/IntegrationTests/TestMergeDelegation.daml
  daml/splice-util-delegation/README.md
  daml/splice-util-delegation/daml/Splice/Util/MergeDelegation.daml
Due: copyright, dars_lock, no_illegal_daml_references

assertion
  daml/splice-util-delegation/daml/Splice/Util/MergeDelegation.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update daml/splice-util-delegation/daml/Splice/Util/MergeDelegation.daml
  daml/splice-util-delegation/daml/Splice/Util/MergeDelegation.daml
Due: copyright, dars_lock, no_illegal_daml_references

Lock acs_snapshot_data while writing
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotStore.scala
Due: copyright

review
  build.sbt
  daml/FOO-util-delegation-test/daml.yaml
  daml/FOO-util-delegation-test/daml/Splice/Util/MergeDelegation/IntegrationTests/TestMergeDelegation.daml
  daml/FOO-util-delegation/daml.yaml
  daml/FOO-util-delegation/daml/Splice/Util/MergeDelegation.daml
Due: copyright, dars_lock, no_illegal_daml_references

cleanup
  daml/splice-util-delegation-test/daml/Splice/Util/MergeDelegation/IntegrationTests/TestMergeDelegation.daml
Due: copyright, dars_lock, no_illegal_daml_references

Bump vetting delay to 24h (#2435)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
Due: copyright

Ensure current weight of selected SV is displayed in proposal form (#2437)
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/components/form-components/TextField.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
Due: copyright, typescriptfmt

better submit api
  daml/FOO-util-delegation-test/daml/Splice/Util/MergeDelegation/IntegrationTests/TestMergeDelegation.daml
Due: copyright, dars_lock, no_illegal_daml_references

Use advisory locks
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AdvisoryLockIds.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotStore.scala
Due: copyright

[ci] make it a valid spec
  cluster/compose/validator/stop.sh
Due: copyright

[ci] fix condition and static checks
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/helm/splice-validator/tests/init-containers_test.yaml
Due: none

[ci] release notes
  docs/src/release_notes.rst
Due: copyright

[static] review comments
  cluster/compose/validator/stop.sh
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-validator/templates/validator.yaml
Due: copyright

[ci] more version bumps
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/common/package.json
  cluster/pulumi/gcp/package.json
  cluster/pulumi/package-lock.json
  project/CantonDependencies.scala
Due: copyright

[ci] pre-calculating balances and leaderboards in aggregation
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V046__scan_aggr_balance_leaderboards.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/ScanAggregator.scala
Due: copyright

[static] some fixes in comments.
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V046__scan_round_total_amulet_balance.sql
Due: none

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
