Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

DsoRules_GrantValidatorLicense
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestOnboarding.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update dars.lock
  daml/dars.lock
Due: none

Update daml/dars
  daml/dars/splice-amulet-0.1.15.dar
  daml/dars/splice-dso-governance-0.1.21.dar
Due: none

Add setupDefaultAppWithUsersNoFees for tests requiring more precise balance change checks
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
Due: copyright, dars_lock, no_illegal_daml_references

Doc comment update
  daml/splice-amulet/daml/Splice/ValidatorLicense.daml
Due: copyright, dars_lock, no_illegal_daml_references

Refactor, use Total.minimumOn
  daml/splice-dso-governance/daml/Splice/DsoRules/Utils.daml
Due: copyright, dars_lock, no_illegal_daml_references

Doc comment update
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Move merge ValidatorLicense logic to pure API and use unit tests
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestValidatorLicense.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/UnitTests/MergeValidatorLicense.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
  daml/splice-dso-governance/daml/Splice/DsoRules/Utils.daml
Due: copyright, dars_lock, no_illegal_daml_references

Refactor hasOperatorLicense
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Remove redundant import
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestOnboarding.daml
Due: copyright, dars_lock, no_illegal_daml_references

Refactor ValidatorLicense weight tests to use no-fees setup, and more code reuse.
  daml/splice-amulet-test/daml/Splice/Scripts/TestValidatorFaucet.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update daml/dars.lock
  daml/dars.lock
Due: none

Bump daml version
  daml/splice-util-token-standard-wallet-test/daml.yaml
Due: dars_lock, no_illegal_daml_references

fix CI errors
  daml/dars.lock
  daml/splice-dso-governance-test/daml/Splice/Scripts/UnitTests/MergeValidatorLicense.daml
  daml/splice-util-featured-app-proxies-test/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

Upload dars in batches to avoid hitting gRPC limit
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BootstrapPackageConfigIntegrationTest.scala
Due: copyright

[ci] changing test to use latestPrunedOffset endpoint instead of going through logs
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PruningIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/LoggerUtil.scala
  build.sbt
  project/Dependencies.scala
Due: copyright

[ci] nits
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PruningIntegrationTest.scala
  build.sbt
Due: copyright

[ci] .
  apps/app/src/test/resources/include/sequencers.conf
Due: none

[ci] Support http proxy (#2955)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ConsoleHttpCommandRunner.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorProxyIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/unit/http/HttpClientProxyTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/unit/http/TinyProxySupport.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/ProcessTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/SignatureVerifier.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/NodeBase.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/http/HttpClient.scala
  docs/src/release_notes.rst
  docs/src/validator_operator/validator_compose.rst
  docs/src/validator_operator/validator_helm.rst
  nix/shell.nix
  project/BuildCommon.scala
  test-full-class-names-non-integration.log
  test-full-class-names.log
Due: copyright

[ci] Enable tps caps (#3107)
  apps/app/src/test/resources/include/sequencers.conf
  cluster/expected/infra/expected.json
  cluster/images/canton-cometbft-sequencer/app.conf
  cluster/images/canton-sequencer/app.conf
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer_messages.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer_topology_transactions.json
Due: none

[static] Default log levels to info in helm charts
  cluster/helm/splice-cometbft/values-template.yaml
  cluster/helm/splice-util-lib/templates/_helpers.tpl
Due: none

[ci] fix
  apps/app/src/test/resources/include/participants.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PruningIntegrationTest.scala
  cluster/compose/localnet/conf/canton/app.conf
  cluster/images/canton-participant/app.conf
Due: copyright

[static] default apps to debug
  cluster/helm/splice-global-domain/tests/sequencer_test.yaml
  cluster/helm/splice-scan/values-template.yaml
  cluster/helm/splice-sv-node/values-template.yaml
  cluster/helm/splice-util-lib/templates/_helpers.tpl
  cluster/helm/splice-validator/values-template.yaml
Due: none

[ci] Add pekko config support for http client proxy
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/unit/http/HttpClientProxyTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/http/HttpClient.scala
Due: copyright

[ci] Add logging for which http client proxy config is used.
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/http/HttpClient.scala
Due: copyright

[ci] Fix test retries for error codes
  canton/community/integration-testing/src/main/scala/com/digitalasset/canton/integration/EnvironmentSetup.scala
Due: copyright

[ci] revert commenting out admin-token-config.admin-claim=true
  apps/app/src/test/resources/include/participants.conf
  cluster/compose/localnet/conf/canton/app.conf
  cluster/images/canton-participant/app.conf
Due: none

[static] Default log levels to info in helm charts for canton nodes (#3110)
  cluster/helm/splice-cometbft/values-template.yaml
  cluster/helm/splice-global-domain/tests/sequencer_test.yaml
  cluster/helm/splice-scan/values-template.yaml
  cluster/helm/splice-sv-node/values-template.yaml
  cluster/helm/splice-util-lib/templates/_helpers.tpl
  cluster/helm/splice-validator/values-template.yaml
Due: none

[ci] Fix test retries for error codes (#3112)
  canton/community/integration-testing/src/main/scala/com/digitalasset/canton/integration/EnvironmentSetup.scala
Due: copyright

Add integration test for participant pruning (#3089)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PruningIntegrationTest.scala
  test-full-class-names.log
Due: copyright

Wait for onboarding status after login (#2822)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/FrontendLoginUtil.scala
Due: copyright

Fix flake with too many party-id classnames (#2890)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
Due: copyright

Wrap all click on in eventually (#2936)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AllocationsFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AnsFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DockerComposeFullNetworkFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DockerComposeValidatorFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanFrontendTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SplitwellUpgradeFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletAuth0FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletFrontendTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSubscriptionsFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTransactionHistoryFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTransfersFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/reonboard/SvReOnboardPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvPreflightIntegrationTestBase.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/SvUiPreflightIntegrationTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/upgrades/DamlCIUpgradeVotePreflightTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/AnsFrontendTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/FrontendLoginUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SplitwellFrontendTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvFrontendTestUtil.scala
Due: copyright

Retry clicking the accept button (#2331)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
  apps/wallet/frontend/src/components/TransferOffers.tsx
Due: copyright, typescriptfmt

[ci] set default participant pruning schedule
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
Due: copyright

ValidatorApp: retry an early `listOwnerToKeyMapping` request
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/NodeInitializer.scala
Due: copyright
