Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

[ci] am i even paying attention
  cluster/pulumi/common-sv/src/singleSvConfig.ts
Due: typescriptfmt, pulumi_config

[ci] add to mock config
  cluster/deployment/mock/config.yaml
Due: none

[ci] which of course yaml files are not checked by the hook
  cluster/expected/canton-network/expected.json
Due: none

who needs tests anyway
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletAppRewardsTimeBasedIntegrationTest.scala
Due: copyright

Undo scanappchanges
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
Due: copyright

Add additional env vars to scan (#2027)
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
Due: typescriptfmt, pulumi_config

Upgrade Canton to 3.3.0-snapshot.20250827.16063.0.vdc9a8874 (#2032)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletAppRewardsTimeBasedIntegrationTest.scala
  nix/canton-sources.json
Due: copyright

Skip acs snapshot checks
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/UpdateHistorySanityCheckPlugin.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
Due: copyright

nit
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

bump solo rate
  cluster/deployment/config.yaml
Due: none

commentary
  cluster/deployment/config.yaml
Due: none

comments
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
Due: copyright

undo temp debug changes
  .github/workflows/build.scala_test.yml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/scan/AggregatingScanConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/SequencerBftPeerReconciler.scala
  test-full-class-names-resource-intensive.log
Due: copyright, gha_lint

format
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
Due: copyright

Add alerts for confirmation requests rate (#1992)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

Reenable reassignment tests and set time proof freshness
  apps/app/src/test/resources/simple-topology-canton-simtime.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletAppRewardsTimeBasedIntegrationTest.scala
Due: copyright

Proposal for ACS ingestion begin
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/UpdateIngestionService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

and fix updatehistory too
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/UpdateIngestionService.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
Due: copyright

Migrate from reference driver to BFT driver (#1975)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/UpdateHistorySanityCheckPlugin.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/CommonAppInstanceReferences.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/StandaloneCanton.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/AutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
Due: copyright

Reenable reassignment tests and set time proof freshness (#2040)
  apps/app/src/test/resources/simple-topology-canton-simtime.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletAppRewardsTimeBasedIntegrationTest.scala
Due: copyright

Fix log ignore
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

Prevent AmuletRules_BuyMemberTraffic from causing flakes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTransactionHistoryFrontendIntegrationTest.scala
Due: copyright

Add docs about wasted traffic
  docs/src/deployment/observability/metrics.rst
  docs/src/deployment/traffic.rst
  docs/src/release_notes.rst
Due: copyright

bump npm auth0 packages (#2031)
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/common/package.json
  cluster/pulumi/common/src/auth0.ts
  cluster/pulumi/gcp/package.json
  cluster/pulumi/package-lock.json
  cluster/pulumi/tsconfig.json
Due: typescriptfmt, pulumi_config

allow DisableDbStorageIdempotency for DbTest [skip ci]
  CANTON_CODE_CHANGES.md
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/IngestionPerfTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/AcsSnapshotStoreTest.scala
  canton/community/common/src/test/scala/com/digitalasset/canton/store/db/DatabaseDeadlockTest.scala
  canton/community/common/src/test/scala/com/digitalasset/canton/store/db/DatabaseLimitNbParamTest.scala
  canton/community/common/src/test/scala/com/digitalasset/canton/store/db/DbTest.scala
Due: copyright

support longer contract IDs [skip ci]
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTest.scala
Due: copyright

traverse has same performance [skip ci]
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/IngestionPerfTest.scala
Due: copyright

helm splice-cometbft: Change cometbft state sync default to disabled
  cluster/helm/splice-cometbft/values-template.yaml
Due: none

examples sv-helm: Change cometbft state sync default to disabled
  apps/app/src/pack/examples/sv-helm/cometbft-values.yaml
Due: none

docs release_notes: updated changes to cometbft deployment
  docs/src/release_notes.rst
Due: copyright

Do not ignore shutdown timeouts
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

Bump Canton commit and Canton/SDK versions
  MAINTENANCE.md
Due: none

Fix found in rej file on RequiredClaims.
  canton/community/ledger/ledger-api-core/src/main/scala/com/digitalasset/canton/ledger/api/auth/RequiredClaims.scala
Due: copyright
