Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

Revert "Support deploying party allocator in clusters (#2227)" (#2234)
  cluster/deployment/scratchneta/config.yaml
  cluster/helm/local.mk
  cluster/helm/splice-party-allocator/.helmignore
  cluster/helm/splice-party-allocator/Chart-template.yaml
  cluster/helm/splice-party-allocator/Chart.lock
  cluster/helm/splice-party-allocator/templates/party-allocator.yaml
  cluster/helm/splice-party-allocator/templates/required.yaml
  cluster/helm/splice-party-allocator/values-template.yaml
  cluster/images/local.mk
  cluster/images/party-allocator/Dockerfile
  cluster/images/party-allocator/entrypoint.sh
  cluster/images/party-allocator/local.mk
  cluster/pulumi/validator-runbook/dump-config.ts
  cluster/pulumi/validator-runbook/src/config.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/src/partyAllocator.ts
  party-allocator/README.md
  party-allocator/package-lock.json
  party-allocator/package.json
  party-allocator/src/config.ts
  party-allocator/src/index.ts
  party-allocator/src/ledger-api-client.ts
Due: copyright, typescriptfmt, pulumi_config

[static] comment and cleanup
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

daml: do not auto-feature executor on allocations
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardAllocationHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpTokenStandardTransferInstructionHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/util/ChoiceContextBuilder.scala
  daml/splice-amulet-test/daml/Splice/Scripts/UnitTests/Amulet/TokenApiUtils.daml
  daml/splice-amulet/daml/Splice/Amulet/TokenApiUtils.daml
  daml/splice-amulet/daml/Splice/Amulet/TwoStepTransfer.daml
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
  daml/splice-amulet/daml/Splice/AmuletTransferInstruction.daml
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry.daml
  token-standard/splice-token-standard-test/daml/Splice/Tests/TestAmuletTokenDvP.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add APIs for scan-app /v0/events endpoint(s)
  apps/scan/src/main/openapi/scan.yaml
Due: none

add V043__scan_verdict_store.sql
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V043__scan_verdict_store.sql
Due: none

Init DbScanVerdictStore, with basic insert/list APIs
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Add ScanEventStore, to provide combined events for /v0/events endpoint
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
Due: copyright

getEventHistory, getEventById client APIs
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
Due: copyright

Add automation service in scan-app to ingest mediator verdicts
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/mediator/MediatorVerdictsClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/metrics/ScanMediatorVerdictIngestionMetrics.scala
Due: copyright

Use ScanVerdictAutomationService, DbScanVerdictStore in scan-app
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/metrics/ScanAppMetrics.scala
Due: copyright

do clear of new tables in resetAllAppTables
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
Due: copyright

Add unit tests for ScanEventStore
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

deriveReader for mediator ingestion config
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
Due: copyright

Add verdict ingestion metrics to MetricsDocs
  apps/metrics-docs/src/main/scala/org/lfdecentralizedtrust/splice/metrics/MetricsDocs.scala
Due: copyright

WIP: Integ tests for verdict ingestion
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
Due: copyright

Add mediator-admin-client port to test configs
  apps/app/src/test/resources/include/scans/sv1-scan.conf
  apps/app/src/test/resources/include/scans/sv2-scan.conf
  apps/app/src/test/resources/include/scans/sv3-scan.conf
  apps/app/src/test/resources/include/scans/sv4-scan.conf
  apps/app/src/test/resources/local-sv-node/scan-app/app.conf
Due: none

Add tests, test helpers and various fixes
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

remove unused import
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

Modify event cap logic; do not return any event if either table is empty
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
Due: copyright

Cleanup of use of fully qualified names; use imports more
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/mediator/MediatorVerdictsClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Fix table index
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V043__scan_verdict_store.sql
Due: none

Fix test: Add a verdict for currentMigrationId
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

confirm that reassignment update matches the data from UpdateHistory store API
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Remove todo
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

remove redundant APIs
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Use SourceBasedTrigger in verdict ingestion; various fixes to gRPC client
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/mediator/MediatorVerdictsClient.scala
Due: copyright

refactor testsuite, add more tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanEventHistoryIntegrationTest.scala
Due: copyright

Refactor: move backfill check code in separate API
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

Move the storage check inside store class
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

add lastIngestedRecordTime ref in UpdateHistory
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
Due: copyright

use getEvents in HTTP handler
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
Due: copyright

Test getEvents API, to match getEventsReference
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

add lastIngestedRecordTime ref in DbScanVerdictStore
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Add getEvents API
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
Due: copyright

add grpc metrics to MediatorVerdictsClient
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/mediator/MediatorVerdictsClient.scala
Due: copyright

Fix some descriptions of new APIs
  apps/scan/src/main/openapi/scan.yaml
Due: none

Do config transforms on mediatorAdminClient option
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
Due: copyright

Require specifying mediatorAddress for scan-app via pulumi
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/helm/splice-scan/templates/scan.yaml
  cluster/helm/splice-scan/values.schema.json
  cluster/pulumi/canton-network/src/sv.ts
Due: typescriptfmt, pulumi_config

Address formatting feedback
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Add mediatorAddress to scan-values.yaml
  apps/app/src/pack/examples/sv-helm/scan-values.yaml
Due: none
