Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

Minor cleanup after 3.4 merge (#2762)
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

[static] Add support for hdm to the multi validators
  cluster/expected/multi-validator/expected.json
  cluster/pulumi/multi-validator/src/multiNodeDeployment.ts
  cluster/pulumi/multi-validator/src/multiValidator.ts
Due: typescriptfmt, pulumi_config

Don't rollback update history after migration
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/DomainMigrationInfo.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/DomainDataSnapshot.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/migration/DomainDataSnapshotGenerator.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/validator/src/main/openapi/validator-internal.yaml
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/migration/DomainMigrationDump.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/migration/DomainMigrationDumpGenerator.scala
Due: copyright

.
  nix/extra-pulumi-packages.nix
  nix/generate_pulumi_packages.sh
Due: copyright

[static] move grafana pg instance to infra nodes
  cluster/expected/infra/expected.json
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

less confusion on what LEDGER_API_AUTH_{AUDIENCE,SCOPE} are doing [static]
  docs/src/validator_operator/validator_compose.rst
Due: copyright

Use toProtoPrimitive for domainId
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
Due: copyright

Log snapshot record times for debugging
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
Due: copyright

[static] init
  cluster/deployment/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
Due: typescriptfmt, pulumi_config

[static] fix
  cluster/deployment/config.yaml
  cluster/deployment/mock/config.yaml
Due: none

Pulumify scan resources (#2767)
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
Due: typescriptfmt, pulumi_config

[static] Pulumify scan resources (#2767)
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
Due: typescriptfmt, pulumi_config

[ci] Bump canton to 3.3.0-snapshot.20251020.16134.0.v297c6a43
  nix/canton-sources.json
Due: none

[static] nit
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
Due: none

[static] Update cluster/pulumi/multi-validator/src/multiValidator.ts
  cluster/pulumi/multi-validator/src/multiValidator.ts
Due: typescriptfmt, pulumi_config

Pulumify scan resources (#2770)
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
Due: typescriptfmt, pulumi_config

Pulumify scan resources (#2767) (#2771)
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
Due: typescriptfmt, pulumi_config

Update inflight and history tables in sv ui (#2761)
  apps/sv/frontend/src/__tests__/governance/proposal-listing.test.tsx
  apps/sv/frontend/src/components/governance/ProposalListingSection.tsx
  apps/sv/frontend/src/routes/governance.tsx
Due: copyright, typescriptfmt

[static] Add support for hdm to the multi validators (#2763)
  cluster/expected/multi-validator/expected.json
  cluster/pulumi/multi-validator/src/multiNodeDeployment.ts
  cluster/pulumi/multi-validator/src/multiValidator.ts
Due: typescriptfmt, pulumi_config

[ci] Fix for domainId getting truncated in http response.
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
Due: copyright

Pulumify scan resources (#2769)
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
Due: typescriptfmt, pulumi_config

[static] Add support for hdm to the multi validators (#2763) (#2775)
  cluster/expected/multi-validator/expected.json
  cluster/pulumi/multi-validator/src/multiNodeDeployment.ts
  cluster/pulumi/multi-validator/src/multiValidator.ts
Due: typescriptfmt, pulumi_config

[static] increase default scan resources
  cluster/helm/splice-scan/values-template.yaml
Due: none

Bump vulnerable HappyDOM version (#2673)
  apps/ans/frontend/package.json
  apps/common/frontend-test-handlers/src/mocks/helpers/amulet-config-helper.ts
  apps/common/frontend-test-handlers/src/mocks/helpers/dso-config-helper.ts
  apps/common/frontend/src/components/votes/ActionView.tsx
  apps/common/frontend/src/components/votes/ListVoteRequests.tsx
  apps/package-lock.json
  apps/scan/frontend/src/__tests__/setup/setup.ts
  apps/splitwell/frontend/package.json
  apps/splitwell/frontend/src/__tests__/setup/setup.ts
  apps/sv/frontend/package.json
  apps/sv/frontend/src/__tests__/config-diffs.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/offboard-sv-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/__tests__/governance/proposal-details-content.test.tsx
  apps/sv/frontend/src/__tests__/helpers.tsx
  apps/sv/frontend/src/__tests__/setup/setup.ts
  apps/sv/frontend/src/__tests__/sv.test.tsx
  apps/sv/frontend/src/__tests__/synchroniser-upgrade.test.tsx
  apps/sv/frontend/src/components/votes/actions/SetAmuletRulesConfig.tsx
  apps/sv/frontend/src/components/votes/actions/SetDsoRulesConfig.tsx
  apps/wallet/frontend/package.json
  apps/wallet/frontend/src/__tests__/setup/setup.ts
  apps/wallet/frontend/src/__tests__/wallet.test.tsx
Due: copyright, typescriptfmt

[static] Update values-template.yaml
  cluster/helm/splice-scan/values-template.yaml
Due: none

[ci] Fix for domainId getting truncated in http response. (#2774)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
Due: copyright

[static] increase default scan resources (#2777)
  cluster/helm/splice-scan/values-template.yaml
Due: none

fix API changes [ci]
  apps/common/frontend/src/components/votes/VoteRequestFilterTable.tsx
  apps/common/frontend/src/components/votes/VoteResultsFilterTable.tsx
  apps/scan/frontend/src/routes/root.tsx
  apps/sv/frontend/src/components/forms/SelectAction.tsx
  apps/sv/frontend/src/components/governance/ActionRequiredSection.tsx
  apps/wallet/frontend/src/components/Onboarding.tsx
Due: copyright, typescriptfmt

Fix ACS snapshots on short-lived migrations
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTrigger.scala
Due: copyright

[static] init
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/cometbft.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/config/configSchema.ts
  cluster/pulumi/common/src/utils.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
Due: typescriptfmt, pulumi_config

Show contract id in proposal details page [ci]
  apps/sv/frontend/src/__tests__/governance/proposal-details-content.test.tsx
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
Due: copyright, typescriptfmt

[static] increase default scan resources (#2777) (#2782)
  cluster/helm/splice-scan/values-template.yaml
Due: none

[static] fix participant, add support for sv runbook
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/participant.ts
  cluster/pulumi/sv-canton/src/decentralizedSynchronizerNode.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[ci] obviously moritz is right
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTrigger.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTriggerTest.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
