Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

[static] argh
  cluster/expected/validator-runbook/expected.json
  cluster/pulumi/common-validator/src/validator.ts
Due: typescriptfmt, pulumi_config

[ci] stupid test: is the mount the problem?
  .github/actions/nix/setup_nix/action.yml
  .github/actions/tests/common_test_setup/action.yml
  .github/actions/tests/scala_test/action.yml
  .github/workflows/build.docs.yml
  .github/workflows/build.ui_tests.yml
Due: gha_lint

Bump versions after 0.4.20 release (#2621)
  LATEST_RELEASE
  VERSION
Due: none

Bump UI test timeout [ci]
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
Due: copyright, typescriptfmt

apps, http: Enable compressed (gzip) response
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/admin/http/HttpAdminService.scala
Due: copyright

Cloud Armor setup in Pulumi (#2582)
  cluster/deployment/config.yaml
  cluster/pulumi/infra/src/cloudArmor.ts
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/index.ts
Due: typescriptfmt, pulumi_config

Refactor API authentication
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/ActAsPrimaryPartyAuthExtractor.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/AdminAuthExtractor.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/AuthExtractor.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/AuthenticationOnlyAuthExtractor.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/UncachedUserRightsProvider.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/UserRightsProvider.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpExternalAnsHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpScanProxyHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpTokenStandardScanProxyHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorAdminHandler.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpValidatorHandler.scala
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/api/client/commands/HttpWalletAppClient.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpExternalWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpStatusWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandlerUtil.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/UserWalletAuthExtractor.scala
  canton/community/bindings-java/src/main/java/com/daml/ledger/javaapi/data/User.java
Due: copyright

do not use primary party
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/admin/http/HttpExternalAnsHandler.scala
Due: copyright

Split SV app auth
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BftScanConnectionIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingAddlIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/SvUiPreflightIntegrationTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/ActAsKnownPartyAuthExtractor.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/AdminAuthExtractor.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/AuthenticationOnlyAuthExtractor.scala
  apps/common/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/http/SvHttpClient.scala
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/SvConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvAdminAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvOperatorAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvPublicAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvOperatorHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvPublicHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeDsoPartyHosting.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorSvConnection.scala
Due: copyright

Dump identities as admin user
  build-tools/splice-compose.sh
Due: copyright

Add release notes
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvOperatorAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvPublicAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvOperatorHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvPublicHandler.scala
  docs/src/release_notes.rst
Due: copyright

Fix and improve tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
Due: copyright

Onboard alice
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BftScanConnectionIntegrationTest.scala
Due: copyright

Error response is now plain text
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
Due: copyright

Fix cors
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/AdminAuthExtractor.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/AuthExtractor.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/auth/UncachedUserRightsProvider.scala
Due: copyright

[ci] gh was broken so i can't trust that
  .github/actions/tests/common_test_setup/action.yml
  .github/actions/tests/scala_test/action.yml
  .github/workflows/build.docs.yml
  .github/workflows/build.ui_tests.yml
Due: gha_lint

Bump UI test timeout [ci] (#2642)
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
Due: copyright, typescriptfmt

[ci] Cache dar signatures to avoid re-reading the same dar
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceConsoleEnvironment.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminDarsConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/DarUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/TemplateJsonDecoder.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/util/DarUtil.scala
Due: copyright

[static] don't assume the secret, and cleanup
  cluster/deployment/scratchneta/config.yaml
  cluster/expected/splitwell/expected.json
  cluster/expected/validator1/expected.json
  cluster/helm/splice-participant/templates/participant.yaml
  cluster/helm/splice-participant/tests/participant_test.yaml
  cluster/helm/splice-participant/values.schema.json
Due: none

[ci] Fix issues with validator starting too fast now
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/StandaloneCanton.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/ParticipantInitializer.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

[ci] Cache dar signatures to avoid re-reading the same dar (#2643)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceConsoleEnvironment.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/StandaloneCanton.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminDarsConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/ParticipantInitializer.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/DarUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/TemplateJsonDecoder.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/util/DarUtil.scala
Due: copyright

all all-paths, all-ips config [skip ci]
  cluster/deployment/config.yaml
  cluster/pulumi/infra/src/config.ts
Due: typescriptfmt, pulumi_config

remove declarations we don't want [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

use new config in rule [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

more precise match exprs [skip ci]
  cluster/pulumi/infra/src/cloudArmor.ts
Due: typescriptfmt, pulumi_config

Validator app: fix delete user in offboard.
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ledger/api/LedgerClient.scala
  apps/validator/src/main/openapi/validator-internal.yaml
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/util/ValidatorUtil.scala
Due: copyright

allow underscores [skip ci]
  cluster/pulumi/infra/src/config.ts
Due: typescriptfmt, pulumi_config

works
  cluster/deployment/scratchneta/config.yaml
  cluster/helm/splice-participant/values.schema.json
  cluster/helm/splice-validator/templates/ans-web-ui.yaml
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/helm/splice-validator/templates/wallet-web-ui.yaml
  cluster/helm/splice-validator/values.schema.json
  cluster/pulumi/common-validator/src/validator.ts
Due: typescriptfmt, pulumi_config

[static] cleanup
  cluster/deployment/scratchneta/config.yaml
Due: none

[static] revert is_devnet
  cluster/configs/configs-private/configs/TestNet/allowed-ip-ranges.json
  cluster/configs/configs/configs/TestNet/approved-sv-id-values.yaml
  cluster/deployment/mock/.envrc.vars
  cluster/expected/canton-network/expected.json
  cluster/expected/deployment/expected.json
  cluster/expected/infra/expected.json
  cluster/expected/multi-validator/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/expected/validator1/expected.json
Due: none

pulumify SV auth0 M2M apps (#2583)
  cluster/expected/infra/expected.json
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/svConfigs.ts
  cluster/pulumi/infra/src/auth0.ts
Due: typescriptfmt, pulumi_config

[static] formatfix
  cluster/pulumi/validator1/src/validator1.ts
Due: typescriptfmt, pulumi_config

Switch to relying on package names instead of module names (#1976)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/LedgerApiExtensions.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V047__package_name_acs_stores.sql
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/DbVotesStoreQueryBuilder.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsQueries.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbAppStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStore.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/QualifiedName.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/TxLogBackfillingStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStoreTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/AcsSnapshotStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanStore.scala
  apps/splitwell/src/main/scala/org/lfdecentralizedtrust/splice/splitwell/store/db/DbSplitwellStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvSvStore.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/db/DbValidatorStore.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/DbExternalPartyWalletStore.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/DbUserWalletStore.scala
Due: copyright

Revert "[ci] attempt with caches excluding personal profile stuff"
  .github/actions/nix/setup_nix/action.yml
  .github/actions/tests/common_test_setup/action.yml
  .github/actions/tests/scala_test/action.yml
  .github/workflows/build.docs.yml
  .github/workflows/build.ui_tests.yml
Due: gha_lint

Revert "[ci] stupid test: is the mount the problem?"
  .github/actions/nix/setup_nix/action.yml
  .github/actions/tests/common_test_setup/action.yml
  .github/actions/tests/scala_test/action.yml
  .github/workflows/build.docs.yml
  .github/workflows/build.ui_tests.yml
Due: gha_lint

Revert "[ci] maybe exclude the DB too? (will this cache anything then?)"
  .github/actions/nix/setup_nix/action.yml
  .github/actions/tests/common_test_setup/action.yml
  .github/actions/tests/scala_test/action.yml
  .github/workflows/build.docs.yml
  .github/workflows/build.ui_tests.yml
Due: gha_lint
