Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

[ci] snapshots
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanBulkStoragePoc.scala
Due: copyright

Update docs/src/background/tokenomics/overview_tokenomics.rst
  docs/src/background/tokenomics/overview_tokenomics.rst
Due: copyright

[ci] warnings
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanBulkStoragePoc.scala
Due: copyright

[ci] upload cache
  .github/actions/tests/scala_test/action.yml
Due: gha_lint

[ci] smaller files
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanBulkStoragePoc.scala
Due: copyright

[ci] wait longer
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanBulkStoragePoc.scala
Due: copyright

[ci] write more
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanBulkStoragePoc.scala
Due: copyright

more time, lower tps [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

30 seconds is meaningfully more reliable than 20 [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

we have some rewards on 3 [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

fix comment calculation [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

Added kubectl version
  cluster/expected/infra/expected.json
  cluster/pulumi/common/src/dump-config-common.ts
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

enabled config based turn on
  cluster/deployment/scratchnetb/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/common/src/config/config.ts
  cluster/pulumi/common/src/config/configSchema.ts
  cluster/pulumi/infra/src/index.ts
Due: typescriptfmt, pulumi_config

Removed log file from the reaper
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

Removed annotations
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

added namespace
  cluster/pulumi/infra/src/index.ts
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

Local code review done
  cluster/pulumi/infra/src/maintenance.ts
Due: typescriptfmt, pulumi_config

Added export KUBECTL_VERSION="v1.28.8"
  cluster/deployment/scratchnetb/.envrc.vars
Due: none

wip
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/PerformanceRunner.scala
  build.sbt
Due: copyright

Fix flaky BFT scan test
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnectionTest.scala
Due: copyright

Increase default sequencer memory limit
  cluster/helm/splice-global-domain/values-template.yaml
Due: none

Fix flaky BFT scan test (#3357)
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnectionTest.scala
Due: copyright

Ensure "Wasted Traffic" alert is really removed
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/deleted.yaml
  cluster/pulumi/package-lock.json
Due: none

0.5.4: Ensure "Wasted Traffic" alert is really removed
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/deleted.yaml
Due: none

Update overview_tokenomics.rst
  docs/src/background/tokenomics/overview_tokenomics.rst
Due: copyright

Upgrade pulumi to 3.202 (#3346)
  cluster/expected/canton-network/expected.json
  cluster/expected/gcp/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/common/package.json
  cluster/pulumi/package-lock.json
Due: none

Ensure "Wasted Traffic" alert is really removed (#3359)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/deleted.yaml
  cluster/pulumi/package-lock.json
Due: none

0.5.4: Ensure "Wasted Traffic" alert is really removed (#3360)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/deleted.yaml
Due: none

All files checked
  cluster/helm/splice-validator/tests/validator_test.yaml
Due: none

.
  .github/workflows/build.yml
Due: gha_lint

Upgrade pulumi to 3.202 (#3346) (#3362)
  cluster/expected/canton-network/expected.json
  cluster/expected/gcp/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/common/package.json
  cluster/pulumi/package-lock.json
Due: none

implement resolved config versioning (#3349)
  .pre-commit-config.yaml
  TESTING.md
  cluster/deployment/local.mk
  cluster/deployment/mock/config.resolved.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/pulumi/common/src/config/configLoader.ts
  cluster/pulumi/local.mk
  cluster/pulumi/package.json
  cluster/pulumi/resolvedConfigEmitter.ts
Due: typescriptfmt, pulumi_config

Upgrade pulumi to 3.202 (#3346) (#3361)
  cluster/expected/canton-network/expected.json
  cluster/expected/gcp/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/pulumi/common/package.json
  cluster/pulumi/package-lock.json
Due: none

fix cluster/deployment/local.mk import so that it also works in the internal repo
  cluster/pulumi/local.mk
Due: none

fix cluster/deployment/local.mk import so that it also works in the internal repo (#3363)
  cluster/pulumi/local.mk
Due: none

add build to the resolved config update target to fix splice-bump
  cluster/deployment/local.mk
Due: none

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
