Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

cip-82: fix daml build (DsoRules_MergeDevelopmentFundCoupons)
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

cip-82: remove optDevelopmentFundBeneficiary + update DevelopmentFundCoupon collection
  daml/splice-amulet-test/daml/Splice/Scripts/TestAmuletRulesTransfer.daml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/AmuletConfig.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestGovernance.daml
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry.daml
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry/Parameters.daml
Due: copyright, dars_lock, no_illegal_daml_references

cip-82: add test covering AmuletRules_AllocateDevelopmentFundCoupon
  daml/splice-amulet-test/daml/Splice/Scripts/TestDevelopmentFundCoupon.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update daml/splice-amulet/daml/Splice/Issuance.daml
  daml/splice-amulet/daml/Splice/Issuance.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update daml/splice-amulet/daml/Splice/AmuletConfig.daml
  daml/splice-amulet/daml/Splice/AmuletConfig.daml
Due: copyright, dars_lock, no_illegal_daml_references

cip-82: add DevelopmentFundCoupon template
  daml/splice-amulet/daml/Splice/Amulet.daml
Due: copyright, dars_lock, no_illegal_daml_references

cip-82: fix daml build
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestDecentralizedAutomation.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

cip-82: add DsoRules_ExpireDevelopmentFundCoupon choice to expire a DevelopmentFundCoupon
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestDecentralizedAutomation.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update daml/splice-dso-governance/daml/Splice/DsoRules.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

cip-82: add unit test for issuance with 5% development fund
  daml/splice-amulet-test/daml/Splice/Scripts/UnitTests/Issuance.daml
Due: copyright, dars_lock, no_illegal_daml_references

cip-82: test merging of Development Fund coupons
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestDecentralizedAutomation.daml
Due: copyright, dars_lock, no_illegal_daml_references

cip-82: add optDevelopmentFundPercentage value to testAmuletRulesConfigChange test
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestGovernance.daml
Due: copyright, dars_lock, no_illegal_daml_references

cip-82: refine documentation to remove references to config fields
  daml/splice-amulet/daml/Splice/AmuletConfig.daml
Due: copyright, dars_lock, no_illegal_daml_references

[ci] reduce acs commitment interval to 1 minutes and bump eventually
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PruningIntegrationTest.scala
Due: copyright

README improvements for faster test execution (#3247)
  TESTING.md
Due: none

[ci] add comment
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PruningIntegrationTest.scala
Due: copyright

Remove broken test in RunbookSvPreflightIntegrationTest
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvPreflightIntegrationTestBase.scala
Due: copyright

damn you imports [static]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvPreflightIntegrationTestBase.scala
Due: copyright

Adjust acs commitment interval in the pruning integration test (#3275)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PruningIntegrationTest.scala
Due: copyright

[ci] passes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/MultiHostValidatorOperatorIntegrationTest.scala
Due: copyright

Apply suggestion from @isegall-da
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/MultiHostValidatorOperatorIntegrationTest.scala
Due: copyright

delete datasets in parallel and retry a couple times [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTotalSupplyBigQueryIntegrationTest.scala
Due: copyright

[static] test canton images
  cluster/images/canton-mediator/Dockerfile
  cluster/images/canton-participant/Dockerfile
  cluster/images/canton-sequencer/Dockerfile
Due: none

[static] whoops
  cluster/images/canton-mediator/Dockerfile
  cluster/images/canton-participant/Dockerfile
  cluster/images/canton-sequencer/Dockerfile
Due: none

upgrade canton to latest 3.4.9
  nix/canton-sources.json
Due: none

Remove broken test in RunbookSvPreflightIntegrationTest (#3276)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvPreflightIntegrationTestBase.scala
Due: copyright

[static] document alternative way at checking migration dump
  docs/src/validator_operator/validator_major_upgrades.rst
Due: copyright

.
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/SpliceApp.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/SpliceMetrics.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/environment/CommandCircuitBreakerTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/mediator/MediatorVerdictsClient.scala
  canton/community/app/src/main/scala/com/digitalasset/canton/CantonAppDriver.scala
  canton/community/app/src/main/scala/com/digitalasset/canton/CantonCommunityApp.scala
  canton/community/integration-testing/src/main/scala/com/digitalasset/canton/integration/EnvironmentDefinition.scala
  canton/community/integration-testing/src/main/scala/com/digitalasset/canton/integration/EnvironmentSetup.scala
Due: copyright

upgrade canton to latest 3.4.9 (#3274)
  nix/canton-sources.json
Due: none

[static] try reduce interval
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PruningIntegrationTest.scala
Due: copyright

.
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/config/CantonConfig.scala
Due: copyright

Update docs/src/validator_operator/validator_major_upgrades.rst
  docs/src/validator_operator/validator_major_upgrades.rst
Due: copyright

Reduce acs commitment interval further for pruning integration test (#3281)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PruningIntegrationTest.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
