Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

sketch [no ci]
  token-standard/splice-api-token-transfer-preapproval-v1/daml.yaml
  token-standard/splice-api-token-transfer-preapproval-v1/daml/Splice/Api/Token/TransferPreapprovalV1.daml
  token-standard/splice-api-token-transfer-preapproval-v1/openapi/docker-compose.yml
  token-standard/splice-api-token-transfer-preapproval-v1/openapi/transfer-preapproval-v1.yaml
Due: copyright, dars_lock, no_illegal_daml_references

compile the factory interface impl.
  daml/splice-amulet/daml/Splice/Amulet/TwoStepTransfer.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

first standard transfer based on preapproval
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add test for reward expiry with old participants
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RewardExpiryIntegrationTest.scala
  test-full-class-names.log
Due: copyright

poc changes ready
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  daml/splice-wallet/daml/Splice/Wallet/Install.daml
Due: copyright, dars_lock, no_illegal_daml_references

add a psql subcommand to cncluster script for convenient DB inspection (#2672)
  build-tools/cncluster
Due: none

Add history_id to verdict store
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V047__verdict_history_id.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

[ci] make it compile
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Make alreadyExists check in verdict store more robust
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Update description of threshold deadline [ci]
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/forms/OffboardSvForm.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
  apps/sv/frontend/src/components/governance/ProposalSummary.tsx
  apps/sv/frontend/src/utils/constants.ts
Due: copyright, typescriptfmt

Update description of threshold deadline (#2727)
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/forms/OffboardSvForm.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
  apps/sv/frontend/src/components/governance/ProposalSummary.tsx
  apps/sv/frontend/src/utils/constants.ts
Due: copyright, typescriptfmt

polish interface definition
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  token-standard/splice-api-token-transfer-preapproval-v1/daml/Splice/Api/Token/TransferPreapprovalV1.daml
Due: copyright, dars_lock, no_illegal_daml_references

Fix `participant-bootstrapping-dump` secret mount
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-validator/templates/validator.yaml
Due: none

polish http definition
  token-standard/splice-api-token-transfer-preapproval-v1/openapi/transfer-preapproval-v1.yaml
Due: none

more polish
  apps/package-lock.json
  build.sbt
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  docs/api-templates/splice-api-token-transfer-preapproval-v1-index-template.rst
Due: copyright, dars_lock, no_illegal_daml_references

fix tests pt.5 [ci]
  apps/common/frontend-test-handlers/src/mocks/helpers/dso-config-helper.ts
  apps/common/frontend/src/components/votes/ActionView.tsx
Due: copyright, typescriptfmt

fix docs
  docs/src/validator_operator/validator_helm.rst
Due: copyright

[ci] Fix new reward trigger to use normal scheduling interval
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/PollingTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/RoundBasedRewardTrigger.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/RoundBasedRewardTriggerTest.scala
Due: copyright

Fix EventHistorySanityCheckPlugin by ignoring events before onboarding
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/EventHistorySanityCheckPlugin.scala
Due: copyright

Fix `participant-bootstrapping-dump` secret mount (#2728)
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-validator/templates/validator.yaml
  docs/src/validator_operator/validator_helm.rst
Due: copyright

fix tests pt.6 [ci]
  apps/common/frontend-test-handlers/src/mocks/helpers/dso-config-helper.ts
  apps/common/frontend/src/components/votes/ActionView.tsx
  apps/sv/frontend/src/__tests__/governance/proposal-details-content.test.tsx
Due: copyright, typescriptfmt

Usability changes for json diffs and SV reward weight form [ci]
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-dso-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/components/form-components/SelectField.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
Due: copyright, typescriptfmt

[ci] Fix new reward trigger to use normal scheduling interval (#2730)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/PollingTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/RoundBasedRewardTrigger.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/RoundBasedRewardTriggerTest.scala
Due: copyright

[ci] fine you win
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/EventHistorySanityCheckPlugin.scala
Due: copyright

Update docs/src/validator_operator/validator_disaster_recovery.rst
  docs/src/validator_operator/validator_disaster_recovery.rst
Due: copyright

Usability changes for json diffs and SV reward weight form (#2729)
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-dso-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/update-sv-reward-weight-form-test.test.tsx
  apps/sv/frontend/src/components/form-components/SelectField.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/UpdateSvRewardWeightForm.tsx
Due: copyright, typescriptfmt

fix whitespaces in mock [ci]
  apps/common/frontend-test-handlers/src/mocks/helpers/amulet-config-helper.ts
Due: typescriptfmt

Merge pull request #2166 from hyperledger-labs/cocreature/reward-expiry
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RewardExpiryIntegrationTest.scala
  test-full-class-names.log
Due: copyright

Clarifications
  docs/src/validator_operator/validator_disaster_recovery.rst
Due: copyright

Fix EventHistorySanityCheckPlugin by ignoring events before onboarding (#2731)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/EventHistorySanityCheckPlugin.scala
Due: copyright

Make alreadyExists check in verdict store more robust (#2726)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/EventHistorySanityCheckPlugin.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

[ci] Lower default sequencer max pruning interval
  apps/app/src/test/resources/include/sequencers.conf
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/ReceiveSvRewardCouponTrigger.scala
  cluster/images/canton-cometbft-sequencer/app.conf
  cluster/images/canton-sequencer/app.conf
Due: copyright

Add history_id to verdict store (#2725)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/EventHistorySanityCheckPlugin.scala
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V047__verdict_history_id.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

[ci] Lower default sequencer max pruning interval (#2734)
  apps/app/src/test/resources/include/sequencers.conf
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/ReceiveSvRewardCouponTrigger.scala
  cluster/images/canton-cometbft-sequencer/app.conf
  cluster/images/canton-sequencer/app.conf
Due: copyright

Release notes for 0.4.21
  docs/src/app_dev/scan_api/scan_bulk_data_api.rst
  docs/src/release_notes.rst
Due: copyright

Update docs/src/release_notes.rst
  docs/src/release_notes.rst
Due: copyright

Fix an indent + AI proofread
  docs/src/release_notes.rst
Due: copyright
