Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

Remove the now unused synchronizerId value from some constructors
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Add a client for SequencerInspectionService
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/sequencer/SequencerTrafficClient.scala
Due: copyright

Remove the WIP sequencer_inspection_service.proto
  apps/scan/src/main/protobuf/sequencer_inspection_service.proto
Due: none

Remove sequencer_traffic_summary_store
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SpliceDbTest.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbSequencerTrafficSummaryStoreTest.scala
Due: copyright

Fix whitespace error from removal of temporary version
  canton/community/synchronizer/src/main/protobuf/com/digitalasset/canton/mediator/admin/v30/mediator_inspection_service.proto
Due: none

Fix comment
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
Due: none

Rename items in the sql and related Db classes
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Update documentation of insertVerdictsWithAppActivityRecords
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

Update the migration that adds traffic summary and app activity records
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
Due: none

Use the DbXXXStore for TrafficSummaries/AppActivityRecords in ScanEvent
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Remove unnecessary fields from the AppActivityRecord table
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__sequencer_traffic_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Represent TrafficSummary data as columns in scan_verdict_store
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/rewards/AppActivityComputation.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Verify correct loading of traffic_summaries are loaded from scan_verdict_store
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
Due: copyright

Add getRecordByRecordTime and use it to validate AppActivityRecord insertion
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbAppActivityRecordStore.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/DbAppActivityRecordStoreTest.scala
Due: copyright

Explicitly name the primary key
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__traffic_summary_and_app_activity_record_store.sql
Due: none

Move optionJsonGetResult into AcsJdbcTypes
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbScanVerdictStore.scala
Due: copyright

add default retry for downloading missing artifacts [static]
  project/DamlPlugin.scala
Due: copyright

Add canton resolver to the shared settings
  project/BuildCommon.scala
Due: copyright

Add default retry for downloading missing artifacts (#4189)
  project/DamlPlugin.scala
Due: copyright

Extract timestamp parsing into a utility module (#4169)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  canton/community/base/src/main/scala/com/digitalasset/canton/data/CantonTimestamp.scala
Due: copyright

Add canton resolver to the shared settings (#4190)
  project/BuildCommon.scala
Due: copyright

lsu - Increase time in test between freeze time and upgrade time
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

Bump GHA runner version to the latest (auto-generated) (#4185)
  cluster/images/splice-test-docker-runner/Dockerfile
  cluster/images/splice-test-runner-hook/Dockerfile
Due: none

lsu - Increase time in test between freeze time and upgrade time (#4192)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

minor fixes after self-review
  docs/src/release_notes_upcoming.rst
Due: copyright

Update docs/src/deployment/configuration.rst
  docs/src/deployment/configuration.rst
Due: copyright

Update docs/src/common/kms_config_general.rst
  docs/src/common/kms_config_general.rst
Due: copyright

Persist ext txn hashes (#4109)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternalPartySetupProposalIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternallySignedPartyTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardAllocationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/TokenStandardCliIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTxLogIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V057__update_history_for_hash.sql
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
Due: copyright

actually bump configs :facepalm:
  cluster/images/canton-participant/additional-config.conf
Due: none

.
  Makefile
  apps/package-lock.json
  apps/package.json
  token-standard/package-lock.json
Due: none

Addressed Comments
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestDecentralizedAutomation.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

rebase cn logback file with canton default logback (adding KMS-related filters) [static]
  scripts/canton-logback.xml
Due: none

update expected [ci]
  cluster/expected/sv-canton/expected.json
Due: none

add LOG_LEVEL_API_REQUEST as start-canton envvar [ci]
  start-canton.sh
Due: copyright

[ci] use gcp bucket
  .github/workflows/performance_tests.yml
Due: gha_lint

init sv stacks for scratchnets and start integrating automation
  build-tools/lib/pulumi-commands
  build-tools/lib/pulumi-helpers
  cluster/pulumi/pulumiDown.ts
  cluster/pulumi/sv/src/index.ts
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-1.scratcha.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-1.scratchb.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-1.scratchc.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-1.scratchd.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-1.scratche.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-2.scratcha.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-2.scratchb.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-2.scratchc.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-2.scratchd.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-2.scratche.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-3.scratcha.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-3.scratchb.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-3.scratchc.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-3.scratchd.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-3.scratche.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-da-1.scratcha.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-da-1.scratchb.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-da-1.scratchc.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-da-1.scratchd.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv-da-1.scratche.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv.scratcha.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv.scratchb.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv.scratchc.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv.scratchd.yaml
  cluster/stacks/scratchnets/sv/Pulumi.sv.sv.scratche.yaml
  cluster/stacks/scratchnets/sv/Pulumi.yaml
Due: typescriptfmt, pulumi_tests

Split troubleshooting section into subsections for readability
  docs/src/validator_operator/validator_disaster_recovery.rst
Due: copyright

Document workaround for OwnerToKeyMapping signature issue during validator recovery
  docs/src/validator_operator/validator_disaster_recovery.rst
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
