Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

Revert "Add trigger for periodic topology snapshots" (#3286)
  apps/app/src/main/resources/application.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PeriodicBackupIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PeriodicTopologySnapshotIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/NonDsoNonDevNetPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/SvNonDevNetPreflightintegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/DataExportTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/GcpConfig.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/BackupDump.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/GcpBucket.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/PeriodicTopologySnapshotTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvSvAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/NodeInitializerUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/domainmigration/DomainMigrationInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/joining/JoiningNodeInitializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  build.sbt
  cluster/deployment/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-sv-node/tests/sv_test.yaml
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-validator/src/backup.ts
  cluster/pulumi/common/src/topology-snapshot.ts
  project/Dependencies.scala
  test-full-class-names.log
Due: copyright, typescriptfmt, pulumi_config

config changes
  cluster/helm/splice-validator/templates/validator.yaml
Due: none

Daml: Fix DsoRules_ClaimExpiredRewards for ValidatorLicense weight
  daml/dars.lock
  daml/dars/splice-amulet-0.1.15.dar
  daml/dars/splice-amulet-name-service-0.1.16.dar
  daml/dars/splice-dso-governance-0.1.21.dar
  daml/dars/splice-wallet-0.1.15.dar
  daml/dars/splice-wallet-payments-0.1.15.dar
  daml/dars/splitwell-0.1.15.dar
  daml/splice-amulet-test/daml/Splice/Scripts/TestUnclaimedRewards.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestClaimExpiredRewards.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Support for granting ValidatorLicense via SV UI
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvMergeDuplicatedValidatorLicenseIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvValidatorLicenseIntegrationTest.scala
  apps/common/frontend-test-handlers/src/mocks/handlers/validator-licenses-handler.ts
  apps/common/frontend/src/components/ValidatorLicenses.tsx
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V053__validator_liveness_weight.sql
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTest.scala
  apps/scan/frontend/src/__tests__/scan.test.tsx
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
  apps/sv/frontend/src/__tests__/sv.test.tsx
  apps/sv/frontend/src/components/ValidatorOnboardingSecrets.tsx
  apps/sv/frontend/src/contexts/SvAdminServiceContext.tsx
  apps/sv/src/main/openapi/sv-internal.yaml
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvAdminAppClient.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/confirmation/SummarizingMiningRoundTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DsoTables.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
  docs/src/release_notes.rst
  scripts/scan-txlog/scan_txlog.py
  test-full-class-names.log
Due: copyright, typescriptfmt

Daml: Add DsoRules for ValidatorLicense weight change and withdrawal
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvTimeBasedOnboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvTestUtil.scala
  apps/common/frontend-test-handlers/src/mocks/helpers/dso-config-helper.ts
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceUtil.scala
  apps/package-lock.json
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanStoreTest.scala
  apps/sv/frontend/src/__tests__/utils/buildDsoRulesConfigFromChanges.test.ts
  apps/sv/frontend/src/utils/buildDsoConfigChanges.ts
  apps/sv/frontend/src/utils/buildDsoRulesConfigFromChanges.ts
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
  daml/dars.lock
  daml/dars/splice-amulet-0.1.15.dar
  daml/dars/splice-amulet-name-service-0.1.16.dar
  daml/dars/splice-dso-governance-0.1.21.dar
  daml/dars/splice-wallet-0.1.15.dar
  daml/dars/splice-wallet-payments-0.1.15.dar
  daml/dars/splitwell-0.1.15.dar
  daml/splice-amulet-test/daml/Splice/Scripts/TestValidatorFaucet.daml
  daml/splice-amulet/daml/Splice/ValidatorLicense.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestUtils.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestValidatorLicense.daml
  daml/splice-dso-governance/daml.yaml
  daml/splice-dso-governance/daml/Splice/DSO/VoteExecution.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references, typescriptfmt

cip-82: abstract replacement of dev fund configuration
  daml/splice-amulet-test/daml/Splice/Scripts/TestAmuletRulesTransfer.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestDevelopmentFundCoupon.daml
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update "required" in JSON Ledger API Specs
  canton/community/ledger/ledger-json-api/src/test/resources/json-api-docs/openapi.yaml
Due: none

wip
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/PerformanceRunner.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/DbSvDsoStoreIngestionPerformanceTest.scala
  build.sbt
  project/Dependencies.scala
  test-full-class-names-non-integration.log
Due: copyright

Unflake pruning things in `ManualStartIntegrationTest`
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
Due: copyright

Config changes
  cluster/helm/splice-validator/templates/validator.yaml
Due: none

fix
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
Due: copyright

fixing config
  cluster/helm/splice-validator/values-template.yaml
Due: none

pixel perfect sv ui vote headers and proposal details [ci]
  apps/sv/frontend/src/components/beta/MemberIdentifier.tsx
  apps/sv/frontend/src/components/governance/ActionRequiredSection.tsx
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
  apps/sv/frontend/src/components/governance/ProposalVoteForm.tsx
  apps/sv/frontend/src/components/governance/proposal-details/CreateUnallocatedUnclaimedActivityRecordSection.tsx
  apps/sv/frontend/src/components/governance/proposal-details/DetailItem.tsx
Due: copyright, typescriptfmt

partial ui test fixes [ci]
  apps/sv/frontend/src/__tests__/governance/governance-page.test.tsx
  apps/sv/frontend/src/__tests__/governance/proposal-details-content.test.tsx
  apps/sv/frontend/src/components/beta/MemberIdentifier.tsx
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
  apps/sv/frontend/src/components/governance/proposal-details/DetailItem.tsx
Due: copyright, typescriptfmt

full ui test fixes [ci]
  apps/sv/frontend/src/__tests__/governance/proposal-details-content.test.tsx
Due: copyright, typescriptfmt

CR remarks [ci]
  apps/sv/frontend/src/components/beta/CopyableIdentifier.tsx
  apps/sv/frontend/src/components/beta/MemberIdentifier.tsx
  apps/sv/frontend/src/components/beta/index.ts
  apps/sv/frontend/src/components/governance/ActionRequiredSection.tsx
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
Due: copyright, typescriptfmt

fix typing [ci]
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
Due: copyright, typescriptfmt

fix ui tests [ci]
  apps/sv/frontend/src/__tests__/governance/action-required-section.test.tsx
  apps/sv/frontend/src/__tests__/governance/proposal-details-content.test.tsx
  apps/sv/frontend/src/components/beta/CopyableIdentifier.tsx
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
Due: copyright, typescriptfmt

config fixes
  cluster/helm/splice-validator/templates/validator.yaml
Due: none

make cluster/pulumi/unit-test depend on build and add missing copyright headers
  cluster/pulumi/common/src/retries.test.ts
  cluster/pulumi/jest.config.ts
  cluster/pulumi/local.mk
Due: typescriptfmt, pulumi_config

bad script that does things
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/DownloadTxMainnet.scala
  test-full-class-names-non-integration.log
Due: copyright

Config changes
  cluster/helm/splice-validator/values-template.yaml
Due: none

Config changed
  cluster/helm/splice-validator/templates/validator.yaml
Due: none

SV UI Look&Feel: Voting Headers and Proposal Entries (#3270)
  apps/sv/frontend/src/__tests__/governance/action-required-section.test.tsx
  apps/sv/frontend/src/__tests__/governance/governance-page.test.tsx
  apps/sv/frontend/src/__tests__/governance/proposal-details-content.test.tsx
  apps/sv/frontend/src/components/beta/CopyableIdentifier.tsx
  apps/sv/frontend/src/components/beta/MemberIdentifier.tsx
  apps/sv/frontend/src/components/beta/index.ts
  apps/sv/frontend/src/components/governance/ActionRequiredSection.tsx
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
  apps/sv/frontend/src/components/governance/ProposalVoteForm.tsx
  apps/sv/frontend/src/components/governance/proposal-details/CreateUnallocatedUnclaimedActivityRecordSection.tsx
  apps/sv/frontend/src/components/governance/proposal-details/DetailItem.tsx
Due: copyright, typescriptfmt

cip-82: formatting
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/Issuance.daml
Due: copyright, dars_lock, no_illegal_daml_references

fix
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/CommonAppInstanceReferences.scala
Due: copyright

Unflake pruning things in `ManualStartIntegrationTest` (#3289)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/CommonAppInstanceReferences.scala
Due: copyright

get script to ingest dump
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/performance/tests/DbSvDsoStoreIngestionPerformanceTest.scala
  build.sbt
  project/Dependencies.scala
Due: copyright

Added new scan client schema
  cluster/helm/splice-validator/values.schema.json
  cluster/stacks/scratchnets/validator-runbook/Pulumi.sv-runbook-upgrade.scratcha.yaml
Due: none

removed unused files
  cluster/stacks/scratchnets/validator-runbook/Pulumi.sv-runbook-upgrade.scratcha.yaml
Due: none

add documentation for pulumi unit tests
  TESTING.md
Due: none

Edited validator.yaml
  cluster/helm/splice-validator/templates/validator.yaml
Due: none
