Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"printTests\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        exclude: "/[.]prettierrc[.]cjs$"
      - id: pulumi_config
        name: check pulumi configs
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^cluster/pulumi/.*[.]ts$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "actionlint"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [--report-level, WARNING]

Bump observation latency to 10s
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
Due: copyright

ValidatorApp: retry an early `listOwnerToKeyMapping` request (#3116)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/setup/NodeInitializer.scala
Due: copyright

Confirmation requests alerting fixes
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

0.4.23: backport various frontend testing fixes (#3114)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AllocationsFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AnsFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DockerComposeFullNetworkFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DockerComposeValidatorFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanFrontendTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SplitwellUpgradeFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletAuth0FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletFrontendTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSubscriptionsFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTransactionHistoryFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTransfersFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/reonboard/SvReOnboardPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvPreflightIntegrationTestBase.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/SvUiPreflightIntegrationTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/upgrades/DamlCIUpgradeVotePreflightTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/AnsFrontendTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/FrontendLoginUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SplitwellFrontendTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/SvFrontendTestUtil.scala
  apps/wallet/frontend/src/components/TransferOffers.tsx
Due: copyright, typescriptfmt

Confirmation requests alerting fixes (#3120)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

0.4.23 backport: Confirmation requests alerting fixes (#3120)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

0.4.22 backport: Confirmation requests alerting fixes (#3120)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

0.4.23 backport: Confirmation requests alerting fixes (#3120) (#3121)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

0.4.22 backport: Confirmation requests alerting fixes (#3120) (#3122)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

Bump observation latency to 10s (#3118)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
Due: copyright

Retry test submissions on `UNKNOWN_CONTRACT_SYNCHRONIZERS`
  canton/community/integration-testing/src/main/scala/com/digitalasset/canton/integration/EnvironmentSetup.scala
Due: copyright

[ci] Some improvements for tinyproxy support.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/unit/http/TinyProxySupport.scala
Due: copyright

[ci] init
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PruningIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
Due: copyright

[static] sign it
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SequencerPruningIntegrationTest.scala
  test-full-class-names.log
Due: copyright

Retry test submissions on `UNKNOWN_CONTRACT_SYNCHRONIZERS` (#3123)
  canton/community/integration-testing/src/main/scala/com/digitalasset/canton/integration/EnvironmentSetup.scala
Due: copyright

Revert "Add integration test for participant pruning (#3089)" (#3125)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SequencerPruningIntegrationTest.scala
  test-full-class-names.log
Due: copyright

[ci] trying with smaller acs interval
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/util/SvUtil.scala
Due: copyright

[static] Increase tps cap to 20
  apps/app/src/test/resources/include/sequencers.conf
  cluster/images/canton-cometbft-sequencer/app.conf
  cluster/images/canton-sequencer/app.conf
Due: none

[ci] Add pekko config support for http client proxy (#3111)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/unit/http/HttpClientProxyTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/unit/http/TinyProxySupport.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/http/HttpClient.scala
Due: copyright

[static] Increase tps cap to 20 (#3119)
  apps/app/src/test/resources/include/sequencers.conf
  cluster/images/canton-cometbft-sequencer/app.conf
  cluster/images/canton-sequencer/app.conf
Due: none

[ci] Fix sim time reward time advance
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/TimeTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/RoundBasedRewardTrigger.scala
Due: copyright

Upgrade Canton to 3.4.6-snapshot.20251107.17375.0.v0f29a2e4
  nix/canton-sources.json
Due: none

[ci] Fix sim time reward time advance (#3128)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/TimeTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/RoundBasedRewardTrigger.scala
Due: copyright

[ci] Fix sim time manual trigger run
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorLicenseMetadataTimeBasedIntegrationTest.scala
Due: copyright

[ci] change default schedule according to validator1
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
Due: copyright

Strip vetting transactions from dumps
  apps/app/src/test/resources/dumps/alice-kms-id-identity-dump.json
  apps/app/src/test/resources/dumps/alice-plaintext-id-identity-dump-2.json
  apps/app/src/test/resources/dumps/alice-plaintext-id-identity-dump.json
  apps/app/src/test/resources/dumps/sv2-kms-id-identity-dump.json
Due: none

[ci] fix static check
  test-full-class-names.log
Due: none

[ci] Fix sim time manual trigger run (#3130)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorLicenseMetadataTimeBasedIntegrationTest.scala
Due: copyright

Release notes for 0.5.0
  docs/src/release_notes.rst
Due: copyright

Upgrade Canton to 3.4.6-snapshot.20251107.17375.0.v0f29a2e4 (#3129)
  nix/canton-sources.json
Due: none

Strip vetting transactions from dumps (#3117)
  apps/app/src/test/resources/dumps/alice-kms-id-identity-dump.json
  apps/app/src/test/resources/dumps/alice-plaintext-id-identity-dump-2.json
  apps/app/src/test/resources/dumps/alice-plaintext-id-identity-dump.json
  apps/app/src/test/resources/dumps/sv2-kms-id-identity-dump.json
Due: none

address Moritz comments
  docs/src/release_notes.rst
Due: copyright

[ci] fix
  test-full-class-names.log
Due: none

Bump Canton to 3.4.6
  nix/canton-sources.json
Due: none

Release notes for 0.5.0 (#3131)
  docs/src/release_notes.rst
Due: copyright

Fix versions after 0.5.0 cut
  LATEST_RELEASE
  VERSION
  build-tools/find_latest_hard_migration_base_version.sh
Due: copyright

Bump Canton to 3.4.6 (#3132)
  nix/canton-sources.json
Due: none

Fix versions after 0.5.0 cut (#3133)
  LATEST_RELEASE
  VERSION
  build-tools/find_latest_hard_migration_base_version.sh
Due: copyright
