Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

try to fix test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuDRIntegrationTest.scala
Due: copyright

Bump canton to 3.5.1-snapshot.20260421.18733.0.va49ccc00 (#5137)
  nix/canton-sources.json
Due: none

Increase timeout to 40s, to accomodate circuite breaker timeout
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SplitwellIntegrationTest.scala
Due: copyright

run sv2 scan [ci]
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceConsoleEnvironment.scala
  apps/app/src/test/resources/minimal-topology-2svs.conf
Due: copyright

also sync successor pruning schedule
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
Due: copyright

fix restart test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuDRIntegrationTest.scala
Due: copyright

SplitwellIntegrationTest Increase timeout for GroupRequest Archival (#5138)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SplitwellIntegrationTest.scala
Due: copyright

[ci] fix
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/dar-resources-generator/src/main/scala/org/lfdecentralizedtrust/splice/darutils/DarResources.scala
  apps/package-lock.json
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  daml/dars.lock
  daml/dars/splice-amulet-0.1.19.dar
  daml/dars/splice-amulet-name-service-0.1.20.dar
  daml/dars/splice-api-token-allocation-instruction-v2-1.0.0.dar
  daml/dars/splice-api-token-allocation-request-v2-1.0.0.dar
  daml/dars/splice-api-token-allocation-v2-1.0.0.dar
  daml/dars/splice-api-token-holding-v2-1.0.0.dar
  daml/dars/splice-api-token-transfer-instruction-v2-1.0.0.dar
  daml/dars/splice-dso-governance-0.1.25.dar
  daml/dars/splice-test-token-v1-1.0.0.dar
  daml/dars/splice-test-token-v2-1.0.0.dar
  daml/dars/splice-token-standard-test-v1-1.0.12.dar
  daml/dars/splice-token-standard-test-v2-1.0.0.dar
  daml/dars/splice-token-standard-utils-2.0.0.dar
  daml/dars/splice-token-test-trading-app-1.0.2.dar
  daml/dars/splice-token-test-trading-app-v2-1.0.0.dar
  daml/dars/splice-util-token-standard-wallet-1.1.1.dar
  daml/dars/splice-wallet-0.1.20.dar
  daml/dars/splice-wallet-payments-0.1.19.dar
  daml/dars/splitwell-0.1.20.dar
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet/daml.yaml
  daml/splice-dso-governance/daml.yaml
  daml/splice-util-token-standard-wallet/daml.yaml
  daml/splice-wallet-payments/daml.yaml
  daml/splice-wallet-test/daml/Splice/Scripts/TestWallet.daml
  daml/splice-wallet/daml.yaml
  daml/splitwell/daml.yaml
  token-standard/examples/splice-test-token-v1/daml.yaml
  token-standard/examples/splice-test-token-v2/daml.yaml
  token-standard/examples/splice-token-test-trading-app-v2/daml.yaml
  token-standard/examples/splice-token-test-trading-app/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

maybe now?
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuDRIntegrationTest.scala
Due: copyright

[ci] add log
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
Due: copyright

replace legacyDatabaseName with frozenMigrationId and rename yieldManagement
  cluster/expected/canton-network/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/sv/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/synchronizer/participant.ts
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/common/src/secrets.ts
  cluster/pulumi/sv-canton/src/canton.ts
Due: typescriptfmt, pulumi_tests

[ci] fix damls that changed in main
  daml/dars.lock
  daml/dars/splice-amulet-0.1.18.dar
  daml/dars/splice-amulet-name-service-0.1.19.dar
  daml/dars/splice-dso-governance-0.1.24.dar
  daml/dars/splice-token-test-trading-app-1.0.0.dar
  daml/dars/splice-wallet-0.1.19.dar
  daml/dars/splice-wallet-payments-0.1.18.dar
  daml/dars/splitwell-0.1.19.dar
Due: none

[ci] apparently tests changedç
  daml/dars.lock
Due: none

[ci] fix exception warning
  daml/dars.lock
  daml/dars/splice-amulet-0.1.19.dar
  daml/dars/splice-amulet-name-service-0.1.20.dar
  daml/dars/splice-dso-governance-0.1.25.dar
  daml/dars/splice-token-standard-test-v1-1.0.12.dar
  daml/dars/splice-token-standard-test-v2-1.0.0.dar
  daml/dars/splice-wallet-0.1.20.dar
  daml/dars/splice-wallet-payments-0.1.19.dar
  daml/dars/splitwell-0.1.20.dar
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

fine you win, I'll just move it to a different test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
Due: copyright

implement participant migration procedure to enable LSU (#5120)
  cluster/expected/canton-network/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/sv/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/synchronizer/decentralizedSynchronizerNode.ts
  cluster/pulumi/common-sv/src/synchronizer/participant.ts
  cluster/pulumi/common-validator/src/participant.ts
  cluster/pulumi/common/src/config/migrationSchema.ts
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/common/src/secrets.ts
  cluster/pulumi/common/src/stackReferences.ts
  cluster/pulumi/deployment/src/stacks/splice.ts
  cluster/pulumi/splitwell/src/splitwell.ts
  cluster/pulumi/sv-canton/pulumi.ts
  cluster/pulumi/sv-canton/src/canton.ts
  cluster/pulumi/sv-canton/src/index.ts
  cluster/pulumi/sv-canton/src/installNode.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/sv-runbook/src/postgres.ts
  cluster/pulumi/sv/dump-config.ts
  cluster/pulumi/sv/pulumi.ts
  cluster/pulumi/sv/src/index.ts
  cluster/pulumi/sv/src/installNode.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
  cluster/pulumi/validator1/src/validator1.ts
Due: typescriptfmt, pulumi_tests

Add validator and restart to lsu roll forward test (#5133)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuDRIntegrationTest.scala
Due: copyright

one more ignore
  project/ignore-patterns/sbt-output.ignore.txt
Due: none

fix test assertion
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuIntegrationTest.scala
Due: copyright

[ci] fix test daml versions
  daml/dars.lock
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-test/daml.yaml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-util-token-standard-wallet-test/daml.yaml
  daml/splice-wallet-test/daml.yaml
  daml/splitwell-test/daml.yaml
Due: dars_lock, no_illegal_daml_references

issue-4594 (daml): remove try/catch handling in DsoRules_CloseVoteRequest + bumb versions + update daml tests
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  daml/dars.lock
  daml/dars/splice-dso-governance-0.1.24.dar
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestGovernance.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestSynchronizerMigration.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

issue-4594: update governnance dar after conflicts
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  daml/dars.lock
  daml/dars/splice-dso-governance-0.1.24.dar
Due: copyright

issue-4594 (scala): recover from exceptions in CloseVoteRequestTrigger
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/CloseVoteRequestTrigger.scala
Due: copyright

leftovers
  daml/dars.lock
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestSynchronizerMigration.daml
Due: copyright, dars_lock, no_illegal_daml_references

issue-4594 (testing): Ignore expected CloseVoteRequest failures (locked/inactive/missing contracts) due to concurrent closing in tests
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

issue-4594(daml): fix test
  daml/dars.lock
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestUtils.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestSynchronizerMigration.daml
Due: copyright, dars_lock, no_illegal_daml_references

Run sv2's scan under minimal-topology-2svs (#5139)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceConsoleEnvironment.scala
  apps/app/src/test/resources/minimal-topology-2svs.conf
Due: copyright

add muteTimeIntervals [static]
  cluster/configs/shared/base.yaml
  cluster/deployment/mock/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/observability/expected.json
  cluster/pulumi/observability/grafana-alerting/notification_policies/README.md
  cluster/pulumi/observability/src/config.ts
  cluster/pulumi/observability/src/observability.ts
Due: typescriptfmt, pulumi_tests

broken test
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SpliceLedgerConnection.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/environment/ActiveContractsRestartTest.scala
Due: copyright

[ci] fix darresources
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
Due: copyright

[ci] add grpcurl back
  canton/shell.nix
Due: none

Replace grpcurl w/ grpc-client-cli
  canton/community/app/src/pack/examples/08-interactive-submission/interactive_topology_example.sh
  canton/community/app/src/pack/examples/13-observability/canton/Dockerfile
  canton/community/app/src/pack/examples/13-observability/docker-compose-canton.yml
  canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/docs/SphinxDocumentationGenerator.scala
  canton/community/ledger/ledger-api-core/src/test/scala/com/digitalasset/canton/platform/apiserver/ratelimiting/RateLimitingInterceptorChecksSpec.scala
  canton/shell.nix
  cluster/compose/localnet/docker/canton/health-check.sh
  cluster/images/canton-domain/Dockerfile
  cluster/images/splice-debug/Dockerfile
  docs/src/sv_operator/sv_helm.rst
  docs/src/sv_operator/sv_major_upgrade.rst
  docs/src/validator_operator/validator_onboarding.rst
  nix/shell.nix
Due: copyright

issue-4594(testing) Broaden CI log ignore pattern for expected CloseVoteRequestTrigger races
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: none

Support configuring pruning for DABFT (#5105)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RollForwardLsuIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/SequencerAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/LocalSynchronizerNode.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/SvApp.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
