Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

Added another test
  daml/dars.lock
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestDecentralizedAutomation.daml
Due: copyright, dars_lock, no_illegal_daml_references

scalafmt [ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
Due: copyright

Added DSO assertion
  daml/dars.lock
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

more debug
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnection.scala
Due: copyright

add a switch for the logical synchronizer deployment mode
  cluster/expected/canton-network/expected.json
  cluster/expected/sv/expected.json
  cluster/pulumi/canton-network/src/canton.ts
  cluster/pulumi/common/src/config/migrationSchema.ts
  cluster/pulumi/sv-canton/package.json
  cluster/pulumi/sv-canton/pulumi.ts
  cluster/pulumi/sv-canton/src/canton.ts
  cluster/pulumi/sv-runbook/src/decentralizedSynchronizer.ts
  cluster/pulumi/sv/src/installNode.ts
Due: typescriptfmt, pulumi_tests

Fix 409 on external party setup proposal flake (#4175)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternallySignedPartyTestUtil.scala
Due: copyright

.
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnection.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/S3BucketConnectionForUnitTests.scala
Due: copyright

add provider party id to proposal summary [ci]
  apps/sv/frontend/src/__tests__/governance/forms/grant-revoke-featured-app-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/proposal-summary.test.tsx
  apps/sv/frontend/src/components/forms/GrantRevokeFeaturedAppForm.tsx
  apps/sv/frontend/src/components/governance/ProposalSummary.tsx
  apps/sv/frontend/src/components/votes/actions/RevokeFeaturedAppRight.tsx
Due: copyright, typescriptfmt

attempt to fix partially-upgrade-versions [static]
  scripts/partially-upgrade-versions.ts
Due: typescriptfmt

Fix reward coupons expiry batching (#2106)
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/ExpireRewardCouponsTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/delegatebased/SvTaskBasedTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/RestartDsoDelegateBasedAutomationTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
  cluster/expected/canton-network/expected.json
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/images/sv-app/app.conf
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common/src/automation.ts
Due: copyright, typescriptfmt, pulumi_tests

CIP-82: add integration tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundFrontendTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/FrontendLoginUtil.scala
  apps/wallet/frontend/src/components/DevelopmentFundAllocation.tsx
  apps/wallet/frontend/src/components/DevelopmentFundCouponList.tsx
  apps/wallet/frontend/src/components/DevelopmentFundTotal.tsx
  apps/wallet/frontend/src/contexts/WalletServiceContext.tsx
  apps/wallet/frontend/src/hooks/useActiveDevelopmentFundCoupons.ts
  apps/wallet/frontend/src/hooks/useDevelopmentFund.ts
  apps/wallet/frontend/src/hooks/useDevelopmentFundAllocationForm.ts
  apps/wallet/frontend/src/hooks/useIsDevelopmentFundManager.ts
Due: copyright, typescriptfmt

Update scripts/partially-upgrade-versions.ts
  scripts/partially-upgrade-versions.ts
Due: typescriptfmt

fix todo checker for static checks
  scripts/todo/src/checkTodos.sc
Due: none

fetchCheckedInterface (ForDso dso)
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

fix indentation [static]
  scripts/partially-upgrade-versions.ts
Due: typescriptfmt

fix indentation 2 [static]
  scripts/partially-upgrade-versions.ts
Due: typescriptfmt

add a switch for the logical synchronizer deployment mode (#4176)
  cluster/expected/canton-network/expected.json
  cluster/expected/sv/expected.json
  cluster/pulumi/canton-network/src/canton.ts
  cluster/pulumi/common/src/config/migrationSchema.ts
  cluster/pulumi/sv-canton/package.json
  cluster/pulumi/sv-canton/pulumi.ts
  cluster/pulumi/sv-canton/src/canton.ts
  cluster/pulumi/sv-runbook/src/decentralizedSynchronizer.ts
  cluster/pulumi/sv/src/installNode.ts
Due: typescriptfmt, pulumi_tests

Attempt to fix partially-upgrade-versions (#4178)
  scripts/partially-upgrade-versions.ts
Due: typescriptfmt

.
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/HasS3Mock.scala
Due: copyright

Implement reward accounting v2 for CIP-104
  build.sbt
  daml/dars.lock
  daml/dars/splice-api-reward-assignment-v1-1.0.0.dar
  daml/splice-amulet-name-service/daml/Splice/Ans/AmuletConversionRateFeed.daml
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet-test/daml/Splice/Scripts/TestLockAndAmuletExpiry.daml
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet-test/daml/Splice/Scripts/UnitTests/Amulet/CryptoHash.daml
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
  daml/splice-amulet/daml.yaml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/Amulet/CryptoHash.daml
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/AmuletConfig.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  daml/splice-amulet/daml/Splice/ExternalPartyConfigState.daml
  daml/splice-amulet/daml/Splice/Round.daml
  daml/splice-api-reward-assignment-v1/daml.yaml
  daml/splice-api-reward-assignment-v1/daml/Splice/Api/RewardAssignmentV1.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestRewardAccountingV2.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestUtils.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
  daml/splice-wallet-test/daml/Splice/Scripts/Wallet/TestMintingDelegation.daml
  docs/api-templates/splice-api-reward-assignment-v1-index-template.rst
  docs/src/app_dev/daml_api/index.rst
  docs/src/release_notes.rst
  docs/src/release_notes_upcoming.rst
  scripts/rename.sh
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry.daml
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry/Parameters.daml
Due: copyright, dars_lock, no_illegal_daml_references

.
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnection.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/HasS3Mock.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/S3BucketConnectionForUnitTests.scala
Due: copyright

longer timeout?
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/HasS3Mock.scala
Due: copyright

Generate DarResources.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResource.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/PackageIdResolver.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/PackageVetting.scala
  apps/dar-resources-generator/src/main/scala/org/lfdecentralizedtrust/splice/darutils/DarResources.scala
  apps/dar-resources-generator/src/main/scala/org/lfdecentralizedtrust/splice/darutils/DarResourcesGenerator.scala
  build.sbt
Due: copyright

[wip] Run store performance tests on CI
  .github/workflows/performance_tests.yml
Due: gha_lint

fix: handle optValidatorFaucetCap=0 and add integration test [ci]
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorFaucetCapZeroTimeBasedIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceUtil.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet-test/daml/Splice/Scripts/UnitTests/Issuance.daml
  daml/splice-amulet/daml.yaml
  daml/splice-amulet/daml/Splice/Issuance.daml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance/daml.yaml
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-util-token-standard-wallet-test/daml.yaml
  daml/splice-wallet-payments/daml.yaml
  daml/splice-wallet-test/daml.yaml
  daml/splice-wallet/daml.yaml
  daml/splitwell-test/daml.yaml
  daml/splitwell/daml.yaml
  test-full-class-names-sim-time.log
  token-standard/splice-token-standard-test/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanTimeBasedIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/S3BucketConnection.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/HasS3Mock.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
Due: copyright

Remived length assestion
  daml/dars.lock
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestDecentralizedAutomation.daml
Due: copyright, dars_lock, no_illegal_daml_references

use fetchChecked
  daml/dars.lock
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Used require
  daml/dars.lock
  daml/dars/splice-amulet-0.1.17.dar
  daml/dars/splice-amulet-name-service-0.1.18.dar
  daml/dars/splice-dso-governance-0.1.23.dar
  daml/dars/splice-wallet-0.1.18.dar
  daml/dars/splice-wallet-payments-0.1.17.dar
  daml/dars/splitwell-0.1.18.dar
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

.
  .github/workflows/build.yml
Due: gha_lint

Sketch for verdicts ingestion
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictsIngestionService.scala
Due: copyright

.
  .github/workflows/build.scala_test.yml
Due: copyright, gha_lint
