Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

Bump node type for record time tolerance tests
  .github/workflows/build.yml
Due: gha_lint

Add daml2js to static_test nix def (#3829)
  nix/shell.nix
Due: none

.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/TopologyAdminConnection.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SubmitSvStatusReportTrigger.scala
Due: copyright

Add fork changes for lsu traffic migration
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/SequencerAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/TrafficControlSequencerAdministrationGroup.scala
  canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/TrafficBalanceSupport.scala
  canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/upgrade/lsu/LSUCancellationIntegrationTest.scala
  canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/upgrade/lsu/LSUTrafficAccountingTest.scala
  canton/community/app/src/test/scala/com/digitalasset/canton/version/SerializationDeserializationTest.scala
  canton/community/base/src/main/scala/com/digitalasset/canton/protocol/SequencerError.scala
  canton/community/integration-testing/src/main/scala/com/digitalasset/canton/integration/EnvironmentDefinition.scala
  canton/community/integration-testing/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/ProgrammableSequencer.scala
  canton/community/synchronizer/src/main/protobuf/com/digitalasset/canton/sequencer/admin/v30/sequencer_administration_service.proto
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/DatabaseSequencer.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/Sequencer.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/SequencerReader.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/block/BlockSequencer.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/traffic/LSUTrafficState.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/traffic/SequencerRateLimitManager.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/service/GrpcSequencerAdministrationService.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/SequencerRateLimitManagerImpl.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/store/TrafficConsumedStore.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/store/TrafficPurchasedStore.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/store/db/DbTrafficConsumedStore.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/store/db/DbTrafficPurchasedStore.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/store/memory/InMemoryTrafficConsumedStore.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/store/memory/InMemoryTrafficPurchasedStore.scala
  canton/community/synchronizer/src/test/scala/com/digitalasset/canton/synchronizer/sequencer/BaseSequencerTest.scala
  canton/community/synchronizer/src/test/scala/com/digitalasset/canton/synchronizer/sequencer/GeneratorsSequencer.scala
Due: copyright

Add package for creating markers in a single view
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BatchedFeaturedAppActivityMarkerIntegrationTest.scala
  build.sbt
  daml/dars.lock
  daml/dars/splice-util-batched-markers-1.0.0.dar
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-batched-markers-test/daml/Splice/Util/FeaturedApp/UnitTests/BatchedMarkersProxy.daml
  daml/splice-util-batched-markers/daml.yaml
  daml/splice-util-batched-markers/daml/Splice/Util/FeaturedApp/BatchedMarkersProxy.daml
  docs/api-templates/splice-util-batched-markers-index-template.rst
  docs/src/app_dev/daml_models/index.rst
  scripts/check-daml-warts.sh
  scripts/scan-txlog/scan_txlog.py
  test-full-class-names.log
Due: copyright, dars_lock, no_illegal_daml_references

Fix scan parsing
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/ContractCompanions.scala
  build.sbt
  daml/splice-util-batched-markers/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

Unflake UpdateHistorySanityCheckPlugin cleanup
  apps/app/src/test/resources/include/scans/_scan.conf
Due: none

Include binary as well
  nix/canton-sources.json
  project/CantonDependencies.scala
Due: copyright

I'm dumb
  apps/app/src/test/resources/include/scans/_scan.conf
Due: none

Bump node type for record time tolerance tests (#3830)
  .github/workflows/build.yml
Due: gha_lint

unit test for ext txn hash
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
Due: copyright

fix typo
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
Due: copyright

Fix non apps node pool location
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

Fix non apps node pool location (#3835)
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

Fix non apps node pool location (#3835) (#3838)
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

Unflake UpdateHistorySanityCheckPlugin cleanup (#3832)
  apps/app/src/test/resources/include/scans/_scan.conf
Due: none

Fix non apps node pool location (#3835) (#3837)
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

.
  nix/shell.nix
Due: none

clean up test
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
Due: copyright

make martin happy
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BatchedFeaturedAppActivityMarkerIntegrationTest.scala
Due: copyright

refactor: rename StoreTest to StoreTestBase
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/KeyValueStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/TransferInputStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/TxLogBackfillingStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/util/ValueJsonCodecCodegenTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanKeyValueProviderTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/AcsSnapshotStoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanAggregatorTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanStoreTest.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvSvStoreTest.scala
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorConfigProviderTest.scala
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorStoreTest.scala
Due: copyright

[ci] Test cache functions
  .github/actions/cache/daml_artifacts/restore/action.yml
  .github/actions/cache/daml_artifacts/save/action.yml
  .github/actions/cache/frontend_node_modules/restore/action.yml
  .github/actions/cache/frontend_node_modules/save/action.yml
  .github/actions/cache/precompiled_classes/restore/action.yml
  .github/actions/cache/precompiled_classes/save/action.yml
  .github/actions/scripts/archive_precompiled_classes.sh
  .github/actions/scripts/extract_precompiled_classes.sh
Due: copyright, gha_lint

Add fork changes for lsu traffic migration (#3831)
  canton/community/app-base/src/main/scala/com/digitalasset/canton/admin/api/client/commands/SequencerAdminCommands.scala
  canton/community/app-base/src/main/scala/com/digitalasset/canton/console/commands/TrafficControlSequencerAdministrationGroup.scala
  canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/TrafficBalanceSupport.scala
  canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/upgrade/lsu/LSUCancellationIntegrationTest.scala
  canton/community/app/src/test/scala/com/digitalasset/canton/integration/tests/upgrade/lsu/LSUTrafficAccountingTest.scala
  canton/community/app/src/test/scala/com/digitalasset/canton/version/SerializationDeserializationTest.scala
  canton/community/base/src/main/scala/com/digitalasset/canton/protocol/SequencerError.scala
  canton/community/integration-testing/src/main/scala/com/digitalasset/canton/integration/EnvironmentDefinition.scala
  canton/community/integration-testing/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/ProgrammableSequencer.scala
  canton/community/synchronizer/src/main/protobuf/com/digitalasset/canton/sequencer/admin/v30/sequencer_administration_service.proto
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/DatabaseSequencer.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/Sequencer.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/SequencerReader.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/block/BlockSequencer.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/traffic/LSUTrafficState.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencer/traffic/SequencerRateLimitManager.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/service/GrpcSequencerAdministrationService.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/SequencerRateLimitManagerImpl.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/store/TrafficConsumedStore.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/store/TrafficPurchasedStore.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/store/db/DbTrafficConsumedStore.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/store/db/DbTrafficPurchasedStore.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/store/memory/InMemoryTrafficConsumedStore.scala
  canton/community/synchronizer/src/main/scala/com/digitalasset/canton/synchronizer/sequencing/traffic/store/memory/InMemoryTrafficPurchasedStore.scala
  canton/community/synchronizer/src/test/scala/com/digitalasset/canton/synchronizer/sequencer/BaseSequencerTest.scala
  canton/community/synchronizer/src/test/scala/com/digitalasset/canton/synchronizer/sequencer/GeneratorsSequencer.scala
  nix/canton-sources.json
  nix/shell.nix
  project/CantonDependencies.scala
Due: copyright

scalafmt
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
Due: copyright

do transfer traffic
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
Due: copyright

Add package for creating markers in a single view (#3822)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BatchedFeaturedAppActivityMarkerIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/ContractCompanions.scala
  build.sbt
  daml/dars.lock
  daml/dars/splice-util-batched-markers-1.0.0.dar
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-batched-markers-test/daml/Splice/Util/FeaturedApp/UnitTests/BatchedMarkersProxy.daml
  daml/splice-util-batched-markers/daml.yaml
  daml/splice-util-batched-markers/daml/Splice/Util/FeaturedApp/BatchedMarkersProxy.daml
  docs/api-templates/splice-util-batched-markers-index-template.rst
  docs/src/app_dev/daml_models/index.rst
  scripts/check-daml-warts.sh
  scripts/scan-txlog/scan_txlog.py
  test-full-class-names.log
Due: copyright, dars_lock, no_illegal_daml_references

Refactor: rename StoreTest to StoreTestBase (#3839)
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/KeyValueStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/MultiDomainAcsStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/TransferInputStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/TxLogBackfillingStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/db/DbMultiDomainAcsStoreTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/util/ValueJsonCodecCodegenTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodingsTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanEventStoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/ScanKeyValueProviderTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/AcsSnapshotStoreTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanAggregatorTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/db/ScanStoreTest.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvSvStoreTest.scala
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorConfigProviderTest.scala
  apps/validator/src/test/scala/org/lfdecentralizedtrust/splice/validator/store/ValidatorStoreTest.scala
Due: copyright

rename UpdateHistoryTestBase to UpdateHistoryStoreTestBase
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/UpdateHistoryTestUtil.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryBackfillingTest.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryStoreTestBase.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/store/ScanHistoryBackfillingTest.scala
Due: copyright

rename UpdateHistoryTest UpdateHistoryStoreTest
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/UpdateHistoryStoreTest.scala
Due: copyright

support longer periods between acs snapshots in bulk storage (#3818)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTrigger.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanStorageConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorage.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/automation/AcsSnapshotTriggerTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/AcsSnapshotBulkStorageTest.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorageTest.scala
Due: copyright

Wait for party resolution in wallet tx log test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTransactionHistoryFrontendTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletFrontendTestUtil.scala
Due: copyright

bump canton to 3.4.11-snapshot.20260204.17552.0.v06209e0f
  nix/canton-sources.json
Due: none

Ignore submission timeout in simtime tests
  project/ignore-patterns/canton_log_simtime_extra.ignore.txt
Due: none

.
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/bulk/UpdateHistoryBulkStorage.scala
Due: copyright

add http at port 443 to istio gateway in GKE ALB mode [skip ci]
  cluster/pulumi/infra/src/index.ts
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_tests

Synchronize on validator liveness record before advancing rounds
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/RewardExpiryIntegrationTest.scala
Due: copyright

[ci] capitalization and more
  apps/sv/frontend/src/utils/buildAmuletConfigChanges.ts
  apps/sv/frontend/src/utils/buildDsoConfigChanges.ts
Due: typescriptfmt

bump canton to 3.4.11-snapshot.20260204.17552.0.v06209e0f (#3842)
  nix/canton-sources.json
Due: none
