Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

[static] Set numThreads for all the scala apps
  cluster/helm/splice-cluster-ingress-runbook/values-template.yaml
  cluster/helm/splice-cometbft/values-template.yaml
  cluster/helm/splice-domain/values-template.yaml
  cluster/helm/splice-global-domain/values-template.yaml
  cluster/helm/splice-istio-gateway/values-template.yaml
  cluster/helm/splice-participant/values-template.yaml
  cluster/helm/splice-scan/values-template.yaml
  cluster/helm/splice-splitwell-app/values-template.yaml
  cluster/helm/splice-sv-node/values-template.yaml
  cluster/helm/splice-validator/values-template.yaml
Due: none

[static] .
  cluster/helm/splice-cometbft/values-template.yaml
  docs/src/release_notes.rst
Due: copyright

[static] Set numThreads for all the scala apps (#2544)
  cluster/helm/splice-cluster-ingress-runbook/values-template.yaml
  cluster/helm/splice-domain/values-template.yaml
  cluster/helm/splice-global-domain/values-template.yaml
  cluster/helm/splice-istio-gateway/values-template.yaml
  cluster/helm/splice-participant/values-template.yaml
  cluster/helm/splice-scan/values-template.yaml
  cluster/helm/splice-splitwell-app/values-template.yaml
  cluster/helm/splice-sv-node/values-template.yaml
  cluster/helm/splice-validator/values-template.yaml
  docs/src/release_notes.rst
Due: copyright

[static] Enable party topology metrics by default for the sv validators in our clusters
  cluster/deployment/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
Due: none

Add amulet form conflict detection (#2543)
  apps/sv/frontend/src/__tests__/governance/forms/pending-fields.test.tsx
  apps/sv/frontend/src/__tests__/utils/buildAmuletRulesConfigFromChanges.test.tsx
  apps/sv/frontend/src/components/form-components/ConfigField.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/utils/buildAmuletRulesConfigFromChanges.ts
  apps/sv/frontend/src/utils/governance.ts
Due: copyright, typescriptfmt

Remove zip bundle
  create-bundle.sh
Due: copyright

[static]
  docs/src/release_notes.rst
Due: copyright

Remove zip bundle (#2551)
  create-bundle.sh
Due: copyright

Use sbt --client in make files (#2538)
  Makefile
Due: none

Upgrade Canton to 3.3.0-snapshot.20251006.16121.0.vde8ebe95
  nix/canton-sources.json
Due: none

Upgrade Canton to 3.3.0-snapshot.20251006.16121.0.vde8ebe95 (#2555)
  nix/canton-sources.json
Due: none

Add release notes for validator onboarding with party hint (#2554)
  docs/src/release_notes.rst
Due: copyright

Handle execute as rights in dumps
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/common/src/main/openapi/common-internal.yaml
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/ParticipantUsersData.scala
Due: copyright

format
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/ParticipantUsersData.scala
Due: copyright

[static] Enable party topology metrics by default for the sv validators in our clusters (#2548)
  cluster/deployment/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
Due: none

Add config diffs for amulet rules forms [ci]
  apps/common/frontend/src/components/index.ts
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
Due: copyright, typescriptfmt

Add config diffs for amulet rules forms [ci] (#2557)
  apps/common/frontend/src/components/index.ts
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
  apps/sv/frontend/src/components/forms/SetAmuletConfigRulesForm.tsx
  apps/sv/frontend/src/components/forms/SetDsoConfigRulesForm.tsx
Due: copyright, typescriptfmt

Allow proposal voting after threshold deadline [ci]
  apps/sv/frontend/src/__tests__/governance/proposal-details-content.test.tsx
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
  apps/sv/frontend/src/routes/voteRequestDetails.tsx
  apps/sv/frontend/src/utils/types.ts
Due: copyright, typescriptfmt

Extra test [ci]
  apps/sv/frontend/src/__tests__/governance/proposal-details-content.test.tsx
Due: copyright, typescriptfmt

[static] bump timeout in cncluster wait
  build-tools/cncluster
Due: none

[static] more retries
  .github/actions/tests/skip_on_static/action.yml
Due: gha_lint

Update localnet.rst
  docs/src/app_dev/testing/localnet.rst
Due: copyright

apparently adding tests was actually useful
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ledger/api/LedgerClient.scala
Due: copyright

[ci] init
  cluster/expected/canton-network/expected.json
  cluster/expected/infra/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/common/src/config/migrationSchema.ts
  cluster/pulumi/common/src/domainMigration.ts
  cluster/pulumi/common/src/helm.ts
Due: typescriptfmt, pulumi_config

Handle execute as rights in dumps (#2556)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/common/src/main/openapi/common-internal.yaml
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ledger/api/LedgerClient.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/migration/ParticipantUsersData.scala
Due: copyright

[static] longer retries on backup conflicts
  cluster/scripts/node-backup.sh
Due: copyright

Allow voting after threshold deadline (#2559)
  apps/sv/frontend/src/__tests__/governance/proposal-details-content.test.tsx
  apps/sv/frontend/src/components/governance/ProposalDetailsContent.tsx
  apps/sv/frontend/src/routes/voteRequestDetails.tsx
  apps/sv/frontend/src/utils/types.ts
Due: copyright, typescriptfmt

longer retries on backup conflicts (#2565)
  cluster/scripts/node-backup.sh
Due: copyright

more retries (#2561)
  .github/actions/tests/skip_on_static/action.yml
Due: gha_lint

bump timeout in cncluster wait (#2560)
  build-tools/cncluster
Due: none

[static] add debug output to docker commands
  build-tools/docker-push
  build-tools/prefix-output
  cluster/images/local.mk
Due: none

[static] a bit less
  build-tools/docker-push
Due: none

[static] Enable party topology metrics by default for the sv validators in our clusters (#2548) (#2558)
  cluster/deployment/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
Due: none

[ci] Set -XX:ActiveProcessorCount to the same value as scala numThreads
  cluster/helm/splice-domain/values-template.yaml
  cluster/helm/splice-global-domain/values-template.yaml
  cluster/helm/splice-participant/values-template.yaml
  cluster/helm/splice-scan/values-template.yaml
  cluster/helm/splice-splitwell-app/values-template.yaml
  cluster/helm/splice-sv-node/values-template.yaml
  cluster/helm/splice-validator/values-template.yaml
  docs/src/release_notes.rst
Due: copyright

Set unbounded deadline for acs import command
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/AppConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
Due: copyright

[ci] Set -XX:ActiveProcessorCount to the same value as scala numThreads (#2568)
  cluster/helm/splice-domain/values-template.yaml
  cluster/helm/splice-global-domain/values-template.yaml
  cluster/helm/splice-participant/values-template.yaml
  cluster/helm/splice-scan/values-template.yaml
  cluster/helm/splice-splitwell-app/values-template.yaml
  cluster/helm/splice-sv-node/values-template.yaml
  cluster/helm/splice-validator/values-template.yaml
  docs/src/release_notes.rst
Due: copyright

Set unbounded deadline for acs import command (#2569)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/AppConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminConnection.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
