Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

[static] cleanup unused arguments in cncluster commands
  build-tools/cncluster
  build-tools/lib/hard-domain-migration-commands
Due: none

[ci] impl
  apps/app/src/test/resources/frontend-config.jsonnet
  apps/scan/frontend/public/config.js
  apps/scan/frontend/src/App.tsx
  apps/scan/frontend/src/__tests__/setup/config.ts
  apps/scan/frontend/src/api/TokenMetadataClientContext.tsx
  apps/scan/frontend/src/components/AmountSummary.tsx
  apps/scan/frontend/src/components/TotalAmuletBalance.tsx
  apps/scan/frontend/src/hooks/useAmuletMetadata.tsx
  apps/scan/frontend/src/utils/config.tsx
  cluster/images/scan-web-ui/config.js
Due: copyright, typescriptfmt

test invalid user agent submission [skip ci]
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanIntegrationTest.scala
Due: copyright

commented ignore-illegal-header-for [skip ci]
  apps/app/src/main/resources/application.conf
Due: none

Update tokenomics docs with CC fee removal
  docs/src/background/tokenomics/cc_transfer_splice_wallet_tokenomics.rst
Due: copyright

Update tokenomics docs with CC fee removal (#2360)
  docs/src/background/tokenomics/cc_transfer_splice_wallet_tokenomics.rst
Due: copyright

Add EventHistorySanityCheckPlugin
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/EventHistorySanityCheckPlugin.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/UpdateHistorySanityCheckPlugin.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SpliceTests.scala
Due: copyright

Disable EventHistorySanityCheckPlugin on tests doing restart of scan-apps
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AppUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BftScanConnectionIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DecentralizedSynchronizerMigrationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DisasterRecoveryIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ManualStartIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ParticipantKmsIdentitiesEnterpriseIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanHistoryBackfillingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanWithGradualStartsTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SequencerPruningIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvInitializationIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOffboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingConfigIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingViaNonFoundingSvIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvTimeBasedOnboardingIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/connectivity/SvNoSynchronizerConnectivityIntegrationTest.scala
Due: copyright

Upgrade Canton to 3.3.0-snapshot.20250923.16104.0.v8c8d2f08
  nix/canton-sources.json
Due: none

Change traffic waste alerts to alert on quantile (#2314)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

Upgrade Canton to 3.3.0-snapshot.20250923.16104.0.v8c8d2f08 (#2364)
  nix/canton-sources.json
Due: none

Change traffic waste alerts to alert on quantile (#2314) (#2367)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

Change traffic waste alerts to alert on quantile (#2314) (#2366)
  cluster/deployment/config.yaml
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/traffic_alerts.yaml
  cluster/pulumi/infra/src/config.ts
  cluster/pulumi/infra/src/observability.ts
Due: typescriptfmt, pulumi_config

Fix, ignore empty list
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/EventHistorySanityCheckPlugin.scala
Due: copyright

[ci] init
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/UpdateHistorySanityCheckPlugin.scala
Due: copyright

[ci] second attempt
  build.sbt
Due: none

fix runbook
  cluster/pulumi/sv-runbook/dump-config.ts
  cluster/pulumi/sv-runbook/src/config.ts
  cluster/pulumi/sv-runbook/src/index.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[ci] third attempt, now assuming that my setup is just broken
  build.sbt
Due: none

Pulumi: make more SV-related GCP secrets customizable (#2352)
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/pulumi/canton-network/src/dso.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common-sv/src/svConfigs.ts
  cluster/pulumi/common/src/dump-config-common.ts
  cluster/pulumi/common/src/secrets.ts
  cluster/pulumi/sv-runbook/dump-config.ts
  cluster/pulumi/sv-runbook/src/config.ts
  cluster/pulumi/sv-runbook/src/index.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

[static] init
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
Due: copyright

[static] nit
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
Due: copyright

Support `lnav docker://canton`
  TESTING.md
  canton/canton-json.lnav.json
Due: none

[ci] fix configs
  apps/app/src/test/resources/frontend-config.jsonnet
  apps/common/frontend/src/api/scan/ScanClientContext.tsx
  apps/scan/frontend/public/config.js
  apps/scan/frontend/src/App.tsx
  apps/scan/frontend/src/__tests__/scan.test.tsx
  apps/scan/frontend/src/__tests__/setup/config.ts
  apps/scan/frontend/src/api/TokenMetadataClientContext.tsx
  apps/scan/frontend/src/utils/config.tsx
  apps/splitwell/frontend/src/App.tsx
  cluster/images/scan-web-ui/config.js
Due: copyright, typescriptfmt

Disable statement logging for test postgres instances
  scripts/postgres.sh
Due: copyright

Remove nested suppression in validator-runbook preflight (#2370)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/ValidatorPreflightIntegrationTest.scala
Due: copyright

Run ScanIntegrationTest with zero fees
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanIntegrationTest.scala
Due: copyright

Support `lnav docker://canton` (#2371)
  TESTING.md
  canton/canton-json.lnav.json
Due: none

Disable statement logging for test postgres instances (#2363)
  scripts/postgres.sh
Due: copyright

[ci] this worked once and now i get weird errors so maybe it's fine
  token-standard/package-lock.json
  token-standard/package.json
Due: none

[ci] fix scan ui tests
  apps/scan/frontend/src/__tests__/mocks/browser.ts
  apps/scan/frontend/src/__tests__/mocks/handlers/scan-api.ts
Due: typescriptfmt

Run ScanIntegrationTest with zero fees (#2359)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanIntegrationTest.scala
Due: copyright

[ci] fix FE simtime test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanFrontendTimeBasedIntegrationTest.scala
Due: copyright

Upgrade Canton to 3.3.0-snapshot.20250923.16106.0.veabc66b6
  nix/canton-sources.json
Due: none

[ci] my sanity check
  project/BuildCommon.scala
Due: copyright

[ci] prevent CLI and token-metadata npmInstalls from executing concurrently
  build.sbt
  project/BuildCommon.scala
Due: copyright

Upgrade Canton to 3.3.0-snapshot.20250923.16106.0.veabc66b6 (#2375)
  nix/canton-sources.json
Due: none

[ci] image change
  .github/workflows/build.ts_cli_tests.yml
Due: gha_lint

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
