Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_tests:
  name: run pulumi tests and check expected files
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: scripts/actionlint.sh
  pass_filenames: false

[ci] cleanups
  project/BuildCommon.scala
Due: copyright

[ci] .
  nix/overlays.nix
  nix/shell.nix
Due: none

[ci] add dpm-sdk to static checks nix
  nix/shell.nix
Due: none

1000 istio policies does not work; use larger chunks to avoid [static]
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_tests

[ci] darResources
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
Due: copyright

[ci] versions
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  daml/dars.lock
  daml/dars/splice-amulet-0.1.18.dar
  daml/dars/splice-amulet-name-service-0.1.20.dar
  daml/dars/splice-dso-governance-0.1.25.dar
  daml/dars/splice-token-test-dummy-holding-0.0.3.dar
  daml/dars/splice-token-test-trading-app-1.0.1.dar
  daml/dars/splice-util-0.1.6.dar
  daml/dars/splice-util-batched-markers-1.0.2.dar
  daml/dars/splice-util-featured-app-proxies-1.2.3.dar
  daml/dars/splice-util-token-standard-wallet-1.0.1.dar
  daml/dars/splice-validator-lifecycle-0.1.7.dar
  daml/dars/splice-wallet-0.1.19.dar
  daml/dars/splice-wallet-payments-0.1.18.dar
  daml/dars/splitwell-0.1.19.dar
  daml/splice-amulet-name-service-test/daml.yaml
  daml/splice-amulet-name-service/daml.yaml
  daml/splice-amulet-test/daml.yaml
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-featured-app-proxies-test/daml.yaml
  daml/splice-util-featured-app-proxies/daml.yaml
  daml/splice-util-token-standard-wallet-test/daml.yaml
  daml/splice-util-token-standard-wallet/daml.yaml
  daml/splice-util/daml.yaml
  daml/splice-validator-lifecycle-test/daml.yaml
  daml/splice-wallet-test/daml.yaml
  daml/splitwell-test/daml.yaml
  token-standard/splice-token-standard-test/daml.yaml
Due: copyright, dars_lock, no_illegal_daml_references

unprotect
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/deployment/scratchnete/config.yaml
  cluster/expected/multi-validator/expected.json
Due: pulumi_tests

fix protected config
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

fix: extend log level config to validator compose and docs (#721) [ci]
  cluster/compose/validator/compose.yaml
  docs/src/deployment/troubleshooting.rst
Due: copyright, pulumi_tests

add links [static]
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_tests

remove scratch config [static]
  cluster/configs/shared/scratchnet.yaml
Due: pulumi_tests

reprotect and switch back to 10 svs
  cluster/deployment/scratchnete/.envrc.vars
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

Make beneficiary optional in RewardCouponV2
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet-test/daml/Splice/Scripts/Util.daml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestRewardAccountingV2.daml
  daml/splice-wallet-test/daml/Splice/Scripts/Wallet/TestMintingDelegation.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add splice-api-reward-assignment-v1
  daml/splice-api-reward-assignment-v1/daml.yaml
  daml/splice-api-reward-assignment-v1/daml/Splice/Api/RewardAssignmentV1.daml
Due: copyright, dars_lock, no_illegal_daml_references

Return coupons grouped by party
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-api-reward-assignment-v1/daml/Splice/Api/RewardAssignmentV1.daml
Due: copyright, dars_lock, no_illegal_daml_references

Build.sbt splice-api-reward-assignment-v1
  build.sbt
Due: none

Use weight: Decimal
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-api-reward-assignment-v1/daml/Splice/Api/RewardAssignmentV1.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add MintingDelegation_AssignAndMint
  daml/splice-wallet-test/daml.yaml
  daml/splice-wallet-test/daml/Splice/Scripts/Wallet/TestMintingDelegation.daml
  daml/splice-wallet/daml.yaml
  daml/splice-wallet/daml/Splice/Wallet/MintingDelegation.daml
Due: copyright, dars_lock, no_illegal_daml_references

Do batched process of coupons
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-api-reward-assignment-v1/daml/Splice/Api/RewardAssignmentV1.daml
Due: copyright, dars_lock, no_illegal_daml_references

SvDsoStore, rewardParty fix
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
Due: copyright

docs splice-api-reward-assignment-v1
  docs/api-templates/splice-api-reward-assignment-v1-index-template.rst
Due: copyright

interface for RewardCouponV2
  daml/splice-amulet-test/daml.yaml
  daml/splice-amulet-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
  daml/splice-amulet/daml.yaml
  daml/splice-amulet/daml/Splice/Amulet.daml
Due: copyright, dars_lock, no_illegal_daml_references

bump version and reshuffle
  cluster/configs/shared/scratch-default-synchronizer-migration.yaml
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

Capture trace id in istio logs (#4650)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_tests

require onboarding secrets for multi-validators
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

add ci-test-results grafana dashboard
  cluster/expected/observability/expected.json
  cluster/pulumi/observability/grafana-dashboards/testing/ci-test-results.json
Due: none

remove onboarding secrets again
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/deployment/scratchnete/config.yaml
Due: pulumi_tests

[static]
  cluster/pulumi/observability/grafana-dashboards/testing/ci-test-results.json
Due: none

fix timezone
  cluster/expected/observability/expected.json
  cluster/pulumi/observability/grafana-dashboards/testing/ci-test-results.json
Due: none

implement participant migration procedure to enable LSU
  cluster/expected/canton-network/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/sv/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/synchronizer/decentralizedSynchronizerNode.ts
  cluster/pulumi/common-sv/src/synchronizer/participant.ts
  cluster/pulumi/common-validator/src/participant.ts
  cluster/pulumi/common/src/config/migrationSchema.ts
  cluster/pulumi/common/src/postgres.ts
  cluster/pulumi/common/src/secrets.ts
  cluster/pulumi/common/src/stackReferences.ts
  cluster/pulumi/deployment/src/stacks/splice.ts
  cluster/pulumi/splitwell/src/splitwell.ts
  cluster/pulumi/sv-canton/pulumi.ts
  cluster/pulumi/sv-canton/src/canton.ts
  cluster/pulumi/sv-canton/src/index.ts
  cluster/pulumi/sv-canton/src/installNode.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/sv-runbook/src/postgres.ts
  cluster/pulumi/sv/dump-config.ts
  cluster/pulumi/sv/pulumi.ts
  cluster/pulumi/sv/src/index.ts
  cluster/pulumi/sv/src/installNode.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
  cluster/pulumi/validator1/src/validator1.ts
Due: typescriptfmt, pulumi_tests

pass secrets to actions
  .github/workflows/cleanup-nix-cache.yml
Due: gha_lint

deploy legacy
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetc/config.yaml
Due: pulumi_tests

Add ci-test-results grafana dashboard (#5061)
  cluster/expected/observability/expected.json
  cluster/pulumi/observability/grafana-dashboards/testing/ci-test-results.json
Due: none

migrate
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetc/config.yaml
Due: pulumi_tests

bump gcp
  cluster/pulumi/common/package.json
  cluster/pulumi/package-lock.json
Due: none

pass secrets as inputs
  .github/workflows/cleanup-nix-cache.yml
Due: gha_lint

Bump splice-shared-gha version to the latest (auto-generated) (#4935)
  .github/workflows/cleanup-nix-cache.yml
Due: gha_lint

update GCP provider and correct user import ID format
  cluster/pulumi/common/src/postgres.ts
  nix/extra-pulumi-packages.nix
  nix/generate_pulumi_packages.sh
Due: copyright, typescriptfmt, pulumi_tests

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)
  pulumi_tests: any of: ^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$
  gha_lint: any of: ^.github/.*$
