Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

Add a copy of the sequencer_inspection_service proto
  apps/scan/src/main/protobuf/sequencer_inspection_service.proto
Due: none

Use TimestampWithMigrationId
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
Due: copyright

Add a table that stores the sequencer_inspection_sequencer
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V055__sequencer_traffic_summary_store.sql
Due: none

Update ScanApp with the SequencerTraffic ingestion
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/metrics/ScanAppMetrics.scala
Due: copyright

Remove the now unused additions to AcsJdbcTypes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/unit/store/db/AcsJdbcTypesTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
Due: copyright

Add support functions to AcsJdbcTypes
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/unit/store/db/AcsJdbcTypesTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/db/AcsJdbcTypes.scala
Due: copyright

Use a single scan ingestion automation service
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanIngestionAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/SequencerTrafficSummaryAutomationService.scala
Due: copyright

Add automation to ingest GetConfirmationRequestTrafficSummariesResponse
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/SequencerTrafficSummaryAutomationService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/SequencerTrafficSummaryStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/config/ScanAppConfig.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/metrics/ScanSequencerTrafficIngestionMetrics.scala
Due: copyright

Use a union of queries to use the index better
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/db/DbSequencerTrafficSummaryStore.scala
Due: copyright

Rename Scan{Verdict,Ingestion}AutomationService
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/ScanApp.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanIngestionAutomationService.scala
Due: copyright

Refactor ScanVerdict and SequencerTrafficSummary ingestion
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/StreamIngestionService.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/ScanVerdictStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/automation/SequencerTrafficSummaryStoreIngestion.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/metrics/StreamIngestionMetrics.scala
Due: copyright

Support weighted app markers
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BatchedFeaturedAppActivityMarkerIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/RetryProvider.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/ContractCompanions.scala
  apps/package-lock.json
  build.sbt
  daml/dars.lock
  daml/dars/splice-amulet-0.1.16.dar
  daml/dars/splice-amulet-name-service-0.1.17.dar
  daml/dars/splice-api-featured-app-v2-1.0.0.dar
  daml/dars/splice-dso-governance-0.1.22.dar
  daml/dars/splice-util-batched-markers-1.0.1.dar
  daml/dars/splice-wallet-0.1.17.dar
  daml/dars/splice-wallet-payments-0.1.16.dar
  daml/dars/splitwell-0.1.17.dar
  daml/splice-amulet/daml.yaml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-api-featured-app-v2/daml.yaml
  daml/splice-api-featured-app-v2/daml/Splice/Api/FeaturedAppRightV2.daml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestFeaturedAppActivityMarkers.daml
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-batched-markers-test/daml/Splice/Util/FeaturedApp/UnitTests/BatchedMarkersProxy.daml
  daml/splice-util-batched-markers/daml/Splice/Util/FeaturedApp/BatchedMarkersProxy.daml
  docs/api-templates/splice-api-featured-app-v2-index-template.rst
  docs/src/app_dev/daml_api/index.rst
  docs/src/release_notes_upcoming.rst
  scripts/scan-txlog/scan_txlog.py
Due: copyright, dars_lock, no_illegal_daml_references

Enable async acs commitment initialization
  apps/app/src/test/resources/include/participants.conf
  cluster/images/canton-participant/additional-config.conf
Due: none

[static] test
  canton/community/app/src/main/resources/logback.xml
Due: none

Support weighted app markers (#3927)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BatchedFeaturedAppActivityMarkerIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/RetryProvider.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/ContractCompanions.scala
  apps/package-lock.json
  build.sbt
  daml/dars.lock
  daml/dars/splice-amulet-0.1.16.dar
  daml/dars/splice-amulet-name-service-0.1.17.dar
  daml/dars/splice-api-featured-app-v2-1.0.0.dar
  daml/dars/splice-dso-governance-0.1.22.dar
  daml/dars/splice-util-batched-markers-1.0.1.dar
  daml/dars/splice-wallet-0.1.17.dar
  daml/dars/splice-wallet-payments-0.1.16.dar
  daml/dars/splitwell-0.1.17.dar
  daml/splice-amulet/daml.yaml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-api-featured-app-v2/daml.yaml
  daml/splice-api-featured-app-v2/daml/Splice/Api/FeaturedAppRightV2.daml
  daml/splice-dso-governance-test/daml.yaml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestFeaturedAppActivityMarkers.daml
  daml/splice-util-batched-markers-test/daml.yaml
  daml/splice-util-batched-markers-test/daml/Splice/Util/FeaturedApp/UnitTests/BatchedMarkersProxy.daml
  daml/splice-util-batched-markers/daml/Splice/Util/FeaturedApp/BatchedMarkersProxy.daml
  docs/api-templates/splice-api-featured-app-v2-index-template.rst
  docs/src/app_dev/daml_api/index.rst
  docs/src/release_notes_upcoming.rst
  scripts/scan-txlog/scan_txlog.py
Due: copyright, dars_lock, no_illegal_daml_references

Autoupload batched markers dar
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/BatchedFeaturedAppActivityMarkerIntegrationTest.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/DarResources.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/PackageIdResolver.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/PackageVetting.scala
Due: copyright

Enable async acs commitment initialization (#3939)
  apps/app/src/test/resources/include/participants.conf
  cluster/images/canton-participant/additional-config.conf
Due: none

Add sequencer event buffer size panel
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/sequencer_subscriptions.json
Due: none

Upgrade Canton to 3.4.11-snapshot.20260212.17572.0.v287ea4cc
  nix/canton-sources.json
Due: none

enable new rate limits
  apps/app/src/test/resources/include/sequencers.conf
  cluster/images/canton-sequencer/additional-config.conf
Due: none

Add ValidatorRewardCouponMintingDelegationTimeBasedIntegrationTest
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorRewardCouponMintingDelegationTimeBasedIntegrationTest.scala
Due: copyright

[ci] Add target validation and support external splice_root
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

Fix some bugs in scan_txlog.py
  scripts/scan-txlog/scan_txlog.py
Due: copyright

[ci] Add @HEAD
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

Try local invocation with splice
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

Try local invocation with ifs
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

Add a test that demonstrates the invalid DSO vulnerability
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorRewardCouponMintingDelegationTimeBasedIntegrationTest.scala
Due: copyright

CIP-82: update UI and integratin test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundFrontendTimeBasedIntegrationTest.scala
  apps/wallet/frontend/src/components/DevelopmentFundTotal.tsx
  apps/wallet/frontend/src/contexts/DevelopmentFundCouponsContext.tsx
Due: copyright, typescriptfmt

Try local invocation with variables
  .github/actions/nix/setup_nix/action.yml
Due: gha_lint

update test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundFrontendTimeBasedIntegrationTest.scala
Due: copyright

cip-82: add listDevelopmentFundCouponHistory to WalletAPI + listDevelopmentFundCouponHistory to UserWalletStore-s
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/WalletAppReference.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/history/AmuletEvent.scala
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/protobuf/user_wallet_tx_log.proto
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/api/client/commands/HttpWalletAppClient.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/TxLogEntry.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletStore.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletTxLogParser.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/DbUserWalletStore.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/WalletTables.scala
  apps/wallet/src/test/scala/org/lfdecentralizedtrust/splice/store/db/UserWalletStoreTest.scala
Due: copyright

cip-82: enhance test
  apps/wallet/src/test/scala/org/lfdecentralizedtrust/splice/store/db/UserWalletStoreTest.scala
Due: copyright

cip-82: add createdAt and archivedAt
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/protobuf/user_wallet_tx_log.proto
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/TxLogEntry.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletStore.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletTxLogParser.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/DbUserWalletStore.scala
  apps/wallet/src/test/scala/org/lfdecentralizedtrust/splice/store/db/UserWalletStoreTest.scala
Due: copyright

cip-82: enhance documentation
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/WalletAppReference.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/DbUserWalletStore.scala
Due: copyright

cip-82: test pagination and ordering of development fund coupon history
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
Due: copyright

Update apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/DbUserWalletStore.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/DbUserWalletStore.scala
Due: copyright

cip-82: restrict coupon history visibility to the fund manager
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletTxLogParser.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/db/DbUserWalletStore.scala
Due: copyright

cip-82: test rejection
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletTestUtil.scala
Due: copyright
