Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

Devnet bumpted confirmation rate
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
Due: pulumi_tests

[ci] fmt
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletFrontendIntegrationTest.scala
Due: copyright

numTrustedProxies annotation that actually has an effect [skip ci]
  cluster/pulumi/infra/src/istio.ts
Due: typescriptfmt, pulumi_tests

Add scalatest tags for daml compatibility checks
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletMintingDelegationTimeBasedIntegrationTest.scala
  apps/common/src/test/java/org/lfdecentralizedtrust/splice/util/scalatesttags/SpliceWallet_0_1_16.java
Due: copyright

Add missing make dependency for pulumi npm install
  cluster/pulumi/local.mk
Due: none

CIP-82: extending the wallet UI to manage DevelopmentFundCoupons using WalletAPI
  apps/common/frontend/src/components/Header.tsx
  apps/wallet/frontend/src/App.tsx
  apps/wallet/frontend/src/components/DevelopmentFundAllocation.tsx
  apps/wallet/frontend/src/components/DevelopmentFundCouponList.tsx
  apps/wallet/frontend/src/components/DevelopmentFundTotal.tsx
  apps/wallet/frontend/src/components/Hero.tsx
  apps/wallet/frontend/src/components/Layout.tsx
  apps/wallet/frontend/src/contexts/DevelopmentFundCouponsContext.tsx
  apps/wallet/frontend/src/contexts/WalletServiceContext.tsx
  apps/wallet/frontend/src/contexts/WalletServiceContextMocks.ts
  apps/wallet/frontend/src/hooks/index.ts
  apps/wallet/frontend/src/hooks/useActiveDevelopmentFundCoupons.ts
  apps/wallet/frontend/src/hooks/useDevelopmentFundCouponHistory.ts
  apps/wallet/frontend/src/hooks/useIsDevelopmentFundManager.ts
  apps/wallet/frontend/src/models/models.ts
  apps/wallet/frontend/src/routes/developmentFund.tsx
Due: copyright, typescriptfmt

Bump canton to 3.5.0-snapshot.20260202.17922.0.v4fee2ef8
  nix/canton-sources.json
Due: none

Bumped confirmation rate to 25 (#3791)
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
Due: pulumi_tests

Devnet bumpted confirmation rate (#3794)
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/infra/expected.json
Due: pulumi_tests

update gha project readme to include info about the operator (#3781)
  cluster/pulumi/gha/README.md
Due: none

Use infra hyperdisk support flag for the infra storage class
  cluster/pulumi/common/src/storage/storageClass.ts
Due: typescriptfmt, pulumi_tests

Make hyperdisk nodepool location configurable
  cluster/deployment/mock/.envrc.vars
  cluster/deployment/mock/config.yaml
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

Use infra hyperdisk support flag for the infra storage class (#3800)
  cluster/pulumi/common/src/storage/storageClass.ts
Due: typescriptfmt, pulumi_tests

Make hyperdisk nodepool location configurable (#3799)
  cluster/deployment/mock/.envrc.vars
  cluster/deployment/mock/config.yaml
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

Add missing make dependency for pulumi npm install (#3798)
  cluster/pulumi/local.mk
Due: none

[release-line-0.5.9] Make hyperdisk nodepool location configurable
  cluster/deployment/mock/.envrc.vars
  cluster/deployment/mock/config.yaml
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

retry setting up external party (#3792)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternallySignedPartyTestUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletFrontendIntegrationTest.scala
Due: copyright

[release-line-0.5.8] Make hyperdisk nodepool location configurable
  cluster/deployment/mock/.envrc.vars
  cluster/deployment/mock/config.yaml
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

Use infra hyperdisk support flag for the infra storage class (#3801)
  cluster/pulumi/common/src/storage/storageClass.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.9] Make hyperdisk nodepool location configurable (#3803)
  cluster/deployment/mock/.envrc.vars
  cluster/deployment/mock/config.yaml
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

Use infra hyperdisk support flag for the infra storage class (#3802)
  cluster/pulumi/common/src/storage/storageClass.ts
Due: typescriptfmt, pulumi_tests

Add random_page_cost flag to cloudsql in pulumi
  cluster/expected/canton-network/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/common/src/config/cloudSql.ts
  cluster/pulumi/common/src/postgres.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.8] Make hyperdisk nodepool location configurable (#3804)
  cluster/deployment/mock/.envrc.vars
  cluster/deployment/mock/config.yaml
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

ingest external transaction hash to db
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V054__update_history_for_hash.sql
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
Due: copyright

[static] review fixes
  cluster/expected/canton-network/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/common/src/config/cloudSql.ts
  cluster/pulumi/common/src/postgres.ts
Due: typescriptfmt, pulumi_tests

Add random_page_cost flag to cloudsql in pulumi (#3805)
  cluster/expected/canton-network/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-canton/expected.json
  cluster/expected/validator1/expected.json
  cluster/pulumi/common/src/config/cloudSql.ts
  cluster/pulumi/common/src/postgres.ts
Due: typescriptfmt, pulumi_tests

[ci] Add test back for checking update Id in activities.
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletTransactionHistoryFrontendIntegrationTest.scala
Due: copyright

[ci] Put test for transferkind and description back in
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ExternalPartySetupProposalIntegrationTest.scala
Due: copyright

disable all the future sunchronizers and add vitests [ci]
  apps/sv/frontend/src/__tests__/governance/forms/set-amulet-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/governance/forms/set-dso-rules-form.test.tsx
  apps/sv/frontend/src/__tests__/utils/buildAmuletConfigChanges.test.ts
  apps/sv/frontend/src/__tests__/utils/buildAmuletRulesConfigFromChanges.test.ts
  apps/sv/frontend/src/__tests__/utils/buildDsoConfigChanges.test.ts
  apps/sv/frontend/src/__tests__/utils/types.ts
  apps/sv/frontend/src/utils/buildAmuletConfigChanges.ts
  apps/sv/frontend/src/utils/buildDsoConfigChanges.ts
Due: copyright, typescriptfmt

remove debug entry [ci]
  apps/sv/frontend/src/routes/governance.tsx
Due: copyright, typescriptfmt

[release-line-0.5.8] Fix node pool locations
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.9] Fix node pool locations
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

[main] Fix node pool locations
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

[main] Fix node pool locations (#3810)
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.9] Fix node pool locations (#3809)
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests

[release-line-0.5.8] Fix node pool locations (#3808)
  cluster/expected/cluster/expected.json
  cluster/pulumi/cluster/src/nodePools.ts
Due: typescriptfmt, pulumi_tests
