Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

Fix triggers possibly being unhealthy inbetween tasks
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/PollingTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/AutomationConfig.scala
Due: copyright

[ci] that file shouldn't change
  apps/package-lock.json
Due: none

[ci] test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletFrontendTestUtil.scala
Due: copyright

actions: Pin version of docker/setup-qemu-action
  .github/actions/tests/scala_test/action.yml
Due: gha_lint

actions, tests: Don't assume that group matches user
  .github/actions/tests/scala_test/action.yml
Due: gha_lint

[ci] bump flyway to latest 10.X (which supports pg 17)
  project/CantonDependencies.scala
Due: copyright

[ci] wait longer after intentional canton disconnect in integration test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSurviveCantonRestartIntegrationTest.scala
Due: copyright

[ci] bump localnet memory
  cluster/compose/localnet/resource-constraints.yaml
Due: none

[ci] comment
  cluster/compose/localnet/resource-constraints.yaml
Due: none

bump localnet memory (#1888)
  cluster/compose/localnet/resource-constraints.yaml
Due: none

[ci] fix race in vote reject test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
Due: copyright

images, canton: Fix libjemalloc availability (#1721)
  .github/actions/tests/scala_test/action.yml
  cluster/images/canton/Dockerfile
  cluster/images/splice-app/Dockerfile
Due: gha_lint

[static] enable cross-os caching
  .github/actions/cache/daml_artifacts/restore/action.yml
  .github/actions/cache/daml_artifacts/save/action.yml
  .github/actions/cache/frontend_node_modules/restore/action.yml
  .github/actions/cache/frontend_node_modules/save/action.yml
  .github/actions/cache/precompiled_classes/restore/action.yml
  .github/actions/cache/precompiled_classes/save/action.yml
  .github/actions/cache/sbt/restore/action.yml
  .github/actions/cache/sbt/save/action.yml
Due: gha_lint

[static] bump cache version, to force save
  .github/actions/tests/common_test_setup/action.yml
  .github/actions/tests/scala_test/action.yml
  .github/workflows/build.docs.yml
  .github/workflows/build.ui_tests.yml
Due: gha_lint

[static] package-lock
  cluster/pulumi/package-lock.json
Due: none

[static] more by path
  cluster/pulumi/sv-canton/pulumi.ts
  cluster/pulumi/sv-canton/pulumiDown.ts
Due: typescriptfmt, pulumi_config

[static] add dependency
  cluster/pulumi/sv-runbook/package.json
Due: none

[static] by path
  cluster/pulumi/sv-runbook/pulumiDown.ts
  cluster/pulumi/sv-runbook/pulumiUp.ts
Due: typescriptfmt, pulumi_config

Fully remove implicit waits in selenium frontend testing (#1877)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/AnsAuth0FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanFrontendTimeBasedIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSubscriptionsFrontendIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/FrontendLoginUtil.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletFrontendTestUtil.scala
Due: copyright

[ci] fix
  apps/sv/frontend/src/__tests__/information/information-page.test.tsx
Due: copyright, typescriptfmt

[ci] fix race in vote reject test (#1889)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvStateManagementIntegrationTest.scala
Due: copyright

[ci] wait longer after intentional canton disconnect in integration test (#1887)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletSurviveCantonRestartIntegrationTest.scala
Due: copyright

Move SV UI general info checks to vite (#1769)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
  apps/sv/frontend/src/__tests__/information/information-page.test.tsx
  apps/sv/frontend/src/__tests__/mocks/handlers/sv-api.ts
Due: copyright, typescriptfmt

Add alerts for issuing mining rounds
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/mining-rounds_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/canton-network/mining-rounds.json
Due: none

Remove useless isHealthy checks
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
Due: copyright

[ci] yolo flyway
  project/CantonDependencies.scala
Due: copyright

Add alerts for issuing mining rounds (#1891)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-alerting/mining-rounds_alerts.yaml
  cluster/pulumi/infra/grafana-dashboards/canton-network/mining-rounds.json
Due: none

[static] move comment
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/PollingTrigger.scala
Due: copyright

Remove useless isHealthy checks (#1884)
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/automation/SqlIndexInitializationTriggerStoreTest.scala
Due: copyright

i guess i don't change scratcha
  cluster/deployment/scratchneta/.envrc.vars
Due: none

Randomize submission of vetting transactions to avoid load spikes
  apps/app/src/test/resources/include/svs/_sv.conf
  apps/app/src/test/resources/include/validators/_validator.conf
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/PackageVettingTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/ParticipantAdminDarsConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/TopologyAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/PackageVetting.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/SvDsoAutomationService.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/singlesv/SvPackageVettingTrigger.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorAutomationService.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/automation/ValidatorPackageVettingTrigger.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
  cluster/deployment/scratchneta/.envrc.vars
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-validator/templates/validator.yaml
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-validator/src/validator.ts
  cluster/pulumi/common/src/config/networkWideConfig.ts
  cluster/pulumi/common/src/index.ts
  cluster/pulumi/sv-runbook/src/installNode.ts
  cluster/pulumi/validator-runbook/src/installNode.ts
  docs/src/release_notes.rst
Due: copyright, typescriptfmt, pulumi_config

don't wait longer than the validFrom date
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/PackageVetting.scala
Due: copyright

add mocks
  cluster/deployment/mock/config.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/splitwell/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/expected/validator1/expected.json
Due: none

fix comments
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/config/ValidatorAppConfig.scala
Due: copyright

don't wait more on retries
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/TopologyAdminConnection.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/PackageVetting.scala
Due: copyright

remove duplicate config
  apps/app/src/test/resources/include/validators/_validator.conf
Due: none

Update apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
Due: copyright

nits for the nit god
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/environment/TopologyAdminConnection.scala
Due: copyright

Fix triggers possibly being unhealthy inbetween tasks (#1886)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/automation/PollingTrigger.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/config/AutomationConfig.scala
Due: copyright

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
