Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_tests, gha_lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: copyright
        name: Check that all source files have the correct copyright header
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"headerCreate\"' bash"
        files: '(.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)'
      - id: scalafmt
        name: scalafmt
        language: system
        require_serial: true
        entry: "bash -c 'sbt --client \"scalafmtOnly $@\"' bash"
        types: [scala]
      - id: sbt_tests
        name: sbt_tests
        language: system
        require_serial: true
        pass_filenames: false
        entry: "bash -c 'git diff --staged --diff-filter=AD --name-only --exit-code -- '**/test/**/*.scala' || sbt --client \"updateTestConfigForParallelRuns\"' bash"
        always_run: true
      - id: dars_lock
        name: dars_lock
        language: system
        pass_filenames: false
        require_serial: true
        entry: "bash -c 'sbt --client \"damlDarsLockFileUpdate $@\"' bash"
        files: '(daml\.yaml|.*\.daml)'
      - id: no_illegal_daml_references
        name: no_illegal_daml_references
        language: system
        pass_filenames: false
        require_serial: true
        entry: "./scripts/rename.sh no_illegal_daml_references"
        files: '(daml\.yaml|.*\.daml)'
      - id: shellcheck
        name: shellcheck
        language: system
        entry: "shellcheck"
        # ignore external sources
        args: [-e, SC1091]
        types: [shell]
        exclude: '(^canton/|\.envrc)'
      - id: typescriptfmt
        name: typescriptfmt
        language: system
        entry: "scripts/fix-ts.py"
        types_or: [javascript, jsx, ts, tsx]
        # TODO(#3334): The current implementation of fix-ts.py makes it impossible to format files
        #              in the top level pulumi package.
        exclude: "(/[.]prettierrc[.]cjs$|/pulumi/[^/]+.ts$)"
      - id: pulumi_tests
        name: run pulumi tests and check expected files
        language: system
        entry: "make cluster/pulumi/test -j8"
        files: '^(cluster/pulumi/.*[.]ts|cluster/.*[.](yaml|yml))$'
        pass_filenames: false
      - id: gha_lint
        name: static check github actions
        language: system
        entry: "scripts/actionlint.sh"
        files: '^.github/.*$'
        pass_filenames: false
      - id: check-trailing-whitespace
        name: Check for trailing whitespace
        language: system
        entry: "./scripts/check-trailing-whitespace.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-warts
        name: Check for Daml warts
        language: system
        entry: "./scripts/check-daml-warts.sh"
        pass_filenames: false
        always_run: true
      - id: check-daml-return-types
        name: Check all Daml return types
        language: system
        entry: "./scripts/check-daml-return-types.sh"
        pass_filenames: false
        always_run: true
  -  repo: https://github.com/rstcheck/rstcheck
     rev: v6.2.5
     hooks:
     - id: rstcheck
       name: Check sphinx format
       additional_dependencies: ['rstcheck[sphinx]']
       args: [
         --report-level, WARNING,
         --ignore-directives, "openapi,todo,release-notes",
         --ignore-substitutions, "version_literal,chart_version_literal"
       ]

vagrant: Fetch package index files first (#3961)
  Vagrantfile
Due: none

fix query
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/store/UpdateHistory.scala
Due: copyright

vagrant: Add more space for cache (#3966)
  Vagrantfile
Due: none

Add support for configuring multiple physical synchronizers in the sv app (#3960)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/SpliceConfig.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/app/src/test/resources/include/svs/sv1.conf
  apps/app/src/test/resources/include/svs/sv2.conf
  apps/app/src/test/resources/include/svs/sv3.conf
  apps/app/src/test/resources/include/svs/sv4.conf
  apps/app/src/test/resources/local-sv-node/sv-app/app.conf
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/EnvironmentDefinition.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/plugins/UseToxiproxy.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/LogicalSynchronizerUpgradeIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SequencerPruningIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ValidatorIntegrationTest.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  cluster/compose/localnet/conf/splice/sv/app.conf
  cluster/compose/sv/compose.yaml
  cluster/expected/canton-network/expected.json
  cluster/expected/sv-runbook/expected.json
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/helm/splice-sv-node/tests/sv_physical_synchronizers_test.yaml
  cluster/helm/splice-sv-node/tests/sv_test.yaml
  cluster/helm/splice-sv-node/values.schema.json
  cluster/pulumi/common-sv/src/svApp.ts
Due: copyright, typescriptfmt, pulumi_tests

Add kczyz to cluster-lock-users
  build-tools/cluster-lock-users.json
Due: none

fix space
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/UpdateHistoryIntegrationTest.scala
Due: copyright

Add kczyz to cluster-lock-users (#3968)
  build-tools/cluster-lock-users.json
Due: none

[ci] upgrade pulumi packages
  cluster/pulumi/canton-network/package.json
  cluster/pulumi/common/package.json
  cluster/pulumi/common/src/auth0/auth0.ts
  cluster/pulumi/gcp/package.json
  cluster/pulumi/package-lock.json
Due: typescriptfmt, pulumi_tests

rename 'AppRewardCouponV2' -> 'RewardCouponV2'
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/Amulet/AppRewards.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Splice.Amulet.RewardAccountingV2
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/AmuletConfig.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/Round.daml
Due: copyright, dars_lock, no_illegal_daml_references

partial fixes
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/AmuletConfig.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

remove DisableMarkerCreation in FeaturedAppRight
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

rename sql migration script
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V056__update_history_for_hash.sql
Due: none

Revert "Update Selenium (#3929)" (#3959)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  build.sbt
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: copyright

partially through fixing problems
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/AmuletConfig.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/Round.daml
Due: copyright, dars_lock, no_illegal_daml_references

Fix bug: failure in decoding older wallet tx log entries
  apps/wallet/src/main/protobuf/user_wallet_tx_log.proto
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/TxLogEntry.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletTxLogParser.scala
  docs/src/release_notes_upcoming.rst
Due: copyright

test shared env for minting delegations and dev fund coupon tests
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/WalletMintingDelegationTimeBasedIntegrationTest.scala
Due: copyright

Add support for multi validators to the participant dashboard
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/admin/http/HttpErrorHandler.scala
  cluster/pulumi/infra/grafana-dashboards/canton/participant.json
Due: copyright

Add support for multi validators to the participant dashboard
  cluster/expected/infra/expected.json
Due: none

Avoid starting flaky sv-2 components in SvOnboardingAddlIntegrationTest
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingAddlIntegrationTest.scala
Due: copyright

Add support for multi validators to the participant dashboard
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/participant.json
Due: none

make a first version compile
  daml/splice-amulet-test/daml/Splice/Scripts/TestLockAndAmuletExpiry.daml
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry/Parameters.daml
Due: copyright, dars_lock, no_illegal_daml_references

Add retries around checking cometbft node status
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvCometBftPreflightIntegrationTest.scala
Due: copyright

Add support for multi validators to the participant dashboard (#3974)
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/admin/http/HttpErrorHandler.scala
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/canton/participant.json
Due: copyright

Add retries around checking cometbft node status (#3976)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/runbook/RunbookSvCometBftPreflightIntegrationTest.scala
Due: copyright

Revert "Update Selenium (#3929)" (#3959) (#3969)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/FrontendIntegrationTest.scala
  build.sbt
  project/ignore-patterns/canton_network_test_log.ignore.txt
Due: copyright

Avoid starting flaky sv-2 components in SvOnboardingAddlIntegrationTest (#3975)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvOnboardingAddlIntegrationTest.scala
Due: copyright

self-review + expiry and unhide choices
  daml/splice-amulet/daml/Splice/Amulet/CryptoHash.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Fix test assertion
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanIntegrationTest.scala
Due: copyright

implement Dso choices
  daml/splice-amulet/daml/Splice/Amulet/RewardAccountingV2.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

make first reward issuance using v2 work in a test
  daml/splice-amulet/daml/Splice/AmuletConfig.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/DsoTestUtils.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestRewardAccountingV2.daml
Due: copyright, dars_lock, no_illegal_daml_references

Fix test assertion (#3977)
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/ScanIntegrationTest.scala
Due: copyright

vagrant: Reduce disk space used by Nix cache
  Vagrantfile
Due: none

Added clues
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

IntegrationTest skeleton
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
  test-full-class-names.log
Due: copyright

Added Integration Test
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Some additions
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Modifications
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Added SV1 topology
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright

Minor improvements
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/PermissionedSynchronizerIntegrationTest.scala
Due: copyright
