Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

Nits
  docs/src/validator_operator/validator_helm.rst
Due: copyright

Updated Release notes
  docs/src/release_notes.rst
Due: copyright

Fixed scan comments
  apps/app/src/pack/examples/sv-helm/validator-values.yaml
  docs/src/validator_operator/validator_helm.rst
Due: copyright

Minor nits
  docs/src/validator_operator/validator_helm.rst
Due: copyright

Nots
  docs/src/release_notes.rst
Due: copyright

Release notes for 0.5.8
  docs/src/release_notes.rst
Due: copyright

cip-82: dedup allocateDevelopmentFundCoupon
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
Due: copyright

Add query count to database executor dashboards
  cluster/pulumi/infra/grafana-dashboards/database/executor.json
Due: none

Update apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
Due: copyright

Bump postgres exporter version
  cluster/helm/splice-util-lib/templates/_helpers.tpl
Due: none

[static] update expected
  cluster/expected/infra/expected.json
Due: none

Add query count to database executor dashboards (#3702)
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/database/executor.json
Due: none

[static] clarify use of delegate / qualify use of validator
  docs/src/validator_operator/validator_delegations.rst
Due: copyright

Upgrade Canton to 3.4.11-snapshot.20260127.17528.0.ve786203c (#3700)
  nix/canton-sources.json
Due: none

CIP-82: Development fund Wallet API extensions (1) + Scan API listUnclaimedDevelopmentFundCoupons (#3627)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/WalletAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceUtil.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/ScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/store/ScanStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/api/client/commands/HttpWalletAppClient.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletStore.scala
  scripts/scan-txlog/scan_txlog.py
Due: copyright

Fix participant pruning config in validator runbook (#3699)
  cluster/expected/validator-runbook/expected.json
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

Add Helm migrating workaround
  docs/src/release_notes.rst
Due: copyright

Pulumi updated
  cluster/expected/validator-runbook/expected.json
  cluster/pulumi/validator-runbook/src/installNode.ts
Due: typescriptfmt, pulumi_config

Add resource requests for pulumi workspace pods
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/deployment/expected.json
  cluster/expected/operator/expected.json
  cluster/pulumi/common/src/operator/config.ts
  cluster/pulumi/common/src/operator/stack.ts
Due: typescriptfmt, pulumi_config

suggestions from review (with fixes)
  docs/src/release_notes.rst
Due: copyright

cip-82: add release notes for new endpoints in Wallet API and Scan API
  docs/src/release_notes.rst
Due: copyright

Release notes for 0.5.8 (#3701)
  docs/src/release_notes.rst
Due: copyright

Add resource requests for pulumi workspace pods (#3704)
  cluster/deployment/config.yaml
  cluster/deployment/scratchneta/config.resolved.yaml
  cluster/deployment/scratchnetb/config.resolved.yaml
  cluster/deployment/scratchnetc/config.resolved.yaml
  cluster/deployment/scratchnetd/config.resolved.yaml
  cluster/deployment/scratchnete/config.resolved.yaml
  cluster/expected/deployment/expected.json
  cluster/expected/operator/expected.json
  cluster/pulumi/common/src/operator/config.ts
  cluster/pulumi/common/src/operator/stack.ts
Due: typescriptfmt, pulumi_config

Upgrade canton to 3.5.0-snapshot.20260127.17865.0.v7b732fd3
  nix/canton-sources.json
Due: none

fix make prerequisites in cluster image builds
  cluster/images/canton-cometbft-sequencer/local.mk
  cluster/images/cometbft/local.mk
  cluster/images/common/entrypoint-image.mk
  cluster/images/gcs-proxy/local.mk
  cluster/images/load-tester/local.mk
  cluster/images/local.mk
  cluster/images/party-allocator/local.mk
  cluster/images/splice-app/local.mk
  cluster/images/splice-debug/local.mk
  cluster/images/splice-test-ci/local.mk
  cluster/images/splice-test-cometbft/local.mk
  cluster/images/splice-test-docker-runner/local.mk
  cluster/images/splice-test-postgres/local.mk
  cluster/images/splice-test-runner-hook/local.mk
Due: none

CIP-82: Wallet API Development Fund APIs (part 1) + Scan listUnclaimedDevelopmentFundCoupons (#3705)
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/config/ConfigTransforms.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/ScanAppReference.scala
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/WalletAppReference.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/DevelopmentFundCouponIntegrationTest.scala
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/util/WalletTestUtil.scala
  apps/common/src/main/scala/org/lfdecentralizedtrust/splice/util/SpliceUtil.scala
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/ScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/commands/HttpScanAppClient.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/config/SvAppConfig.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/onboarding/sv1/SV1Initializer.scala
  apps/wallet/src/main/openapi/wallet-internal.yaml
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/api/client/commands/HttpWalletAppClient.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/admin/http/HttpWalletHandler.scala
  apps/wallet/src/main/scala/org/lfdecentralizedtrust/splice/wallet/store/UserWalletStore.scala
  docs/src/release_notes.rst
  scripts/scan-txlog/scan_txlog.py
Due: copyright

Fix mistaken merge of release notes
  docs/src/release_notes.rst
Due: copyright

Put query count under the right subpanel
  cluster/expected/infra/expected.json
  cluster/pulumi/infra/grafana-dashboards/database/executor.json
Due: none

Bump daml versions as snapshot expired
  project/CantonDependencies.scala
Due: copyright

Bump versions after 0.5.8
  LATEST_RELEASE
  VERSION
Due: none

fix GHA runner updater by descoping problematic docker image test
  .github/workflows/bump_gha_runner_version.yml
  scripts/bump-gha-runner-version.sh
Due: copyright, gha_lint

factor out upcoming release notes into separate file
  docs/src/release_notes.rst
  docs/src/release_notes_upcoming.rst
Due: copyright

Update docs/src/release_notes.rst
  docs/src/release_notes.rst
Due: copyright

Update Helm docs to include new configuration options of Validator Scan and Sequencer connections
  apps/app/src/pack/examples/sv-helm/validator-values.yaml
  cluster/expected/sv-runbook/expected.json
  cluster/expected/validator-runbook/expected.json
  cluster/pulumi/validator-runbook/src/installNode.ts
  docs/src/release_notes.rst
  docs/src/validator_operator/validator_helm.rst
Due: copyright, typescriptfmt, pulumi_config

Bump versions after 0.5.8 (#3710)
  LATEST_RELEASE
  VERSION
Due: none

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
