Repository hyperledger-labs/splice: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, dars_lock, no_illegal_daml_references, typescriptfmt, pulumi_config, gha_lint

copyright:
  name: Check that all source files have the correct copyright header
  language: system
  require_serial: true
  entry: bash -c 'sbt --client "headerCreate"' bash

dars_lock:
  name: dars_lock
  language: system
  pass_filenames: false
  require_serial: true
  entry: bash -c 'sbt --client "damlDarsLockFileUpdate $@"' bash

no_illegal_daml_references:
  name: no_illegal_daml_references
  language: system
  pass_filenames: false
  require_serial: true
  entry: ./scripts/rename.sh no_illegal_daml_references

typescriptfmt:
  name: typescriptfmt
  language: system
  entry: scripts/fix-ts.py

pulumi_config:
  name: check pulumi configs
  language: system
  entry: make cluster/pulumi/test -j8
  pass_filenames: false

gha_lint:
  name: static check github actions
  language: system
  entry: actionlint
  pass_filenames: false

[ci] Zero balance related fields in round aggregates so that they always agree (BFT) (#3204)
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/SingleScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/HttpScanHandler.scala
  apps/scan/src/test/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnectionTest.scala
  docs/src/release_notes.rst
Due: copyright

[ci] added pulumi code and periodicTopologySnapshot boolean flag
  cluster/deployment/config.yaml
  cluster/helm/splice-sv-node/templates/sv.yaml
  cluster/pulumi/canton-network/src/sv.ts
  cluster/pulumi/common-sv/src/config.ts
  cluster/pulumi/common-sv/src/singleSvConfig.ts
  cluster/pulumi/common/src/topology-snapshot.ts
Due: typescriptfmt, pulumi_config

Incorporate timings changes
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-amulet/daml/Splice/Expiry.daml
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  daml/splice-wallet-test/daml/Splice/Scripts/TestWallet.daml
  token-standard/splice-api-token-allocation-v2/daml/Splice/Api/Token/AllocationV2.daml
  token-standard/splice-api-token-utils-v2/daml/Splice/Api/Token/UtilsV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Apps/TradingAppV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP.daml
  token-standard/splice-token-standard-test/daml/Splice/Testing/Registries/AmuletRegistry.daml
Due: copyright, dars_lock, no_illegal_daml_references

Accountable holdings initial implementation
  daml/splice-amulet/daml/Splice/Amulet.daml
  daml/splice-amulet/daml/Splice/AmuletAllocation.daml
  daml/splice-amulet/daml/Splice/AmuletTransferInstruction.daml
  daml/splice-amulet/daml/Splice/ExternalPartyAmuletRules.daml
  daml/splice-amulet/daml/Splice/Types.daml
  daml/splice-wallet-test/daml.yaml
  daml/splice-wallet-test/daml/Splice/Scripts/TestWallet.daml
  daml/splice-wallet/daml/Splice/Wallet/Install.daml
  token-standard/splice-api-token-allocation-v2/daml/Splice/Api/Token/AllocationV2.daml
  token-standard/splice-api-token-holding-v2/daml/Splice/Api/Token/HoldingV2.daml
  token-standard/splice-api-token-transfer-instruction-v2/daml/Splice/Api/Token/TransferInstructionV2.daml
  token-standard/splice-api-token-utils-v2/daml/Splice/Api/Token/UtilsV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Apps/TradingAppV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/Registries/AmuletRegistryV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Testing/TokenStandard/WalletClientV2.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenDvP.daml
  token-standard/splice-token-standard-test-v2/daml/Splice/Tests/TestAmuletTokenTransfer.daml
Due: copyright, dars_lock, no_illegal_daml_references

Addressed comments
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/ScanAggregatesConnection.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/db/DbValidatorInternalStore.scala
Due: copyright

Nits
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/store/db/DbValidatorInternalStore.scala
Due: copyright

Remove 'Dso' from comment as it fails lint check
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Update dar
  daml/dars/splice-dso-governance-0.1.21.dar
Due: none

Daml: Fix DsoRules_ClaimExpiredRewards for ValidatorLicense weight
  daml/dars.lock
  daml/dars/splice-amulet-0.1.15.dar
  daml/dars/splice-amulet-name-service-0.1.16.dar
  daml/dars/splice-dso-governance-0.1.21.dar
  daml/dars/splice-wallet-0.1.15.dar
  daml/dars/splice-wallet-payments-0.1.15.dar
  daml/dars/splitwell-0.1.15.dar
  daml/splice-amulet-test/daml/Splice/Scripts/TestUnclaimedRewards.daml
  daml/splice-amulet/daml/Splice/AmuletRules.daml
  daml/splice-dso-governance-test/daml/Splice/Scripts/TestClaimExpiredRewards.daml
  daml/splice-dso-governance/daml/Splice/DsoRules.daml
Due: copyright, dars_lock, no_illegal_daml_references

Ignore DsoRules_GrantValidatorLicense
  scripts/scan-txlog/scan_txlog.py
Due: copyright

API to grant ValidatorLicense
  apps/sv/src/main/openapi/sv-internal.yaml
Due: none

grantValidatorLicense
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/http/HttpSvAdminHandler.scala
Due: copyright

SV client grantValidatorLicense
  apps/app/src/main/scala/org/lfdecentralizedtrust/splice/console/SvAppReference.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/admin/api/client/commands/HttpSvAdminAppClient.scala
Due: copyright

Add weight, kind to ValidatorReceivedFaucets
  apps/scan/src/main/openapi/scan.yaml
Due: none

Set weight, kind for ValidatorReceivedFaucets
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

Make weight, kind required fields
  apps/scan/src/main/openapi/scan.yaml
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/http/ScanHttpEncodings.scala
Due: copyright

DB Migration, add column in 'dso_acs_store'; 'validator_liveness_weight' numeric
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V051__validator_liveness_weight.sql
Due: none

SvDsoStore: Add setting of validator_liveness_weight and sum weights api
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/SvDsoStore.scala
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DsoTables.scala
Due: copyright

Implement sumValidatorLivenessActivityRecordsWeightsOnDomain in DbSvDsoStore
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/store/db/DbSvDsoStore.scala
Due: copyright

Add weight parameter to validatorLivenessActivityRecord test helper
  apps/common/src/test/scala/org/lfdecentralizedtrust/splice/store/StoreTest.scala
Due: copyright

Add tests for listing and sum of validator liveness activity record weights
  apps/sv/src/test/scala/org/lfdecentralizedtrust/splice/store/db/SvDsoStoreTest.scala
Due: copyright

Use sum of validator liveness weights in SummarizingMiningRoundTrigger
  apps/sv/src/main/scala/org/lfdecentralizedtrust/splice/sv/automation/confirmation/SummarizingMiningRoundTrigger.scala
Due: copyright

Grant VL UI
  apps/sv/frontend/src/components/ValidatorOnboardingSecrets.tsx
  apps/sv/frontend/src/contexts/SvAdminServiceContext.tsx
Due: copyright, typescriptfmt

Show 'Weight' and 'Operator' in Validator Licenses table
  apps/common/frontend/src/components/ValidatorLicenses.tsx
  apps/sv/frontend/src/components/ValidatorOnboardingSecrets.tsx
Due: copyright, typescriptfmt

Frontend/npm test for SV grant validator license + List licenses UI
  apps/common/frontend-test-handlers/src/mocks/handlers/validator-licenses-handler.ts
  apps/scan/frontend/src/__tests__/scan.test.tsx
  apps/sv/frontend/src/__tests__/sv.test.tsx
Due: copyright, typescriptfmt

Add new Integration test for ValidatorLicense grant
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvValidatorLicenseIntegrationTest.scala
Due: copyright

Update test-full-class-names.log
  test-full-class-names.log
Due: none

FrontendIntegrationTest test for grant validator license
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvFrontendIntegrationTest.scala
Due: copyright

Remove the merge integ test as its functionality is now part of SvValidatorLicenseIntegrationTest
  apps/app/src/test/scala/org/lfdecentralizedtrust/splice/integration/tests/SvMergeDuplicatedValidatorLicenseIntegrationTest.scala
  test-full-class-names.log
Due: copyright

Nits
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
Due: copyright

Nits
  apps/scan/src/main/scala/org/lfdecentralizedtrust/splice/scan/admin/api/client/BftScanConnection.scala
  apps/validator/src/main/scala/org/lfdecentralizedtrust/splice/validator/ValidatorApp.scala
Due: copyright

Remove spurious matches in illegal_daml_references hook
  scripts/rename.sh
Due: copyright

Add logoUrl field to instrument info
  docs/src/release_notes.rst
  token-standard/splice-api-token-metadata-v1/openapi/token-metadata-v1.yaml
Due: copyright

Bump Canton to 3.4.8
  nix/canton-sources.json
Due: none

Bump Canton to 3.4.8 (#3211)
  nix/canton-sources.json
Due: none

implement and !append tags for the Pulumi config loader
  cluster/pulumi/common/src/config/configLoader.ts
Due: typescriptfmt, pulumi_config

Added store_id to validator_internal_config
  apps/common/src/main/resources/db/migration/canton-network/postgres/stable/V050__create_scan_config.sql
Due: none

Path conditions:
  copyright: any of: (.*\.daml|.*\.scala|.*\.sh|.*\.py|.*\.tsx|.*\.rst)
  dars_lock: any of: (daml\.yaml|.*\.daml)
  no_illegal_daml_references: any of: (daml\.yaml|.*\.daml)
  typescriptfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: /[.]prettierrc[.]cjs$
  pulumi_config: any of: ^cluster/pulumi/.*[.]ts$
  gha_lint: any of: ^.github/.*$
